<div class="adminRequestAssistance">
  <div class="title">
    <label><i class="fa fa-ticket"></i> | Administrar Solicitudes</label>
  </div>

  <div class="filter">
    <span>Buscar:</span>
    <select ng-change="filter()" ng-model="filterSelected">
      <option value='PENDING'>Pendientes</option>
      <option value='APPROVED'>Aprobadas</option>
      <option value=''>Todas</option>
    </select>
  </div>

  <div class="solicitudes">
    <div class="column t1 pointer" ng-click="reverseUser=!reverseUser;order(['user.lastname','user.name','date'],reverseUser)" ><i class="fa fa-user"></i> Usuario</div>
    <div class="column t2 pointer" ng-click="reverseLic=!reverseLic;order(['license.shortName','date','user.lastname','user.name'],reverseLic)"><i class="fa fa-ticket"></i> Solicitud</div>

    <div class="column t4 pointer" ng-click="reverseDate=!reverseDate;order(['date','user.lastname','user.name'],reverseDate)"><i class="fa fa-calendar"></i> Fecha / <i class="fa fa-clock-o"></i> Hora</div>
    <div class="column t6 pointer" ng-click="reverseStatus=!reverseStatus;order(['status','date','user.lastname','user.name'],reverseStatus)"><i class="fa fa-info-circle"></i> Estado</div>
  </div>
  <div class="scroll">
  <div class="content" ng-repeat="request in model.requestsFilters">
    <div class="margins">
      <div class="t1">
        <span class="userRequest ">{{request.user.lastname}}, {{request.user.name}}</span>
      </div>
      <div>
        <span class="dniRequest">{{request.user.dni}}</span>
      </div>
    </div>
    <div class="margins">
      <div  class="t7">
        <span class="typeRequest" title="{{request.license.name}}"><i class="fa {{request.license.icon}}"></i>{{request.license.shortName}}</span>
      </div>
    </div>
    <div class="margins">
      <div class="t4">
        <span class="dateRequest"><i class="fa fa-calendar"></i> {{request.date}}</span>
      </div>
      <div ng-class="{true:'visible',false:'hidden'}[request.displayHours]">
        <div class="t4">
          <span class="timeRequest"><i class="fa fa-clock-o"></i> {{request.time}} Horas</span>
        </div>
        <div class="t4">
          <span class="timesRequest">De {{request.start}} a {{request.end}}</span>
        </div>
    </div>
    </div>


    <div class="margins">
    <div ng-class="{true:'visible', false:'hidden'}[request.status == 'PENDING']">
      <span class="pending"><i class="fa fa-spinner fa-spin"></i> Pendiente</span>
      <button class="buttonApproved"  ng-click="approveRequest(request)" ng-disabled="disabled"><i class="fa fa-check-circle"></i> Aprobar</Button>
      <button class="buttonRefuse" ng-click="refuseRequest(request)" ng-disabled="disabled"><i class="fa fa-times"></i> Denegar</Button>
    </div>

    <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[request.status == 'APPROVED']">
      <span class="approved"><i class="fa fa-check-circle"></i> Aprobado</span>
      <button class="buttonRefuse" ng-click="cancelRequest(request)" ng-disabled="disabled"><i class="fa fa-times"></i> Cancelar</Button>
    </div>
  </div>
  </div>
  </div>

</div>
