<div class="adminRequestAssistance">
  <div class="title">
    <label><i class="fa fa-ticket"></i> | Administrar Solicitudes</label>
  </div>

  <div class="solicitudes">
    <div class="column t1"><i class="fa fa-user"></i> Usuario</div>
    <div class="column t1"><i class="fa fa-ticket"></i> Solicitud</div>
    <div class="column t2"><i class="fa fa-calendar"></i> Día</div>
    <div class="column t3"><i class="fa fa-info-circle"></i> Estado</div>
  </div>

  <div class="content" ng-repeat="request in model.requests">
    <div>
      <div class="t1">
        <span class="userRequest ">{{request.user.lastname}}, {{request.user.name}}</span>
      </div>
      <div>
        <span class="dniRequest">{{request.user.dni}}</span>
      </div>
    </div>
    <div  class="t1">
      <span class="typeRequest">{{request.licence}}</span>
    </div>
    <div class="t2">
      <span class="dateRequest">{{request.date}}</span>
    </div>



    <div ng-class="{true:'visible', false:'hidden'}[request.status == 'PENDING']">
      <span class="pending"><i class="fa fa-spinner fa-spin"></i> Pendiente</span>
    </div>
    <button class="buttonApproved"  ng-click="approveRequest(request)"><i class="fa fa-check-circle"></i> Aprobar</Button>
    <button class="buttonRefuse" ng-click="refuseRequest(request)"><i class="fa fa-times"></i> Denegar</Button>

    <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[request.status == 'APPROVED']">
      <span class="approved"><i class="fa fa-check-circle"></i> Aprobado</span>
      <button class="buttonRefuse" ng-click="cancelRequest(request)"><i class="fa fa-times"></i> Cancelar</Button>
    </div>

  </div>

</div>
