<div class="adminRequestAssistance">
  <div class="title">
    <label><i class="fa fa-ticket"></i> | Administrar Solicitudes</label>
  </div>
  <!-- EMA, IVAN... LAS SOLICITUDES APARECEN EN FORMA DE LISTA, UNA BAJO LA OTRA,
  Seguro hay que cambiar el div general por un una lista, pero nose como lo
  quieren manejar!!  -->
  <div class="content" ng-repeat="request in model.requests">
    <div class="request">
      <span class="requestInfo">{{request.licence}}</span>
    </div>
    <div class="userRequest">
      <div>
        <span class="userInfo">{{request.user.lastname}}, {{request.user.name}}</span>
      </div>
      <div>
        <span class="userDNI">{{request.user.dni}}</span>
      </div>
    </div>
    <div class="dateRequest">
      <span class="requestDate">{{request.date}}</span>
    </div>

    <div class="iconsMyRequest"><i class="fa fa-bullhorn"></i></div>

    <div class="myStateRequestSlope  pending" ng-class="{true:'visible', false:'hidden'}[request.status == 'PENDING']">
      <span>Pendiente</span>
      <button class="buttonpending" ng-click="approveRequest(request)"><i class="fa fa-times"></i> Aprobar</Button>
      <button class="buttonpending" ng-click="refuseRequest(request)"><i class="fa fa-times"></i> Denegar</Button>
    </div>
    <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[request.status == 'APPROVED']">
      <span>Aprobado</span>
      <button class="buttonpending" ng-click="cancelRequest(request)"><i class="fa fa-times"></i> Cancelar</Button>
    </div>

  </div>

</div>
