.assistanceHome {
  margin:5px;
  min-width:350px;
  font-family: calibri, Arial, Helvetica, sans-serif;
  font-size:14px;
}

.assistanceHome .title {
  width:100%;
  height:20px;
  font-size:18px;
}
.assistanceHome .header {
  width:100%;
  background-color:#F5F5F5;
  border-bottom:5px solid #0066A6;
}
.assistanceHome .subtitle {
  width:100%;
  height:20px;
  color:#275276;
  font-size:16px;
  border-bottom: 1px solid #275276 ;
  margin-bottom:5px;
  margin-top:3px;

}
.assistanceHome .data {
  color:#0066A6;
  font-size:22px;
  font-weight:bold;
}
.assistanceHome .data1 {
  color:black;
  font-size:14px;
  font-weight:bold;
}
.assistanceHome .data3 {
  color:#0066A6;
  font-size:14px;
}
.assistanceHome .data2 {
  color:white;
  font-size:14px;
}
.assistanceHome .data4 {
  color:black;
  font-size:12px;
  font-weight:bold;
}
.assistanceHome .data5 {
  color:black;
  font-size:12px;
  font-weight:bold;
}
.assistanceHome .spanBlue {
  color:#0066A6;
  font-size:20px;
  font-weight:bold;
}
.assistanceHome .spanWhite {
  color:white;
  font-size:18px;
}

.assistanceHome .summaryUser {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#F5F5F5;

  background-color: #F5F5F5;



}
.assistanceHome .name {
  display:flex;
  flex-direction:column;
  padding:5px;
}
.assistanceHome .turn {
  display:flex;
  flex-direction:column;
  padding:5px;
}
.assistanceHome .oficce {
  display:flex;
  flex-direction:column;
  padding:5px;
}
.assistanceHome .job {
  display:flex;
  flex-direction:column;
  padding:5px;
}


.assistanceHome .schedule {
  display:flex;
  flex-direction:row;
  justify-content: space-around;

  background-image: url("/views/img/Huella2.png");

  background-color:#0066A6;
  align-items:center;
  padding-top:10px;
  padding-bottom:10px;
}
.assistanceHome .entryTime {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:5px;
}
.assistanceHome .departureTime {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:5px;
}
.assistanceHome .weeklySummary {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:5px;
  margin-bottom:5px;
  margin-top:5px;
}


.assistanceHome .license {
  display:flex;
  flex-direction:row;
  wrap:nowrap;
  justify-content: space-around;

  padding-bottom:20px;
  padding-top:20px;
}
.assistanceHome .missing {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:5px;
}
.assistanceHome .compensatory {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:5px;
}
.assistanceHome .departures {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:5px;
}
.assistanceHome .article {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:5px;
}
.assistanceHome .preEvaluation {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:5px;
}
.assistanceHome .lao {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:5px;
}
.assistanceHome .boxes {
  padding:10px 25px 10px 25px;
  margin:5px;
  color:#0066A6;
  background-color:white;
  font-size:40px;
  border-radius: 4px;
  border: 1px solid grey ;
}
.assistanceHome .boxes2 {
  padding:5px 20px 5px 20px;
  margin:5px;
  color:white;
  background-color:#0066A6;
  font-size:40px;
  border-radius: 4px;
  border: 1px solid grey ;
}
.assistanceHome .table {
  margin-top:5px;
  display:flex;
  border-collapse: collapse;
  text-align:center;
  font-size:11px;

  color:white;
  border-radius: 4px;

}
.assistanceHome hr {
  margin-left:0px;
  margin-right:0px;
}
