<div class="assistanceFailsFilters">
  <div class="title">
    <label><i class="fa fa-exclamation-triangle"></i> | Incumplimiento de horarios</label>
  </div>

  <div class="content">
    <div class="dates">

      <div class="search">
        <div class="searchTitle">
          <span><i class="fa fa-user-plus"></i> Seleccione Usuario</span>
        </div>

          <input class="inputSearch" ng-blur="vm.hideListUser()" ng-model="vm.model.searchUser" ng-click="vm.displayListUser()" placeholder="Buscar...">
          <ul class="listUsers" ng-class="{true:'visible', false:'hidden'}[vm.isDisplayListUser()]">
            <li class="liUsers" ng-repeat="user in vm.model.users | filter:vm.model.searchUser | orderBy : 'name'" ng-click="vm.selectUser(user)">{{user.name}} {{user.lastname}}</li>
          </ul>

      </div>

      <div class="search">
        <div class="searchTitle2">
          <span><i class="fa fa-building-o"></i> Oficina</span>
        </div>
        <div>
          <select ng-change="vm.changeOffice()" ng-model="vm.model.officeSelected" ng-options="op.name group by op.parentName  for op in vm.model.offices | orderBy:['parentName','order','name']">
            <option value="">---</option>
          </select>
        </div>
      </div>



      <div class="dateContainer">
        <div class="dateInputContainer">
          <div class="date">
            <div class="dateTitle">
              <span><i class="fa fa-calendar"></i> Fecha de Inicio</span>
            </div>
            <div>
              <input class="inputDate" type="date" ng-model="model.filter.begin">
            </div>
          </div>
        </div>
      </div>

      <div class="dateContainer">
        <div class="dateInputContainer">
          <div class="date">
            <div class="dateTitle">
              <span><i class="fa fa-calendar"></i> Fecha de Fin</span>
            </div>
            <div>
              <input class="inputDate" type="date" ng-model="model.filter.end">
            </div>
          </div>
        </div>
      </div>

      <div class="actionsContainer">
        <button class="button blue"  ng-click="search()"><i class="fa fa-search"></i> Buscar</Button>
        <span></span>
        <span class="searchDate" ng-if='model.searching'><i class="loading fa fa-spinner fa-spin"></i>  Buscando Datos</span>
      </div>
    </div>

    <div class="filters">

      <div class="filterTittle">
        <span><i class="fa fa-filter"></i> Filtros | </span>
      </div>

      <div class="filter">

        <div>
    			<span class="margin"> Periodicidad</span>
    		</div>
    		<div>
          <select class="input" ng-model="model.filter.periodicity"  ng-options="periodicity for periodicity in model.periodicities">
            <option value=""> Sin periodicidad</option>
          </select>
    		</div>

        <div>
          <span class="margin"> Tipo</span>
        </div>
        <div>
          <select class="input" ng-model="model.filter.failType"  ng-options="type.name for type in model.failsType | orderBy:['name']">
            <option value=""> Seleccione...</option>
          </select>
        </div>

    		<div>
    			<span class="margin"> Cantidad</span>
    		</div>
        <div>
          <input class="input t1" class="input" type="text" ng-model="model.filter.count">
        </div>

        <div class=" margin" ng-class="{true:'visible',false:'hidden'}[model.filter.failType != null && model.filter.failType.isHours]">
          <div class="hoursOperatorsInput">
            <div>
      				<span class="margin"> Horas</span>
      			</div>
            <div>
              <select class="input" ng-model="model.filter.hoursOperator"  ng-options="op.name for op in model.hoursOperators"></select>
            </div>
      			<div class="hoursFilterInput">
      				<input class="input t1" type="text" ng-model="model.filter.hours">:
        			<input class="input t1" type="text" ng-model="model.filter.minutes">
      			</div>
          </div>
        </div>


      </div>
    </div>

    <div class ="headerFails">

        <div ng-click="predicate = 'fail.dateExtend'; reverse=!reverse" class="date"><i class="fa fa-sort"></i> Fecha</div>
        <div ng-click="predicate = 'user.dni'; reverse=!reverse" class="dni"><i class="fa fa-sort"></i> DNI</div>
        <div ng-click="predicate = 'user.lastname'; reverse=!reverse" class="lastname"><i class="fa fa-sort"></i> Apellido</div>
        <div ng-click="predicate = 'user.name'; reverse=!reverse" class="name"><i class="fa fa-sort"></i> Nombre</div>
        <div ng-click="predicate = 'fail.dateSchedule'; reverse=!reverse" class="dateSchedule"><i class="fa fa-sort"></i> Hora declarada </div>
        <div ng-click="predicate = 'fail.wh'; reverse=!reverse" class="workingHours"><i class="fa fa-sort"></i> Hora de marcación</div>
        <div ng-click="predicate = 'fail.diff'; reverse=!reverse" class="diff"><i class="fa fa-sort"></i> Diferencia </div>
        <div ng-click="predicate = 'fail.description'; reverse=!reverse" class="description"><i class="fa fa-sort"></i> Description</div>

    </div>
    <div class="fails">

      <div class="fail" ng-repeat="assistanceFail in model.assistanceFails | orderBy:predicate:reverse">
        <div class="date">{{assistanceFail.fail.dateFormat}}</div>
        <div class="dni">{{assistanceFail.user.dni}}</div>
        <div class="lastname">{{assistanceFail.user.lastname}}</div>
        <div class="name">{{assistanceFail.user.name}}</div>
        <div class="dateSchedule">{{assistanceFail.fail.dateSchedule}}</div>
        <div class="workingHours">{{assistanceFail.fail.wh}}</div>
        <div class="diff">{{assistanceFail.fail.diff}}</div>
        <div class="description">{{assistanceFail.fail.description}}</div>
      </div>
    </div>
  </div>
</div>
