<div class="assistanceFails">
  <div class="title">
    <label><i class="fa fa-exclamation-triangle"></i> | Incumplimiento de horarios</label>
  </div>

  <div class="content">
    <div class="filter">

      <div class="dateContainer">
        <div class="dateInputContainer">
          <div class="date">
      			<div class="dateTitle">
      				<span><i class="fa fa-calendar"></i> Seleccione Fecha de Inicio</span>
      			</div>
      			<div>
      				<input class="inputDate" type="date" ng-model="model.begin">
      			</div>
      		</div>
        </div>
      </div>

      <div class="dateContainer">
        <div class="dateInputContainer">
          <div class="date">
      			<div class="dateTitle">
      				<span><i class="fa fa-calendar"></i> Seleccione Fecha de Fin</span>
      			</div>
      			<div>
      				<input class="inputDate" type="date" ng-model="model.end">
      			</div>
      		</div>
        </div>
      </div>

      <div class="actionsContainer">
        <button class="button blue"  ng-click="search()"><i class="fa fa-search"></i> Buscar</Button>
        <span class="searchDate" ng-if='model.searching'><i class="loading fa fa-spinner fa-spin"></i>  Buscando Datos</span>
      </div>
    </div>
    <div class ="headerFails">

        <div ng-click="reverseDay=!reverseDay;order(['fail.dayOfWeek.number','fail.dateExtend','user.lastname','user.name'],reverseDay) " class="date"><i class="fa"></i> Día</div>
        <div ng-click="reverseDate=!reverseDate;order(['fail.dateExtend','user.lastname','user.name'],reverseDate) " class="date"><i class="fa fa-sort"></i> Fecha</div>
        <div ng-click="reverseDni=!reverseDni;order(['user.dni','user.lastname','user.name','fail.dateExtend'],reverseDni)" class="dni"><i class="fa fa-sort"></i> DNI</div>
        <div ng-click="reverseLastname=!reverseLastname;order(['user.lastname','user.name','fail.dateExtend'],reverseLastname)" class="lastname"><i class="fa fa-sort"></i> Apellido</div>
        <div ng-click="reverseName=!reverseName;order(['user.name','user.lastname','fail.dateExtend'],reverseName)" class="name"><i class="fa fa-sort"></i> Nombre</div>
        <div ng-click="reverseDateSchedule=!reverseDateSchedule;order(['fail.dateSchedule','user.lastname','user.name','fail.dateExtend'],reverseDateSchedule)" class="dateSchedule"><i class="fa fa-sort"></i> Hora declarada </div>
        <div ng-click="reverseWh=!reverseWh;order(['fail.wh','user.lastname','user.name','fail.dateExtend'],reverseWh)" class="workingHours"><i class="fa fa-sort"></i> Hora de marcación</div>
        <div ng-click="reverseDiff=!reverseDiff;order(['fail.diff','user.lastname','user.name','fail.dateExtend'],reverseDiff)" class="diff"><i class="fa fa-sort"></i> Diferencia </div>
        <div ng-click="reverseDesc=!reverseDesc;order(['fail.description','user.lastname','user.name','fail.dateExtend'],reverseDesc)" class="description"><i class="fa fa-sort"></i> Description</div>
        <div ng-click="reverseJust=!reverseJust;order(['justification.name','user.lastname','user.name','fail.dateExtend'],reverseJust)" class="justification"><i class="fa fa-sort"></i> Justificación</div>

    </div>
    <div class="fails">

      <div class="fail" ng-repeat="assistanceFail in model.assistanceFails">
        <div class="date">{{assistanceFail.fail.dayOfWeek.name}}</div>
        <div class="date">{{assistanceFail.fail.dateFormat}}</div>
        <div class="dni">{{assistanceFail.user.dni}}</div>
        <div class="lastname">{{assistanceFail.user.lastname}}</div>
        <div class="name">{{assistanceFail.user.name}}</div>
        <div class="dateSchedule">{{assistanceFail.fail.dateSchedule}}</div>
        <div class="workingHours">{{assistanceFail.fail.wh}}</div>
        <div class="diff">{{assistanceFail.fail.diff}}</div>
        <div class="description">{{assistanceFail.fail.description}}</div>
        <div class="justification">{{assistanceFail.justification.name}} -- {{assistanceFail.justification.begin}}</div>

      </div>
    </div>


    <div class="saveContent">
      <button class='save' ng-click='download()'><i class="fa fa-download"></i>&nbsp;  Descargar Datos</button>
    </div>


  </div>
</div>
