 <!-- LICENCIA ANUAL -->
    <div ng-class="{true:'subcontentDisplay', false:'subcontent'}[isSelectedJustificationLao()]" ng-click="select('justificationLaoSelected')">
      <div class="titulo" ng-click="selectJustificationLao()">
        <p class="titulo"><i class="fa fa-ticket"></i> Licencia Anual (LAO)</p>
      </div>
      <div class="info">
        <div class="subInfo">
          <div>
            <input class="button blue" type="button" value="Solicitar" ng-click="selectJustificationLaoRequest()">
          </div>
          <div>
            <input class="button green" type="button" value="Disponibles" ng-click="selectJustificationLaoAvailable()">
          </div>
          <!--
          <div>
            <input class="button orange" type="button" value="Solicitudes" ng-click="selectJustificationLaoRequests()">
          </div>
           -->
        </div>

        <div>
          <div class="margin" ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationLaoRequest()]">
            <p class="parrafos">Seleccione el día de comienzo de la LAO</p>
            <input class="date" type="date" ng-model="model.justification.begin">
            <p class="parrafos">Seleccione el día de finalización de la LAO</p>
            <input class="date" type="date" ng-model="model.justification.end">
          </div>

          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationLaoAvailable()]">
            <p class="parrafosGreen margin">Disponibilidad Restante</p>
            <p class="parrafosGreen2 margin">{{model.exam.stock}}</p>
          </div>

          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationLaoRequests()]">
            <div ng-class="{true:'visible', false:'hidden'}[true]">
              <p>No existen solicitudes pendientes</p>
            </div>
            <div ng-class="{true:'visible', false:'hidden'}[false]">
              <p>Solicitud reciente</p>
              <input type="text" placeholder="Solicitud">
              <p>Estado</p>
              <input type="text" placeholder="Aprobada">
            </div>
          </div>

        </div>

        <div class="margin" ng-class="{true:'visible', false:'hidden'}[isSelectedDate()]">
          <p class="parrafos">Solicitar Licencia anual para los días</p>
          <p class="parrafos2"><i class="fa fa-calendar-o"></i> {{dateFormated}} </p>
          <input class="button2 blue2" type="button" value="Confirmar" ng-click="save()">
        </div>
      </div>
    </div>
