<!-- SALIDAS EVENTUALES -->
    <div  ng-class="{true:'subcontentDisplay', false:'subcontent'}[isSelectedJustificationOut()]" ng-click="select('justificationOutSelected')">
      <div class="titulo" ng-click="selectJustificationOut()">
        <p class="titulo"><i class="fa fa-ticket"></i> Salidas Eventuales</p>
      </div>
      <div class="info">
        <div>
          <div>
            <input class="button blue" type="button" value="Solicitar" ng-click="selectJustificationOutRequest()">
          </div>
          <div>
            <input class="button green" type="button" value="Disponibles" ng-click="selectJustificationOutAvailable()">
          </div>
          <!-- <div>
            <input class="button orange" type="button" value="Solicitudes" ng-click="selectJustificationOutRequests()">
          </div> -->
        </div>

        <div>
          <div class="margin" ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationOutRequest()]">
            <p class="parrafos">Seleccione el día</p>
            <input class="date" type="date" ng-model="model.justification.begin" ng-change="changeDate()">
            <p class="parrafos">Seleccione Horas</p>

            <div class="titlesHours">
              <div class="spanSE"><span>Desde <i class="fa fa-sort-desc"></i></span></div>
              <div class="spanSE"><span>Hasta <i class="fa fa-sort-desc"></i></span></div>
              <div class="spanSE"><span>Total <i class="fa fa-sort-desc"></i></span></div>
            </div>
            <div class="hours">
              <div class="spanSE"><input type="time" name="hora" ng-model="model.justification.begin" ng-change="changeHours()"></div>
              <div class="spanSE"><input type="time" name="hora" ng-model="model.justification.end" ng-change="changeHours()"></div>
              <div class="spanSE"><span>{{model.justification.totalHours}}</span></div>
            </div>
          </div>

          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationOutAvailable()]">
            <p class="parrafosGreen margin">Disponibilidad en el mes actual</p>
            <p class="parrafosGreen2 margin">{{model.out.stock}}</p>
          </div>

          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationOutAvailable()]">
            <p class="parrafosGreen margin">Disponibilidad anual</p>
            <p class="parrafosGreen2 margin">{{model.out.yearlyStock}}</p>
          </div>


          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationOutRequests()]">
            <div ng-class="{true:'visible', false:'hidden'}[true]">
              <p>No existen solicitudes pendientes</p>
            </div>
            <div ng-class="{true:'visible', false:'hidden'}[true]">
              <p>Solicitud reciente</p>
              <input type="text" placeholder="Solicitud">
              <p>Estado</p>
              <input type="text" placeholder="Aprobada">
            </div>
          </div>
        </div>

        <div class="margin" ng-class="{true:'visible', false:'hidden'}[isSelectedDate()]">
          <p class="parrafos">Solicitar Boleta de salida para el día</p>
          <p class="parrafos3"><i class="fa fa-calendar-o"></i> {{date}} / <i class="fa fa-clock-o"></i> {{time}} Horas </p>
          <p class="parrafos4"><i class="fa fa-clock-o"></i> De {{start}} a {{end}} Horas </p>
          <input class="button2 blue2" type="button" value="Confirmar" ng-click="save()">
        </div>
      </div>
    </div>
