<div class="requestAssistance">
  <div class="title">
    <label><i class="fa fa-ticket"></i> | Solicitudes</label>
  </div>
  <div class="content">

   	<div ng-controller="RequestAssistanceAbsentCtrl" ng-include="'modules/systems/assistance/requestAssistanceAbsent.html'"></div>
   	<div ng-controller="RequestAssistanceCompensatoryCtrl" ng-include="'modules/systems/assistance/requestAssistanceCompensatory.html'"></div>
  	<div ng-controller="RequestAssistanceOutCtrl" ng-include="'modules/systems/assistance/requestAssistanceOut.html'"></div>

    <!--
  	<div ng-controller="RequestAssistanceExamCtrl" ng-include="'modules/systems/assistance/requestAssistanceExam.html'"></div>
  	<div ng-controller="RequestAssistanceLaoCtrl" ng-include="'modules/systems/assistance/requestAssistanceLao.html'"></div>
  -->

    <div class="myRequests">
      <span><i class="fa fa-ticket"></i> Mis Solicitudes</span>
    </div>
    <div class="titlesFiles">
      <div class="column t1"><i class="fa fa-ticket"></i> Solicitud</div>
      <div class="column t1"><i class="fa fa-calendar"></i> Día</div>
      <div class="column t1"><i class="fa fa-info-circle"></i> Estado</div>
    </div>

    <div class="myRequestInfo" ng-repeat="x in model.requestedLicences" ng-class="{'PENDING':'pending', 'CANCELED':'canceled', 'REJECTED':'rejected', 'APPROVED':'approved'}[x.status]">

      <div class="myRequest">
        <span>{{x.justification_name}}</span>
      </div>
      <div class="myRequestDate">
        <span>{{x.summary}}</span>
      </div>


      <div class="myStateRequestSlope  pending" ng-class="{true:'visible', false:'hidden'}[x.status == 'PENDING']">
        <span><i class="fa fa-spinner fa-spin"></i> Pendiente</span>
        <Button class="buttonpending" ng-click='cancelRequest(x)'><i class="fa fa-times"></i> Cancelar</Button>
      </div>
      <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[x.status == 'APPROVED']">
        <span class="buttonApproved"><i class="fa fa-check-circle"></i> Aprobado</span>
      </div>
      <div class="myStateRequestRejected" ng-class="{true:'visible', false:'hidden'}[x.status == 'REJECTED']">
        <span class="buttonCancel"><i class="fa fa-times"></i> Rechazado</span>
      </div>
       <div class="myStateRequestCanceled" ng-class="{true:'visible', false:'hidden'}[x.status == 'CANCELED']">
        <span class="buttonCancel"><i class="fa fa-times"></i> Cancelado</span>
      </div>
    </div>

  </div>
</div>
