    <!-- SOLICITUD DE ARTICULO 102 -->
    <div  ng-class="{true:'subcontentDisplay', false:'subcontent'}[isSelectedJustification()]" >

        <!-- TITULO DE LA SECCION -->
        <div class="titulo" ng-click="selectJustification()">
          <p class="titulo"><i class="fa fa-ticket"></i>{{justification.name}}</p>
        </div>

        <!-- CONTENIDO DE LA SECCION -->
        <div class="info">

              <!-- SELECCION DE LA SECCION -->
              <div>
                <div>
                  <input class="button blue" type="button" value="Solicitar" ng-click="selectRequest()">
                </div>
                <div>
                  <input class="button green" type="button" value="Disponibles" ng-click="selectAvailable()">
                </div>
              </div>

              <!-- FORMULARIO DE SOLICITUD -->
              <div ng-class="{true:'visible', false:'hidden'}[isSelectedRequest()]">
                <div class="margin" ng-class="{true:'visible', false:'hidden'}[isStock()]">
                  <p class="parrafos">Seleccione el día</p>
                  <input class="date" type="date" ng-model="model.date" ng-change="selectDate()" >
                </div>
                <div class="margin" ng-class="{true:'visible', false:'hidden'}[!isStock()]">
                  <p class="parrafos">No existe disponibilidad</p>
                </div>
              </div>

              <!-- CONFIRMACION DE SOLICITUD -->
              <div class="margin" ng-class="{true:'visible', false:'hidden'}[isDateDefined()]">
                <p class="parrafos">Solicitar {{justification.name}} para el día</p>
                <p class="parrafos2"><i class="fa fa-calendar-o"></i> {{model.dateFormated}}</p>
                <input class="button2 blue2" type="button" value="Confirmar" ng-click="save()" ng-disabled="model.processingRequest">
              </div>


              <!-- VISUALIZACION DE DISPONIBILIDAD -->
              <div ng-class="{true:'visible', false:'hidden'}[isSelectedAvailable()]">
                <div>
                  <p class="parrafosGreen margin"> Disponibililad en el mes actual</p>
                  <p class="parrafosGreen2 margin">{{justification.stock}}</p>
                </div>
                <div>
                  <p class="parrafosGreen margin"> Disponibililad Anual</p>
                  <p class="parrafosGreen2 margin">{{justification.yearlyStock}}</p>
                </div>
              </div>

        </div>

    </div>
