    <!-- SOLICITUD DE ARTICULO 102 -->
    <div  ng-class="{true:'subcontentDisplay', false:'subcontent'}[isSelectedJustification102()]" >
      
      <!-- TITULO DE LA SECCION -->
      <div class="titulo" ng-click="selectJustification102()">
        <p class="titulo"><i class="fa fa-ticket"></i> Artículo 102</p>
      </div>
      
      <!-- CONTENIDO DE LA SECCION -->
      <div class="info">
        <div>
          <div>
            <input class="button blue" type="button" value="Solicitar" ng-click="selectRequest()">
          </div>
          <div>
            <input class="button green" type="button" value="Disponibles" ng-click="selectAvailable()">
        </div>
      </div>
    </div>
