<div class="requestAssistance">
  <div class="title">
    <label><i class="fa fa-ticket"></i> | Solicitudes</label>
  </div>
  <div class="content">

   	<div ng-if="justificationId === 'e0dfcef6-98bb-4624-ae6c-960657a9a741'" ng-controller="RequestAssistanceAbsentCtrl" ng-include="'/modules/systems/assistance/requestAssistanceAbsent.html'"></div>
   	<div ng-if="justificationId === '48773fd7-8502-4079-8ad5-963618abe725'" ng-controller="RequestAssistanceCompensatoryCtrl" ng-include="'/modules/systems/assistance/requestAssistanceCompensatory.html'"></div>
  	<div ng-if="justificationId === 'fa64fdbd-31b0-42ab-af83-818b3cbecf46'" ng-controller="RequestAssistanceOutCtrl" ng-include="'/modules/systems/assistance/requestAssistanceOut.html'"></div>
    <div ng-if="justificationId === '4d7bf1d4-9e17-4b95-94ba-4ca81117a4fb'" ng-controller="RequestAssistance102Ctrl" ng-include="'/modules/systems/assistance/requestAssistance102.html'"></div>
    <div ng-if="justificationId === 'b70013e3-389a-46d4-8b98-8e4ab75335d0'" ng-controller="RequestAssistanceExamCtrl" ng-include="'/modules/systems/assistance/requestAssistanceExam.html'"></div>
    <div ng-if="justificationId === 'b309ea53-217d-4d63-add5-80c47eb76820'" ng-controller="RequestAssistanceBirthdayCtrl" ng-include="'/modules/systems/assistance/requestAssistanceBirthday.html'"></div>
    <div ng-if="justificationId === '76bc064a-e8bf-4aa3-9f51-a3c4483a729a'" ng-controller="RequestAssistanceLaoCtrl" ng-include="'/modules/systems/assistance/requestAssistanceLao.html'"></div>
    <div ng-if="justificationId === '50998530-10dd-4d68-8b4a-a4b7a87f3972'" ng-controller="RequestAssistance638Ctrl" ng-include="'/modules/systems/assistance/requestAssistance638.html'"></div>


    <div class="myRequests">
      <span><i class="fa fa-ticket"></i> Mis Solicitudes</span>
    </div>
    <div class="titlesFiles">
      <div class="column t1"><i class="fa fa-ticket"></i> Solicitud</div>
      <div class="column t1"><i class="fa fa-calendar"></i> Día</div>
      <div class="column t1"><i class="fa fa-info-circle"></i> Estado</div>
      <div class="column t1"><i class="fa fa-user"></i> Modificado por</div>
    </div>
<div class="scroll">
    <div class="myRequestInfo" ng-repeat="x in model.requestedLicences" >

      <div class="myRequest">
        <span>{{x.justificationName}}</span>
      </div>
      <div class="myRequestDate">
        <span><i class="fa fa-calendar"></i> {{x.date}}</span>
        <div ng-class="{true:'visible', false:'hidden'}[x.time != null]">
          <span><i class="fa fa-clock-o"></i> {{x.time}} Horas</span>
          <div>
            <span>De {{x.start}} a {{x.end}}</span>
          </div>
        </div>
      </div>


      <div class="myStateRequestSlope  pending" ng-class="{true:'visible', false:'hidden'}[x.status == 'PENDING']">
        <span><i class="fa fa-spinner fa-spin"></i> Pendiente</span>
        <Button class="buttonpending" ng-click='cancelRequest(x)'><i class="fa fa-times"></i> Cancelar</Button>
      </div>
      <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[x.status == 'APPROVED']">
        <span class="buttonApproved"><i class="fa fa-check-circle"></i> Aprobado</span>
      </div>
      <div class="myStateRequestRejected" ng-class="{true:'visible', false:'hidden'}[x.status == 'REJECTED']">
        <span class="buttonCancel"><i class="fa fa-times"></i> Rechazado</span>
      </div>
       <div class="myStateRequestCanceled" ng-class="{true:'visible', false:'hidden'}[x.status == 'CANCELED']">
        <span class="buttonCancel"><i class="fa fa-times"></i> Cancelado</span>
      </div>

      <div class="userRequest">
        <span>{{x.user.lastname}}, {{x.user.name}}</span>
      </div>
    </div>
</div>
  </div>
</div>
