.requestAuthority {
  margin:5px;
  min-width:350px;
  font-family: calibri, Arial, Helvetica, sans-serif;
  font-size:14px;
}
.requestAuthority .title1 {
  display:flex;
  align-items: center;
  background-image:linear-gradient(to right,#275276, #0066A6);
  font-size:16px;
  width:100%;
  height:30px;
  padding:5px;
  color:white;

}

.requestAuthority .title2 {
  display:flex;
  align-items: center;
  background-image:linear-gradient(to right,#275276, #0066A6);
  font-size:16px;
  width:100%;
  height:30px;
  padding:5px;
  color:white;
  margin-top:10px;
}
.requestAuthority .requestOvertime {
  display:flex;
  flex-direction:row;
  background-color:#f5f5f5;
  height:150px;
}

.requestAuthority .Search {
  display:flex;
  flex-direction: column;

}
.requestAuthority .searchTitle {
  background-color: #0066A6;
  color: white;
  padding:5px;
  margin-bottom: 0px;
  font-size: 13px;
  width: 150px;
  border-top: 3px solid #275276;
  margin-right:10px;
  margin-top:5px;
}

.requestAuthority .inputSearch{
  width:146px;
  padding:5px;
  font-size: 14px;

}
.requestAuthority .listUsers {
  list-style-type:none;
  margin:0px;
  padding-left:5px;
  width:155px;
  background-color:#0066A6;
  color:white;
  z-index:999;

}
.requestAuthority .liUsers {
  height:25px;
  padding-top:10px;
  border-bottom:2px solid #275276;
  cursor:pointer;
  z-index:999;


}
.requestAuthority .dateTitle {
  background-color: #0066A6;
  color: white;
  padding:5px;
  margin-bottom: 0px;
  font-size: 13px;
  width: 150px;
  border-top: 3px solid #275276;
  margin-right:10px;
  margin-top:5px;
}
.requestAuthority .inputDate{
  width:146px;
  padding:5px;
  font-size: 14px;
  height:16px;


}
.requestAuthority .inputTime {
  display:flex;
  flex-direction:column;
}

.requestAuthority .timeTitle {
  background-color: #0066A6;
  color: white;
  padding:5px;
  margin-bottom: 0px;
  font-size: 13px;
  width: 100px;
  border-top: 3px solid #275276;
  margin-right:10px;
  margin-top:5px;
}
.requestAuthority .inputClock{
  width:96px;
  padding:5px;
  font-size: 14px;
  height:16px;


}
.requestAuthority .reason {
  width:148px;
  height:300px;
  margin-right:20px;

}
.requestAuthority .inputReason {
  width:100%;
  height:100%;
}
.requestAuthority textarea{
  width:148px;
  max-width:148;
  height:81px;
  padding:5px;
  font-size: 14px;
  resize:none;

}

.requestAuthority .solicitar {
  background-color: #128c78;
  padding:10px;
  width:100px;
  height:55px;
  color:white;
  margin-top:5px;
  cursor:pointer;
  border-top: 3px solid #275276;
  font-weight:bold;
}


.requestAuthority .requestOvertimeList {
  display:flex;
  flex-direction:row;
  background-color:pink;
  height:300px;
}

/*
SOLICITUD DE HORAS EXTRAS REALIZADAS*/
.requestAuthority .titlesFiles {
  display:flex;
  flex-direction:row;

}


.requestAuthority .column {
  background-color:#0066A6;

  padding:5px;
  margin-right:5px;
  color:white;
  border-top:3px solid #275276;
}
.requestAuthority .t1 {
  width:150px;
}
.requestAuthority .t2 {
  width:100px;
}
.requestAuthority .t3 {
  width:250px;
}
.requestAuthority .file {
  background-color:white;
  padding-left:5px;
}
.requestAuthority .f1 {
  font-weight:bold;
}
.requestAuthority .hidden {
  display:none;
}
.requestAuthority .visible {
  display:block;
}
.requestAuthority .slope {
  color:#0066A6;
}
.requestAuthority .approved {
  color:#128c78;
}
.requestAuthority .rejected {
  color:#e43e46;
}
