<div class="requestAuthority">

  <div class="title1">
    <label><i class="fa fa-plus"></i> Solicitar Hora Extra</label>
  </div>

	<div class="requestOvertime">
		<!-- seleccion de usuario -->
		<div class="search">
			<div class="searchTitle">
				<span><i class="fa fa-user-plus"></i> Seleccione Usuario</span>
			</div>
			<div>
				<input class="inputSearch" ng-model="model.searchUser" ng-click="searchUsers()" ng-change="searchUsers()" placeholder="Buscar...">
        <ul class="listUsers" ng-class="{true:'visible', false:'hidden'}[isDisplayListUser()]">
					<li class="liUsers" ng-repeat="user in model.users | filter:model.searchUser | orderBy : 'name'" ng-click="selectUser(user)">{{user.name}} {{user.lastname}}</li>
				</ul>
			</div>
		</div>


		<!-- campos del formulario -->
		<div class="date">
			<div class="dateTitle">
				<span><i class="fa fa-calendar"></i> Seleccione Fecha</span>
			</div>
			<div>
				<input class="inputDate" type="date" ng-model="model.date">
			</div>
		</div>
		<div class="time">
			<div class="inputTime">
				<span class="timeTitle"><i class="fa fa-clock-o"></i> Hora Inicio</span>
				<input class="inputClock" type="time" ng-model="model.startTime">
				<span class="timeTitle"><i class="fa fa-clock-o"></i> Hora Fin</span>
				<input class="inputClock" type="time" ng-model="model.endTime">
			</div>
		</div>
		<div class="reason">
			<div class="searchTitle">
			<span><i class="fa fa-pencil-square-o"></i> Motivo</span>
			</div>
			<div class="textareaReason">
			<textarea  ng-model="model.reason">
			</textarea>
			</div>
		</div>
		<div>
			<button class="solicitar" ng-click="requestOvertime()"><i class="fa fa-reply"></i> Solicitar</button>
		</div>
	</div>


	<!-- solicitudes de horas extra realizadas !-->
	<div class="title2">
		<label><i class="fa fa-sort-amount-asc"></i> Solicitudes de Horas Extras Relizadas </label>
	</div>

	<div class="solicitudes">
		<div class="titlesFiles">
  		<div class="column t1"><i class="fa fa-user"></i> Usuario</div>
  		<div class="column t2"><i class="fa fa-calendar"></i> Día</div>
  		<div class="column t2"><i class="fa fa-clock-o"></i> Inicio</div>
  		<div class="column t2"><i class="fa fa-clock-o"></i> Fin</div>
  		<div class="column t3"><i class="fa fa-pencil-square-o"></i> Motivo</div>
  		<div class="column t2"><i class="fa fa-info-circle"></i> Estado</div>
		</div>
    <div class="titlesFilesContent">
      <div class="titlesFiles" ng-repeat="request in model.requests">
  			<div class="file f1 t1">{{request.user}}</div>
  			<div class="file t2">{{request.date}}</div>
  			<div class="file t2">{{request.startTime}}</div>
  			<div class="file t5">{{request.endTime}}</div>
  			<div class="file t3"><textarea readonly>{{request.reason}}</textarea></div>
  			<div class="file">
            <span class="slope" ng-class="{true:'visible', false:'hidden'}[request.status == 'PENDING']"><i class="fa fa-spinner fa-spin"></i> Pendiente</span>
            <span class="approved" ng-class="{true:'visible', false:'hidden'}[request.status == 'APPROVED']"><i class="fa fa-check-circle"></i> Aprobada</span>
            <span class="rejected" ng-class="{true:'visible', false:'hidden'}[request.status == 'REJECTED']"><i class="fa fa-times-circle"></i> Rechazada</span>
            <span class="rejected" ng-class="{true:'visible', false:'hidden'}[request.status == 'CANCELED']">Cancelada</span>
        </div>
  		</div>
    </div>
	</div>


</div>
