<div class="showAssistance">

  <!-- seleccion de usuario -->
  <div class="title">
    <label><i class="fa fa-clock-o"></i> Control de Horario</label>
  </div>
  <div class="content">
    <div class="contentLeft">
      <div class="navTitleUser">Usuario</div>

      <input class="navTitleUser2" type="text" ng-model="model.searchUser" >

      <div class="searchList">
        <div class="navSearchList">Seleccione</div>
        <div clasS='listUsersContent'>

          <div class="listUsers" ng-repeat="user in model.usersFilters | filter:model.searchUser | orderBy:['name','lastname']" ng-click="selectUser(user)" ng-class="{true:'selected'}[isSelectedUser(user)]">{{user.name}} {{user.lastname}}</div>
        </div>
        <div class="cleanse" ng-class="{false:'enabled',true:'disabled'}[model.usersIdSelected.length == 0]">
          <span ng-click="clearUsersSelected()" ><i class="fa fa-eraser"></i> Borrar Selección</span>
        </div>
      </div>
    </div>
    <div class="contentRight">
      <div class="nav">
        <div>
          <div class="navTitle"><i class="fa fa-building-o"></i> Oficina</div>
          <select class="navTitle1" ng-change="filterUsers()" ng-model="model.groupSelected"  ng-options="op.name for op in model.groups | orderBy:['name']">
            <option value="">Todos</option>
          </select>
       </div>
        <div>
          <div class="navTitle">Fecha Inicio</div>
          <input class="navTitle2" type="date" ng-model="model.start" >
        </div>
        <div>
          <div class="navTitle">Fecha Fin</div>
          <input class="navTitle2" type="date" ng-model="model.end">
        </div>


        <div>
          <button class="searchButtom" ng-click="searchAssistance()" ng-class="{false:'enabled',true:'disabled'}[isDisabled()]" ng-disabled="isDisabled()"><i class="fa fa-search"></i> Buscar</button>
        </div>


      </div>
      <div class="nav2">
        <div ng-click="predicate = 'dateSort'; reverse=!reverse"  class="tam1"><i class="fa fa-calendar-o"></i> Fecha</div>
        <div ng-click="predicate = 'user'; reverse=!reverse" class="tam2"><i class="fa fa-user"></i> Usuario</div>
        <div ng-click="predicate = 'start'; reverse=!reverse" Class="tam1"><i class="fa fa-clock-o"></i> Entrada</div>
        <div ng-click="predicate = 'end'; reverse=!reverse" class="tam1"><i class="fa fa-clock-o"></i> Salida</div>
        <div ng-click="predicate = 'workedTime'; reverse=!reverse" class="tam1"><i class="fa fa-clock-o"></i> Total</div>
        <div class="tam3"><i class="fa fa-exclamation"></i> Observaciones</div>
      </div>
      <div class='dataUsersContent'>
        <div class="results" ng-repeat="assistance in model.assistances | orderBy:predicate:reverse">
          <div class="tam1">{{assistance.date}}</div>
          <div class="tam2 textBlue">{{assistance.user}}</div>
          <div class="tam1">{{assistance.start}}</div>
          <div class="tam1">{{assistance.end}}</div>
          <div class="tam1">{{assistance.workedTime}}</div>
          <div class="tam3">
            <div class="obs"  ng-class="{true:'visible',false:'hidden'}[!assistance.displayLogs]">
              <span ng-click="showLogs(true,assistance)" class="link"> <i class="fa fa-plus-circle"></i></span>
            </div>

            <!-- MARCACIONES -->
            <div class="logs obs" ng-class="{true:'visible',false:'hidden'}[assistance.displayLogs]">
              <span ng-click="showLogs(false,assistance)" class="link"><i class="fa fa-minus-circle"></i> Marcaciones</span>
              <ul class="ULlogs">
                <div ng-repeat="log in assistance.logs">
                  <li><i class="fa fa-calendar-o"></i> {{log.date}}</li>
                  <li><i class="fa fa-clock-o"></i> {{log.time}}</li>
                </div>
              </ul>
            </div>
            <!-- SOLICITUDES -->
            <div ng-class="{true:'visible',false:'hidden'}[assistance.justification.id == 'e0dfcef6-98bb-4624-ae6c-960657a9a741']">
              <span class="obs"> <i class="fa fa-ticket"></i> Ausente CA</span>
            </div>
            <div ng-class="{true:'visible',false:'hidden'}[assistance.justification.id == '48773fd7-8502-4079-8ad5-963618abe725']">
              <span class="obs"> <i class="fa fa-ticket"></i> Compensatorio</span>
            </div>
            <div ng-class="{true:'visible',false:'hidden'}[assistance.justification.justification_id == 'fa64fdbd-31b0-42ab-af83-818b3cbecf46']">
              <span class="obs" ng-click="showJustifications(assistance)"> <i class="fa fa-ticket"></i> Boleta de salida</span>
              <ul class="ULlogs" ng-class="{true:'visible',false:'hidden'}[assistance.displayJustification]">
                <li><i class="fa fa-calendar-o"></i> Desde {{assistance.justification.startTime}}</li>
                <li><i class="fa fa-calendar-o"></i> Hasta {{assistance.justification.endTime}}</li>
              </ul>
            </div>
            <!-- PRE-EXAMEN -->
            <div ng-class="{true:'visible',false:'hidden'}[assistance.justification.id == 'b70013e3-389a-46d4-8b98-8e4ab75335d0']">
              <span class="obs"> <i class="fa fa-book"></i> Pre-Exámen</span>
            </div>
            <!-- LICENCIA MEDICA -->
            <div ng-class="{true:'visible',false:'hidden'}[false]">
              <span class="obsMedical"> <i class="fa fa-medkit"></i> Lic. Médica</span>
              <ul class="ULlogs">
                <li><i class="fa fa-calendar-o"></i> Desde {{assistance.justification.startDate}}</li>
                <li><i class="fa fa-calendar-o"></i> Hasta {{assistance.justification.endDate}}</li>
              </ul>
            </div>
            <!-- VACACIONES -->
            <div ng-class="{true:'visible',false:'hidden'}[assistance.justification.id == '76bc064a-e8bf-4aa3-9f51-a3c4483a729a']">
              <span class="obsMedical"> <i class="fa fa-plane"></i> Vacaciones</span>
              <ul class="ULlogs">
                <li><i class="fa fa-calendar-o"></i> Desde {{assistance.justification.startDate}}</li>
                <li><i class="fa fa-calendar-o"></i> Hasta {{assistance.justification.endDate}}</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



</div>
