<!-- seleccion de usuario -->
<div>
  Seleccione:
  <ul>
    <li ng-repeat="user in model.users" ng-click="selectUser(user)" ng-class="{true:'selected'}[isSelectedUser(user)]">{{user.name}} {{user.lastname}}</li>
  </ul>
</div>

<!-- fecha -->
<div>
  Fecha: <input type="date" ng-model="model.date" >
</div>
<button ng-click="searchAssistance()" ng-disabled="isSearch()">Buscar</button>

<!-- datos de assistance -->
<div ng-repeat="assistance in model.assistances">
  Usuario: {{assistance.user}}<br />
  Entrada: {{assistance.start}}<br />
  Salida: {{assistance.end}}<br />
  Tiempo trabajado: {{assistance.workedTime}}<br />
  Marcaciones:
  <ul>
    <li ng-repeat="log in assistance.logs">{{log}}</li>
  </ul>
</div>




