
<div class="userAssistanceManagement">
  <div class="title">
    <label><i class="fa fa-ticket"></i> | Administración de asistencia de un usuario</label>
  </div>
  
  <div>
    <input class="inputSearch" ng-model="model.searchUser" ng-click="displayListUser()" ng-blur="hideListUser()" placeholder="Buscar...">
    <ul class="listUsers" ng-class="{true:'visible', false:'hidden'}[true]">
      <li class="liUsers" ng-repeat="user in model.users | filter:model.searchUser | orderBy : 'name'" ng-click="selectUser(user)">{{user.name}} {{user.lastname}}</li>
    </ul>
  </div>
  
  <div class="content">

   	<div ng-controller="RequestAssistanceAbsentCtrl" ng-include="'modules/systems/assistance/requestAssistanceAbsent.html'"></div>

  </div>
</div>