
<div class="userAssistanceManagement">
  <div class="title">
    <label><i class="fa fa-ticket"></i> | Administración de asistencia de un usuario</label>
  </div>
  
  <div class="selectUser">
      <div class="searchUser">
        <div class="searchTitle">
          <span><i class="fa fa-user-plus"></i> Seleccione Usuario</span>
        </div>
        <div>
          <input class="inputSearch" ng-model="model.searchUser" ng-click="displayListUser()" placeholder="Buscar...">
          <ul class="listUsers" ng-class="{true:'visible', false:'hidden'}[isDisplayListUser()]">
            <li class="liUsers" ng-repeat="user in model.users | filter:model.searchUser | orderBy : 'name'" ng-click="selectUser(user)">{{user.name}} {{user.lastname}}</li>
          </ul>
        </div>
      </div>
      <div class="userSelect">
        <div><b>{{model.user.name}} {{model.user.lastname}}</b></div>
        <div>{{model.user.dni}}</div>
      </div>
    </div>
  
  <div class="content">
    <div ng-repeat="justification in model.justifications" ng-controller="UserAssistanceManagementDatesCtrl" ng-include="'modules/systems/assistance/userAssistanceManagementDates.html'" ng-init="init(justification.id)"></div>

  </div>
</div>