    <form novalidate  role="form" ng-submit="submit()" > 
      <fieldset ng-disabled="form.disabled">
        <legend>Agregar Extension a {{designation.user.name}} {{designation.user.lastname}}</legend>
        
        Inicio<input type="date" ng-model="extension.start"/><span ng-show="errors.start">{{errors.start}}</span>
        <br>
        Fin<input type="date" ng-model="extension.end"/>
        <br>
        Resolución<input type="text" ng-model="extension.resolution"/>
        <br>
        Expediente<input type="text" ng-model="extension.record"/>
        <br>
        Cargo<select ng-options="position.id as position.detail for position in positions" ng-model="extension.positionId"></select>
        <br>
        Place<select ng-options="place.id as place.description for place in places" ng-model="extension.placeId"></select>
        <br>
        <input class="btn btn-primary" type="submit" value="Aceptar"  />{{form.message}}        
      </fieldset> 
    </form>

