<div class="contentMessage">
    <div class="subContentMessage">
        <div class="message">
            <div class="titleMessage">
              NUEVO MENSAJE
            </div>
            <div class="textMessage">
              <textarea class="textareaMenssage"></textarea>
              <div class="addMenssage2">
                  <div><button class="btnAdd" title="Adjuntar Archivo"><i class="fa fa-paperclip" aria-hidden="true"></i> Subir Archivo</button></div>
                  <div class="ArchivesAdd">
                    <input type="file" class="inputFile"></input>
                    <!-- <i class="fa fa-file-o"></i> Instructivo.pdf <button class="btnTrashAdd"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <i class="fa fa-file-o"></i> pantalla_de_error.jpg <button class="btnTrashAdd"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                  </div>
              </div>
            </div>
            <div class="actionMessage">
              <button class="btnAceptMennsage" ng-click="view.style2 = ''">ACEPTAR</button>
              <button class="btnCancelMennsage" ng-click="view.style2 = ''">CANCELAR</button>
            </div>
        </div>
    </div>
</div>
