<div class="contentSearchOrders">
    <div class="searchOrders">
        <!-- ---- Buscar por ID o por oficina ---- -->
        <div class="textSearch1"><i class="fa fa-search" aria-hidden="true"></i> Buscar</div>
        <div><input class="inputSearch" type="search"></input></div>
        <!-- ---- Buscar por Rango de Fechas ---- -->
        <div class="textSearch1b"><i class="fa fa-calendar-o" aria-hidden="true"></i> Buscar por Fecha</div>
        <div class="textSearch2a">Fecha Inicio</div>
        <div><input class="inputSearch2" type="date"></input></div>
        <div class="textSearch2b">Fecha Fin</div>
        <div><input class="inputSearch2" type="date"></input></div>
        <div class="actionMessage">
              <button class="btnAceptMennsage" ng-click="view.style = ''">ACEPTAR</button>
              <button class="btnCancelMennsage" ng-click="view.style = ''">CANCELAR</button>
            </div>
    </div>
</div>
