<div class="adminRequestAssistance">
  <div class="title">
    <label><i class="fa fa-ticket"></i> | Administrar Solicitudes</label>
  </div>
  <!-- EMA, IVAN... LAS SOLICITUDES APARECEN EN FORMA DE LISTA, UNA BAJO LA OTRA,
  Seguro hay que cambiar el div general por un una lista, pero nose como lo
  quieren manejar!!  -->
  <div class="content">
    <div class="request">
      <span class="requestInfo">Ausente con Aviso</span>
    </div>
    <div class="userRequest">
      <div>
        <span class="userInfo">Usuario</span>
      </div>
      <div>
        <span class="userDNI">DNI</span>
      </div>
    </div>
    <div class="dateRequest">
      <span class="requestDate">Día de la solicitud</span>
    </div>
    <div class"actionsRequest">
      <div class="approve">
        <button class="approveRequest" ng-click="approveRequest()"><i class="fa fa-check"></i> Aprobar</button>
      </div>
      <div class="denegar">
        <button class="refuseRequest" ng-click="refuseRequest()"><i class="fa fa-times"></i> Denegar</button>

      </div>
    </div>
    <div class="reasonRequest">
      <textarea class="reasonRefuse">Falto porque tengo que ir al medico, ponele!!!</textarea>
    </div>
  </div>

</div>
