 <!-- LICENCIA ANUAL -->
    <div ng-class="{true:'subcontentDisplay', false:'subcontent'}[isSelectedJustificationLao()]" ng-click="select('justificationLaoSelected')">
      <div class="titulo" ng-click="selectJustificationLao()">
        <p class="titulo"><i class="fa fa-ticket"></i> Licencia Anual (LAO)</p>
      </div>
      <div class="info">
        <div>
          <div>
            <input class="button blue" type="button" value="Solicitar" ng-click="selectJustificationLaoRequest()">
          </div>
          <div>
            <input class="button green" type="button" value="Disponibles" ng-click="selectJustificationLaoAvailable()">
          </div>
          <!--
          <div>
            <input class="button orange" type="button" value="Solicitudes" ng-click="selectJustificationLaoRequests()">
          </div>
           -->
        </div>
        <hr>
        <div>
          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationLaoRequest()]">
            <p>Seleccione los días de licencia anual</p>
            desde <input type="date" ng-model="model.justification.begin">
            hasta <input type="date" ng-model="model.justification.end">
          </div>

          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationLaoAvailable()]">
            <p>Disponibilidad</p>
            <p>Antiguedad:{{model.exam.actualStock}}</p>
            <p>Cantidad de días:{{model.exam.stock}}</p>
          </div>

          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationLaoRequests()]">
            <div ng-class="{true:'visible', false:'hidden'}[true]">
              <p>No existen solicitudes pendientes</p>
            </div>
            <div ng-class="{true:'visible', false:'hidden'}[false]">
              <p>Solicitud reciente</p>
              <input type="text" placeholder="Solicitud">
              <p>Estado</p>
              <input type="text" placeholder="Aprobada">
            </div>
          </div>

        </div>
        <hr>
        <div ng-class="{true:'visible', false:'hidden'}[isSelectedDate()]">
          <p>Solicitar Licencia anual para los días</p>
          <input type="text" placeholder="Días elegido" ng-model="dateFormated">
          <input type="button" value="Confirmar" ng-click="save()">
        </div>
      </div>
    </div>
