<!-- PRE-EXAMEN -->
    <div ng-class="{true:'subcontentDisplay', false:'subcontent'}[isSelectedJustificationExam()]" ng-click="select('justificationExamSelected')">
      <div class="titulo" ng-click="selectJustificationExam()">
        <p class="titulo"><i class="fa fa-ticket"></i> Pre-Exámen</p>
      </div>
      <div class="info">
        <div>
          <div>
            <input class="button blue" type="button" value="Solicitar" ng-click="selectJustificationExamRequest()">
          </div>
          <div>
            <input class="button green" type="button" value="Disponibles" ng-click="selectJustificationExamAvailable()">
          </div>
          <!--
          <div>
            <input class="button orange" type="button" value="Solicitudes" ng-click="selectJustificationExamRequests()">
          </div>
          -->
        </div>

        <div>
          <div class="margin" ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationExamRequest()]">
            <p class="parrafos">Seleccione el día</p>
            <input class="date" type="date" ng-model="model.justification.begin">
          </div>

          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationExamAvailable()]">
            <p class="parrafosGreen margin">Disponibilidad MENSUAL Restante</p>
            <p class="parrafosGreen2 margin">{{model.exam.actualStock}} Días</p>
            <p class="parrafosGreen margin">Disponibilidad ANUAL Restante</p>
            <p class="parrafosGreen2 margin">{{model.exam.stock}} Días</p>
          </div>

          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationExamRequests()]">
            <div ng-class="{true:'visible', false:'hidden'}[false]">
              <p>No existen solicitudes pendientes</p>
            </div>
            <div ng-class="{true:'visible', false:'hidden'}[true]">
              <p>Solicitud reciente</p>
              <input type="text" placeholder="Solicitud">
              <p>Estado</p>
              <input type="text" placeholder="Aprobada">
            </div>
          </div>
        </div>

        <div class="margin" ng-class="{true:'visible', false:'hidden'}[isSelectedDate()]">
          <p class="parrafos">Solicitar Pre-exámen para el día</p>
	      <p class="parrafos2"><i class="fa fa-calendar-o"></i> {{dateFormated}}</p>
          <input class="button2 blue2" type="button" value="Confirmar" ng-click="save()">
        </div>
      </div>
    </div>
