	<!-- AUSENTE CON AVISO -->
    <div ng-class="{true:'subcontentDisplay', false:'subcontent'}[isSelectedJustificationAbsent()]">
      <div class="titulo" ng-click="selectJustificationAbsent()">
        <p class="titulo"><i class="fa fa-ticket"></i> Ausente con Aviso</p>
      </div>
      <div class="info">
        <div class="subInfo">
          <div>
            <input class="button blue" type="button" value="Solicitar" ng-click="selectJustificationAbsentRequest()">
          </div>
          <div>
            <input class="button green" type="button" value="Disponibles" ng-click="selectJustificationAbsentAvailable()">
          </div>
          <!-- <div>
            <input class="button orange" type="button" value="Solicitudes" ng-click="selectJustificationAbsentRequests()">
          </div> -->

        </div>

        <div>

          <div class="margin" ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationAbsentRequest()]">
            <p class="parrafos">Seleccione el día</p>
            <input class="date" type="date" ng-model="model.requestAbsentBegin"  >
          </div>
          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationAbsentAvailable()]">
            <p class="parrafosGreen margin">Disponibilidad MENSUAL Restante</p>
            <p class="parrafosGreen2 margin"> {{model.absent.actualStock}} Días</p>
            <p class="parrafosGreen margin"> Disponibililad ANUAL Restante</p>
            <p class="parrafosGreen2 margin">{{model.absent.stock}} Días </p>
          </div>
          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationAbsentRequests()]">
            <div ng-class="{true:'visible', false:'hidden'}[false]">
              <p>No existen solicitudes pendientes</p>
            </div>
            <div ng-class="{true:'visible', false:'hidden'}[true]">
              <p>Solicitud reciente</p>
              <input type="text" placeholder="Solicitud">
              <p>Estado</p>
              <input type="text" placeholder="Aprobada">
            </div>
          </div>
        </div>

        <div class="margin" ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationAbsentRequestDateSelected()]">
          <p class="parrafos">Solicitar Ausente con aviso para el día</p>
		      <p class="parrafos2"><i class="fa fa-calendar-o"></i> {{model.requestAbsentBeginFormated}}</p>
          <input class="button2 blue2" type="button" value="Confirmar" ng-click="confirmRequestAbsent()">
        </div>
      </div>
    </div>
