	<!-- COMPENSATORIOS -->
    <div ng-class="{true:'subcontentDisplay', false:'subcontent'}[isSelectedJustificationCompensatory()]">
        <div class="titulo" ng-click="selectJustificationCompensatory()">
        <p class="titulo"><i class="fa fa-ticket"></i> Compensatorios</p>
      </div>
      <div class="info">
        <div>
          <div>
            <input class="button blue" type="button" value="Solicitar" ng-click="selectJustificationCompensatoryRequest()">
          </div>
          <div>
            <input class="button green" type="button" value="Disponibles" ng-click="selectJustificationCompensatoryAvailable()">
          </div>
          <!--
          <div>
            <input class="button orange" type="button" value="Solicitudes" ng-click="selectJustificationCompensatoryRequests()">
          </div>-->
        </div>



        <div>

          <div class="margin" ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationCompensatoryRequest()]">
            <p class="parrafos">Seleccione el día</p>
            <input class="date" type="date" ng-model="model.justification.begin">
          </div>

          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationCompensatoryAvailable()]">
            <p>Disponibilidad</p>
            <p>Este mes: {{model.compensatory.actualStock}}</p>
            <p>En el año: {{model.compensatory.stock}}</p>
          </div>

          <div ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationCompensatoryRequests()]">
            <div ng-class="{true:'visible', false:'hidden'}[false]">
              <p>No existen solicitudes pendientes</p>
            </div>
            <div ng-class="{true:'visible', false:'hidden'}[true]">
              <p>Solicitud reciente</p>
              <input type="text" placeholder="Solicitud">
              <p>Estado</p>
              <input type="text" placeholder="Aprobada">
            </div>
          </div>

        </div>



        <div class="margin" ng-class="{true:'visible', false:'hidden'}[isSelectedJustificationRequest()]">
          <p class="parrafos">Solicitar compensatorio para el día</p>
          <p class="parrafos2"><i class="fa fa-calendar-o"></i> {{dateFormated}}</p>
          <input class="button2 blue2" type="button" value="Confirmar" ng-click="save()">
      
        </div>
      </div>
    </div>
