<form class="editGroups" method="post">
	
	<div class="editGroups_search_group">
	<!-- Buscador de Grupos -->
	</div>
	
	<div class="editGroups_group">
	<!-- Grupo seleccionado -->
	</div>
	
	<div class="editGroups_search_users">
		<div class="editUsers_search_container">
				<div><input class="editUsers_search_imput" type="search" name="search" ng-model="search"></div>
			</div>
			<div class="editUsers_post">
				<div class="editUsers_column1">
					<div><input type="checkbox" name="post" value="estudiante"><label> Estudiante</label></div>
					<div><input type="checkbox" name="post" value="docente"><label> Docente</label></div>
					<div><input type="checkbox" name="post" value="docente"><label> Graduado</label></div>
				</div>
				<div class="editUsers_column1">
					<div><input type="checkbox" name="post" value="posgrado"><label> Posgrado</label></div>
					<div><input type="checkbox" name="post" value="nodocente"><label> NoDocente</label></div>
					<div><input type="checkbox" name="post" value="visitante"><label> Visitante</label></div>
				</div>	
			</div>
			<div class="editUsers_list_resultados">
				<div class="editUsers_resultados"><p>Resultados Encontrados</p><hr></div>
			</div>
		</div>
	</div>
</form>