
<div class="usersAssistanceManagement">
  <div class="title">
    <label><i class="fa fa-ticket"></i> | Administración de solicitudes de un usuario</label>
  </div>

  <div class="selectUser">
      <div class="searchUser">
        <div class="searchTitle">
          <span><i class="fa fa-user-plus"></i> Seleccione Usuario</span>
        </div>
        <div>
          <input class="inputSearch" ng-model="model.searchUser" ng-click="displayListUser()" placeholder="Buscar...">
          <ul class="listUsers" ng-class="{true:'visible', false:'hidden'}[isDisplayListUser()]">
            <li class="liUsers" ng-repeat="user in model.users | filter:model.searchUser | orderBy : 'name'" ng-click="selectUser(user)">{{user.name}} {{user.lastname}}</li>
          </ul>
        </div>
      </div>
    </div>

  <div class="content">
    <div ng-repeat="justificationId in model.justificationsId">
      <div ng-if="justificationId === 'f9baed8a-a803-4d7f-943e-35c436d5db46'" ng-controller="UsersAssistanceManagementRequestJustificationMCDCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationMCD.html'"></div>
      <div ng-if="justificationId === 'b80c8c0e-5311-4ad1-94a7-8d294888d770'" ng-controller="UsersAssistanceManagementRequestJustificationMAFCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationMAF.html'"></div>
      <div ng-if="justificationId === 'a93d3af3-4079-4e93-a891-91d5d3145155'" ng-controller="UsersAssistanceManagementRequestJustificationMLTCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationMLT.html'"></div>
      <div ng-if="justificationId === '478a2e35-51b8-427a-986e-591a9ee449d8'" ng-controller="UsersAssistanceManagementRequestJustificationJMCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationJM.html'"></div>
      <div ng-if="justificationId === 'e8019f0e-5a70-4ef3-922c-7c70c2ce0f8b'" ng-controller="UsersAssistanceManagementRequestJustificationDSCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationDS.html'"></div>
      
      <div ng-if="justificationId === '70e0951f-d378-44fb-9c43-f402cbfc63c8'" ng-controller="UsersAssistanceManagementRequestJustificationARTCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationART.html'"></div>
      <div ng-if="justificationId === '0cd276aa-6d6b-4752-abe5-9258dbfd6f09'" ng-controller="UsersAssistanceManagementRequestJustificationDCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationD.html'"></div>
      
      <div ng-if="justificationId === '30a249d5-f90c-4666-aec6-34c53b62a447'" ng-controller="UsersAssistanceManagementRequestJustificationMATCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationMAT.html'"></div>
      <div ng-if="justificationId === 'aa41a39e-c20e-4cc4-942c-febe95569499'" ng-controller="UsersAssistanceManagementRequestJustificationPRNCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationPRN.html'"></div>
      <div ng-if="justificationId === '68bf4c98-984d-4b71-98b0-4165c69d62ce'" ng-controller="UsersAssistanceManagementRequestJustificationPONCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationPON.html'"></div>
      <div ng-if="justificationId === 'e249bfce-5af3-4d99-8509-9adc2330700b'" ng-controller="UsersAssistanceManagementRequestJustificationNACCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationNAC.html'"></div>
      
      <div ng-if="justificationId === '7747e3ff-bbe2-4f2e-88f7-9cc624a242a9'" ng-controller="UsersAssistanceManagementRequestJustificationVJECtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationVJE.html'"></div>
      <div ng-if="justificationId === '508a9b3a-e326-4b77-a103-3399cb65f82a'" ng-controller="UsersAssistanceManagementRequestJustificationCCCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationCC.html'"></div>
      <div ng-if="justificationId === '5289eac5-9221-4a09-932c-9f1e3d099a47'" ng-controller="UsersAssistanceManagementRequestJustificationCONCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationCON.html'"></div>
      
      
      <div ng-if="justificationId === '7e180d9d-0ef1-48a7-9f3f-26a0170cc2f7'" ng-controller="UsersAssistanceManagementRequestJustificationETCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationET.html'"></div>
      <div ng-if="justificationId === 'c32eb2eb-882b-4905-8e8f-c03405cee727'" ng-controller="UsersAssistanceManagementRequestJustificationAUTCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationAUT.html'"></div>
      <div ng-if="justificationId === '1c14a13c-2358-424f-89d3-d639a9404579'" ng-controller="UsersAssistanceManagementRequestJustificationSGSCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationSGS.html'"></div>
      <div ng-if="justificationId === 'bfaebb07-8d08-4551-b264-85eb4cab6ef1'" ng-controller="UsersAssistanceManagementRequestJustificationSUSCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationSUS.html'"></div>
      
      <div ng-if="justificationId === '5c548eab-b8fc-40be-bb85-ef53d594dca9'" ng-controller="UsersAssistanceManagementRequestJustificationBCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationB.html'"></div>
      <div ng-if="justificationId === '3d486aa0-745a-4914-a46d-bc559853d367'" ng-controller="UsersAssistanceManagementRequestJustificationICCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagement/requestJustificationIC.html'"></div>
      

    </div>
  </div>

  <div class="myRequests">
    <span><i class="fa fa-ticket"></i> Solicitudes del Usuario</span>
  </div>
  <div class="titlesFiles">
    <div class="column t1" ng-click="sortRequestedJustifications('userName')"><i  class="fa fa-ticket"></i> Usuario</div>
    <div class="column t1" ng-click="sortRequestedJustifications('justificationName')"><i  class="fa fa-ticket"></i> Solicitud</div>
    <div class="column t1" ng-click="sortRequestedJustifications('dateSort')"><i  class="fa fa-calendar"></i> Día</div>
    <div class="column t1" ng-click="sortRequestedJustifications('requestorName')"><i  class="fa fa-ticket"></i> Solicitado por</div>
    <div class="column t1" ng-click="sortRequestedJustifications('status')"><i class="fa fa-info-circle"></i> Estado</div>
  </div>
  <div class="scroll">
    <div class="myRequestInfo" ng-repeat="req in model.requestedJustificationsFiltered | orderBy:model.rjSort:model.rjReversed" >
      <div class="myRequest">
        <span>{{req.userName}}</span>
      </div>
      <div class="myRequest">
        <span>{{req.justificationName}}</span>
      </div>
      <div class="myRequestDate">
        <span><i class="fa fa-calendar"></i> {{req.date}}</span>
        <div ng-class="{true:'visible', false:'hidden'}[req.justificationId === 'cb2b4583-2f44-4db0-808c-4e36ee059efe']">
          <span><i class="fa fa-clock-o"></i> Hora de inicio {{req.start}}</span>
        </div>
        <div ng-class="{true:'visible', false:'hidden'}[req.time != null]">
          <span><i class="fa fa-clock-o"></i> {{req.time}} Horas</span>
          <div>
            <span>De {{req.start}} a {{req.end}}</span>
          </div>
        </div>
      </div>
      <div class="myRequest">
        <span>{{req.requestorName}}</span>
      </div>
      <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[req.status == 'APPROVED']">
        <span class="buttonApproved"><i class="fa fa-check-circle"></i> Aprobado</span>
        <button  ng-click="cancelRequest(req)" ng-disabled="model.processingRequestedJustifications"> Cancelar</button>
      </div>
      <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[req.status == 'CANCELED']">
        <span class="buttonApproved"><i class="fa fa-times"></i>Cancelado</span>
      </div>
      <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[req.status == 'REJECTED']">
        <span class="buttonApproved"><i class="fa fa-times"></i>Rechazado</span>
      </div>
      <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[req.status == 'PENDING']">
        <span class="buttonApproved"><i class="fa fa-spinner fa-spin"></i> Pendiente</span>
        <button  ng-click="approveRequest(req)" ng-disabled="model.processingRequestedJustifications">Aprobar</Button>
        <button  ng-click="refuseRequest(req)" ng-disabled="model.processingRequestedJustifications">Denegar</Button>
      </div>
    </div>
  </div>
</div>
