
<div>
  <div>
    Fecha:
    <input type='date' ng-model='model.register.date'/>
  </div>
  <div>
    Alumno:
    <select ng-model='model.register.student'>
      <option ng-repeat='student in model.students' value="{{student.studentNumber}}">
        {{student.studentNumber}}
      </option>
    </select>
  </div>
  <div>
    Tipo:
    <select ng-model='model.register.type'>
      <option value='Situaciones Administrativas'>Situaciones Administrativas</option>
      <option value='Situaciones Académicas y de Estudio'>Situaciones Académicas y de Estudio</option>
      <option value='Situaciones Personales'>Situaciones Personales</option>
    </select>
  </div>
  <button ng-click='save()'>Aceptar</button>
</div>
