		
<input id="search"  type="text"  ng-model="search">
<button  type="button" ng-click="searchDesignations()">Buscar</button>
<div>
  <div>
  <table>
    <thead>
      <tr>
        <th>descripción</th>
        <th>desde</th>
        <th>hasta</th>
        <th>expediente</th>
        <th>resolucion</th>
        <th>usuario</th>
        <th>lugar</th>        
        <th>posición</th>               
        <th>Opciones</th>
        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="designation in designations">
        <td>{{designation.description}}</td>
        <td>{{designation.start}}</td>
        <td>{{designation.end}}</td>
        <td>{{designation.record}}</td>
        <td>{{designation.resolution}}</td>
        <td>{{designation.user.name}} {{designation.user.lastname}} {{designation.user.dni}}</td>
        <td>{{designation.place.description}}</td>
        <td>{{designation.position.description}}</td>                        
        <td>
          <a ng-href="#/addExtension?id={{designation.id}}">Extender</a>
          <a ng-href="#/addProrogation?id={{designation.id}}">Prorrogar</a>
      
        </td>
      </tr>
    </tbody>	  
  </table>
  </div>
</div>
