<html>
<body>
    <div>
        A través del presente correo enviamos el listado de candidatos solicitados y
        sus respectivos CVs.<br>
        Cualquier inquietud, estamos a disposición.<br>
        Atte.
    </div>

    <div>
        Cra. Ma. Paula Beyries
        Lic. Lucas Langoni
    </div>

    <div>
        Prosecretaría de Inserción Laboral<br>
        Facultad de Ciencias Económicas<br>
        Oficina 511 - 5to piso<br>
        Tel: (221) 423-6769/6772 int 117<br>
        e-mail: insercionlaboral@econo.unlp.edu.ar<br>
    </div>
</body>
</html>
