.adminUser {

}

.adminUser .titleSearch {
  margin-top: 10px;
}

.adminUser .btnEdit {
  background-color: #e0e0e0;
  border-color: #c1c1c1;
  color: #222222;
}

.adminUser .btnEdit:hover {
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
}

.adminUser .file {
  margin-bottom: 10px !important;
}

.adminUser .file2 {
  margin-bottom: 10px !important;
}

.adminUser .actions {
  margin-top: 20px;
}
