<div class="adminUser">
  <h3><i class=" titleSearch glyphicon glyphicon-user" aria-hidden="true"></i> Mi perfil</h3>

<form novalidate class="form-horizontal" ng-submit="submit()" >


  <div class="form-group file">
    <div class="col-sm-6 col-md-5 col-lg-3">
        <span><b>Nombre</b></span>
      <input type="text" class="form-control" id="name" ng-model="user.name">
    </div>
  </div>
  <div class="form-group file">
    <div class="col-sm-6 col-md-5 col-lg-3">
        <span><b>Apellido</b></span>
        <input type="text" class="form-control" id="lastname" ng-model="user.lastname">
    </div>
  </div>
  <div class="form-group file">
    <div class="col-sm-6 col-md-5 col-lg-3">
      <span><b>DNI</b></span>
      <input type="text" class="form-control" id="dni" ng-model="user.dni">
    </div>
  </div>





  <div  class="form-group file">
    <div class="col-sm-6 col-md-5 col-lg-3">
      <span><b>Teléfono</b></span>
      <button class="btnEdit btn btn-primary btn-xs" class="form-control" type="button" ng-click="addTelephone()" ng-disabled="form.disabled">Agregar</button>
    </div>
  </div>


    <div ng-repeat="t in user.telephones" class="row file2">
      <div class="col-sm-6 col-md-5 col-lg-2">
        <input type="text" class="form-control" ng-model="t.number" ng-disabled="form.disabled">
      </div>
      <div class="col-sm-4 col-md-3 col-lg-1">
        <select class="form-control" ng-model="t.type">
            <option value="">Tipo</option>
            <option value="movil">Móvil</option>
            <option value="home">Casa</option>
            <option value="work">Trabajo</option>
        </select>
      </div>
      <div class="col-sm-3 col-md-2 col-lg-1">
        <button class="btn btn-sm btn-danger" class="form-control" type="button" ng-click="deleteTelephone($index)"  ng-disabled="form.disabled"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
      </div>
    </div>

    <div class="form-group file actions">
      <div class="col-sm-6 col-md-5 col-lg-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <span>{{form.message}}</span>
      </div>
    </div>



  <!-- <div ng-show="alerts.length > 0" ng-click="closeAllAlerts()"> Cerrar todos los mensajes</div> -->
  <div class="col-sm-6 col-md-5 col-lg-4" uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">
    <strong>{{alert.title}}</strong> <p>{{alert.msg}}</p><br>
  </div>
</form>

</div>
