<div class="editSystems">
  <div class="content">
    <div class="title">
      <label><i class="fa fa-server"></i> | Acceso a Sistemas</label>
    </div>
      <ul class="content">
        <li ng-repeat="s in systems">
          <div class="menu-item-ico fa {{s.img}}"></div>
          <label>{{s.label}}</label>
          <!-- <input type="checkbox" name="{{s.name}}" ng-model="s.value" /> -->
          <label class="switch">
            <input type="checkbox" class="switch-input" checked name="{{s.name}}" ng-model="s.value" >
            <span class="switch-label" data-on="SI" data-off="NO"></span>
            <span class="switch-handle"></span>
          </label>
        </li>
      </ul>

      <!-- <input class="save" type="button" ng-click="save()" value="Guardar" /> -->
      <button class="save" ng-click="save()"><i class="fa fa-floppy-o"></i> Guardar</button>
  </div>



</div>
