.changePassword .titleSearch {
  margin-top: 10px;
}

.changePassword .file {
  margin-bottom: 5px ;
}

.changePassword .action {
  margin-top: 10px;
}

.changePassword .alert {
  margin-top: 20px;
}
