
<div class="changePassword">

  <h3><i class="fa fa-key" aria-hidden="true"></i> Cambiar Contraseña</h3>


  <form class="form-horizontal" ng-submit="submit()" >
    <div class="form-group">
      <div class="col-sm-6 col-md-5 col-lg-3">
        <span><b>Ingrese nueva contraseña</b></span>
        <input ng-show="!isViewPassword" type="password" class="form-control" id="code" ng-model="code">
        <input ng-show="isViewPassword" type="text" class="form-control" id="code" ng-model="code">
        <div class="help-block">Mínimo de 6 caracteres</div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6 col-md-5 col-lg-3">
        <span><b>Repita la contraseña</b></span>
        <input ng-show="!isViewPassword" type="password" class="form-control" id="code2" ng-model="code2">
        <input ng-show="isViewPassword" type="text" class="form-control" id="code2" ng-model="code2">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6 col-md-5 col-lg-3">
        <span><input type="checkbox" class="" ng-model="isViewPassword"> Mostrar contraseña </span>
      </div>

    </div>
    <div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>


    <div class="alert col-sm-6 col-md-5 col-lg-4" uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">
      <h4><strong>{{alert.title}}</strong></h4> <p>{{alert.msg}}</p>
    </div>
  </form>
</div>
