
<h2>Cambiar Clave</h2>

<div class="jumbotron">

  <form class="form-horizontal" ng-submit="submit()" >
    <div class="form-group">
      <label class="control-label col-sm-3 col-md-2 col-lg-1" for="code">Clave:</label>
      <div class="col-sm-6 col-md-5 col-lg-3">
        <input ng-show="!isViewPassword" type="password" class="form-control" id="code" ng-model="code">
        <input ng-show="isViewPassword" type="text" class="form-control" id="code" ng-model="code">
        <div class="help-block">Mínimo de 6 caracteres</div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3 col-md-2 col-lg-1" for="code2">Reingrese Clave:</label>
      <div class="col-sm-6 col-md-5 col-lg-3">
        <input ng-show="!isViewPassword" type="password" class="form-control" id="code2" ng-model="code2">
        <input ng-show="isViewPassword" type="text" class="form-control" id="code2" ng-model="code2">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3 col-md-2 col-lg-1" > Mostrar clave: </label>
      <div class="col-sm-6 col-md-5 col-lg-3">
        <input type="checkbox" class="form-control" ng-model="isViewPassword">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">
        <button type="submit" class="btn btn-default">Aceptar</button>
      </div>
    </div>

    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">
      <h4><strong>{{alert.title}}</strong></h4> <p>{{alert.msg}}</p>
    </div>
  </form>
</div>
