.help {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 400px;
}


/***************************** HEADER ********************************/

.help .header {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  height: 60px;
  background-color: #28292D;
  color:white;
  z-index: 999;
}

.help .logo {
  margin-left: 10px;
}

.help .header button {
  background: none;
  border:none;
  color: white;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.help .notification {
  background-color: #EC9122 !important;
  position: absolute;
  font-size: 12px !important;
  border-radius: 10px;
  z-index: 999;
  right: 70px;

}

.help .notification2 {

  background-color: #E43E46 !important;
  position: absolute;
  font-size: 12px !important;
  border-radius: 10px;
  z-index: 999;
  right: 15px;

}

/********************* CONTENEDOR *******************************/

.help .main {

  height: 100%;
  background-color: #EEEEEE;
  /*background-image: url('/views/img/fondo1.jpg');*/
}

.help .contentTitle {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  width: 100%;
  height: 75px;
  background: #DBE2E5;
  padding-left: 20px;
  font-size: 20px;
  color:#28292D;

}

.help .contentQuestions {
  margin: 10px;
  overflow-y: scroll;
}

.help .questions {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -moz-box-shadow: 0 0 2px 0 #9c9c9c;
  -webkit-box-shadow: 0 0 2px 0 #9c9c9c;
  -o-box-shadow: 0 0 2px 0 #9c9c9c;
  box-shadow: 0 0 2px 0 #9c9c9c;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  width: 500px;
  cursor: pointer;


}

.help .contentAnswer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  padding: 0 15px 0 15px;
  background-color: #92AD17;
  color:white;
  margin-bottom: 10px;
  width: 500px;
  font-size: 14px;
  text-align: justify;

}


/********************* FOOTER **********************************/

.help .footer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  height: 20px;
  background-color: #28292D;
  color: #DBE2E5;
  font-size: 10px;
  padding-left: 5px;
  z-index: 999;
}



/******************** MEDIA QUERIS ***************************/

@media (max-width: 720px){
  .help .footer {
      display: none;
  }

}

@media (max-height: 500px){
  .help .footer {
      display: none;
  }
}

/*****************************************************************
*****************  NOTIFICACIONES ********************************
*****************************************************************/



/*********** SERVER ******************/

.help.verServerConectado .access {
  display: none;
}

.help .serverDesconectado {
  position: absolute;
  width: 300px;
  height: 0px;
  background-color: none;
  z-index: 999;
  top: 35px;
  right: 10px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.help.verServerDesconectado .serverDesconectado {
  height: 120px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.help .textReconectando {
  font-size: 12px;
}


.help .arrowServer {
  color: #E43E46;
  height: 12px;
  margin-left: 270px;
}

.help .headerServer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  background-color: #E43E46;
  height: 60px;
  border-radius: 5px 5px 0px 0px;
  color: white;
  font-size: 20px;
}

.help .contentServer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  background-color: #EEEEEE;
  height: 100%;
  font-size: 20px;
  color: #3A3C44;
  box-shadow: 1px 1px 5px #5c5f69;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
}
