
.header-container {
  width: 100%;
  height: 10%;
}

.header {
  display:flex;
  flex-direction: row;
  background-color: red;
  width: 100%;
  height: 100%;
}


.header.start {
  align-self: flex-start;
}

.header .hcontainer {
  display: flex;
  flex-direction: row;
}
