


.enroll-container {
  width: 17em;
  height: 19em;
  position: relative;
  margin: 0 auto 40px;
  border: 1px solid #CCC;
  display:flex;
  flex-direction:column;
  margin-top:1em;
  background-color: #eee;
  /*
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  justify-content: center;
*/
  /*background: linear-gradient(45deg, #0066A6, #174b6b);*/

}

.enroll-container .home {
  height: 100%;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

.enroll-container .dni {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  margin-top:0.5em;
}

.enroll-container .dni input {
  width:80%;
  margin: auto;
  height:2em;
  text-align:center;
  font-weight: bold;
}

.enroll-container .KeyboardComplete {
  flex: 1 100%;
  height: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.enroll-container .keyboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  width: 100%;
}

.enroll-container .btn {
  order: 1;
  flex: 1 1 30%;
  align-self: auto;
  min-width: auto;
  min-height: 2em;
}

.enroll-container .btn2 {
  order: 1;
  flex: 1 1 30%;
  align-self: auto;
  min-width: auto;
  min-height: 2em;
}

.enroll-container .action {
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.enroll-container .action .btnAction {
  width: 100%;
  height: 2em;
  background-color:white;
  font-weight: bold;
  margin-bottom: 0.5em;
}


.enroll-container .message {
  position: absolute;
  top: 40%;
  left:0.5%;
  z-index: 999;
  height: 5em;
  background-color: white;
  text-align: center;
  color: rgb(229, 26, 26);
  font-weight: bold;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width: 98%;
  border:1px solid rgb(229, 26, 26);

}

.enroll-container .message .finger {
  width: 15%;
  color: #777;
  font-size: 1.5em;
}

.enroll-container .message .text {
  width:80%;
}
.enroll-container .hidden {
  display:none;
}

@media (max-width: 800px) {

}
