


.enroll-container {
  width: 17em;
  height: 19em;
  position: relative;
  margin: 0 auto 40px;
  border: 1px solid #CCC;
  display:flex;
  flex-direction:column;
  margin-top:1em;
  /*
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  justify-content: center;
*/
  /*background: linear-gradient(45deg, #0066A6, #174b6b);*/

}

.enroll-container .home {
  height: 100%;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

.enroll-container .dni {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top:0.5em;
}

.enroll-container .dni input {
  width:80%;
  margin: auto;
  height:2em;
  text-align:center;
}

.enroll-container .KeyboardComplete {
  flex: 1 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.enroll-container .keyboard {
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.enroll-container .row {
  width: 90%;
  margin-bottom:0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.enroll-container .btn {
  width: 30%;
  margin: auto;
  height:2em;
}

.enroll-container .btn2 {
  width: 62%;
  margin: auto;
  height:2em;
}

.enroll-container .action {
  width: 100%;
  display: flex;
  justify-content: center;
}

.enroll-container .action .btnAceptar {
  width: 90%;
  height: 2em;
}


.enroll-container .message {
  text-align: center;
  color: rgb(229, 26, 26);
  font-weight: bold;
}



@media (max-width: 800px) {

}
