<div class="index-container">

  <div class="displayContainer">
    <div ng-class="{true:'info-container',false:'hidden'}[vm.isDisplayInfoContainer()]">
      <div class="date">{{vm.view.date.day}}</div>
      <div class="hours">{{vm.view.date.hours}}<span class="seconds">:{{vm.view.date.seconds}}</span></div>
    </div>

    <div class="code-container" ng-class="{false:'hidden'}[vm.isDisplayCodeContainer()]">
      <input type='text' ng-model='vm.model.code'  ng-class="{true:'code',false:'hidden'}[vm.isDisplayInputCode()]"/>
      <input type='password' ng-model='vm.model.password' ng-class="{true:'password',false:'hidden'}[vm.isDisplayInputPassword()]"/>
    </div>
  </div>


  <div class="keyboard-container">
    <div ng-class="{true:'keyboard-number-container',false:'hidden'}[vm.displayKeyboard()]">
      <div class="row">
        <button ng-click="vm.addNumber('1')" class="number">1</button>
        <button ng-click="vm.addNumber('2')" class="number">2</button>
        <button ng-click="vm.addNumber('3')" class="number">3</button>
        <button ng-click="vm.addNumber('4')" class="number">4</button>
      </div>
      <div class="row">
        <button ng-click="vm.addNumber('5')" class="number">5</button>
        <button ng-click="vm.addNumber('6')" class="number">6</button>
        <button ng-click="vm.addNumber('7')" class="number">7</button>
        <button ng-click="vm.addNumber('8')" class="number">8</button>
      </div>
      <div class="row">
        <button ng-click="vm.addNumber('9')" class="number">9</button>
        <button ng-click="vm.addNumber('0')" class="number">0</button>
        <button ng-click="vm.deleteNumber()" class="action fa fa-long-arrow-left"></button>
      </div>
      <div class="row">
        <input type="submit" ng-click="vm.cancel()" value="Cancelar"  class="action"/>
        <input type="button" ng-click="vm.enterCode()" value="Aceptar" ng-disabled="!vm.isEnabledCommit()" class="action"/>
      </div>
    </div>

    <div ng-class="{true:'keyboard-extends-container',false:'hidden'}[vm.displayKeyboardExtends()]">

      <div ng-class="{true:'keyboard-letters',false:'hidden'}[vm.displayKeyboardLetters()]">
        <div class="row">
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('q',vm.view.keyboard.capitalize)">q</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('w',vm.view.keyboard.capitalize)">w</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('e',vm.view.keyboard.capitalize)">e</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('r',vm.view.keyboard.capitalize)">r</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('t',vm.view.keyboard.capitalize)">t</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('y',vm.view.keyboard.capitalize)">y</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('u',vm.view.keyboard.capitalize)">u</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('i',vm.view.keyboard.capitalize)">i</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('o',vm.view.keyboard.capitalize)">o</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('p',vm.view.keyboard.capitalize)">p</button>
        </div>
        <div class="row">
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('a',vm.view.keyboard.capitalize)">a</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('s',vm.view.keyboard.capitalize)">s</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('d',vm.view.keyboard.capitalize)">d</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('f',vm.view.keyboard.capitalize)">f</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('g',vm.view.keyboard.capitalize)">g</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('h',vm.view.keyboard.capitalize)">h</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('j',vm.view.keyboard.capitalize)">j</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('k',vm.view.keyboard.capitalize)">k</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('l',vm.view.keyboard.capitalize)">l</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('ñ',vm.view.keyboard.capitalize)">ñ</button>
        </div>
        <div class="row">
          <button class="shift fa fa-arrow-up" ng-click="vm.view.keyboard.capitalize = !vm.view.keyboard.capitalize" ng-class="{true:'down'}[vm.view.keyboard.capitalize]"></butto>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('z',vm.view.keyboard.capitalize)">z</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('x',vm.view.keyboard.capitalize)">x</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('c',vm.view.keyboard.capitalize)">c</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('v',vm.view.keyboard.capitalize)">v</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('b',vm.view.keyboard.capitalize)">b</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('n',vm.view.keyboard.capitalize)">n</button>
          <button class="letter" ng-class="{true:'capitalize'}[vm.view.keyboard.capitalize]" ng-click="vm.enterChar('m',vm.view.keyboard.capitalize)">m</button>
          <button class="backspace fa fa-long-arrow-left" ng-click="vm.deleteChar()"></button>
        </div>
        <div class="row">
          <button ng-click="vm.changeKeyboardSpecial()">.?123</button>
          <input type="submit" ng-click="vm.cancelPassword()" value="Cancelar"  class="action"/>
          <input type="button" ng-click="vm.enterPassword()" value="Aceptar" ng-disabled="!vm.isEnabledCommitPassowrd()" class="action"/>
        </div>
      </div>

      <div ng-class="{true:'keyboard-special',false:'hidden'}[vm.displayKeyboardSpecial()]">
        <div class="row">
          <button class="letter" ng-click="vm.enterChar('1',false)">1</button>
          <button class="letter" ng-click="vm.enterChar('2',false)">2</button>
          <button class="letter" ng-click="vm.enterChar('3',false)">3</button>
          <button class="letter" ng-click="vm.enterChar('4',false)">4</button>
          <button class="letter" ng-click="vm.enterChar('5',false)">5</button>
          <button class="letter" ng-click="vm.enterChar('6',false)">6</button>
          <button class="letter" ng-click="vm.enterChar('7',false)">7</button>
          <button class="letter" ng-click="vm.enterChar('8',false)">8</button>
          <button class="letter" ng-click="vm.enterChar('9',false)">9</button>
          <button class="letter" ng-click="vm.enterChar('0',false)">0</button>
        </div>
        <div class="row">
          <button class="letter" ng-click="vm.enterChar('!',false)">!</button>
          <button class="letter" ng-click="vm.enterChar('@',false)">@</button>
          <button class="letter" ng-click="vm.enterChar('#',false)">#</button>
          <button class="letter" ng-click="vm.enterChar('$',false)">$</button>
          <button class="letter" ng-click="vm.enterChar('&',false)">&</button>
          <button class="letter" ng-click="vm.enterChar('/',false)">/</button>
          <button class="letter" ng-click="vm.enterChar('(',false)">(</button>
          <button class="letter" ng-click="vm.enterChar(')',false)">)</button>
          <button class="letter" ng-click="vm.enterChar('=',false)">=</button>
          <button class="letter" ng-click="vm.enterChar('?',false)">?</button>
        </div>
        <div class="row">
          <button class="letter" ng-click="vm.enterChar('¿',false)">¿</button>
          <button class="letter" ng-click="vm.enterChar('¡',false)">¡</button>
          <button class="letter" ng-click="vm.enterChar('*',false)">*</button>
          <button class="letter" ng-click="vm.enterChar('-',false)">-</button>
          <button class="letter" ng-click="vm.enterChar('+',false)">+</button>
          <button class="letter" ng-click="vm.enterChar('.',false)">.</button>
          <button class="letter" ng-click="vm.enterChar(',',false)">,</button>
          <button class="letter" ng-click="vm.enterChar(':',false)">:</button>
          <button class="letter" ng-click="vm.enterChar('_',false)">_</button>
          <button class="letter" ng-click="vm.enterChar('<',false)">&lt;</button>
        </div>
        <div class="row">
          <button class="letter" ng-click="vm.enterChar('>',false)">&gt;</button>
          <button class="letter" ng-click="vm.enterChar('[',false)">&#91;</button>
          <button class="letter" ng-click="vm.enterChar(']',false)">&#93;</button>
          <button class="letter" ng-click="vm.enterChar('{',false)">&#123;</button>
          <button class="letter" ng-click="vm.enterChar('}',false)">&#125;</button>
          <button class="letter" ng-click="vm.enterChar('º',false)">&deg;</button>
          <button class="letter" ng-click="vm.enterChar('\\',false)">&#92;</button>
          <button class="letter" ng-click="vm.enterChar('ª',false)">&ordf;</button>
        </div>
        <div class="row">
          <button ng-click="vm.changeKeyboardLetters()">ABC</button>
          <input type="submit" ng-click="vm.cancelPassword()" value="Cancelar"  class="action"/>
          <input type="button" ng-click="vm.enterPassword()" value="Aceptar" ng-disabled="!vm.isEnabledCommitPassowrd()" class="action"/>
          <button class="backspace fa fa-long-arrow-left" ng-click="vm.deleteChar()"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="mode-admin-container">
    <label class="label">Entrar como administrador</label>
    <label class="switch">
      <input type="checkbox" class="switch-input" checked name="adminMode" ng-model="vm.model.adminMode" >
      <span class="switch-label" data-on="SI" data-off="NO"></span>
      <span class="switch-handle"></span>
    </label>
  </div>

</div>
