<div class="editProfile">
	<div class="tittle">
		<label><i class="fa fa-user"></i> | Información Básica</label>
	</div>

	<div class"content">
		<div class="column_left">
			<label for="name"><span class="fa fa-user"></span> Nombres</label>
			<label for="lastname"><span class="fa fa-user"></span> Apellidos</label>
			<label for="dni"><span class="fa fa-credit-card"></span> DNI </label>
			<!-- <label for="genre"><span class="fa fa-venus-mars"></span> Género</label>
			<label for="birthdate"><span class="fa fa-calendar"></span> Nacimiento</label>
			<label for="country"><span class="fa fa-bullseye"></span> País</label>
			<label for="city"><span class="fa fa-street-view"></span> Ciudad Origen</label>
			<label for="residenceCity"><span class="fa fa-street-view"></span> Ciudad Residencia</label>
			<label for="address">Domicilio</label>
			<label for="telephone">Teléfono</label>
			<label for="movil">Celular</label> -->
		</div>
		<div class="column_right">
			<input id="name" class="name" type="text" ng-model="user.name">
			<input id="lastname" class="lastname" type="text" ng-model="user.lastname">
			<input id="dni" class="dni" type="text" ng-model="user.dni">
			<!-- <select id="genre" class="genre" ng-model="user.genre">
				<option value="femenino">Femenino</option>
				<option value="masculino">Masculino</option>
				<option value="otro">Otro</option>
			</select>
			<input id="birthdate" class="birthdate" type="date" ng-model="user.birthdate">
			<input id="country" class="country" type="text" ng-model="user.country">
			<input id="city" class="city" type="text" name="city" ng-model="user.city">
			<input id="residenceCity" class="residenceCity" type="text" ng-model="user.residenceCity">
			<input id="address" class="address" type="text" ng-model="user.address">
			<input id="telephone" class="telephone" type="text" ng-model="user.telephone">
			<input id="movil" type="text" ng-model="user.movil"> -->
		</div>
	</div>

	<div>
		<button class="actualizar" ng-click='update()'><i class="fa fa-refresh"></i> Actualizar</button>
		<button class="cancel"ng-click='cancel()'><i class="fa fa-ban"></i> Cancelar</button>
	</div>
</div>
