html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;


}

.resetPassword {
  height: 100%;
  width: 100%;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.resetPassword .contentHeader {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  height: 60px;
  background-color: #28292D;
  color:white;
}

.resetPassword .logo {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
}

.resetPassword .imgLogo {
  margin-left: 10px;
}

.resetPassword .contentHeader {

}


.resetPassword .contentMain {
  height: 100%;
  width: 100%;
  overflow: hidden;


}
/****************************************************
**************** INGRESO DNI ************************
*****************************************************/

.resetPassword .screenDNI {
  /*background-color: yellow;*/
  width: 100%;
  height: 100%;

}

.resetPassword .screenCode {
  /*background-color: red;*/
  width: 100%;
  height: 100%;
}

.resetPassword .screenPass {
  /*background-color: orange;*/
  width: 100%;
  height: 100%;
}

.resetPassword .screenFin {
  /*background-color: purple;*/
  width: 100%;
  height: 100%;
}


.resetPassword .contentTitle {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

.resetPassword .contentTitle2 {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

.resetPassword .textTitle1 {
  font-size: 14px;
  color:grey;
  margin-top: 50px;
}

.resetPassword .textTitle2 {
  font-size: 25px;
}

.resetPassword .textTitle3 {
  margin-top: 50px;
  font-size: 20px;
}

.resetPassword .textSubTitle {
  font-size: 12px;
}

.resetPassword .textSubTitle2 {
  font-size: 22px;
}

.resetPassword .textC {
    margin-top: 10px;
    font-size: 14px;

}

.resetPassword .textTitle5 {
  color: #0066a6;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.resetPassword .text6 {
  font-size: 12px;
}

.resetPassword .inputDNI {
      width: 210px;
      height: 23px;
      border: 1px solid #DBE2E5;
      background-color: #EEEEEE;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      font-size: 20px;
      padding: 5px;
      text-align: center;
      margin-top: 5px;
}

.resetPassword .btnNext {
  margin-top: 10px;
  width: 220px;
  padding: 10px;
  background-color: #0066a6;
  color: white;
  border: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.resetPassword .btnNext:hover {
  background-color: #024772;
  cursor: pointer;
}

.resetPassword .btnOut {
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  background-color: #0066a6;
  color: white;
  border: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.resetPassword .btnOut:hover {
  background-color: #024772;
  cursor: pointer;
}

.resetPassword .contentCenter {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

.resetPassword .contentGuide {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  font-size: 11px;
  margin-bottom: 5px;
  margin-top: 35px;
}


.resetPassword .contentGuide2 {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

.resetPassword.pantallaContrasena.errorDeContrasena .errorPass {
  display: flex !important;
}

.resetPassword .errorPass {
  display: none;
}

.resetPassword.pantallaCodigo.errorDeCodigo .errorCode {
  display: flex !important;
}

.resetPassword .errorCode {
  display: none;
}

.resetPassword.pantallaDNI.noExisteDNI .errorDNI {
  display: flex !important;
}

.resetPassword .errorDNI {
  display: none;
}

.resetPassword .textUserNonExistent {
  background-color: #E43E46;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 10px;
  color: white;
  font-size: 12px;
}

.resetPassword .arrow {
    color: #E43E46;
    background-color: white;
    height: 10px;
    margin-left: 20px;
}




.resetPassword .contentFooter {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  height: 20px;
  background-color: #28292D;;
  color: #DBE2E5;
  font-size: 10px;
  padding-left: 5px;
}


/****************************************************
**************** INGRESO CODIGO **********************
*****************************************************/

.resetPassword .mensMail {
  background-color: #F4F4F4;
  padding: 10px;
  width: 525px;
  margin-top: 20px;
  font-size: 13px;
}

.resetPassword .spanBackground {
  margin-top: 3px;
  color:#0066A6;
}

.resetPassword .span2 {
  font-size: 10px;
}





.resetPassword :placeholder-shown {
  font-size: 12px;
}

.resetPassword .checkIco {
  color: #0066A6;
  font-size: 20px;
}

.resetPassword .textOut {
    color: #0066A6;
}



/******************** MEDIA QUERIS ***************************/

@media (max-width: 720px){
  .resetPassword .contentGuide {
      display: none;
  }

  .resetPassword .contentGuide2 {
    display: none;
  }

  .resetPassword .spanPC {
    display: none;
  }

}

@media (min-width: 721px){

  .resetPassword .spanCel {
    display: none;
  }

}


/******************************************************/
.resetPassword.pantallaDNI .noMail,
.resetPassword.pantallaDNI .screenCode,
.resetPassword.pantallaDNI .screenPass,
.resetPassword.pantallaDNI .screenFin {
  display: none;
}

.resetPassword.pantallaCodigo .noMail,
.resetPassword.pantallaCodigo .screenDNI,
.resetPassword.pantallaCodigo .screenPass,
.resetPassword.pantallaCodigo .screenFin {
  display: none;
}

.resetPassword.pantallaContrasena .noMail,
.resetPassword.pantallaContrasena .screenDNI,
.resetPassword.pantallaContrasena .screenCode,
.resetPassword.pantallaContrasena .screenFin {
  display: none;
}

.resetPassword.pantallaFin .noMail,
.resetPassword.pantallaFin .screenDNI,
.resetPassword.pantallaFin .screenCode,
.resetPassword.pantallaFin .screenPass {
  display: none;
}

.resetPassword.pantallaSinCorreoAlternativo .contentTitle,
.resetPassword.pantallaSinCorreoAlternativo .contentGuide,
.resetPassword.pantallaSinCorreoAlternativo .contentGuide2,
.resetPassword.pantallaSinCorreoAlternativo .screenDNI,
.resetPassword.pantallaSinCorreoAlternativo .screenCode,
.resetPassword.pantallaSinCorreoAlternativo .screenPass,
.resetPassword.pantallaSinCorreoAlternativo .screenFin {
  display: none;
}

.resetPassword .text {
  width: 100px;
  margin-left: 55px;
}

.resetPassword .text2 {
  width: 100px;
}

/*pantallaDNI*/
.resetPassword.pantallaDNI .color1 {
  color:#0066a6;
}
.resetPassword.pantallaDNI .color2 {
  color:#CCCCCC;
}
.resetPassword.pantallaDNI .color3 {
  color:#CCCCCC;
}
.resetPassword.pantallaDNI .color4 {
  color:#CCCCCC;
}

/*pantallaCodigo*/
.resetPassword.pantallaCodigo .color1 {
  color:#0066a6;
}
.resetPassword.pantallaCodigo .color2 {
  color:#0066a6;
}
.resetPassword.pantallaCodigo .color3 {
  color:#CCCCCC;
}
.resetPassword.pantallaCodigo .color4 {
  color:#CCCCCC;
}

/*pantallaContrasena*/
.resetPassword.pantallaContrasena .color1 {
  color:#0066a6;
}
.resetPassword.pantallaContrasena .color2 {
  color:#0066a6;
}
.resetPassword.pantallaContrasena .color3 {
  color:#0066a6;
}
.resetPassword.pantallaContrasena .color4 {
  color:#CCCCCC;
}

/*pantallaFin*/
.resetPassword.pantallaFin .color1 {
  color:#0066a6;
}
.resetPassword.pantallaFin .color2 {
  color:#0066a6;
}
.resetPassword.pantallaFin .color3 {
  color:#0066a6;
}
.resetPassword.pantallaFin .color4 {
  color:#0066a6;
}

/**********************************************/

/*pantallaDNI*/
.resetPassword.pantallaDNI .colorb1 {
  background-color:#0066a6;
}
.resetPassword.pantallaDNI .colorb2 {
  background-color:#CCCCCC;
}
.resetPassword.pantallaDNI .colorb3 {
  background-color:#CCCCCC;
}
.resetPassword.pantallaDNI .colorb4 {
  background-color:#CCCCCC;
}

/*pantallaCodigo*/
.resetPassword.pantallaCodigo .colorb1 {
  background-color:#0066a6;
}
.resetPassword.pantallaCodigo .colorb2 {
  background-color:#0066a6;
}
.resetPassword.pantallaCodigo .colorb3 {
  background-color:#CCCCCC;
}
.resetPassword.pantallaCodigo .colorb4 {
  background-color:#CCCCCC;
}

/*pantallaContrasena*/
.resetPassword.pantallaContrasena .colorb1 {
  background-color:#0066a6;
}
.resetPassword.pantallaContrasena .colorb2 {
  background-color:#0066a6;
}
.resetPassword.pantallaContrasena .colorb3 {
  background-color:#0066a6;
}
.resetPassword.pantallaContrasena .colorb4 {
  background-color:#CCCCCC;
}

/*pantallaFin*/
.resetPassword.pantallaFin .colorb1 {
  background-color:#0066a6;
}
.resetPassword.pantallaFin .colorb2 {
  background-color:#0066a6;
}
.resetPassword.pantallaFin .colorb3 {
  background-color:#0066a6;
}
.resetPassword.pantallaFin .colorb4 {
  background-color:#0066a6;
}


.resetPassword .line {
  width: 100px;
  height: 2px;

}

.resetPassword .circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;

}
