.resetPassword {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 400px;
}


/***************************** HEADER ********************************/

.resetPassword .header {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  height: 60px;
  background-color: #28292D;
  color:white;
  z-index: 999;
}

.resetPassword .logo {
  margin-left: 10px;
}

.resetPassword .header button {
  background: none;
  border:none;
  color: white;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.resetPassword .notification {
  background-color: #EC9122 !important;
  position: absolute;
  font-size: 12px !important;
  border-radius: 10px;
  z-index: 999;
  right: 70px;

}

.resetPassword .notification2 {

  background-color: #E43E46 !important;
  position: absolute;
  font-size: 12px !important;
  border-radius: 10px;
  z-index: 999;
  right: 15px;

}

/********************* CONTENEDOR *******************************/

.resetPassword .main {

  height: 100%;
  background-color: #EEEEEE;
  /*background-image: url('/views/img/fondo1.jpg');*/
}

.resetPassword .contentTitle {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  width: 100%;
  height: 75px;
  background: #DBE2E5;
  padding-left: 20px;
  font-size: 20px;
  color:#28292D;

}

.resetPassword .titles {
  background-color: #DBE2E5;
  padding: 10px;

}

.resetPassword .contentUser,
.resetPassword .contentCode {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -moz-box-shadow: 0 0 2px 0 #9c9c9c;
  -webkit-box-shadow: 0 0 2px 0 #9c9c9c;
  -o-box-shadow: 0 0 2px 0 #9c9c9c;
  box-shadow: 0 0 2px 0 #9c9c9c;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 35%;
  left: 100%;
  position: absolute;
}



.resetPassword .inputUser {
  padding: 5px;
  width: 210px;
  font-size: 16px;
  margin-top: 20px;
  border: 1px solid #d3cdcd;
  background-color: #EEEEEE;

}

.resetPassword .btnNext {
  padding: 8px;
  width: 224px;
  font-size: 14px;
  background-color: #0066A6;
  color: white;
  border: 1px solid #EEEEEE;
  cursor: pointer;
  margin-top: 5px;
}



/********************* FOOTER **********************************/

.resetPassword .footer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  height: 20px;
  background-color: #28292D;
  color: #DBE2E5;
  font-size: 10px;
  padding-left: 5px;
  z-index: 999;
}



/******************** MEDIA QUERIS ***************************/

@media (max-width: 720px){
  .resetPassword .footer {
      display: none;
  }

}

@media (max-height: 500px){
  .resetPassword .footer {
      display: none;
  }
}


/************************************************************
***************** TRANSICIÓN DE PANTALLAS *******************
************************************************************/


.resetPassword.screenUser .contentUser {
  transform: translate-100%, -0);
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.resetPassword.screenCode .contentUser {
  transform: translate-200%, -0);
  -webkit-transform: translate(-200%, 0);
  -moz-transform: translate(-200%, 0);
  -o-transform: translate(-200%, 0);
  -ms-transform: translate(-200%, 0);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.resetPassword.screenCode .contentCode {
  transform: translate-100%, -0);
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}





/*****************************************************************
*****************  NOTIFICACIONES ********************************
*****************************************************************/



/*********** SERVER ******************/

.resetPassword.verServerConectado .access {
  display: none;
}

.resetPassword .serverDesconectado {
  position: absolute;
  width: 300px;
  height: 0px;
  background-color: none;
  z-index: 999;
  top: 35px;
  right: 10px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.resetPassword.verServerDesconectado .serverDesconectado {
  height: 120px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.resetPassword .textReconectando {
  font-size: 12px;
}


.resetPassword .arrowServer {
  color: #E43E46;
  height: 12px;
  margin-left: 270px;
}

.resetPassword .headerServer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  background-color: #E43E46;
  height: 60px;
  border-radius: 5px 5px 0px 0px;
  color: white;
  font-size: 20px;
}

.resetPassword .contentServer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  background-color: #EEEEEE;
  height: 100%;
  font-size: 20px;
  color: #3A3C44;
  box-shadow: 1px 1px 5px #5c5f69;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
}
