    <!-- SOLICITUD DE JUSTIFICACION -->
    <div  ng-class="{true:'subcontentDisplay', false:'subcontent'}[isSelectedJustification()]" >

        <!-- TITULO DE LA SECCION -->
        <div class="titulo" ng-click="selectJustification()">
          <p class="titulo"><i class="fa fa-ticket"></i>{{justification.name}}</p>
        </div>

        
       
        <!-- CONTENIDO DE LA SECCION -->
        <div class="info" ng-if="justification.mode==='date,total'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationDateTotalCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/requestJustificationDateTotal.html'"  ng-class="{true:'visible', false:'hidden'}[(model.selectedUser !== null)]"></div>
        <div class="info" ng-if="justification.mode==='date,year'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationDateYearCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/requestJustificationDateYear.html'"  ng-class="{true:'visible', false:'hidden'}[(model.selectedUser !== null)]"></div>

        
        

    </div>
