    <!-- SOLICITUD DE JUSTIFICACION -->
    <div  ng-class="{true:'subcontentDisplay', false:'subcontent'}[isSelectedJustification()]" >

        <!-- TITULO DE LA SECCION -->
        <div class="titulo" ng-click="selectJustification()">
          <p class="titulo"><i class="fa fa-ticket"></i>{{justification.name}}</p>
        </div>

        <!-- CONTENIDO DE LA SECCION -->
        <div class="info">
          <div>
            <div>
              <input class="button blue" type="button" value="Solicitar" ng-click="selectRequest()">
            </div>
            <div>
              <input class="button green" type="button" value="Disponibles" ng-click="selectAvailable()">
            </div>
          </div>

          <!-- FORMULARIO DE SOLICITUD -->
          <div ng-if="justification.requestMode==='date'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationFormDateCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/requestJustificationFormDate.html'" ng-class="{true:'visible', false:'hidden'}[isSelectedRequest()]"></div>

          <div ng-if="justification.requestMode==='date'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationFormDateConfirmationCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/requestJustificationFormDateConfirmation.html'" ng-class="{true:'visible', false:'hidden'}[isSelectedRequest() && isDateDefined()]"></div>
         
          <div ng-if="justification.requestMode==='dates'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationFormDatesCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/requestJustificationFormDates.html'" ng-class="{true:'visible', false:'hidden'}[isSelectedRequest()]"></div>
          
          <div ng-if="justification.requestMode==='dates'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationFormDatesConfirmationCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/requestJustificationFormDatesConfirmation.html'" ng-class="{true:'visible', false:'hidden'}[isSelectedRequest() && isDatesDefined()]"></div>
          
            <div ng-if="justification.requestMode==='times'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationFormTimesCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/requestJustificationFormTimes.html'" ng-class="{true:'visible', false:'hidden'}[isSelectedRequest()]"></div>
          
          <div ng-if="justification.requestMode==='times'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationFormTimesConfirmationCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/requestJustificationFormTimesConfirmation.html'" ng-class="{true:'visible', false:'hidden'}[isSelectedRequest() && isDatesDefined()]"></div>

          
          <!-- VISUALIZACION DE DISPONIBILIDAD -->
          <div ng-if="justification.stockMode==='total'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationStockTotalCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/requestJustificationStockTotal.html'" ng-class="{true:'visible', false:'hidden'}[isSelectedAvailable()]"></div>
          
          <div ng-if="justification.stockMode==='year'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationStockYearCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/requestJustificationStockYear.html'" ng-class="{true:'visible', false:'hidden'}[isSelectedAvailable()]"></div>
          
          <div ng-if="justification.stockMode==='totalTime'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationStockTotalTimeCtrl" ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/requestJustificationStockTotal.html'" ng-class="{true:'visible', false:'hidden'}[isSelectedAvailable()]"></div>

          <div ng-if="justification.stockMode==='none'" ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/requestJustificationStockNone.html'" ng-class="{true:'visible', false:'hidden'}[isSelectedAvailable()]"></div>
          


        </div>
        
    </div>
