    <!-- SOLICITUD DE JUSTIFICACION -->
    <div  ng-class="{true:'subcontentDisplay', false:'subcontent'}[isSelectedJustification()]" >

        <!-- TITULO DE LA SECCION -->
        <div class="titulo" ng-click="selectJustification()">
          <p class="titulo"><i class="fa fa-ticket"></i>{{justification.name}}</p>
        </div>

        
       
        <!-- CONTENIDO DE LA SECCION -->
        <div class="info" ng-if="justification.mode==='date,total'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationDateTotalCtrl" ng-class="{true:'visible', false:'hidden'}[(model.selectedUser !== null)]">
          <div ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/sectionSelection.html'"></div>
          <div ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/sectionDate.html'"></div>
          <div ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/sectionStockTotal.html'"></div>          
        </div>
        <div class="info" ng-if="justification.mode==='date,year'" ng-controller="UsersAssistanceManagementMediatorRequestJustificationDateYearCtrl" ng-class="{true:'visible', false:'hidden'}[(model.selectedUser !== null)]">
          <div ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/sectionSelection.html'"></div>
          <div ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/sectionDate.html'"></div>
          <div ng-include="'modules/systems/assistance/usersAssistanceManagementMediator/sectionStockYear.html'"></div>          
        </div>

        
        

    </div>
