      
        <!-- FORMULARIO DE SOLICITUD -->
        <div class="margin" >
           <p class="parrafos">Seleccione el día</p>
           <input class="date" type="date" ng-model="model.date">
           <p class="parrafos">Seleccione Horas</p>
           
            <div class="titlesHours">
              <div class="spanSE"><span>Desde</span></div>
              <div class="spanSE"><input class="timeMargin" type="time" ng-model="model.begin" ng-change="checkTimes()"></div>
            </div>
            <div class="hours">
              <div class="spanSE2"><span> Hasta</span></div>
              <div class="spanSE"><input type="time" ng-model="model.end" ng-change="checkTimes()"></div>
            </div>
        </div>
       