
<div class="manageJustificationsStock">
<h2>Administración de Stock</h2>

<form>
  <div class="input">
    <div>
      <div class="searchTitle">
        <span><i class="fa fa-user-plus"></i> Seleccione Usuario</span>
      </div>
      <div>
        <input class="inputSearch" ng-model="model.searchUser" ng-click="displayUsersList()" ng-disabled="model.usersSelectionDisable" placeholder="Buscar...">
        <ul class="list" ng-class="{true:'visible', false:'hidden'}[isUsersListDisplayed()]">
          <li class="item" ng-repeat="user in model.users | filter:model.searchUser | orderBy : 'name'" ng-click="selectUser(user)">{{user.name}} {{user.lastname}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="input">
    <div>
      <div class="searchTitle">
        <span><i class="fa fa-calendar"></i> Seleccione Justificacion</span>
      </div>
      <div>
        <input class="inputSearch" ng-model="model.searchJustification" ng-click="displayJustificationsList()" ng-disabled="model.justificationsSelectionDisable" placeholder="Buscar...">
        <ul class="list" ng-class="{true:'visible', false:'hidden'}[isJustificationsListDisplayed()]">
          <li class="item" ng-repeat="justification in model.justifications | filter:model.searchJustification | orderBy : 'name'" ng-click="selectJustification(justification)">{{justification.name}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="input">
    <div>
      <div class="searchTitle">
          <span><i class="fa fa-calculator"></i> Stock </span>
      </div>
      <div>
        <input class="inputSearch" ng-model="model.stock" ng-change="checkStock()" type="number" ng-disabled="model.stockDisable" />
      </div>
    </div>
  </div>

  <div class="input" >
    <button class="btnSave" ng-click="updateJustificationStock()"  ng-disabled="model.submitButtonDisable"><i class="fa fa-floppy-o"></i> Guardar</button>
  </div>
</form>
</div>
