
<h2>Oficinas</h2>

<form class="form-inline">
  <div class="form-group">
    <label for="search">Buscar:</label>
    <input type="text" class="form-control" id="search" ng-model="search.text" ng-disabled="search.disabled">
  </div>
  <button type="button" class="btn btn-default" ng-click="searchOffices()">Buscar</button>
  {{search.message}}
</form>

<table class="table table-striped table-bordered table-hover">
   <thead>
     <tr>
       <th>Nombre</th>
       <th>Numero</th>
       <th>Email</th>
       <th>Telefono</th>
       <th>Tipo</th>
       <th>Opciones</th>
     </tr>
   </thead>
   <tbody>
     <tr ng-repeat="office in offices">
       <td>{{office.name}}</td>
       <td>{{office.number}}</td>
       <td>{{office.telephone}}</td>
       <td>{{office.email}}</td>
       <td>{{office.type}}</td>
       <td><a ng-href="./#/adminOffice?id={{office.id}}">Modificar</a>
     </tr>
   </tbody>
 </table>
