	<form action="">
		<div class="columna1">
			<div><label>Nombres</label><input type="text" name="name" ng-model="name"><br></div>
			<div><label>Apellidos</label><input type="text" name="lastname" ng-model="lastname"><br></div>	
			<div><label>Género:</label>
			<select name="genre" ng-model="genre">
			  <option value="femenino">Femenino</option>
			  <option value="masculino">Masculino</option>
  			  <option value="otro">Otro</option>
			</select>
			</div>
			<div><label>DNI</label><input type="text" name="dni" ng-model="dni"><br></div>
			<div><label>Legajo</label><input type="text" name="studentNumber" ng-model="studentNumber"><br></div>
			<div><label>Teléfono</label><input type="text" name="telephone" ng-model="telephone"><br></div>
			<div><label>Ciudad de Origen</label><input type="text" name="bornCity" ng-model="bornCity"><br></div>
			<div><label>Country</label><input type="text" name="country" ng-model="country"><br></div>
			<div><label>Adress</label><input type="text" name="adress" ng-model="adress"><br></div>
			<div><br><div><label>Mail</label><br><hr></div>
				<div><label>Personal</label><input type="text" name="personalEmail" ng-model="personalEmail"><br></div>	
				<div><label>Institucional</label><input type="text" name="email" ng-model="email"><br></div>	
			</div>
		</div>
	</form>
</body>
