<div class="menu first">
  <ul>
      <li ng-repeat='i in items'>
        <a href='{{i.url}}' ng-click=i.function() class='menu-item' ng-if='i.url != undefined && i.url != null'>{{i.label}}</a>
        <div ng-click=i.function() class='menu-item' ng-if='i.url == undefined'>{{i.label}}</div>
      </li>
  </ul>
</div>

<div class='menu second' ng-class="{true:'visible',false:'hidden'}[isSecondVisible()]">
  <ul>
    <li ng-repeat='i in secondItems'>
      <a href={{i.url}} ng-click=i.function()>{{i.label}}</a>
    </li>
  </ul>
</div>
