       
<div class="well">
  <form class="form-horizontal" role="form" role="form">
    <div class="form-group">
       <div class="col-sm-3"><b>Cantidad de elementos:</b> {{grid.numRows}}</div>
       <div class="col-sm-3"><b>Elementos a mostrar:</b>
         <select ng-model="pagination.pageSize" ng-change="changePageSize()"  ng-disabled="pagination.disabled">
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="80">80</option>
            <option value="160">160</option>
            <option value="300">300</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
       </div>
    </div>
    <div class="form-group">
       <div class="col-sm-3"><b>Pagina:</b> {{pagination.page}} de {{pagination.pages}}</div>
       <div class="col-sm-3">
           <button  type="button" ng-click="previousPage()" class="btn btn-primary btn-xs" ng-disabled="pagination.disabled">Anterior</button>
           <button type="button" ng-click="nextPage()" class="btn btn-primary btn-xs" ng-disabled="pagination.disabled">Siguiente</button>
           <span for="page">Ir a</span>
           <input id="page" type="text" size="3" ng-model="pagination.page" ng-disabled="pagination.disabled" ng-blur="goPage()" />
          <button type="submit" ng-click="goPage()" class="btn btn-primary btn-xs" ng-disabled="pagination.disabled"> Ir </button>
       </div>
 
    </div>
  </form>
</div>
