<form>
	<div class="changePassword_container">
		<div class="changePassword_logo">
			<img src="img/logo.jpg" />
		</div>
		<div class="changePassword_titulo_formulario">
			<p>CAMBIAR CONTRASEÑA</p>
		</div>
		<hr>
		<div><label>INGRESE SU NUEVA CONTRASEÑA</label></div> 
		<div><input class="changePassword_password" type="password" name="newpassword" ng-model="newpassword" required></div>
		<div><input class="changePassword_passwordRepeat" type="password" name="newPasswordRepeat" ng-model="newPasswordRepeat" required></div>
		<div><button class="changePassword_boton_enviar" ng-click="createAccount()">Guardar Contraseña</button></div>
	</div>
</form>