
<div class="login" ng-class="{true:'visible',false:'hidden'}[hasToLogin()]">
		<div class="logo">
			<img src="views/img/logo.jpg" />
		</div>

		<div>
			<div class="user">
					<label class="label_user">Usuario (DNI)</label>
					<input class="input_user" type="text" ng-model="user.username"/>
			</div>
			<div class="password">
					<label>Contraseña</label>
					<input class="input_password" type="password" ng-model="user.password"/>
			</div>
		</div>

		<div>
				<button class="button" ng-click="login()">Entrar</button>
		</div>

		<div class="option">
			<span><a class="login_links" href="#/resetPassword"> Olvidé mi contraseña </a></span>
			<span>|</span>
			<span><a class="login_links" href="#/createAccountRequest"> Crear cuenta </a></span>
		</div>
</div>
