

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	background-clip: padding-box;
	background-color: rgba(255, 255, 255, 1);
	border:10px solid;
	border-color: rgba(255, 255, 255, 0.3);
	border-radius: 0.3em;
}


.login .error{
	background-clip: padding-box;
	background-color: rgba(255, 255, 255, 1);
	border:10px solid;
	border-color: rgba(255, 255, 255, 0.3);
	border-radius: 0.3em;
	text-align:center;
	color:red;
}

.login .first {
	order: 0;
}

.login .second {
	order: 1;
}

.login .item {
	flex-grow: 1;
}

.login .field {
	display: flex;
	flex-direction: row;
}


.login .user_data_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}



.login .user .input_user {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
	border-radius: 0.2em;
	border:1px solid;
	border-color: #E7DDE9;
  background-color:#F2F2F2;
  color: #000;
	background-image: url(/views/img/imguser.png);
  background-repeat: no-repeat;
	background-position: right center;
}

.login .password .input_password {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
	border-radius: 0.2em;
	border:1px solid;
	border-color: #E7DDE9;
  background-color:#F2F2F2;
  color: #000;
	background-image: url(/views/img/imglocked.png);
  background-repeat: no-repeat;
	background-position: right center;
}

.login .button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
	border-radius: 0.2em;
  background-color: #0066A6;
  color: #FFF;
	border:0px;
}

.login .button:hover{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
	border-radius: 0.2em;
  background-color: #0066A6;
  color: #FFF;
	border:0px;
	box-shadow: 0px 0px 8px #0066A6;
}

.login_option{
	color: #0066A6;
	text-align: center
}

.login_links{
	color: #0066A6;
	text-decoration:none;
}

.login_links:hover{
	text-decoration:none;
	text-decoration: underline;
}
