<div class='login' ng-class="{true:'visible',false:'hidden'}[hasToLogin()]">

	<img src="views/img/logo.jpg" />
	<label>Usuario (DNI)</label>
	<input type="text" ng-model="user.username"/>
	<label>Contraseña</label>
	<input type="password" ng-model="user.password"/>

	<button class="button" ng-click="login()">Entrar</button>

	<div>
		<span><a href="#/resetPassword"> Olvidé mi contraseña </a></span>
		<span>|</span>
		<span><a href="#/createAccountRequest"> Crear cuenta </a></span>
	<div>
</div>
