<div class="tutors">
  <div class="titleTutors">
    <label><i class="fa fa-pencil-square-o"></i> Sistema de Tutorías</label>
  </div>
  <div class="content">
    <div class="date">
      <div class="button"><span><i class="fa fa-calendar-o"></i> Fecha</span></div>
      <input class="dateSelect" type='date' ng-model='model.register.date'/>
    </div>

    <div class="student">
      <div class="studentItemContainer">
        <div class="button"><span><i class="fa fa-user"></i>Nro de legajo</span></div>
        <input type="text" ng-model='model.register.student.studentNumber'/>
      </div>

      <div class="studentItemContainer">
        <div class="button"><span><i class="fa fa-user"></i>Apellido</span></div>
        <input type="text" ng-model='model.register.student.lastname'/>
      </div>

      <div class="studentItemContainer">
        <div class="button"><span><i class="fa fa-user"></i>Nombre</span></div>
        <input type="text" ng-model='model.register.student.name'/>
      </div>

      <div class="studentItemContainer">
        <div class="button"><span><i class="fa fa-user"></i>DNI</span></div>
        <input type="text" ng-model='model.register.student.dni'/>
      </div>

    </div>

    <div class="type">
      <div class="button"><span><i class="fa fa-tags"></i> Tipo</span></div>
      <select class="typeSelect" placeholder="Seleccione..." ng-model='model.register.type'>
        <option value='Situaciones Administrativas'>Situaciones Administrativas</option>
        <option value='Situaciones Académicas y de Estudio'>Situaciones Académicas y de Estudio</option>
        <option value='Situaciones Personales'>Situaciones Personales</option>
      </select>
    </div>

    <button class="buttonSave" ng-click='save()'><i class="fa fa-floppy-o"></i> Guardar</button>
  </div>
</div>
