.tutors {
  width:99%;
  margin-top:5px;
  margin-left:5px;
  min-width:350px;
  font-family: calibri, Arial, Helvetica, sans-serif;
  font-size:14px;
  height:270px;
  background-color:#eeeeee;
}

.tutors .visible {

}

.tutors .hidden {
  display:none;
}

.tutors .content {
  background-color:#eeeeee;
  width:100%
  height:100%;

}
.tutors .titleTutors {
  display:flex;
  align-items: center;
  background-image:linear-gradient(to right,#275276, #0066A6);
  font-size:16px;
  width:99%;
  height:30px;
  padding:5px;
  color:white;
  margin-bottom:20px;
}

.tutors .button {
  width:100px;
  background-color:white;
  padding:10px;
  border-top:3px solid #275276;
  border-left:1px solid #0066A6;
  border-right:1px solid #0066A6;
  border-bottom:1px solid #0066A6;
  color:#275276;
  font-size:16px;
  margin-bottom:10px;
  margin-right: 10px;

}
.tutors .date {
  display:flex;
  flex-direction:row;
}
.tutors .dateSelect {
  width:200px;
  background-color:white;
  padding:10px;
  border-top:3px solid #275276;
  color:#0066A6;
  font-size:16px;
  margin-bottom:10px;
  margin-right: 10px;

}

.tutors .student {
  display:flex;
  flex-direction:column;
}

.tutors .student .studentItemContainer {
  display:flex;
  flex-direction:row;
}

.tutors .student input {
  width:200px;
  background-color:white;
  padding:10px;
  border-top:3px solid #275276;
  color:#0066A6;
  font-size:18px;
  margin-bottom:10px;
  margin-right: 10px;

}

.tutors .type {
  display:flex;
  flex-direction:row;
}
.tutors .typeSelect {
  width:300px;
  background-color:white;
  padding:10px;
  border-top:3px solid #275276;
  color:#0066A6;
  font-size:14px;
  margin-bottom:10px;
  margin-right: 10px;

}

.tutors .buttonBlue {
  width:170px;
  background-color:#0066A6;
  padding:10px;
  border-top:3px solid #275276;
  color:white;
  font-size:18px;
  margin-bottom:10px;
  margin-right: 10px;
  margin-top:10px;
  cursor:pointer;

}
