html, .sistema {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sistema .main {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  /*height: 100%;*/
  width: 100%;
  background-color: #EEEEEE;
  /*position: fixed;*/
  height: calc(100% - 80px);
  /*background-color: red;*/

}


.sistema .MenuContent {
  height: 100%;
}

.sistema .viewContent {
  height: 100%;
  position: relative;
  width: 100%;

}

.sistema .itemMenu {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  wrap:nowrap;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #565963;
  cursor: pointer;
}

.sistema .itemMenu:hover {
  background-color: #3a3c44;
}

.sistema .itemMenu:hover .arrowItemsMenu {
  color: #0066A6;
}

.sistema .itemMenu:hover .itemIcons {
  color: #0066A6;
}

.sistema .itemTextMenu {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  color: white;
  margin-left: 15px;
  font-size: 14px;
}

.sistema .itemTextMenu2 {
  color: white;
  margin-left: 15px;
  font-size: 14px;
}

.sistema .itemIcons {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  background-color: #3A3C44;
  height: 100%;
  width: 50px;
  color: white;
}

.sistema .arrowItemsMenu {
  color: #3A3C44;
  margin-right: 5px;
}

.sistema .footer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  height: 20px;
  background-color: #28292D;;
  color: #DBE2E5;
  font-size: 10px;
  padding-left: 5px;
  z-index: 999;
}

.sistema .closeMenu .itemTextMenu {
  display: none;
}
.sistema .closeMenu .itemTextMenu2 {
  display: none;
}

.sistema .closeMenu .menu {
  width: 50px !important;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}

.sistema .openMenu .menu {
  width: 250px ;
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}

.sistema .menu {
  background-color: #5C5F69;
  height: 100%;
  width: 250px;
  -webkit-transition: width 0.2s; /* For Safari 3.1 to 6.0 */
  transition: width 0.2s;
}

.sistema .menu.close{
  width: 50px;
  -webkit-transition: width 0.2s; /* For Safari 3.1 to 6.0 */
  transition: width 0.2s;
}

.sistema .menu.close .itemTextMenu{
  display: none;
}

.sistema .menu.close .itemTextMenu2{
  display: none;
}


/******************* VISTA CELULAR ******************************/

@media (min-width: 720px) and (orientation:landscape){
  .sistema .icoLogo {
      display: none;
  }
}

@media (min-width: 720px){
  .MenuCel {
    display: none;
  }
}

@media (max-width: 719px) {
  .sistema .menu {
      display: none;
  }
  .MenuContent {
    display: none;
  }
  .sistema .main {
    flex-direction:column;
    -webkit-flex-direction:column; /* Safari */
    -moz-flex-direction:column; /* mozilla */
  }
}


@media (max-width: 1024px) and (orientation:portrait){
  .sistema .menu {
      display: none;
  }
}

@media (max-width: 720px){
  .sistema .footer {
      display: none;
  }

  .sistema .main {
    height: calc(100% - 60px);
  }

}

@media (max-height: 500px){
  .sistema .footer {
      display: none;
  }
}
