<div class="menu " id="itemMenuId">
    <div class="itemMenu"  onclick="if (document.getElementById('itemMenuId').className == 'menu close') {document.getElementById('itemMenuId').className = 'menu'} else {document.getElementById('itemMenuId').className = 'menu close'} ">
        <div class="itemTextMenu2">
          <b>MENU</b>
        </div>
        <div class="itemIcons" title="Menu">
          <i class="fa fa-bars  iconsMenu"></i>
        </div>
    </div>
    <div class="itemMenu" ng-click="selectCreateTutoring()">
        <div class="itemTextMenu">
          <i class="fa fa-caret-right arrowItemsMenu"></i> Tutorías
        </div>
        <div class="itemIcons" title="Cargar tutorías">
          <i class="fa fa-tumblr iconsMenu" ></i>
        </div>
    </div>
    <!-- <div class="itemMenu"  ng-click="selectMyTutorings()">
        <div class="itemTextMenu">
          <i class="fa fa-caret-right arrowItemsMenu"></i> Tutores
        </div>
        <div class="itemIcons" title="Tutorías cargadas">
          <i class="fa fa-list-alt iconsMenu" ></i>
        </div>
    </div> -->
    <!-- <div class="itemMenu"  ng-click="selectMyTutorings()">
        <div class="itemTextMenu">
          <i class="fa fa-caret-right arrowItemsMenu"></i> Informes
        </div>
        <div class="itemIcons" title="Tutorías cargadas">
          <i class="fa fa-life-ring iconsMenu" ></i>
        </div>
    </div> -->
</div>
