<form action="">
		<div class="editProfile_container">
			<div><label>Nombres</label><input class="editProfile_name" type="text" name="name" ng-model="name"><br></div>
			<div><label>Apellidos</label><input class="editProfile_lastname" type="text" name="lastname" ng-model="lastname"><br></div>	
			<div><label>G&eacute;nero:</label>
			<select class="editProfile_genre" name="genre" ng-model="genre">
			  <option value="femenino">Femenino</option>
			  <option value="masculino">Masculino</option>
  			  <option value="otro">Otro</option>
			</select>
			</div>
			<div><label>DNI</label><input class="editProfile_dni" type="text" name="dni" ng-model="dni"><br></div>
			<div><label>Legajo</label><input class="editProfile_studentNumber" type="text" name="studentNumber" ng-model="studentNumber"><br></div>
			<div><label>Tel&eacute;fono</label><input class="editProfile_telephone" type="text" name="telephone" ng-model="telephone"><br></div>
			<div><label>Ciudad de Origen</label><input class="editProfile_bornCity" type="text" name="bornCity" ng-model="bornCity"><br></div>
			<div><label>Ciudad de Residencia</label><input class="editProfile_country" type="text" name="country" ng-model="country"><br></div>
			<div><label>Direcci&oacute;n</label><input class="editProfile_address" type="text" name="address" ng-model="address"><br></div>
			<div><br><div><label>Mail</label><br><hr></div>
				<div><label>Personal</label><input class="editProfile_personalEmail" type="text" name="personalEmail" ng-model="personalEmail"><br></div>	
				<div><label>Institucional</label><input class="editProfile_institucionalEmail" type="text" name="institucionalemail" ng-model="intitucionalemail"><br></div>	
			</div><br>
			<div>
		</div>
</form>