
<div class="editMails">
    <div>
      <div>Nuevo email</div>
      <input type='email' ng-model='user.email'/>
      <button ng-click='addMail()'>agregar</button>
    </div>
    <li ng-repeat='mail in mails'>
      <ul>
        <span>{{mail.email}}</span>
        <span ng-if='mail.confirmed == true'>email Confirmado</span>
        <span ng-if='mail.confirmed == false'>
          <button ng-click='sendConfirmation(mail.id)'>enviar confirmación</button>
          <span ng-if='mail.hash != ""'>
            Pendiente de confirmación
          </span>
        </span>
        <span>
          <button ng-click='deleteMail(mail.id)'>X</button>
        </span>
      </ul>
    </li>
</div>
