
.user {
  border: solid 2px;
  border-color: red;
  width: 300px;
}

.user:hover {
  transform: translate3d(5%,0,0);
  transition: all 0.3s ease;
}

.selected {
  transition: all 0.5s ease;
  color: red;
  background-color: black;
}
