.container {
  width:10em;
  overflow:hidden;
}

.wrap {
  display:inline-flex;
  -moz-transition-duration: 0s;
  -moz-transition-timing-function: cubic-bezier(0.3, -0.3, 0.7, 1.3);
  -webkit-transition-duration: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.3, -0.3, 0.7, 1.3);
  -o-transition-duration: 0s;
  -o-transition-timing-function: cubic-bezier(0.3, -0.3, 0.7, 1.3);
  -webkit-transition: 2s;
  -o-transition: 2s;
}

.wrap.item1 {
  transform:translate(0);
}

.wrap.item2 {
  transform: translate(-10em);
}

.wrap.item3 {
  transform:translate(-20em);
}

.wrap.item4 {
  transform:translate(-30em);
}

.box {
  width:10em;
}


/*
 * DNI
 */

 .dniContainer input{
   width:4.5em;
   text-align:center;
 }

/*
 * GENERALES
 */

.hidden {
  display:none;
}
