<form>

<div class="container">
	<div class="wrap item{{model.item}}">

			<div class="box dniContainer">
				<label>Ingrese su dni:</label>
				<input type="text" ng-model="model.dni"/>
				<input type="submit" ng-click="model.item = 2" value="Aceptar" ng-disabled="model.dni==null"/>
			</div>

			<div class="box fingerContainer" ng-click="next()">
				<p>Coloque su dedo en el lector de huellas</p>
			</div>

			<div class="box fingerContainer" ng-click="next()">
				<p>Coloque nuevamente el mismo dedo para obtener la segunda huella</p>
			</div>

			<div class="box fingerContainer" >
				<p>Coloque nuevamente el mismo dedo para obtener la tercer huella</p>
			</div>
		</div>
</div>

<div class="actions">
	<input type="submit" ng-click="save()" value="Guardar" ng-class="{true:'visible',false:'hidden'}[isVisibleSave()]"/>
</div>
</form>
