
<div class="enroll-container">

  <div class='home'>

    <form class="KeyboardComplete">

      <div class="keyboard">

        <div class="row">
          <button class="btn" ng-click="addNumber('7')">7</button>
          <button class="btn" ng-click="addNumber('8')">8</button>
          <button class="btn" ng-click="addNumber('9')">9</button>
        </div>
        <div class="row">
          <button class="btn" ng-click="addNumber('4')">4</button>
          <button class="btn" ng-click="addNumber('5')">5</button>
          <button class="btn" ng-click="addNumber('6')">6</button>
        </div>
        <div class="row">
          <button class="btn" ng-click="addNumber('1')">1</button>
          <button class="btn" ng-click="addNumber('2')">2</button>
          <button class="btn" ng-click="addNumber('3')">3</button>
        </div>
        <div class="row">
          <button class="btn" ng-click="addNumber('0')">0</button>
          <button class="btn2"ng-click="deleteNumber()"><i class="fa fa-long-arrow-left"></i></i></button>
        </div>

      </div>

      <div class="contentRight">

          <div class="dni">
              <input class="inputDNI" type="text" ng-model="model.dni" placeholder="Ingrese su DNI" autofocus/>
          </div>

          <div class="action">
              <button class="btnAceptar" ng-click="addUser()" ng-disabled="model.dni==null"><i class="fa fa-sign-in"></i> Enviar </button>
          </div>

     </div>

    </form>
  </div>

  <div class='message'>
    <label>{{model.msg}}</label>
  </div>

</div>
