.enroll-container .cancel-container {
  text-align: center;
  margin-top: 0.5em;
}


.enroll-container .hidden {
  display:none;
}


/* -----------------------------------
 * ---------- TECLADO ----------------
 * -----------------------------------
 */
.enroll-container .keyboard input {
  size:1em;
  margin-top: 0.5em;
  margin-right:0.5em;
}

.enroll-container .keyboard input:last-child {
  margin-right:0;
}

.enroll-container .keyboard {
  border:2px solid black;
  width: 7em;
  align-self:center;
  margin:0 auto;
}

.enroll-container .keyboard .row {
  margin:0;
  width:100%;
}

.enroll-container .keyboard .row:last-child {
    margin-bottom:0.5em;
}


/* -----------------------------------
 * --------- FORMULARIO --------------
 * -----------------------------------
 */

.enroll-container .title {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right,#275276, #0066A6);
  font-size: 16px;
  height: 30px;
  padding: 5px;
  color: white;
  margin-bottom: 10px;
  margin-top:0;
  justify-content:center;
}

.enroll-container .title span:first-child {
  margin-right:0.5em;
}

.enroll-container .dniContainer input{
  width:4.5em;
  text-align:center;
}

.enroll-container .dniContainer .keyboard {
  margin-top:0.5em;
}

.enroll-container .dniContainer .keyboard button {
  margin:0.25em;
}

.enroll-container .fingerContainer p {
  padding:0.5em;
  margin:0;
}

.enroll-container .fingerContainer i {
  padding:0.5em;
  margin:0;
}

.enroll-container .loading {
  color:#0066A6;
}



/* -----------------------------------
 * -------- EFECTO CUBO --------------
 * -----------------------------------
 */

.enroll-container {
  width: 15em;
  height: 15em;
  position: relative;
  margin: 0 auto 40px;
  border: 1px solid #CCC;
  -webkit-perspective: 75em;
     -moz-perspective: 75em;
       -o-perspective: 75em;
          perspective: 75em;
}

.enroll-container .wrap {
  width: 100%;
  height: 100%;

  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.enroll-container .wrap.transition {
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
}

.enroll-container .wrap .item {
  margin:0;
  display: block;
  position: absolute;
  width: 99%;
  height: 99%;
  border: 2px solid black;
  color: black;
  text-align: center;
}

.enroll-container .wrap.panels-backface-invisible .item {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

.enroll-container .wrap .front  { background: hsla( 0, 0%, 80%, 1 ); }
.enroll-container .wrap .right  { background: hsla( 0, 0%, 80%, 1 ); }
.enroll-container .wrap .left   { background: hsla( 0, 0%, 80%, 1 ); }

.enroll-container .wrap .hidden {
  display:none;
}

.enroll-container .wrap .front  {
  -webkit-transform: translateZ( 7.5em );
     -moz-transform: translateZ( 7.5em );
       -o-transform: translateZ( 7.5em );
          transform: translateZ( 7.5em );
}
.enroll-container .wrap .right {
  -webkit-transform: rotateY(   90deg ) translateZ( 7.5em );
     -moz-transform: rotateY(   90deg ) translateZ( 7.5em );
       -o-transform: rotateY(   90deg ) translateZ( 7.5em );
          transform: rotateY(   90deg ) translateZ( 7.5em );
}
.enroll-container .wrap .left {
  -webkit-transform: rotateY(  -90deg ) translateZ( 7.5em );
     -moz-transform: rotateY(  -90deg ) translateZ( 7.5em );
       -o-transform: rotateY(  -90deg ) translateZ( 7.5em );
          transform: rotateY(  -90deg ) translateZ( 7.5em );
}

.enroll-container .wrap.show-front {
  -webkit-transform: translateZ( -7.5em );
     -moz-transform: translateZ( -7.5em );
       -o-transform: translateZ( -7.5em );
          transform: translateZ( -7.5em );
}
.enroll-container .wrap.show-right {
  -webkit-transform: translateZ( -7.5em ) rotateY(  -90deg );
     -moz-transform: translateZ( -7.5em ) rotateY(  -90deg );
       -o-transform: translateZ( -7.5em ) rotateY(  -90deg );
          transform: translateZ( -7.5em ) rotateY(  -90deg );
}
.enroll-container .wrap.show-left {
  -webkit-transform: translateZ( -7.5em ) rotateY(   90deg );
     -moz-transform: translateZ( -7.5em ) rotateY(   90deg );
       -o-transform: translateZ( -7.5em ) rotateY(   90deg );
          transform: translateZ( -7.5em ) rotateY(   90deg );
}
