<div class="index-container">

  <div class="info-container">
    <div class="date">{{model.day}}</div>
    <div class="hours">{{model.hours}}</div>
  </div>

  <!--
  <div class="dni-container">
    <div class="date">{{model.day}}</div>
    <div class="hours">{{model.hours}}</div>
  </div>
-->

  <div class="keyboard-container">
    <div class="row">
      <button ng-click="addNumber('6')" class="number">6</button>
      <button ng-click="addNumber('7')" class="number">7</button>
      <button ng-click="addNumber('8')" class="number">8</button>
      <button ng-click="addNumber('9')" class="number">9</button>
    </div>
    <div class="row">
      <button ng-click="addNumber('2')" class="number">2</button>
      <button ng-click="addNumber('3')" class="number">3</button>
      <button ng-click="addNumber('4')" class="number">4</button>
      <button ng-click="addNumber('5')" class="number">5</button>
    </div>
    <div class="row">
      <button ng-click="addNumber('0')" class="number">0</button>
      <button ng-click="addNumber('1')" class="number">1</button>
      <button ng-click="deleteNumber()" class="action">&lt;-----</button>
    </div>
    <div class="row">
      <input type="submit" ng-click="cancel()" value="Cancelar"  class="action"/>
      <input type="button" ng-click="enterCode()" value="Aceptar" ng-disabled="model.dni==null" class="action"/>
    </div>

  </div>

</div>
