body {
  background-color:black;
}

.index-container .hidden {
  display:none;
}


.index-container {
  width: 17em;
  height: 15em;
  position: relative;
  margin: 0 auto 40px;
  border: 1px solid #CCC;
  display:flex;
  flex-direction:column;
}


.index-container .displayContainer {
  height:35%;
  width:100%;
}

/* -----------------------------------
 * ------- INPUT CODE ----------------
 * -----------------------------------
 */

.index-container .code-container {
   background-color:white;
   height:100%;
}

.index-container .code-container input {
    width:100%;
    height:100%;
    text-align:center;
    font-size: 3em;
    border:0;
}

/* -----------------------------------
 * ------- DIA Y HORARIO -------------
 * -----------------------------------
 */

.index-container .info-container {
  background: -webkit-linear-gradient(left, #1e5799 0%,#207cca 100%);
  color:white;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.index-container .info-container .date {
  text-transform: capitalize;
  width:100%;
  height:25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-container .info-container .hours {
    font-size:3em;
    width:100%;
    display: flex;
    justify-content: center;
    height: 75%;
    align-items: center;
}

.index-container .info-container .hours .seconds {
  font-size:0.6em;
}


/* -----------------------------------
 * ---------- TECLADO ----------------
 * -----------------------------------
 */

.index-container .keyboard-container {
  height:65%;
  width:100%;
  background-color:black;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}


.index-container .keyboard-container .row {
  width: 90%;
  margin-bottom:0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.index-container .keyboard-container .number {
  width:20%;
}

.index-container .keyboard-container .action{
  width:45%
}


/* -----------------------------------
 * ----- TECLADO  EXTENDIDO ----------
 * -----------------------------------
 */

.index-container .keyboard-container-extends {
  height:65%;
  width:100%;
  background-color:black;
}

.index-container .keyboard-container-extends .keyboard-letters {
  width:100%;
  height:100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.index-container .keyboard-container-extends .row {
  width: 97%;
  margin-bottom:0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.index-container .keyboard-container-extends .keyboard-letters .letter {
  width:9%;
}

.index-container .keyboard-container-extends .keyboard-letters .backspace {
  width:13.5%;
}

.index-container .keyboard-container-extends .keyboard-letters .shift {
  width:13.5%;
}

.index-container .keyboard-container-extends .capitalize {
  text-transform:capitalize;
}

.index-container .keyboard-container-extends .keyboard-letters .down {
  color:red;
}



.index-container .keyboard-container-extends .keyboard-special {
  width:100%;
  height:100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
