<div class="contentOrderDetail">

    <div class="headerDetail">

          <div class="detail">
              <div class="contentBtnReturn">
                  <button class="btnReturn" ng-click="vm.cancel()"><i class=" fa fa-angle-left" aria-hidden="true"></i></button>
              </div>
              <div class="itemDate2">
                  <div class="textDaysOrders">Consulta</div>
                  <div class="textNumerOrders2">Nº {{vm.model.selectedIssue.id}}</div>
              </div>
              <div class="itemsType">
                    <div class="textType">{{vm.getFromOffice(vm.model.selectedIssue)}}</div>
                    <div class="textType2">{{vm.getFromArea(vm.model.selectedIssue)}}</div>
                    <div class="textSubType">{{vm.model.selectedIssue.subject}}</div>
              </div>
                <!-- ---- Usuarios de la carga del pedido ---- -->
              <div class="contentOffice"   ng-class="{true: 'solicitadoPorEl', false: 'solicitadoPorOtro'}[vm.model.selectedIssue.creatorId == null || vm.model.selectedIssue.creatorId == '']">
                  <div>
                    <div class="textMini">Solicitado por:</div>
                    <div class="textName"><b>{{vm.getFullName(vm.model.selectedIssue)}}</b></div> <!-- Usuario que pide el pedido -->
                  </div>
                  <div class="userUpload">
                    <div class="textMini">Cargado por:</div>
                    <div class="textName">{{vm.getCreator(vm.model.selectedIssue)}}</div> <!-- Usuario que cargo el pedido -->
                  </div>
              </div>

              <!-- ---- Contenedor de Acciones del pedido ---- -->
              <div class="contentActions">
                  <!-- ---- Cambiar estado del pedido ---- -->
                  <div class="itemStatus2">
                      <div class="status2 {{vm.getStatus(vm.model.selectedIssue)}}" ng-click="vm.selectStatus()">
                          <div class="textA1">ABIERTA <i class="fa fa-caret-down"></i></div>
                          <div class="textA2" title="Abierta">A <i class="fa fa-caret-down"></i></div>
                          <div class="textEC1">EN CURSO <i class="fa fa-caret-down"></i></div>
                          <div class="textEC2" title="En Curso">eC <i class="fa fa-caret-down"></i></div>
                          <div class="textC1">CERRADA <i class="fa fa-caret-down"></i></div>
                          <div class="textC2" title="Cerrada">C <i class="fa fa-caret-down"></i></div>
                          <div class="textP1">PAUSADA <i class="fa fa-caret-down"></i></div>
                          <div class="textP2" title="Pausada">P <i class="fa fa-caret-down"></i></div>
                          <div class="textR1">RECHAZADA <i class="fa fa-caret-down"></i></div>
                          <div class="textR2" title="Rechazada">R <i class="fa fa-caret-down"></i></div>
                      </div>
                      <div class="contentSelectState">
                          <div class="subContentSelectState"  ng-click="vm.setStatus(vm.model.selectedIssue, vm.openStatus)">
                              <div class="itemsSelectState abierta2">
                                <div class="itemState">ABIERTA</div>
                              </div>
                          </div>
                          <div class="subContentSelectState"  ng-click="vm.setStatus(vm.model.selectedIssue, vm.workingStatus)">
                              <div class="itemsSelectState enProgreso2">
                                <div class="itemState">EN CURSO</div>
                              </div>
                          </div>
                          <div class="subContentSelectState" ng-click="vm.setStatus(vm.model.selectedIssue, vm.pausedStatus)">
                              <div class="itemsSelectState pausada2">
                                <div class="itemState">PAUSADA</div>
                              </div>
                          </div>
                          <div class="subContentSelectState" ng-click="vm.setStatus(vm.model.selectedIssue, vm.rejectedStatus)">
                              <div class="itemsSelectState rechazada2">
                                <div class="itemState">RECHAZADA</div>
                              </div>
                          </div>
                          <div class="subContentSelectState" ng-click="vm.setStatus(vm.model.selectedIssue, vm.closeStatus)">
                              <div class="itemsSelectState cerrada2">
                                <div class="itemState">CERRADA</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- ---- Cambiar la prioridad del pedido ---- -->
                  <div class="itemPriority">
                      <div class="contentSelectPriority normal" ng-click="view.style2 = 'seleccionarPrioridad'">
                          <!-- ---- VARIABLES: baja, normal, alta ---- -->
                          <div class="textPriority">Prioridad</div>
                          <div class="priorityB">BAJA <i class="fa fa-caret-down"></i></div>
                          <div class="priorityN">NORMAL <i class="fa fa-caret-down"></i></div>
                          <div class="priorityA">ALTA <i class="fa fa-caret-down"></i></div>
                      </div>

                      <div class="contentSelectPriority2">
                          <div class="subContentSelectPriority" ng-click="view.style2 = ''">
                              <div class="itemsSelectState prioridadBaja">
                                <div class="itemState">BAJA</div>
                              </div>
                          </div>
                          <div class="subContentSelectPriority" ng-click="view.style2 = ''">
                              <div class="itemsSelectState prioridadNormal">
                                <div class="itemState">NORMAL</div>
                              </div>
                          </div>
                          <div class="subContentSelectPriority" ng-click="view.style2 = ''">
                              <div class="itemsSelectState prioridadAlta">
                                <div class="itemState">ALTA</div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="contentBtnReply">
                      <button class="btnReply" ng-click="view.style2 = 'pantallaMensaje'">RESPONDER</button>
                      <button class="btnReply2" ng-click="view.style2 = 'pantallaMensaje'" title="Responder"><i class="fa fa-comment-o fa-2x"></i></button>
                  </div>
              </div>

          </div>

    </div>

    <div class="infoOrder">
        <div class="contentUser">
            <div class="photo">
                <img class="avatar"  src="/systems/pedidos/img/avatarWoman.jpg">
            </div>
            <div class="nameUser">
              Betiana </br>
              Galle
            </div>
        </div>
        <!-- <div class="contentArrow">
          <i class="fa fa-caret-left" aria-hidden="true"></i>
        </div> -->
        <div class="contentInfo ">
            <!-- VARIABLES: conAdjunto, sinAdjunto -->
            <div class="textDateDetailOrders">
                Hoy - 25 May. 2016 - 09:25 hs
            </div>
            <div>
                La impresora no se enciende o no responde cuando se presiona el botón de encendido.
                No se observan indicadores luminosos ni mensajes de error, y no hay ruidos ni movimiento
                en la impresora.
            </div>

            <div class="contentAddInfo"><i class="fa fa-paperclip"></i> <a class="archiveAdd" href=""> ArchivoAdjunto.jpg</a></div>
        </div>

    </div>

    <div class="contentTotalReplys">

        <div class="reply miRespuesta">
            <!-- VARIABLES: miRespuesta, respuestaDeAutor -->
            <div class="contentReplys">

                <div class="subcontentReply">
                  <div class="contentArrowLeft">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                  </div>

                  <div class="textReply ">
                      <!-- VARIABLES: sinAdjunto, conAdjunto -->
                      <div class="textDateDetailOrders">
                          Hoy - 25 May. 2016 - 10:26 hs
                      </div>
                      <div>
                            presiona el botón de encendido. presiona el botón de encendido. presiona el botón de encendido. presiona el botón de encendido. presiona el botón de encendido.
                      </div>
                      <div class="contentAddInfo"><i class="fa fa-paperclip"></i> <a class="archiveAdd" href=""> ArchivoAdjunto.jpg</a></div>
                  </div>

                  <div class="contentArrowRight">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </div>
                </div>

                <div class="contentUser">
                  <div class="photo">
                      <img class="avatar"  src="/systems/pedidos/img/walter.jpg">
                  </div>
                  <div class="nameUser">
                    Walter </br>
                    Blanco
                  </div>
                </div>
            </div>
        </div>

        <div class="reply respuestaDeAutor">
            <!-- VARIABLES: miRespuesta, respuestaDeAutor -->
            <div class="contentReplys">

                <div class="subcontentReply">
                  <div class="contentArrowLeft">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                  </div>

                  <div class="textReply">
                      <div class="textDateDetailOrders">
                          Hoy - 25 May. 2016 - 10:26 hs
                      </div>
                      <div>
                            La impresora no se enciende o no responde cuando La impresora no se enciende o no responde cuando
                      </div>
                  </div>

                  <div class="contentArrowRight">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </div>
                </div>

                <div class="contentUser">
                  <div class="photo">
                      <img class="avatar"  src="/systems/pedidos/img/walter.jpg">
                  </div>
                  <div class="nameUser">
                    Walter </br>
                    Blanco
                  </div>
                </div>
            </div>
        </div>

        <div class="reply miRespuesta">
            <!-- VARIABLES: miRespuesta, respuestaDeAutor -->
            <div class="contentReplys">

                <div class="subcontentReply">
                  <div class="contentArrowLeft">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                  </div>

                  <div class="textReply">
                      <div class="textDateDetailOrders">
                          Hoy - 25 May. 2016 - 10:26 hs
                      </div>
                      <div>
                        Ok
                      </div>
                  </div>

                  <div class="contentArrowRight">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </div>
                </div>

                <div class="contentUser">
                  <div class="photo">
                      <img class="avatar"  src="/systems/pedidos/img/walter.jpg">
                  </div>
                  <div class="nameUser">
                    Walter </br>
                    Blanco
                  </div>
                </div>
            </div>
        </div>

        <div class="reply respuestaDeAutor">
            <!-- VARIABLES: miRespuesta, respuestaDeAutor -->
            <div class="contentReplys">

                <div class="subcontentReply">
                  <div class="contentArrowLeft">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                  </div>

                  <div class="textReply">
                      <div class="textDateDetailOrders">
                          Hoy - 25 May. 2016 - 10:26 hs
                      </div>
                      <div>
                            La impresora no se enciende o no responde cuando se presiona el botón de encendido. No se observan indicadores luminosos ni mensajes de error, y no hay ruidos ni movimiento en la impresora.
                      </div>
                  </div>

                  <div class="contentArrowRight">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </div>
                </div>

                <div class="contentUser">
                  <div class="photo">
                      <img class="avatar"  src="/systems/pedidos/img/walter.jpg">
                  </div>
                  <div class="nameUser">
                    Walter </br>
                    Blanco
                  </div>
                </div>
            </div>
        </div>

        <div class="reply respuestaDeAutor">
            <!-- VARIABLES: miRespuesta, respuestaDeAutor -->
            <div class="contentReplys">

                <div class="subcontentReply">
                  <div class="contentArrowLeft">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                  </div>

                  <div class="textReply">
                      <div class="textDateDetailOrders">
                          Hoy - 25 May. 2016 - 10:26 hs
                      </div>
                      <div>
                            La impresora no se enciende o no responde cuando se presiona el botón de encendido. No se observan indicadores luminosos ni mensajes de error, y no hay ruidos ni movimiento en la impresora.
                      </div>
                  </div>

                  <div class="contentArrowRight">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                  </div>
                </div>

                <div class="contentUser">
                  <div class="photo">
                      <img class="avatar"  src="/systems/pedidos/img/walter.jpg">
                  </div>
                  <div class="nameUser">
                    Walter </br>
                    Blanco
                  </div>
                </div>
            </div>
        </div>

    </div>

</div>
