<!-- --------------- HEADER DEL SISTEMA ----------------- -->
<div class="header">
    <div class="contentHeader">
        <div class="textMisPedidos">
          Pedidos
        </div>
        <!-- ---- Botones de ordenacion y busqueda -->
        <div class="contentFilters">
            <div class="textFilters"><i class="fa fa-sliders" aria-hidden="true"></i> Ordenar</div>
            <!-- <button class="btnFilter" title="Buscar..." ng-click="view.style = 'buscarPedido'"><i class="fa fa-search" aria-hidden="true"></i></button> -->
            <button class="btnFilter" title="Ordenar por Fecha"><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
            <button class="btnFilter" title="Ordenar por Estado"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></button>
              <button class="btnFilter" title="Ordenar por Prioridad"><i class="fa fa-star-o" aria-hidden="true"></i></button>
        </div>
        <!-- ---- Boton solicitar nuevo pedido-->
        <div>
            <button class="btnNew" ng-click="view.style = 'pantallaNuevoPedido'">NUEVO PEDIDO</button>
        </div>
    </div>
</div>
