<div class="orders {{view.style}} {{view.style2}} ">

    <!-- ---- VARIABLES ----
    VARIABLE 1: pantallaDetallePedido
    VARIABLE 1: pantallaMensaje
    VARIABLE 1: pantallaNuevoPedido
    VARIABLE 1: buscarPedidos
                VARIABLE 2: buscarOficina, buscarArea, buscarConsulta, buscarUsuario, buscarOficinaDeUsuario
    VARIABLE 2: seleccionarEstado, seleccionarPrioridad
    VARIABLE 3: pantallaMensajeAlUsuario
                VARIABLE 4: mensajeCargando, mensajeError, mensajeEnviado, mensajePedidoCreado
        -->

    <!-- --------------- HEADER DEL SISTEMA ----------------- -->
    <div class="header">
        <div class="contentHeader">
            <div class="textMisPedidos">
              Pedidos
            </div>
            <!-- ---- Botones de ordenacion y busqueda -->
            <div class="contentFilters">
                <div class="textFilters"><i class="fa fa-sliders" aria-hidden="true"></i> Filtros</div>
                <button class="btnFilter" title="Buscar..." ng-click="view.style = 'buscarPedido'"><i class="fa fa-search" aria-hidden="true"></i></button>
                <button class="btnFilter" title="Ordenar por Fecha"><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
                <button class="btnFilter" title="Ordenar por Estado"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></button>
                  <button class="btnFilter" title="Ordenar por Prioridad"><i class="fa fa-star-o" aria-hidden="true"></i></button>
            </div>
            <!-- ---- Boton solicitar nuevo pedido-->
            <div>
                <button class="btnNew" ng-click="view.style = 'pantallaNuevoPedido'">NUEVO PEDIDO</button>
            </div>
        </div>
    </div>

    <!-- -------------- BUSCADOR DE PEDIDOS ----------------- -->
    <div class="contentSearchOrders">
        <div class="searchOrders">
            <!-- ---- Buscar por ID o por oficina ---- -->
            <div class="textSearch1"><i class="fa fa-search" aria-hidden="true"></i> Buscar</div>
            <div><input class="inputSearch" type="search"></input></div>
            <!-- ---- Buscar por Rango de Fechas ---- -->
            <div class="textSearch1b"><i class="fa fa-calendar-o" aria-hidden="true"></i> Buscar por Fecha</div>
            <div class="textSearch2a">Fecha Inicio</div>
            <div><input class="inputSearch2" type="date"></input></div>
            <div class="textSearch2b">Fecha Fin</div>
            <div><input class="inputSearch2" type="date"></input></div>
            <div class="actionMessage">
                  <button class="btnAceptMennsage" ng-click="view.style = ''">ACEPTAR</button>
                  <button class="btnCancelMennsage" ng-click="view.style = ''">CANCELAR</button>
                </div>
        </div>
    </div>

    <!-- ------------- CREAR UN NUEVO PEDIDO ---------------- -->
    <div class="contentNewOrder">
      <div class="subContentNewOrder">
          <div class="newOrder">
              <!-- ---- HEADER DE SOLICITAR PEDIDO ---- -->
              <div class="contentTitleNewOrder">

                  <div class="contentBackNewOrder">
                      <div class="contentBtnReturn">
                          <button class="btnReturn" ng-click="view.style = ''"><i class=" fa fa-angle-left" aria-hidden="true"></i></button>
                      </div>
                      <div class="titleNewOrder">
                        NUEVO PEDIDO
                      </div>
                  </div>

                  <!-- ---- Cargar pedido a nombre de otro ---- -->
                  <div class="contentUserOrder">
                      <div class="subContentOrderLeft">
                          <div class="textDe">De</div>
                          <div>Oficina</div>
                      </div>
                      <div class="subContentOrderRight">
                        <div class="userOrder">Walter Roberto Blanco</div>
                        <!-- ---- buscar el usuario ---- -->
                        <div class="contentSearchUser">
                            <div class="titleListRequest">
                                <span class="icoInputSearch"><i class="fa fa-search"></i></span>
                                <input class="inputSearch3" type="text" placeholder="Buscar personal...">
                            </div>
                            <div class="contentListPerson">
                                <div class="btnItemPerson" ng-click="view.style2 = ''">
                                    <div class="contentImgUser">
                                        <img class="imgUser" src="./img/walter.jpg" alt="foto de perfil">
                                    </div>
                                    <div class="contentNameUser">
                                      <div class="">Walter Blanco</div>
                                      <div class="dniUser">29694757</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="officeOrder">DiTeSI</div>
                        <!-- ---- Seleccionar la oficina del usuario ---- -->
                        <div class="contentSearchOffice">
                            <div class="titleListRequest">
                                <span class="icoInputSearch"><i class="fa fa-search"></i></span>
                                <input class="inputSearch3" type="text" placeholder="Seleccionar Oficina">
                            </div>
                            <div class="contentListOffice">
                                <div class="btnItemOffice" ng-click="view.style2 = ''">
                                    <div class="contentImgOffice">
                                        <img class="imgOffice" src="./img/empresa.jpg" alt="foto de perfil">
                                    </div>
                                    <div class="contentNameOffice">
                                      <div class="">Ditesi</div>
                                      <div class="dniUser">FCE</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div>
                        <div class="arrowOpen" ng-click="view.style2 = 'buscarUsuario'"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                        <div class="arrowOpen2" ng-click="view.style2 = 'buscarOficinaDeUsuario'"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                      </div>
                  </div>

                  <div>
                      <button class="btnApply" ng-click="view.style = 'buscarUsuario'">SOLICITAR</button>
                      <button class="btnApply2" ng-click="view.style = 'buscarUsuario'"><i class="fa fa-paper-plane"></i></button>
                  </div>
              </div>
              <!-- ---- CAMPOS PARA LLENAR EN UN NUEVO PEDIDO ---- -->
              <div class="contentOrder">
                  <div class="contentOrientation">
                      <div class="subtitleNewOrder">OFICINA</div>
                      <div><input type="text" class="inputNewOrder" placeholder="Buscar..." ng-click="view.style2 = 'buscarOficina'"></input></div>
                  </div>
                  <!-- ---- LISTADO DE OFICINAS ---- -->
                  <div class="offices">
                      <div class="itemsSelectOffice" ng-click="view.style2 = ''">
                        DiTESI (Informática)
                      </div>
                      <div class="itemsSelectOffice">
                        Mantenimieno y Servicios Generales
                      </div>
                  </div>

                  <div class="contentOrientation">
                      <div class="subtitleNewOrder">ÁREA</div>
                      <div><input type="text" class="inputNewOrder" placeholder="Buscar..." ng-click="view.style2 = 'buscarArea'"></input></div>
                  </div>
                  <!-- ---- LISTADO DE AREAS ---- -->
                  <div class="areas">
                      <div class="itemsSelectArea" ng-click="view.style2 = ''">
                        Soporte Técnico
                      </div>
                      <div class="itemsSelectArea">
                        Diseño y Desarrollo de Sistemas
                      </div>
                      <div class="itemsSelectArea">
                        Redes y Servidores
                      </div>
                      <div class="itemsSelectArea">
                        En General
                      </div>
                  </div>

                  <div class="contentOrientation">
                      <div class="subtitleNewOrder">CONSULTA</div>
                      <div><input type="text" class="inputNewOrder" placeholder="Seleccionar..." ng-click="view.style2 = 'buscarConsulta'"></input></div>
                  </div>
                  <!-- ---- LISTADO DE PROBLEMAS ---- -->
                  <div class="querys">
                      <div class="itemsSelectQuery" ng-click="view.style2 = ''">
                        Sistema Operativo / Programas
                      </div>
                      <div class="itemsSelectQuery">
                        CPU / otro Componente
                      </div>
                      <div class="itemsSelectQuery">
                        Internet / WIFI
                      </div>
                      <div class="itemsSelectQuery">
                        Correo Electrónico
                      </div>
                      <div class="itemsSelectQuery">
                        Impresora / Impresión
                      </div>
                      <div class="itemsSelectQuery">
                        Otro Problema / Consulta
                      </div>
                  </div>

                  <div class="subtitleNewOrder2">MENSAJE</div>
                  <div><textarea class="textareaNewOrder"></textarea></div>

                  <div class="addMenssage2">
                      <div><button class="btnAdd" title="Adjuntar Archivo"><i class="fa fa-paperclip" aria-hidden="true"></i> Subir Archivo</button></div>
                      <div class="ArchivesAdd">
                        <input type="file" class="inputFile"></input>
                        <!-- <i class="fa fa-file-o"></i> Instructivo.pdf <button class="btnTrashAdd"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        <i class="fa fa-file-o"></i> pantalla_de_error.jpg <button class="btnTrashAdd"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                      </div>
                  </div>

              </div>

          </div>
      </div>
    </div>

    <!-- --------------- LISTADO DE PEDIDOS ------------------ -->
    <div class="contentOrders">
        <!-- ---- Pedido invividual ---- -->
        <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
            <!-- ---- Vista rapida del pedido ---- -->
            <div class="itemInfo">

                <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
                <div class="contentPriority normal">
                    <!-- ---- VARIABLES: baja, normal, alta ---- -->
                    <div class="subContentPriority">&nbsp;</div>
                </div>
                <!-- ---- Numero de pedido y fecha ---- -->
                <div class="itemDate">
                    <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                    <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                    <div class="textDaysOrders">Hoy</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
                </div>
                <!-- ---- Estado ---- -->
                <div class="itemStatus">
                    <div class="status abierta">
                        <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                        <div class="textA1">ABIERTA</div>
                        <div class="textA2"></div>
                        <div class="textEC1">EN CURSO</div>
                        <div class="textEC2"></div>
                        <div class="textC1">CERRADA</div>
                        <div class="textC2"></div>
                        <div class="textP1">PAUSADA</div>
                        <div class="textP2"></div>
                        <div class="textR1">RECHAZADA</div>
                        <div class="textR2"></div>
                    </div>
                </div>
                <!-- ---- Info oficina y solicitud ---- -->
                <div class="itemsType">
                      <div class="textType">Economico Financiero</div> <!-- Oficina Solicitante -->
                      <div class="textType2">Soporte Técnico</div> <!-- Área a la que solicita -->
                      <div class="textSubType">Problema impresora</div> <!-- Problema -->
                </div>
                <!-- ---- Usuarios de la carga del pedido ---- -->
                <div class="itemsOffice solicitadoPorEl">
                    <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                    <div>
                      <div class="textMini">Solicitado por:</div>
                      <div class="textName"><b>Paola Tantarelli</b></div> <!-- Usuario que pide el pedido -->
                    </div>
                    <div class="userUpload">
                      <div class="textMini">Cargado por:</div>
                      <div class="textName">Walter Blanco</div> <!-- Usuario que cargo el pedido -->
                    </div>
                </div>

            </div>

            <div class="itemActions">
              <i class=" fa fa-angle-right" aria-hidden="true"></i>
            </div>

        </div>
        <!-- ---- Pedido invividual ---- -->
        <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
            <!-- ---- Vista rapida del pedido ---- -->
            <div class="itemInfo">

                <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
                <div class="contentPriority alta">
                    <!-- ---- VARIABLES: baja, normal, alta ---- -->
                    <div class="subContentPriority">&nbsp;</div>
                </div>
                <!-- ---- Numero de pedido y fecha ---- -->
                <div class="itemDate">
                    <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                    <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                    <div class="textDaysOrders">Ayer</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
                </div>
                <!-- ---- Estado ---- -->
                <div class="itemStatus">
                    <div class="status enProgreso">
                        <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                        <div class="textA1">ABIERTA</div>
                        <div class="textA2"></div>
                        <div class="textEC1">EN CURSO</div>
                        <div class="textEC2"></div>
                        <div class="textC1">CERRADA</div>
                        <div class="textC2"></div>
                        <div class="textP1">PAUSADA</div>
                        <div class="textP2"></div>
                        <div class="textR1">RECHAZADA</div>
                        <div class="textR2"></div>
                    </div>
                </div>
                <!-- ---- Info oficina y solicitud ---- -->
                <div class="itemsType">
                      <div class="textType">Alumnos</div> <!-- Oficina Solicitante -->
                      <div class="textType2">Soporte Técnico</div> <!-- Área a la que solicita -->
                      <div class="textSubType">Error de Windows</div> <!-- Problema -->
                </div>
                <!-- ---- Usuarios de la carga del pedido ---- -->
                <div class="itemsOffice solicitadoPorOtro">
                    <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                    <div>
                      <div class="textMini">Solicitado por:</div>
                      <div class="textName"><b>Roberto Tombesi</b></div> <!-- Usuario que pide el pedido -->
                    </div>
                    <div class="userUpload">
                      <div class="textMini">Cargado por:</div>
                      <div class="textName">Alejandro Oporto</div> <!-- Usuario que cargo el pedido -->
                    </div>
                </div>

            </div>

            <div class="itemActions">
              <i class=" fa fa-angle-right" aria-hidden="true"></i>
            </div>

        </div>
        <!-- ---- Pedido invividual ---- -->
        <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
            <!-- ---- Vista rapida del pedido ---- -->
            <div class="itemInfo">

                <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
                <div class="contentPriority normal">
                    <!-- ---- VARIABLES: baja, normal, alta ---- -->
                    <div class="subContentPriority">&nbsp;</div>
                </div>
                <!-- ---- Numero de pedido y fecha ---- -->
                <div class="itemDate">
                    <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                    <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                    <div class="textDaysOrders">Hace 2 días</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
                </div>
                <!-- ---- Estado ---- -->
                <div class="itemStatus">
                    <div class="status enProgreso">
                        <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                        <div class="textA1">ABIERTA</div>
                        <div class="textA2"></div>
                        <div class="textEC1">EN CURSO</div>
                        <div class="textEC2"></div>
                        <div class="textC1">CERRADA</div>
                        <div class="textC2"></div>
                        <div class="textP1">PAUSADA</div>
                        <div class="textP2"></div>
                        <div class="textR1">RECHAZADA</div>
                        <div class="textR2"></div>
                    </div>
                </div>
                <!-- ---- Info oficina y solicitud ---- -->
                <div class="itemsType">
                      <div class="textType">Insercíon Laboral</div> <!-- Oficina Solicitante -->
                      <div class="textType2">Programación</div> <!-- Área a la que solicita -->
                      <div class="textSubType">Error Sistema</div> <!-- Problema -->
                </div>
                <!-- ---- Usuarios de la carga del pedido ---- -->
                <div class="itemsOffice solicitadoPorEl">
                    <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                    <div>
                      <div class="textMini">Solicitado por:</div>
                      <div class="textName"><b>Paula Beyries</b></div> <!-- Usuario que pide el pedido -->
                    </div>
                    <div class="userUpload">
                      <div class="textMini">Cargado por:</div>
                      <div class="textName">Walter Blanco</div> <!-- Usuario que cargo el pedido -->
                    </div>
                </div>

            </div>

            <div class="itemActions">
              <i class=" fa fa-angle-right" aria-hidden="true"></i>
            </div>

        </div>
        <!-- ---- Pedido invividual ---- -->
        <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
            <!-- ---- Vista rapida del pedido ---- -->
            <div class="itemInfo">

                <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
                <div class="contentPriority baja">
                    <!-- ---- VARIABLES: baja, normal, alta ---- -->
                    <div class="subContentPriority">&nbsp;</div>
                </div>
                <!-- ---- Numero de pedido y fecha ---- -->
                <div class="itemDate">
                    <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                    <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                    <div class="textDaysOrders">Hace 5 días</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
                </div>
                <!-- ---- Estado ---- -->
                <div class="itemStatus">
                    <div class="status pausada">
                        <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                        <div class="textA1">ABIERTA</div>
                        <div class="textA2"></div>
                        <div class="textEC1">EN CURSO</div>
                        <div class="textEC2"></div>
                        <div class="textC1">CERRADA</div>
                        <div class="textC2"></div>
                        <div class="textP1">PAUSADA</div>
                        <div class="textP2"></div>
                        <div class="textR1">RECHAZADA</div>
                        <div class="textR2"></div>
                    </div>
                </div>
                <!-- ---- Info oficina y solicitud ---- -->
                <div class="itemsType">
                      <div class="textType">Comunicación Intitucional</div> <!-- Oficina Solicitante -->
                      <div class="textType2">Redes y Servidores</div> <!-- Área a la que solicita -->
                      <div class="textSubType">Cableado de la oficina</div> <!-- Problema -->
                </div>
                <!-- ---- Usuarios de la carga del pedido ---- -->
                <div class="itemsOffice solicitadoPorOtro">
                    <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                    <div>
                      <div class="textMini">Solicitado por:</div>
                      <div class="textName"><b>Amanda Plano</b></div> <!-- Usuario que pide el pedido -->
                    </div>
                    <div class="userUpload">
                      <div class="textMini">Cargado por:</div>
                      <div class="textName">Pablo Rey</div> <!-- Usuario que cargo el pedido -->
                    </div>
                </div>

            </div>

            <div class="itemActions">
              <i class=" fa fa-angle-right" aria-hidden="true"></i>
            </div>

        </div>
        <!-- ---- Pedido invividual ---- -->
        <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
            <!-- ---- Vista rapida del pedido ---- -->
            <div class="itemInfo">

                <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
                <div class="contentPriority normal">
                    <!-- ---- VARIABLES: baja, normal, alta ---- -->
                    <div class="subContentPriority">&nbsp;</div>
                </div>
                <!-- ---- Numero de pedido y fecha ---- -->
                <div class="itemDate">
                    <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                    <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                    <div class="textDaysOrders">Hace 10 días</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
                </div>
                <!-- ---- Estado ---- -->
                <div class="itemStatus">
                    <div class="status enProgreso">
                        <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                        <div class="textA1">ABIERTA</div>
                        <div class="textA2"></div>
                        <div class="textEC1">EN CURSO</div>
                        <div class="textEC2"></div>
                        <div class="textC1">CERRADA</div>
                        <div class="textC2"></div>
                        <div class="textP1">PAUSADA</div>
                        <div class="textP2"></div>
                        <div class="textR1">RECHAZADA</div>
                        <div class="textR2"></div>
                    </div>
                </div>
                <!-- ---- Info oficina y solicitud ---- -->
                <div class="itemsType">
                      <div class="textType">CECIN</div> <!-- Oficina Solicitante -->
                      <div class="textType2">Soporte Técnico</div> <!-- Área a la que solicita -->
                      <div class="textSubType">Error de Harware</div> <!-- Problema -->
                </div>
                <!-- ---- Usuarios de la carga del pedido ---- -->
                <div class="itemsOffice solicitadoPorEl">
                    <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                    <div>
                      <div class="textMini">Solicitado por:</div>
                      <div class="textName"><b>Ailen Bauchet</b></div> <!-- Usuario que pide el pedido -->
                    </div>
                    <div class="userUpload">
                      <div class="textMini">Cargado por:</div>
                      <div class="textName">Walter Blanco</div> <!-- Usuario que cargo el pedido -->
                    </div>
                </div>

            </div>

            <div class="itemActions">
              <i class=" fa fa-angle-right" aria-hidden="true"></i>
            </div>

        </div>
        <!-- ---- Pedido invividual ---- -->
        <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
            <!-- ---- Vista rapida del pedido ---- -->
            <div class="itemInfo">

                <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
                <div class="contentPriority alta">
                    <!-- ---- VARIABLES: baja, normal, alta ---- -->
                    <div class="subContentPriority">&nbsp;</div>
                </div>
                <!-- ---- Numero de pedido y fecha ---- -->
                <div class="itemDate">
                    <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                    <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                    <div class="textDaysOrders">hace 1 mes</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
                </div>
                <!-- ---- Estado ---- -->
                <div class="itemStatus">
                    <div class="status cerrada">
                        <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                        <div class="textA1">ABIERTA</div>
                        <div class="textA2"></div>
                        <div class="textEC1">EN CURSO</div>
                        <div class="textEC2"></div>
                        <div class="textC1">CERRADA</div>
                        <div class="textC2"></div>
                        <div class="textP1">PAUSADA</div>
                        <div class="textP2"></div>
                        <div class="textR1">RECHAZADA</div>
                        <div class="textR2"></div>
                    </div>
                </div>
                <!-- ---- Info oficina y solicitud ---- -->
                <div class="itemsType">
                      <div class="textType">Personal</div> <!-- Oficina Solicitante -->
                      <div class="textType2">Programación</div> <!-- Área a la que solicita -->
                      <div class="textSubType">Error sistema</div> <!-- Problema -->
                </div>
                <!-- ---- Usuarios de la carga del pedido ---- -->
                <div class="itemsOffice solicitadoPorEl">
                    <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                    <div>
                      <div class="textMini">Solicitado por:</div>
                      <div class="textName"><b>Julio Ciappa</b></div> <!-- Usuario que pide el pedido -->
                    </div>
                    <div class="userUpload">
                      <div class="textMini">Cargado por:</div>
                      <div class="textName">Walter Blanco</div> <!-- Usuario que cargo el pedido -->
                    </div>
                </div>

            </div>

            <div class="itemActions">
              <i class=" fa fa-angle-right" aria-hidden="true"></i>
            </div>

        </div>
        <!-- ---- Pedido invividual ---- -->
        <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
            <!-- ---- Vista rapida del pedido ---- -->
            <div class="itemInfo">

                <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
                <div class="contentPriority normal">
                    <!-- ---- VARIABLES: baja, normal, alta ---- -->
                    <div class="subContentPriority">&nbsp;</div>
                </div>
                <!-- ---- Numero de pedido y fecha ---- -->
                <div class="itemDate">
                    <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                    <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                    <div class="textDaysOrders">Hace 3 meses</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
                </div>
                <!-- ---- Estado ---- -->
                <div class="itemStatus">
                    <div class="status cerrada">
                        <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                        <div class="textA1">ABIERTA</div>
                        <div class="textA2"></div>
                        <div class="textEC1">EN CURSO</div>
                        <div class="textEC2"></div>
                        <div class="textC1">CERRADA</div>
                        <div class="textC2"></div>
                        <div class="textP1">PAUSADA</div>
                        <div class="textP2"></div>
                        <div class="textR1">RECHAZADA</div>
                        <div class="textR2"></div>
                    </div>
                </div>
                <!-- ---- Info oficina y solicitud ---- -->
                <div class="itemsType">
                      <div class="textType">Posgrado PB</div> <!-- Oficina Solicitante -->
                      <div class="textType2">Soporte Técnico</div> <!-- Área a la que solicita -->
                      <div class="textSubType">Error de programas</div> <!-- Problema -->
                </div>
                <!-- ---- Usuarios de la carga del pedido ---- -->
                <div class="itemsOffice solicitadoPorEl">
                    <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                    <div>
                      <div class="textMini">Solicitado por:</div>
                      <div class="textName"><b>Julieta Ordiozola</b></div> <!-- Usuario que pide el pedido -->
                    </div>
                    <div class="userUpload">
                      <div class="textMini">Cargado por:</div>
                      <div class="textName">Santiago Ojeda</div> <!-- Usuario que cargo el pedido -->
                    </div>
                </div>

            </div>

            <div class="itemActions">
              <i class=" fa fa-angle-right" aria-hidden="true"></i>
            </div>

        </div>
        <!-- ---- Pedido invividual ---- -->
        <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
            <!-- ---- Vista rapida del pedido ---- -->
            <div class="itemInfo">

                <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
                <div class="contentPriority normal">
                    <!-- ---- VARIABLES: baja, normal, alta ---- -->
                    <div class="subContentPriority">&nbsp;</div>
                </div>
                <!-- ---- Numero de pedido y fecha ---- -->
                <div class="itemDate">
                    <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                    <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                    <div class="textDaysOrders">Hace 1 año</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
                </div>
                <!-- ---- Estado ---- -->
                <div class="itemStatus">
                    <div class="status rechazada">
                        <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                        <div class="textA1">ABIERTA</div>
                        <div class="textA2"></div>
                        <div class="textEC1">EN CURSO</div>
                        <div class="textEC2"></div>
                        <div class="textC1">CERRADA</div>
                        <div class="textC2"></div>
                        <div class="textP1">PAUSADA</div>
                        <div class="textP2"></div>
                        <div class="textR1">RECHAZADA</div>
                        <div class="textR2"></div>
                    </div>
                </div>
                <!-- ---- Info oficina y solicitud ---- -->
                <div class="itemsType">
                      <div class="textType">Economico Financiero</div> <!-- Oficina Solicitante -->
                      <div class="textType2">Soporte Técnico</div> <!-- Área a la que solicita -->
                      <div class="textSubType">Problema impresora</div> <!-- Problema -->
                </div>
                <!-- ---- Usuarios de la carga del pedido ---- -->
                <div class="itemsOffice solicitadoPorOtro">
                    <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                    <div>
                      <div class="textMini">Solicitado por:</div>
                      <div class="textName"><b>Paola Tantarelli</b></div> <!-- Usuario que pide el pedido -->
                    </div>
                    <div class="userUpload">
                      <div class="textMini">Cargado por:</div>
                      <div class="textName">Walter Blanco</div> <!-- Usuario que cargo el pedido -->
                    </div>
                </div>

            </div>

            <div class="itemActions">
              <i class=" fa fa-angle-right" aria-hidden="true"></i>
            </div>

        </div>
        <!-- ---- Pedido invividual ---- -->
        <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
            <!-- ---- Vista rapida del pedido ---- -->
            <div class="itemInfo">

                <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
                <div class="contentPriority normal">
                    <!-- ---- VARIABLES: baja, normal, alta ---- -->
                    <div class="subContentPriority">&nbsp;</div>
                </div>
                <!-- ---- Numero de pedido y fecha ---- -->
                <div class="itemDate">
                    <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                    <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                    <div class="textDaysOrders">Hace 3 meses</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
                </div>
                <!-- ---- Estado ---- -->
                <div class="itemStatus">
                    <div class="status cerrada">
                        <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                        <div class="textA1">ABIERTA</div>
                        <div class="textA2"></div>
                        <div class="textEC1">EN CURSO</div>
                        <div class="textEC2"></div>
                        <div class="textC1">CERRADA</div>
                        <div class="textC2"></div>
                        <div class="textP1">PAUSADA</div>
                        <div class="textP2"></div>
                        <div class="textR1">RECHAZADA</div>
                        <div class="textR2"></div>
                    </div>
                </div>
                <!-- ---- Info oficina y solicitud ---- -->
                <div class="itemsType">
                      <div class="textType">Posgrado PB</div> <!-- Oficina Solicitante -->
                      <div class="textType2">Soporte Técnico</div> <!-- Área a la que solicita -->
                      <div class="textSubType">Error de programas</div> <!-- Problema -->
                </div>
                <!-- ---- Usuarios de la carga del pedido ---- -->
                <div class="itemsOffice solicitadoPorEl">
                    <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                    <div>
                      <div class="textMini">Solicitado por:</div>
                      <div class="textName"><b>Julieta Ordiozola</b></div> <!-- Usuario que pide el pedido -->
                    </div>
                    <div class="userUpload">
                      <div class="textMini">Cargado por:</div>
                      <div class="textName">Santiago Ojeda</div> <!-- Usuario que cargo el pedido -->
                    </div>
                </div>

            </div>

            <div class="itemActions">
              <i class=" fa fa-angle-right" aria-hidden="true"></i>
            </div>

        </div>

    </div>

    <!-- ---------------- DETALLE DE PEDIDO ------------------ -->
    <div class="contentOrderDetail">

        <div class="headerDetail">

              <div class="detail">
                  <div class="contentBtnReturn">
                      <button class="btnReturn" ng-click="view.style = ''"><i class=" fa fa-angle-left" aria-hidden="true"></i></button>
                  </div>
                  <div class="itemDate2">
                      <div class="textDaysOrders">Consulta</div>
                      <div class="textNumerOrders2">Nº 112369</div>
                  </div>
                  <div class="itemsType">
                        <div class="textType">Economico Financiero</div>
                        <div class="textType2">Compras</div>
                        <div class="textSubType">Problema de impresora</div>
                  </div>
                    <!-- ---- Usuarios de la carga del pedido ---- -->
                  <div class="contentOffice solicitadoPorEl">
                      <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                      <div>
                        <div class="textMini">Solicitado por:</div>
                        <div class="textName"><b>Paola Tantarelli</b></div> <!-- Usuario que pide el pedido -->
                      </div>
                      <div class="userUpload">
                        <div class="textMini">Cargado por:</div>
                        <div class="textName">Walter Blanco</div> <!-- Usuario que cargo el pedido -->
                      </div>
                  </div>

                  <!-- ---- Contenedor de Acciones del pedido ---- -->
                  <div class="contentActions">
                      <!-- ---- Cambiar estado del pedido ---- -->
                      <div class="itemStatus2">
                          <div class="status2 abierta" ng-click="view.style2 = 'seleccionarEstado'">
                              <!-- VARIABLES:
                              abierta, enProgreso, cerrada, pausada, rechazada -->
                              <div class="textA1">ABIERTA <i class="fa fa-caret-down"></i></div>
                              <div class="textA2" title="Abierta">A <i class="fa fa-caret-down"></i></div>
                              <div class="textEC1">EN CURSO <i class="fa fa-caret-down"></i></div>
                              <div class="textEC2" title="En Curso">eC <i class="fa fa-caret-down"></i></div>
                              <div class="textC1">CERRADA <i class="fa fa-caret-down"></i></div>
                              <div class="textC2" title="Cancelada">C <i class="fa fa-caret-down"></i></div>
                              <div class="textP1">PAUSADA <i class="fa fa-caret-down"></i></div>
                              <div class="textP2" title="Pausada">P <i class="fa fa-caret-down"></i></div>
                              <div class="textR1">RECHAZADA <i class="fa fa-caret-down"></i></div>
                              <div class="textR2" title="Rechazada">R <i class="fa fa-caret-down"></i></div>
                          </div>
                          <div class="contentSelectState">
                              <div class="subContentSelectState" ng-click="view.style2 = ''">
                                  <div class="itemsSelectState abierta2">
                                    <div class="itemState">ABIERTA</div>
                                  </div>
                              </div>
                              <div class="subContentSelectState" ng-click="view.style2 = ''">
                                  <div class="itemsSelectState enProgreso2">
                                    <div class="itemState">EN CURSO</div>
                                  </div>
                              </div>
                              <div class="subContentSelectState" ng-click="view.style2 = ''">
                                  <div class="itemsSelectState pausada2">
                                    <div class="itemState">PAUSADA</div>
                                  </div>
                              </div>
                              <div class="subContentSelectState" ng-click="view.style2 = ''">
                                  <div class="itemsSelectState rechazada2">
                                    <div class="itemState">RECHAZADA</div>
                                  </div>
                              </div>
                              <div class="subContentSelectState" ng-click="view.style2 = ''">
                                  <div class="itemsSelectState cerrada2">
                                    <div class="itemState">CERRADA</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- ---- Cambiar la prioridad del pedido ---- -->
                      <div class="itemPriority">
                          <div class="contentSelectPriority normal" ng-click="view.style2 = 'seleccionarPrioridad'">
                              <!-- ---- VARIABLES: baja, normal, alta ---- -->
                              <div class="textPriority">Prioridad</div>
                              <div class="priorityB">BAJA <i class="fa fa-caret-down"></i></div>
                              <div class="priorityN">NORMAL <i class="fa fa-caret-down"></i></div>
                              <div class="priorityA">ALTA <i class="fa fa-caret-down"></i></div>
                          </div>

                          <div class="contentSelectPriority2">
                              <div class="subContentSelectPriority" ng-click="view.style2 = ''">
                                  <div class="itemsSelectState prioridadBaja">
                                    <div class="itemState">BAJA</div>
                                  </div>
                              </div>
                              <div class="subContentSelectPriority" ng-click="view.style2 = ''">
                                  <div class="itemsSelectState prioridadNormal">
                                    <div class="itemState">NORMAL</div>
                                  </div>
                              </div>
                              <div class="subContentSelectPriority" ng-click="view.style2 = ''">
                                  <div class="itemsSelectState prioridadAlta">
                                    <div class="itemState">ALTA</div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="contentBtnReply">
                          <button class="btnReply" ng-click="view.style2 = 'pantallaMensaje'">RESPONDER</button>
                          <button class="btnReply2" ng-click="view.style2 = 'pantallaMensaje'" title="Responder"><i class="fa fa-comment-o fa-2x"></i></button>
                      </div>
                  </div>

              </div>

        </div>

        <div class="infoOrder">
            <div class="contentUser">
                <div class="photo">
                    <img class="avatar"  src="/systems/pedidos/img/avatarWoman.jpg">
                </div>
                <div class="nameUser">
                  Betiana </br>
                  Galle
                </div>
            </div>
            <!-- <div class="contentArrow">
              <i class="fa fa-caret-left" aria-hidden="true"></i>
            </div> -->
            <div class="contentInfo ">
                <!-- VARIABLES: conAdjunto, sinAdjunto -->
                <div class="textDateDetailOrders">
                    Hoy - 25 May. 2016 - 09:25 hs
                </div>
                <div>
                    La impresora no se enciende o no responde cuando se presiona el botón de encendido.
                    No se observan indicadores luminosos ni mensajes de error, y no hay ruidos ni movimiento
                    en la impresora.
                </div>

                <div class="contentAddInfo"><i class="fa fa-paperclip"></i> <a class="archiveAdd" href=""> ArchivoAdjunto.jpg</a></div>
            </div>

        </div>

        <div class="contentTotalReplys">

            <div class="reply miRespuesta">
                <!-- VARIABLES: miRespuesta, respuestaDeAutor -->
                <div class="contentReplys">

                    <div class="subcontentReply">
                      <div class="contentArrowLeft">
                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                      </div>

                      <div class="textReply ">
                          <!-- VARIABLES: sinAdjunto, conAdjunto -->
                          <div class="textDateDetailOrders">
                              Hoy - 25 May. 2016 - 10:26 hs
                          </div>
                          <div>
                                presiona el botón de encendido. presiona el botón de encendido. presiona el botón de encendido. presiona el botón de encendido. presiona el botón de encendido.
                          </div>
                          <div class="contentAddInfo"><i class="fa fa-paperclip"></i> <a class="archiveAdd" href=""> ArchivoAdjunto.jpg</a></div>
                      </div>

                      <div class="contentArrowRight">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                      </div>
                    </div>

                    <div class="contentUser">
                      <div class="photo">
                          <img class="avatar"  src="/systems/pedidos/img/walter.jpg">
                      </div>
                      <div class="nameUser">
                        Walter </br>
                        Blanco
                      </div>
                    </div>
                </div>
            </div>

            <div class="reply respuestaDeAutor">
                <!-- VARIABLES: miRespuesta, respuestaDeAutor -->
                <div class="contentReplys">

                    <div class="subcontentReply">
                      <div class="contentArrowLeft">
                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                      </div>

                      <div class="textReply">
                          <div class="textDateDetailOrders">
                              Hoy - 25 May. 2016 - 10:26 hs
                          </div>
                          <div>
                                La impresora no se enciende o no responde cuando La impresora no se enciende o no responde cuando
                          </div>
                      </div>

                      <div class="contentArrowRight">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                      </div>
                    </div>

                    <div class="contentUser">
                      <div class="photo">
                          <img class="avatar"  src="/systems/pedidos/img/walter.jpg">
                      </div>
                      <div class="nameUser">
                        Walter </br>
                        Blanco
                      </div>
                    </div>
                </div>
            </div>

            <div class="reply miRespuesta">
                <!-- VARIABLES: miRespuesta, respuestaDeAutor -->
                <div class="contentReplys">

                    <div class="subcontentReply">
                      <div class="contentArrowLeft">
                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                      </div>

                      <div class="textReply">
                          <div class="textDateDetailOrders">
                              Hoy - 25 May. 2016 - 10:26 hs
                          </div>
                          <div>
                            Ok
                          </div>
                      </div>

                      <div class="contentArrowRight">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                      </div>
                    </div>

                    <div class="contentUser">
                      <div class="photo">
                          <img class="avatar"  src="/systems/pedidos/img/walter.jpg">
                      </div>
                      <div class="nameUser">
                        Walter </br>
                        Blanco
                      </div>
                    </div>
                </div>
            </div>

            <div class="reply respuestaDeAutor">
                <!-- VARIABLES: miRespuesta, respuestaDeAutor -->
                <div class="contentReplys">

                    <div class="subcontentReply">
                      <div class="contentArrowLeft">
                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                      </div>

                      <div class="textReply">
                          <div class="textDateDetailOrders">
                              Hoy - 25 May. 2016 - 10:26 hs
                          </div>
                          <div>
                                La impresora no se enciende o no responde cuando se presiona el botón de encendido. No se observan indicadores luminosos ni mensajes de error, y no hay ruidos ni movimiento en la impresora.
                          </div>
                      </div>

                      <div class="contentArrowRight">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                      </div>
                    </div>

                    <div class="contentUser">
                      <div class="photo">
                          <img class="avatar"  src="/systems/pedidos/img/walter.jpg">
                      </div>
                      <div class="nameUser">
                        Walter </br>
                        Blanco
                      </div>
                    </div>
                </div>
            </div>

            <div class="reply respuestaDeAutor">
                <!-- VARIABLES: miRespuesta, respuestaDeAutor -->
                <div class="contentReplys">

                    <div class="subcontentReply">
                      <div class="contentArrowLeft">
                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                      </div>

                      <div class="textReply">
                          <div class="textDateDetailOrders">
                              Hoy - 25 May. 2016 - 10:26 hs
                          </div>
                          <div>
                                La impresora no se enciende o no responde cuando se presiona el botón de encendido. No se observan indicadores luminosos ni mensajes de error, y no hay ruidos ni movimiento en la impresora.
                          </div>
                      </div>

                      <div class="contentArrowRight">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                      </div>
                    </div>

                    <div class="contentUser">
                      <div class="photo">
                          <img class="avatar"  src="/systems/pedidos/img/walter.jpg">
                      </div>
                      <div class="nameUser">
                        Walter </br>
                        Blanco
                      </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- ------------------ NUEVO MENSAJE -------------------- -->
    <div class="contentMessage">
        <div class="subContentMessage">
            <div class="message">
                <div class="titleMessage">
                  NUEVO MENSAJE
                </div>
                <div class="textMessage">
                  <textarea class="textareaMenssage"></textarea>
                  <div class="addMenssage2">
                      <div><button class="btnAdd" title="Adjuntar Archivo"><i class="fa fa-paperclip" aria-hidden="true"></i> Subir Archivo</button></div>
                      <div class="ArchivesAdd">
                        <input type="file" class="inputFile"></input>
                        <!-- <i class="fa fa-file-o"></i> Instructivo.pdf <button class="btnTrashAdd"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        <i class="fa fa-file-o"></i> pantalla_de_error.jpg <button class="btnTrashAdd"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                      </div>
                  </div>
                </div>
                <div class="actionMessage">
                  <button class="btnAceptMennsage" ng-click="view.style2 = ''">ACEPTAR</button>
                  <button class="btnCancelMennsage" ng-click="view.style2 = ''">CANCELAR</button>
                </div>
            </div>
        </div>
    </div>

    <!-- --------------- MENSAJES AL USUARIO ----------------- -->
    <div class="contentMessageUser">
        <div class="subContentMessageUser">
            <div class="messageUser">
                <div class="preload">
                    <div class="circle"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
                    <div><b>Cargando...</b></div>
                    <div>Por favor espere</div>
                </div>
                <div class="errorSystem">
                    <div class="circle"><i class="fa fa-exclamation-triangle fa-3x fa-fw"></i></div>
                    <div><b>Se ha producido un error en el sistema</b></div>
                    <div>Intente nuevamente</div>
                </div>
                <div class="messageSent">
                    <div class="circle"><i class="fa fa-commenting-o fa-3x fa-fw"></i></div>
                    <div><b>Mensaje enviado con éxito</b></div>
                </div>
                <div class="orderCreated">
                    <div class="circle"><i class="fa fa-check fa-3x fa-fw"></i></div>
                    <div><b>Pedido creado con éxito</b></div>
                </div>
            </div>
        </div>
    </div>


</div>
