<div class="contentOrders">
    <!-- ---- Pedido invividual ---- -->
    <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
        <!-- ---- Vista rapida del pedido ---- -->
        <div class="itemInfo">

            <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
            <div class="contentPriority normal">
                <!-- ---- VARIABLES: baja, normal, alta ---- -->
                <div class="subContentPriority">&nbsp;</div>
            </div>
            <!-- ---- Numero de pedido y fecha ---- -->
            <div class="itemDate">
                <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                <div class="textDaysOrders">Hoy</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
            </div>
            <!-- ---- Estado ---- -->
            <div class="itemStatus">
                <div class="status abierta">
                    <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                    <div class="textA1">ABIERTA</div>
                    <div class="textA2"></div>
                    <div class="textEC1">EN CURSO</div>
                    <div class="textEC2"></div>
                    <div class="textC1">CERRADA</div>
                    <div class="textC2"></div>
                    <div class="textP1">PAUSADA</div>
                    <div class="textP2"></div>
                    <div class="textR1">RECHAZADA</div>
                    <div class="textR2"></div>
                </div>
            </div>
            <!-- ---- Info oficina y solicitud ---- -->
            <div class="itemsType">
                  <div class="textType">Economico Financiero</div> <!-- Oficina Solicitante -->
                  <div class="textType2">Soporte Técnico</div> <!-- Área a la que solicita -->
                  <div class="textSubType">Problema impresora</div> <!-- Problema -->
            </div>
            <!-- ---- Usuarios de la carga del pedido ---- -->
            <div class="itemsOffice solicitadoPorEl">
                <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                <div>
                  <div class="textMini">Solicitado por:</div>
                  <div class="textName"><b>Paola Tantarelli</b></div> <!-- Usuario que pide el pedido -->
                </div>
                <div class="userUpload">
                  <div class="textMini">Cargado por:</div>
                  <div class="textName">Walter Blanco</div> <!-- Usuario que cargo el pedido -->
                </div>
            </div>

        </div>

        <div class="itemActions">
          <i class=" fa fa-angle-right" aria-hidden="true"></i>
        </div>

    </div>
    <!-- ---- Pedido invividual ---- -->
    <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
        <!-- ---- Vista rapida del pedido ---- -->
        <div class="itemInfo">

            <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
            <div class="contentPriority alta">
                <!-- ---- VARIABLES: baja, normal, alta ---- -->
                <div class="subContentPriority">&nbsp;</div>
            </div>
            <!-- ---- Numero de pedido y fecha ---- -->
            <div class="itemDate">
                <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                <div class="textDaysOrders">Ayer</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
            </div>
            <!-- ---- Estado ---- -->
            <div class="itemStatus">
                <div class="status enProgreso">
                    <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                    <div class="textA1">ABIERTA</div>
                    <div class="textA2"></div>
                    <div class="textEC1">EN CURSO</div>
                    <div class="textEC2"></div>
                    <div class="textC1">CERRADA</div>
                    <div class="textC2"></div>
                    <div class="textP1">PAUSADA</div>
                    <div class="textP2"></div>
                    <div class="textR1">RECHAZADA</div>
                    <div class="textR2"></div>
                </div>
            </div>
            <!-- ---- Info oficina y solicitud ---- -->
            <div class="itemsType">
                  <div class="textType">Alumnos</div> <!-- Oficina Solicitante -->
                  <div class="textType2">Soporte Técnico</div> <!-- Área a la que solicita -->
                  <div class="textSubType">Error de Windows</div> <!-- Problema -->
            </div>
            <!-- ---- Usuarios de la carga del pedido ---- -->
            <div class="itemsOffice solicitadoPorOtro">
                <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                <div>
                  <div class="textMini">Solicitado por:</div>
                  <div class="textName"><b>Roberto Tombesi</b></div> <!-- Usuario que pide el pedido -->
                </div>
                <div class="userUpload">
                  <div class="textMini">Cargado por:</div>
                  <div class="textName">Alejandro Oporto</div> <!-- Usuario que cargo el pedido -->
                </div>
            </div>

        </div>

        <div class="itemActions">
          <i class=" fa fa-angle-right" aria-hidden="true"></i>
        </div>

    </div>
    <!-- ---- Pedido invividual ---- -->
    <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
        <!-- ---- Vista rapida del pedido ---- -->
        <div class="itemInfo">

            <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
            <div class="contentPriority normal">
                <!-- ---- VARIABLES: baja, normal, alta ---- -->
                <div class="subContentPriority">&nbsp;</div>
            </div>
            <!-- ---- Numero de pedido y fecha ---- -->
            <div class="itemDate">
                <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                <div class="textDaysOrders">Hace 2 días</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
            </div>
            <!-- ---- Estado ---- -->
            <div class="itemStatus">
                <div class="status enProgreso">
                    <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                    <div class="textA1">ABIERTA</div>
                    <div class="textA2"></div>
                    <div class="textEC1">EN CURSO</div>
                    <div class="textEC2"></div>
                    <div class="textC1">CERRADA</div>
                    <div class="textC2"></div>
                    <div class="textP1">PAUSADA</div>
                    <div class="textP2"></div>
                    <div class="textR1">RECHAZADA</div>
                    <div class="textR2"></div>
                </div>
            </div>
            <!-- ---- Info oficina y solicitud ---- -->
            <div class="itemsType">
                  <div class="textType">Insercíon Laboral</div> <!-- Oficina Solicitante -->
                  <div class="textType2">Programación</div> <!-- Área a la que solicita -->
                  <div class="textSubType">Error Sistema</div> <!-- Problema -->
            </div>
            <!-- ---- Usuarios de la carga del pedido ---- -->
            <div class="itemsOffice solicitadoPorEl">
                <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                <div>
                  <div class="textMini">Solicitado por:</div>
                  <div class="textName"><b>Paula Beyries</b></div> <!-- Usuario que pide el pedido -->
                </div>
                <div class="userUpload">
                  <div class="textMini">Cargado por:</div>
                  <div class="textName">Walter Blanco</div> <!-- Usuario que cargo el pedido -->
                </div>
            </div>

        </div>

        <div class="itemActions">
          <i class=" fa fa-angle-right" aria-hidden="true"></i>
        </div>

    </div>
    <!-- ---- Pedido invividual ---- -->
    <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
        <!-- ---- Vista rapida del pedido ---- -->
        <div class="itemInfo">

            <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
            <div class="contentPriority baja">
                <!-- ---- VARIABLES: baja, normal, alta ---- -->
                <div class="subContentPriority">&nbsp;</div>
            </div>
            <!-- ---- Numero de pedido y fecha ---- -->
            <div class="itemDate">
                <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                <div class="textDaysOrders">Hace 5 días</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
            </div>
            <!-- ---- Estado ---- -->
            <div class="itemStatus">
                <div class="status pausada">
                    <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                    <div class="textA1">ABIERTA</div>
                    <div class="textA2"></div>
                    <div class="textEC1">EN CURSO</div>
                    <div class="textEC2"></div>
                    <div class="textC1">CERRADA</div>
                    <div class="textC2"></div>
                    <div class="textP1">PAUSADA</div>
                    <div class="textP2"></div>
                    <div class="textR1">RECHAZADA</div>
                    <div class="textR2"></div>
                </div>
            </div>
            <!-- ---- Info oficina y solicitud ---- -->
            <div class="itemsType">
                  <div class="textType">Comunicación Intitucional</div> <!-- Oficina Solicitante -->
                  <div class="textType2">Redes y Servidores</div> <!-- Área a la que solicita -->
                  <div class="textSubType">Cableado de la oficina</div> <!-- Problema -->
            </div>
            <!-- ---- Usuarios de la carga del pedido ---- -->
            <div class="itemsOffice solicitadoPorOtro">
                <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                <div>
                  <div class="textMini">Solicitado por:</div>
                  <div class="textName"><b>Amanda Plano</b></div> <!-- Usuario que pide el pedido -->
                </div>
                <div class="userUpload">
                  <div class="textMini">Cargado por:</div>
                  <div class="textName">Pablo Rey</div> <!-- Usuario que cargo el pedido -->
                </div>
            </div>

        </div>

        <div class="itemActions">
          <i class=" fa fa-angle-right" aria-hidden="true"></i>
        </div>

    </div>
    <!-- ---- Pedido invividual ---- -->
    <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
        <!-- ---- Vista rapida del pedido ---- -->
        <div class="itemInfo">

            <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
            <div class="contentPriority normal">
                <!-- ---- VARIABLES: baja, normal, alta ---- -->
                <div class="subContentPriority">&nbsp;</div>
            </div>
            <!-- ---- Numero de pedido y fecha ---- -->
            <div class="itemDate">
                <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                <div class="textDaysOrders">Hace 10 días</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
            </div>
            <!-- ---- Estado ---- -->
            <div class="itemStatus">
                <div class="status enProgreso">
                    <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                    <div class="textA1">ABIERTA</div>
                    <div class="textA2"></div>
                    <div class="textEC1">EN CURSO</div>
                    <div class="textEC2"></div>
                    <div class="textC1">CERRADA</div>
                    <div class="textC2"></div>
                    <div class="textP1">PAUSADA</div>
                    <div class="textP2"></div>
                    <div class="textR1">RECHAZADA</div>
                    <div class="textR2"></div>
                </div>
            </div>
            <!-- ---- Info oficina y solicitud ---- -->
            <div class="itemsType">
                  <div class="textType">CECIN</div> <!-- Oficina Solicitante -->
                  <div class="textType2">Soporte Técnico</div> <!-- Área a la que solicita -->
                  <div class="textSubType">Error de Harware</div> <!-- Problema -->
            </div>
            <!-- ---- Usuarios de la carga del pedido ---- -->
            <div class="itemsOffice solicitadoPorEl">
                <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                <div>
                  <div class="textMini">Solicitado por:</div>
                  <div class="textName"><b>Ailen Bauchet</b></div> <!-- Usuario que pide el pedido -->
                </div>
                <div class="userUpload">
                  <div class="textMini">Cargado por:</div>
                  <div class="textName">Walter Blanco</div> <!-- Usuario que cargo el pedido -->
                </div>
            </div>

        </div>

        <div class="itemActions">
          <i class=" fa fa-angle-right" aria-hidden="true"></i>
        </div>

    </div>
    <!-- ---- Pedido invividual ---- -->
    <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
        <!-- ---- Vista rapida del pedido ---- -->
        <div class="itemInfo">

            <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
            <div class="contentPriority alta">
                <!-- ---- VARIABLES: baja, normal, alta ---- -->
                <div class="subContentPriority">&nbsp;</div>
            </div>
            <!-- ---- Numero de pedido y fecha ---- -->
            <div class="itemDate">
                <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                <div class="textDaysOrders">hace 1 mes</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
            </div>
            <!-- ---- Estado ---- -->
            <div class="itemStatus">
                <div class="status cerrada">
                    <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                    <div class="textA1">ABIERTA</div>
                    <div class="textA2"></div>
                    <div class="textEC1">EN CURSO</div>
                    <div class="textEC2"></div>
                    <div class="textC1">CERRADA</div>
                    <div class="textC2"></div>
                    <div class="textP1">PAUSADA</div>
                    <div class="textP2"></div>
                    <div class="textR1">RECHAZADA</div>
                    <div class="textR2"></div>
                </div>
            </div>
            <!-- ---- Info oficina y solicitud ---- -->
            <div class="itemsType">
                  <div class="textType">Personal</div> <!-- Oficina Solicitante -->
                  <div class="textType2">Programación</div> <!-- Área a la que solicita -->
                  <div class="textSubType">Error sistema</div> <!-- Problema -->
            </div>
            <!-- ---- Usuarios de la carga del pedido ---- -->
            <div class="itemsOffice solicitadoPorEl">
                <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                <div>
                  <div class="textMini">Solicitado por:</div>
                  <div class="textName"><b>Julio Ciappa</b></div> <!-- Usuario que pide el pedido -->
                </div>
                <div class="userUpload">
                  <div class="textMini">Cargado por:</div>
                  <div class="textName">Walter Blanco</div> <!-- Usuario que cargo el pedido -->
                </div>
            </div>

        </div>

        <div class="itemActions">
          <i class=" fa fa-angle-right" aria-hidden="true"></i>
        </div>

    </div>
    <!-- ---- Pedido invividual ---- -->
    <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
        <!-- ---- Vista rapida del pedido ---- -->
        <div class="itemInfo">

            <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
            <div class="contentPriority normal">
                <!-- ---- VARIABLES: baja, normal, alta ---- -->
                <div class="subContentPriority">&nbsp;</div>
            </div>
            <!-- ---- Numero de pedido y fecha ---- -->
            <div class="itemDate">
                <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                <div class="textDaysOrders">Hace 3 meses</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
            </div>
            <!-- ---- Estado ---- -->
            <div class="itemStatus">
                <div class="status cerrada">
                    <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                    <div class="textA1">ABIERTA</div>
                    <div class="textA2"></div>
                    <div class="textEC1">EN CURSO</div>
                    <div class="textEC2"></div>
                    <div class="textC1">CERRADA</div>
                    <div class="textC2"></div>
                    <div class="textP1">PAUSADA</div>
                    <div class="textP2"></div>
                    <div class="textR1">RECHAZADA</div>
                    <div class="textR2"></div>
                </div>
            </div>
            <!-- ---- Info oficina y solicitud ---- -->
            <div class="itemsType">
                  <div class="textType">Posgrado PB</div> <!-- Oficina Solicitante -->
                  <div class="textType2">Soporte Técnico</div> <!-- Área a la que solicita -->
                  <div class="textSubType">Error de programas</div> <!-- Problema -->
            </div>
            <!-- ---- Usuarios de la carga del pedido ---- -->
            <div class="itemsOffice solicitadoPorEl">
                <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                <div>
                  <div class="textMini">Solicitado por:</div>
                  <div class="textName"><b>Julieta Ordiozola</b></div> <!-- Usuario que pide el pedido -->
                </div>
                <div class="userUpload">
                  <div class="textMini">Cargado por:</div>
                  <div class="textName">Santiago Ojeda</div> <!-- Usuario que cargo el pedido -->
                </div>
            </div>

        </div>

        <div class="itemActions">
          <i class=" fa fa-angle-right" aria-hidden="true"></i>
        </div>

    </div>
    <!-- ---- Pedido invividual ---- -->
    <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
        <!-- ---- Vista rapida del pedido ---- -->
        <div class="itemInfo">

            <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
            <div class="contentPriority normal">
                <!-- ---- VARIABLES: baja, normal, alta ---- -->
                <div class="subContentPriority">&nbsp;</div>
            </div>
            <!-- ---- Numero de pedido y fecha ---- -->
            <div class="itemDate">
                <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                <div class="textDaysOrders">Hace 1 año</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
            </div>
            <!-- ---- Estado ---- -->
            <div class="itemStatus">
                <div class="status rechazada">
                    <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                    <div class="textA1">ABIERTA</div>
                    <div class="textA2"></div>
                    <div class="textEC1">EN CURSO</div>
                    <div class="textEC2"></div>
                    <div class="textC1">CERRADA</div>
                    <div class="textC2"></div>
                    <div class="textP1">PAUSADA</div>
                    <div class="textP2"></div>
                    <div class="textR1">RECHAZADA</div>
                    <div class="textR2"></div>
                </div>
            </div>
            <!-- ---- Info oficina y solicitud ---- -->
            <div class="itemsType">
                  <div class="textType">Economico Financiero</div> <!-- Oficina Solicitante -->
                  <div class="textType2">Soporte Técnico</div> <!-- Área a la que solicita -->
                  <div class="textSubType">Problema impresora</div> <!-- Problema -->
            </div>
            <!-- ---- Usuarios de la carga del pedido ---- -->
            <div class="itemsOffice solicitadoPorOtro">
                <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                <div>
                  <div class="textMini">Solicitado por:</div>
                  <div class="textName"><b>Paola Tantarelli</b></div> <!-- Usuario que pide el pedido -->
                </div>
                <div class="userUpload">
                  <div class="textMini">Cargado por:</div>
                  <div class="textName">Walter Blanco</div> <!-- Usuario que cargo el pedido -->
                </div>
            </div>

        </div>

        <div class="itemActions">
          <i class=" fa fa-angle-right" aria-hidden="true"></i>
        </div>

    </div>
    <!-- ---- Pedido invividual ---- -->
    <div class="itemOrders" ng-click="view.style = 'pantallaDetallePedido'">
        <!-- ---- Vista rapida del pedido ---- -->
        <div class="itemInfo">

            <!-- ---- Prioridad del pedido, por defecto tiene que estar en "normal" ---- -->
            <div class="contentPriority normal">
                <!-- ---- VARIABLES: baja, normal, alta ---- -->
                <div class="subContentPriority">&nbsp;</div>
            </div>
            <!-- ---- Numero de pedido y fecha ---- -->
            <div class="itemDate">
                <div class="textNumerOrders">Nº 112369</div> <!-- Numero de pedido -->
                <div class="textDateOrders">25 May. 2016 - 09:25 hs</div> <!-- Ene. Feb. Mar. etc (Los meses solo las 3 primeras letras) -->
                <div class="textDaysOrders">Hace 3 meses</div> <!-- Hoy, Ayer, Hace 2...31 días, Hace 1...12 Meses, Hace 1 Año, hace 2... Años -->
            </div>
            <!-- ---- Estado ---- -->
            <div class="itemStatus">
                <div class="status cerrada">
                    <!-- ---- VARIABLES: abierta, enProgreso, cerrada, pausada, rechazada ---- -->
                    <div class="textA1">ABIERTA</div>
                    <div class="textA2"></div>
                    <div class="textEC1">EN CURSO</div>
                    <div class="textEC2"></div>
                    <div class="textC1">CERRADA</div>
                    <div class="textC2"></div>
                    <div class="textP1">PAUSADA</div>
                    <div class="textP2"></div>
                    <div class="textR1">RECHAZADA</div>
                    <div class="textR2"></div>
                </div>
            </div>
            <!-- ---- Info oficina y solicitud ---- -->
            <div class="itemsType">
                  <div class="textType">Posgrado PB</div> <!-- Oficina Solicitante -->
                  <div class="textType2">Soporte Técnico</div> <!-- Área a la que solicita -->
                  <div class="textSubType">Error de programas</div> <!-- Problema -->
            </div>
            <!-- ---- Usuarios de la carga del pedido ---- -->
            <div class="itemsOffice solicitadoPorEl">
                <!-- ---- VARIABLES: solicitadoPorEl, solicitadoPorOtro ---- -->
                <div>
                  <div class="textMini">Solicitado por:</div>
                  <div class="textName"><b>Julieta Ordiozola</b></div> <!-- Usuario que pide el pedido -->
                </div>
                <div class="userUpload">
                  <div class="textMini">Cargado por:</div>
                  <div class="textName">Santiago Ojeda</div> <!-- Usuario que cargo el pedido -->
                </div>
            </div>

        </div>

        <div class="itemActions">
          <i class=" fa fa-angle-right" aria-hidden="true"></i>
        </div>

    </div>

</div>
