
.managePositions {
  width:100%;
  height:100%;
  font-family: helvetica;
}
.managePositions .hidden{
  display:none;
}


.managePositions .visible{
  display:block;
}


.managePositions h2 {
  display:flex;
  align-items: center;
  background-image:linear-gradient(to right,#275276, #0066A6);
  font-size:16px;
  width:98%;
  height:30px;
  padding:5px;
  color:white;
  margin-bottom:10px;
  margin:5px;
}



.managePositions .input {
  display:flex;
  flex-direction:row;
  margin:10px;
}


/* LISTAS DE SELECCION */

.managePositions .searchTitle {
  background-color: #0066A6;
  color: white;
  padding:5px;
  margin-bottom: 0px;
  font-size: 13px;
  width:170px;
  border-top: 3px solid #275276;
  margin-right:20px;

}


.managePositions .inputSearch{
  width:166px;
  padding:5px;
  font-size: 14px;

}
.managePositions .list {
  list-style-type:none;
  margin:0px;
  padding-left:5px;
  width:190px;
  max-height:300px;
  background-color:#0066A6;
  color:white;
  z-index:999;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 999;
  position: absolute;
}
.managePositions .item {
  height:25px;
  padding-top:10px;
  border-bottom:2px solid #275276;
  cursor:pointer;
  z-index:999;

}

