.editStudent-container {
  width:100%;
  height:100%;
  display: flex;

}

.editStudent {
  width:100%;
  height:100%;
  display: flex;
  flex-direction:column;
  padding:5px;
  font-size: 15px;
  font-family:Helvetica,Arial,sans-serif;
}

.editStudent .tittle {
  display:flex;
  align-items: center;
  background-image:linear-gradient(to right,#275276, #0066A6);
  font-size:16px;
  width:100%;
  height:30px;
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  margin-bottom:10px;
}
.editStudent .content {
  margin-left:10px;
}
