
<h2>Usuarios</h2>

<form novalidate class="form-horizontal" ng-submit="submit()" >
  <div class="form-group">
    <label class="control-label col-sm-3" for="name">Nombre:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="name" ng-model="user.name" ng-disabled="form.disabled">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="lastname">Apellido:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="lastname" ng-model="user.lastname" ng-disabled="form.disabled">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-3" for="dni">DNI:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="dni" ng-model="user.dni" ng-disabled="form.disabled">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-disabled="form.disabled">Aceptar</button>{{form.message}}
    </div>
  </div>
</form>
