<!-- --------------- HEADER DEL SISTEMA ----------------- -->
<div class="header">

    <div class="contentHeader">
        <div class="contentTextHeader">
          <div class="textMisPedidos2">PEDIDOS</div>
          <div class="btnOrder" title="Restablecer valores por defecto"><i class="fa fa-home"></i></div>
          <div class="icoSeach"><i class="fa fa-search"></i></div>
          <div><input type="search" placeholder="Buscar..." class="inputSearch"></div>
          <div>
              <div class="btnOrder2" ng-click="vm.view.style3 = 'seleccionarEstado'">Estado</div>
              <div class="contentInputStates">
                  <div class="contentSelectAll">
                    <div><input type="checkbox"></div>
                    <div>Seleccionar Todas</div>
                  </div>
                  <div class="contentListOffices">
                      <div class="itemOffices">
                        <div><input type="checkbox"></div>
                        <div>Abiertas</div>
                      </div>
                      <div class="itemOffices">
                        <div><input type="checkbox"></div>
                        <div>En Curso</div>
                      </div>
                      <div class="itemOffices">
                        <div><input type="checkbox"></div>
                        <div>Pausadas</div>
                      </div>
                      <div class="itemOffices">
                        <div><input type="checkbox"></div>
                        <div>Rechazadas</div>
                      </div>
                      <div class="itemOffices">
                        <div><input type="checkbox"></div>
                        <div>Cerradas</div>
                      </div>
                  </div>
                  <div class="btnSave" ng-click="vm.view.style3 = ''">OK</div>
              </div>
          </div>

          <div>
              <div class="btnOrder2" ng-click="vm.view.style3 = 'seleccionarAreas'">Área</div>
              <div class="contentInputAreas">
                  <div class="contentSelectAll">
                    <div><input type="checkbox"></div>
                    <div>Seleccionar Todas</div>
                  </div>
                  <div class="contentListOffices">
                      <div class="itemOffices">
                        <div><input type="checkbox"></div>
                        <div>Soporte Técnico</div>
                      </div>
                      <div class="itemOffices">
                        <div><input type="checkbox"></div>
                        <div>Desarrollo</div>
                      </div>
                      <div class="itemOffices">
                        <div><input type="checkbox"></div>
                        <div>Redes y Servidores</div>
                      </div>
                  </div>
                  <div class="btnSave" ng-click="vm.view.style3 = ''">OK</div>
              </div>
          </div>

          <div>
              <div class="btnOrder2" ng-click="vm.view.style3 = 'SeleccionarOficinas'">Oficinas</div>
              <div class="contentInputOffices">

                  <div><i class="icoSeach2 fa fa-search"></i><input type="search" placeholder="Buscar..." class="inputSearch2"></div>
                  <div class="contentSelectAll">
                    <div><input type="checkbox"></div>
                    <div>Seleccionar Todas</div>
                  </div>
                  <div class="contentListOffices">
                      <div class="itemOffices">
                        <div><input type="checkbox"></div>
                        <div>Comunicación Institucional</div>
                      </div>
                      <div class="itemOffices">
                        <div><input type="checkbox"></div>
                        <div>Dirección de Personal</div>
                      </div>
                      <div class="itemOffices">
                        <div><input type="checkbox"></div>
                        <div>Economico Financiero</div>
                      </div>
                  </div>
                  <div class="btnSave" ng-click="vm.view.style3 = ''">OK</div>
              </div>
          </div>

        </div>
        <!-- ---- Botones de ordenacion y busqueda -->
        <div class="contentFilters">
            <div class="textFilters"><i class="fa fa-sliders" aria-hidden="true"></i> Ordenar</div>
            <!-- <button class="btnFilter" title="Buscar..." ng-click="view.style = 'buscarPedido'"><i class="fa fa-search" aria-hidden="true"></i></button> -->
            <button class="btnFilter" title="Ordenar por Fecha" ng-click="vm.sortDate()"><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
            <button class="btnFilter" title="Ordenar por Estado" ng-click="vm.sortStatus()"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></button>
            <button class="btnFilter" title="Ordenar por Prioridad" ng-click="vm.sortPriority()"><i class="fa fa-star-o" aria-hidden="true"></i></button>
        </div>
        <!-- ---- Boton solicitar nuevo pedido-->
        <div class="contentBtnHeader">
            <a href="#/ordersCreate"> <button class="btnNew"> NUEVO PEDIDO</button></a>
        </div>
    </div>
</div>
