<!-- --------------- HEADER DEL SISTEMA ----------------- -->
<div class="header">
    <div class="contentHeader">
        <div class="contentTextHeader">
          <div class="textMisPedidos"><i class="textDaysOrders fa fa-tags iconsMenu"></i> Sistema de pedidos FCE</div>
          <div class="textMisPedidos2">PEDIDOS A MI OFICINA</div>
        </div>
        <!-- ---- Botones de ordenacion y busqueda -->
        <div class="contentFilters">
            <div class="textFilters"><i class="fa fa-sliders" aria-hidden="true"></i> Ordenar</div>
            <!-- <button class="btnFilter" title="Buscar..." ng-click="view.style = 'buscarPedido'"><i class="fa fa-search" aria-hidden="true"></i></button> -->
            <button class="btnFilter" title="Ordenar por Fecha" ng-click="vm.sortDate()"><i class="fa fa-calendar-o" aria-hidden="true"></i></button>
            <button class="btnFilter" title="Ordenar por Estado" ng-click="vm.sortStatus()"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></button>
            <button class="btnFilter" title="Ordenar por Prioridad" ng-click="vm.sortPriority()"><i class="fa fa-star-o" aria-hidden="true"></i></button>
        </div>
        <!-- ---- Boton solicitar nuevo pedido-->
        <div class="contentBtnHeader">
            <a href="#/ordersCreate"> <button class="btnNew"> NUEVO PEDIDO</button></a>
        </div>
    </div>
</div>
