*{
  padding: 0px;
  margin: 0px;

}

body {
  overflow-x: hidden;
}


.principal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  wrap: nowrap;
}

/*
.principal.ng-scope {
  height: 100%;
}*/


.screen {
  height: 100%;
  -webkit-transition: all 1s;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.systems {
  background-color: blue;
  width: 10%;
}



.container {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



.contentScreens {
  height:100%;
  width:100%;
}

.tree {
	height:100px;
	width:500px;
}