<fieldset>
	<legend>Datos de carrera {{degree}}</legend>
	<label for="name">Carrera</label><input id="degree" type="text" ng-model="degree.name" /><br />
	<div>Estado</div>
	<label for="student">Estudiante</label><input id="estudiante" value="estudiante" type="radio" name="condition" ng-model="degree.ondition" /><br />
	<label for="student">Graduado</label><input id="graduado" value="graduado" type="radio" name="condition" ng-model="degree.condition" /><br />
	<label for="subjectsNumber">Cantidad de materias</label><input id="subjectsNumber" type="number" ng-model="degree.subjectsNumber"/><br />
	<label for="average">Promedio con aplazos</label><input id="average" type="number" ng-model="degree.average"/><br />
	<label for="approvedAverage">Promedio sin aplazos</label><input id="approvedAverage" type="number" ng-model="degree.approvedAverage"/><br />
	
</fieldset>

