<!DOCTIPE html>
<html lang="es">
<head>
	<title>Search</title>
	<meta charset="utf-8"/>
	<meta name="description"= content="Administración de Usuarios"/>
	<link rel="stylesheet" type="text/css" href="css/SearchAdministracion.css" />
</head>
<body>
	<form action="">
		<div class="search">
			<div class="b">
				<div><input class="buscar" type="search" name="buscar" ng-model="buscar"></div>
			</div>
			<div class="cargos">
				<div class="columna1">
					<div><input type="checkbox" name="cargo" value="estudiante"><label> Estudiante</label></div>
					<div><input type="checkbox" name="cargo" value="docente"><label> Docente</label></div>
					<div><input type="checkbox" name="cargo" value="docente"><label> Graduado</label></div>
				</div>
				<div class="columna2">
					<div><input type="checkbox" name="cargo" value="posgrado"><label> Posgrado</label></div>
					<div><input type="checkbox" name="cargo" value="nodocente"><label> NoDocente</label></div>
					<div><input type="checkbox" name="cargo" value="visitante"><label> Visitante</label></div>
				</div>	
			</div>
			<div class="lista">
				<div class="resultados"><p>Resultados Encontrados</p><hr></div>
			</div>
		</div>
		<div class="usuario">
			<div><label class="datos">Nombres</label></div><div><input type="text" name="name" ng-model="name"><br></div>
			<div><label class="datos">Apellidos</label></div><div><input type="text" name="lastname" ng-model="lastname"><br></div>	
			<div><label class="datos">Género:</label></div>
			<div><select name="genre" ng-model="genre">
			  <option value="femenino">Femenino</option>
			  <option value="masculino">Masculino</option>
  			  <option value="otro">Otro</option>
			</select>
			</div>
			<div><label class="datos">DNI</label></div><div><input type="text" name="dni" ng-model="dni"><br></div>
			<div><label class="datos">Legajo</label></div><div><input type="text" name="studentNumber" ng-model="studentNumber"><br></div>
			<div><label class="datos">Teléfono</label></div><div><input type="text" name="telephone" ng-model="telephone"><br></div>
			<div><label class="datos">Ciudad de Origen</label></div><div><input type="text" name="bornCity" ng-model="bornCity"><br></div>
			<div><label class="datos">Ciudad de Residencia</label></div><div><input type="text" name="country" ng-model="country"><br></div>
			<div><label class="datos">Dirección</label></div><div><input type="text" name="adress" ng-model="adress"><br></div>
			<br><div><label>Mail</label><br><hr></div>
				<div><label class="datos">Personal</label></div><div><input type="text" name="personalEmail" ng-model="personalEmail"><br></div>	
				<div><label class="datos">Institucional</label></div><div><input type="text" name="email" ng-model="email"><br></div>
		</div>
	</form>
</body>