.content {
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
}


.searchBar {
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-flex-justify-content: space-between;
  -moz-flex-justify-content: space-between;

}


.filterBar {
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-flex-justify-content: space-between;
  -moz-flex-justify-content: space-between;
}
