* {
  margin: 0;
  padding: 0;
}
.menuAction {
  background-color:black;
  padding:10px;

}

@media screen {
  .menu {
    background-color: red;
    height: 100%;
    width: 300px;
    top:0;
    left:0px;
    transition: all 0.2s;
  }
  .content {
    background-color: green;
  }
  .menu_visible {
    width: 0%;
  }
}

@media handheld and (max-device-width:1280px) {
  .menu {
    background-color: blue;
    height: 100%;
    width: 300px;
    top:0;
    left:0px;
    transition: all 0.2s;
  }
  .content {
    background-color: green;
  }
  .menu_visible {
    width: 0%;
  }
}



.content {

  height: 100%;
  width: 100%;
}

.screen {
  display:flex;
  flex-direction:row;
  wrap: nowrap;
  height: 100%;
  width: 100%;
}

.menu_oculto {
}
