<div class="adminUser">
  <h3><i class=" titleSearch glyphicon glyphicon-user" aria-hidden="true"></i> Usuario</h3>

<form novalidate class="form-horizontal" ng-submit="submit()" >

  <div class="form-group file">
    <div class="col-sm-6 col-md-5 col-lg-3">
        <span><b>Nombre</b></span>
      <input type="text" class="form-control" id="name" ng-model="user.name" ng-disabled="form.disabled">
    </div>
  </div>
  <div class="form-group file">
    <div class="col-sm-6 col-md-5 col-lg-3">
        <span><b>Apellido</b></span>
        <input type="text" class="form-control" id="lastname" ng-model="user.lastname" ng-disabled="form.disabled">
    </div>
  </div>
  <div class="form-group file">
    <div class="col-sm-6 col-md-5 col-lg-3">
      <span><b>DNI</b></span>
      <input type="text" class="form-control" id="dni" ng-model="user.dni" ng-disabled="form.id" >
    </div>
  </div>

  <div class="form-group file">
    <div class="col-sm-6 col-md-5 col-lg-3">
      <span><b>Tipo</b></span>
      <button class="btnEdit btn btn-primary btn-xs" class="form-control" type="button" ng-click="addType()" ng-disabled="form.disabled">Agregar</button>
    </div>
  </div>

  <div ng-repeat="t in user.types" class="row file2">
    <div class="col-sm-6 col-md-5 col-lg-3">
      <select class="form-control" ng-model="t.description" ng-disabled="form.disabled">
          <option value="">Seleccione</option>
          <option value="teacher">Docente</option>
          <option value="student">Estudiante</option>
          <option value="coworking">Coworking</option>
          <option value="postgraduate">Postgrado</option>
          <option value="assistance">Asistencia</option>
          <option value="graduate">Graduado</option>
          <option value="other">Otro</option>
      </select>
    </div>
    <div class="col-sm-3 col-md-2 col-lg-1">
      <button class="btn btn-sm btn-danger" class="form-control" type="button" ng-click="deleteType($index)" ng-disabled="form.disabled"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
    </div>
  </div>



  <div  class="form-group file">
    <div class="col-sm-6 col-md-5 col-lg-3">
      <span><b>Teléfono</b></span>
      <button class="btnEdit btn btn-primary btn-xs" class="form-control" type="button" ng-click="addTelephone()" ng-disabled="form.disabled">Agregar</button>
    </div>
  </div>


    <div ng-repeat="t in user.telephones" class="row file2">
      <div class="col-sm-6 col-md-5 col-lg-2">
        <input type="text" class="form-control" ng-model="t.number" ng-disabled="form.disabled">
      </div>
      <div class="col-sm-4 col-md-3 col-lg-1">
        <select class="form-control" ng-model="t.type" ng-disabled="form.disabled">
            <option value="">Tipo</option>
            <option value="movil">Móvil</option>
            <option value="home">Casa</option>
            <option value="work">Trabajo</option>
        </select>
      </div>
      <div class="col-sm-3 col-md-2 col-lg-1">
        <button class="btn btn-sm btn-danger" class="form-control" type="button" ng-click="deleteTelephone($index)"  ng-disabled="form.disabled"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
      </div>
    </div>



    <div class="" ng-show="form.id">
        <span><b>Correo electrónico</b></span>
      <a ng-href="./#/listEmails?id={{user.id}}" class="btnEdit btn btn-primary btn-xs"  >Editar</a>{{form.message}}
    </div>


  <div class="form-group file actions">
    <div class="col-sm-6 col-md-5 col-lg-3">
      <button type="submit" class="btn btn-primary" ng-disabled="form.disabled">Aceptar</button>
      <button ng-if="action == 'edit'" type="button" class="btn btn-default" ng-click="back()">Volver</button>
    </div>
  </div>
</form>
</div>

<!--div ng-include="'./modules/listEmails/index.html'" ng-controller="ListEmailsCtrl"></div-->
