		
<div ng-controller="GridNotaCtrl">
  <div ng-include="'main/html/search.html'"></div>
  <div ng-include="'main/html/pagination.html'"></div>  
  <div class="table-responsive" style="height:350px">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
</div>
        <th><input type="checkbox"></th>
        <th>codigo&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('codigo')"></span></th>
        <th>fecha&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('fecha')"></span></th>
        <th>descripcion&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('descripcion')"></span></th>
        <th>observaciones&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('observaciones')"></span></th>
        <th>persona: nombres&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('per_nombres')"></span></th>
        <th>persona: apellidos&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('per_apellidos')"></span></th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="fields in grid.data">
        <td><input type="checkbox" ng-checked="isSelected(fields.id)" ng-click="toggleSelection(fields.id)"></td>
        <td>{{fields.codigo}}</td>
        <td>{{fields.fecha}}</td>
        <td>{{fields.descripcion}}</td>
        <td>{{fields.observaciones}}</td>
        <td><a href="#/gridPersona?ic=1&0if=id&0in=persona&0it=persona&0iv={{fields.per_id}}">{{fields.per_nombres}}</a></td>
        <td><a href="#/gridPersona?ic=1&0if=id&0in=persona&0it=persona&0iv={{fields.per_id}}">{{fields.per_apellidos}}</a></td>
        <td>          
        </td>

      </tr>
    </tbody>	  
  </table>
  </div>
<!-- div class="well"><b>Elementos seleccionados:</b> <button type="button" class="btn btn-sm btn-danger">Eliminar</button></div -->
</div>
