
<div class="manageJustificationsStock">
<h2>Administración de Justificaciones</h2>

<form>
  <div class="selectUser">
    <div class="searchUser">
      <div class="searchTitle">
        <span><i class="fa fa-user-plus"></i> Seleccione Usuario</span>
      </div>
      <div>
        <input class="inputSearch" ng-model="model.searchUser" ng-click="displayUsersList()" ng-disabled="model.usersSelectionDisable" placeholder="Buscar...">
        <ul class="listUsers" ng-class="{true:'visible', false:'hidden'}[isUsersListDisplayed()]">
          <li class="liUsers" ng-repeat="user in model.users | filter:model.searchUser | orderBy : 'name'" ng-click="selectUser(user)">{{user.name}} {{user.lastname}}</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="selectUser">
    <div class="searchUser">
      <div class="searchTitle">
        <span><i class="fa fa-user-plus"></i> Seleccione Justificacion</span>
      </div>
      <div>
        <input class="inputSearch" ng-model="model.searchJustification" ng-click="displayJustificationsList()" ng-disabled="model.justificationsSelectionDisable" placeholder="Buscar...">
        <ul class="listUsers" ng-class="{true:'visible', false:'hidden'}[isJustificationsListDisplayed()]">
          <li class="liUsers" ng-repeat="justification in model.justifications | filter:model.searchJustification | orderBy : 'name'" ng-click="selectJustification(justification)">{{justification.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div>
    <div class="searchTitle">
        <span><i class="fa fa-user-plus"></i> Stock </span>
    </div>
    <div>
      <input ng-model="model.stock" type="number" ng-disabled="model.stockDisable" />
    </div>
  </div>
  
  <div >
        <button><i class="fa fa-times"></i>Aceptar</button>
  </div>
</form>
</div>