<div class="schedule pantallaJefe {{view.style2}}">
<!--
VARIABLES 1: pantallaJefe, pantallaUsuario
VARIABLES 2: nuevoHorarioSemanal

-->

    <div class="header">
        <div>
          HORARIO
        </div>
    </div>

    <div class="contentSchedule">

        <div class="subHeader">

            <div class="contentUser">

                  <div class="contentPhoto">
                    <img class="imgUser" src='img/walter.jpg' alt="foto de perfil"/>
                  </div>

                  <div class="contentData">
                      <div>
                        <b> Walter Roberto Blanco</b>
                      </div>
                      <div>
                        30001823
                      </div>
                  </div>

            </div>

            <div class="contentDate "> <!--VARIABLES: jefe, usuario -->
                <div class="contentBtnSelectUser">
                    <button class="btnSelectUser"><i class="fa fa-search"></i> Usuario</button>
                </div>
                <div class="subContentDate">
                    <div class="textDate"><i class="fa fa-calendar-o"></i>  Fecha</div>
                    <input type="date" class="inputDate"></input>
                </div>
            </div>

        </div>

        <div class="textClock">
          <div>HORARIO SEMANAL</div>
          <div><b>35</b> Horas </div>
        </div>

        <div class="contentSchedules">
            <div class="Monday">
                <div class="titleDay">Lun</div>
                <div class="checkIn">10:00</div>
                <div class="checkOut">17:00</div>
            </div>
            <div class="Tuesday">
                <div class="titleDay">Mar</div>
                <div class="checkIn">10:00</div>
                <div class="checkOut">12:00</div>
            </div>
            <div class="Wednesday">
                <div class="titleDay">Mie</div>
                <div class="checkIn">10:00</div>
                <div class="checkOut">17:00</div>
            </div>
            <div class="Thurday">
                <div class="titleDay">Jue</div>
                <div class="checkIn">10:00</div>
                <div class="checkOut">17:00</div>
            </div>
            <div class="Friday">
                <div class="titleDay">Vie</div>
                <div class="checkIn">10:00</div>
                <div class="checkOut">17:00</div>
            </div>
            <div class="Saturday">
                <div class="titleDay">Sab</div>
                <div class="checkIn">-</div>
                <div class="checkOut">-</div>
            </div>
            <div class="Sunday">
                <div class="titleDay">Dom</div>
                <div class="checkIn">-</div>
                <div class="checkOut">-</div>
            </div>
        </div>

        <div class="contentActionButton">
            <button class="btnAction" ng-click="view.style2='nuevoHorarioSemanal'">MODIFICAR <b>HORARIO SEMANAL</b></button>
            <button class="btnAction" ng-click="view.style2=''">MODIFICAR <b>HORARIO ESPECIAL</b></button>
        </div>

    </div>

    <div class="contentWeeklySchedule">

      <div class="textClock2">
        <div><b>NUEVO</b> HORARIO SEMANAL</div>
        <div><b>35</b> Horas </div>
      </div>


      <div class="contentNewSchedules">
        <div class="files">
            <div class="textDays"> </div>
            <div class="titleFiles">Hora de entrada</div>
            <div class="titleFiles2">Horas</div>
        </div>
        <div class="subContentNewSchedules">
            <div class="files">
                <div class="textDays">Lun</div>
                <div><input class="newCheckIn" type="time"></input></div>
                <div><input class="newCantHour" type="number"></input></div>
                <div><button class="btnAdd"><i class="fa fa-plus"></i></button></div>
            </div>
            <div class="files">
                <div class="textDays">Lun</div>
                <div><input class="newCheckIn" type="time"></input></div>
                <div><input class="newCantHour" type="number"></input></div>
                <div><button class="btnTash"><i class="fa fa-trash-o"></i></button></div>
            </div>
            <div class="files">
                <div class="textDays">Mar</div>
                <div><input class="newCheckIn" type="time"></input></div>
                <div><input class="newCantHour" type="number"></input></div>
                <div><button class="btnAdd"><i class="fa fa-plus"></i></button></div>
            </div>
            <div class="files">
                <div class="textDays">Mie</div>
                <div><input class="newCheckIn" type="time"></input></div>
                <div><input class="newCantHour" type="number"></input></div>
                <div><button class="btnAdd"><i class="fa fa-plus"></i></button></div>
            </div>
            <div class="files">
                <div class="textDays">Jue</div>
                <div><input class="newCheckIn" type="time"></input></div>
                <div><input class="newCantHour" type="number"></input></div>
                <div><button class="btnAdd"><i class="fa fa-plus"></i></button></div>
            </div>
            <div class="files">
                <div class="textDays">Vie</div>
                <div><input class="newCheckIn" type="time"></input></div>
                <div><input class="newCantHour" type="number"></input></div>
                <div><button class="btnAdd"><i class="fa fa-plus"></i></button></div>
            </div>
            <div class="files">
                <div class="textDays">Sab</div>
                <div><input class="newCheckIn" type="time"></input></div>
                <div><input class="newCantHour" type="number"></input></div>
                <div><button class="btnAdd"><i class="fa fa-plus"></i></button></div>
            </div>
            <div class="files">
                <div class="textDays">Dom</div>
                <div><input class="newCheckIn" type="time"></input></div>
                <div><input class="newCantHour" type="number"></input></div>
                <div><button class="btnAdd"><i class="fa fa-plus"></i></button></div>
            </div>

        </div>


      </div>

    </div>

</div>
