<div class="schedule {{vm.view.style}} {{vm.view.style2}} {{vm.view.style3}} {{vm.view.style4}}">
<!--
VARIABLES 1: pantallaJefe, pantallaUsuario
VARIABLES 2: nuevoHorarioSemanal, nuevoHorarioEspecial, pantallaUsuarios
VARIABLES 3: pantallaMensaje
VARIABLES 4: procesando, procesado, errorDeSistema
-->

    <div class="header">
        <div>
          HORARIO
        </div>
    </div>

    <!-- *************************************
    ***** PANTALLA INICIO DE MI HORARIO ******
    ************************************** -->
    <div class="contentSchedule">

        <div class="subHeader">

            <div class="contentUser">

                  <div class="contentPhoto">
                    <img class="imgUser" ng-src='{{vm.getUserPhoto(vm.model.user)}}' alt="foto de perfil"/>
                  </div>

                  <div class="contentData">
                      <div>
                        <b> {{vm.model.user.name}} {{vm.model.user.lastname}}</b>
                      </div>
                      <div>
                        {{vm.model.user.dni}}
                      </div>
                  </div>

            </div>

            <div class="contentDate ">
                <div class="contentBtnSelectUser">
                    <button class="btnSelectUser" ng-click="vm.displaySearch()"><i class="fa fa-search"></i> Usuario</button>
                </div>

                <div class="contentListUsers">

                    <div class="titleListRequest">
                      <span class="icoInputSearch"><i class="fa fa-search"></i></span><input ng-model="vm.model.search" class="inputSearch" type="text" placeholder="Buscar personal..."> </input>
                    </div>

                    <div class="contentListPerson">
                        <div class="btnItemPerson" ng-repeat="user in vm.model.users | filter:vm.model.search" ng-click="vm.selectUser(user)" >
                            <div class="contentImgUser">
                                <img class="imgUser" ng-src='{{vm.getUserPhoto(user)}}' alt="foto de perfil"/>
                            </div>
                            <div class="contentNameUser">
                              <div>{{user.name}} {{user.lastname}}</div>
                              <div class="dniUser">{{user.dni}}</div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="subContentDate">
                    <div class="textDate"><i class="fa fa-calendar-o"></i>  Fecha</div>
                    <input type="date" class="inputDate" ng-model="vm.model.date"></input>
                </div>
            </div>

        </div>

        <div class="textClock">
          <div>HORARIO SEMANAL</div>
          <div><b>{{vm.model.hours}}</b> Horas </div>
        </div>

        <div class="contentSchedules">
            <div class="Monday">
                <div class="titleDay">Lun</div>
                <div ng-repeat="sc in vm.getSchedulesInDay(1)">
                  <div class="checkIn">{{sc.start | date: 'HH:mm'}}</div>
                  <div class="checkOut">{{sc.end | date: 'HH:mm'}}</div>
                </div>
                <div ng-show="!vm.getSchedulesInDay(1).length">
                  <div class="checkIn"> - </div>
                  <div class="checkOut"> - </div>
                </div>
            </div>
            <div class="Tuesday">
                <div class="titleDay">Mar</div>
                <div ng-repeat="sc in vm.getSchedulesInDay(2)">
                  <div class="checkIn">{{sc.start | date: 'HH:mm'}}</div>
                  <div class="checkOut">{{sc.end | date: 'HH:mm'}}</div>
                </div>
                <div ng-show="!vm.getSchedulesInDay(2).length">
                  <div class="checkIn"> - </div>
                  <div class="checkOut"> - </div>
                </div>
            </div>
            <div class="Wednesday">
                <div class="titleDay">Mie</div>
                <div ng-repeat="sc in vm.getSchedulesInDay(3)">
                  <div class="checkIn">{{sc.start | date: 'HH:mm'}}</div>
                  <div class="checkOut">{{sc.end | date: 'HH:mm'}}</div>
                </div>
                <div ng-show="!vm.getSchedulesInDay(3).length">
                  <div class="checkIn"> - </div>
                  <div class="checkOut"> - </div>
                </div>
            </div>
            <div class="Thurday">
                <div class="titleDay">Jue</div>
                <div ng-repeat="sc in vm.getSchedulesInDay(4)">
                  <div class="checkIn">{{sc.start | date: 'HH:mm'}}</div>
                  <div class="checkOut">{{sc.end | date: 'HH:mm'}}</div>
                </div>
                <div ng-show="!vm.getSchedulesInDay(4).length">
                  <div class="checkIn"> - </div>
                  <div class="checkOut"> - </div>
                </div>
            </div>
            <div class="Friday">
                <div class="titleDay">Vie</div>
                <div ng-repeat="sc in vm.getSchedulesInDay(5)">
                  <div class="checkIn">{{sc.start | date: 'HH:mm'}}</div>
                  <div class="checkOut">{{sc.end | date: 'HH:mm'}}</div>
                </div>
                <div ng-show="!vm.getSchedulesInDay(5).length">
                  <div class="checkIn"> - </div>
                  <div class="checkOut"> - </div>
                </div>
            </div>
            <div class="Saturday">
                <div class="titleDay">Sab</div>
                <div ng-repeat="sc in vm.getSchedulesInDay(6)">
                  <div class="checkIn">{{sc.start | date: 'HH:mm'}}</div>
                  <div class="checkOut">{{sc.end | date: 'HH:mm'}}</div>
                </div>
                <div ng-show="!vm.getSchedulesInDay(6).length">
                  <div class="checkIn"> - </div>
                  <div class="checkOut"> - </div>
                </div>
            </div>
            <div class="Sunday">
                <div class="titleDay">Dom</div>
                <div ng-repeat="sc in vm.getSchedulesInDay(0)">
                  <div class="checkIn">{{sc.start | date: 'HH:mm'}}</div>
                  <div class="checkOut">{{sc.end | date: 'HH:mm'}}</div>
                </div>
                <div ng-show="!vm.getSchedulesInDay(0).length">
                  <div class="checkIn"> - </div>
                  <div class="checkOut"> - </div>
                </div>
            </div>
        </div>

        <div class="contentActionButton">
            <button class="btnAction" ng-click="vm.newWeeklySchedule()">MODIFICAR <b>HORARIO SEMANAL</b></button>
            <button class="btnAction" ng-click="vm.newSpecialSchedule()">CREAR <b>HORARIO ESPECIAL</b></button>
        </div>

    </div>

    <!-- *******************************************
    ***** PANTALLA MODIFICAR HORARIO SEMANAL *******
    ******************************************** -->
    <div class="contentWeeklySchedule">

        <div class="textClock2">
          <div>NUEVO <b> HORARIO SEMANAL </b></div>
          <div><b>{{vm.getHours()}} : {{('0'+vm.getMinutes()).slice(-2)}}</b> Horas </div>
        </div>

        <div class="contentNewSchedules">

          <div class="contentDateNewSchedule">

              <div>
                Fecha
                <input type="date" ng-model="vm.model.date" class="inputDateScheduleSpecial"></input>
              </div>
          </div>

          <div class="files">
              <div class="textDays"> </div>
              <div class="titleFiles">Hora de entrada</div>
              <div class="titleFiles2">Horas</div>
          </div>
          <div class="subContentNewSchedules">


              <div ng-repeat="daySched in vm.model.newSchedules">
                <div ng-repeat="sc in vm.getNewSchedulesInDay($index + 1)" class='files' ng-class="sc.style" sched-directive="sc">
                  <div class="textDays {{sc.operation}}">{{vm.getDayName($parent.$index + 1)}}</div>
                  <div><input class="newCheckIn" type="time" ng-model="sc.start"></input></div>
                  <div><input class="newCantHour" type="number" ng-model="sc.hours" min=0 step="0.25" ng-blur="vm.validateHours(sc)"></input></div>
                  <div title="nuevo horario" class="contentBtnAdd"><button class="btnAdd" ng-click="vm.addSchedule($parent.$index + 1)"><i class="fa fa-plus"></i></button></div>
                  <div title="limpiar campos" class="contentBtnClear"><button class="btnClear" ng-click="vm.clearSchedule(sc)"><i class="fa fa-eraser"></i></button></div>
                  <div title="eliminar horario" class="contentBtnTrash"><button class="btnTrash" ng-click="vm.removeSchedule($parent.$index + 1, $index)"><i class="fa fa-trash-o"></i></button></div>
                </div>
              </div>
          </div>

        </div>

        <div class="actionBtns">
            <button class="btnAcept" ng-click="vm.saveScheduleWeek()">ACEPTAR</button>
            <button class="btnCancel" ng-click="vm.cancel()">CANCELAR</button>
        </div>

    </div>

    <!-- *******************************************
    ***** PANTALLA MODIFICAR HORARIO ESPECIAL ******
    ******************************************** -->
    <div class="contentSpecialSchedule">

        <div class="textClock2">
          <div>NUEVO <b>HORARIO ESPECIAL</b></div>
        </div>

        <div class="contentNewSchedules">

          <div class="contentDateSpecial">
              <div class="files">
                  <div class="titleFiles">Fecha</div>
              </div>

              <div>
                <input type="date" class="inputDateScheduleSpecial" ng-model="vm.model.date"></input>
              </div>

          </div>

          <div class="files">
              <div class="titleFiles">Hora de entrada</div>
              <div class="titleFiles2">Horas</div>
          </div>

          <div class="subContentNewSchedulesSpecial">
              <div ng-repeat="sc in vm.model.newSpecialSchedules" class='files' ng-class="sc.style">
                  <div><input class="newCheckIn" type="time" ng-model="sc.start" ng-change="vm.changeSpecialStart(sc)"></input></div>
                  <div><input class="newCantHour" type="number" ng-model="sc.hours" ng-change="vm.changeSpecialHours(sc)"></input></div>
                  <div title="nuevo horario" class="contentBtnAdd"><button class="btnAdd" ng-click="vm.addSpecialSchedule()"><i class="fa fa-plus"></i></button></div>
                  <div title="limpiar campos" class="contentBtnClear"><button class="btnClear" ng-click="vm.clearSpecialSchedule(sc)"><i class="fa fa-eraser"></i></button></div>
                  <div title="eliminar horario" class="contentBtnTrash"><button class="btnTrash" ng-click="vm.removeSpecialSchedule(sc)"><i class="fa fa-trash-o"></i></button></div>
              </div>

          </div>

        </div>

        <div class="actionBtns">
            <button class="btnAcept" ng-click="vm.saveSpecialSchedules()">ACEPTAR</button>
            <button class="btnCancel" ng-click="vm.cancel()">CANCELAR</button>
        </div>

    </div>

    <!-- *******************************************
    *************** PANTALLA MENSAJES **************
    ******************************************** -->
    <div class="contentMessages">
        <div class="subContentMessages">

            <div class="processing">
              <div class="iconMessage"><i class="fa fa-circle-o-notch fa-spin fa-4x"></i></div>
              <div>PROCESANDO SOLICITUD</div>
              <div>Por favor espere... </div>
            </div>

            <div class="processed">
              <div class="iconMessageProcessed"><i class="fa fa-check fa-4x"></i></div>
              <div>SOLICITUD PROCESADA CON ÉXITO</div>
            </div>

            <div class="errorSystem">
              <div class="iconMessageErrorSystem"><i class="fa fa-exclamation-triangle fa-4x"></i></div>
              <div class="iconMessageErrorSystem">ERROR EN EL SISTEMA</div>
              <div>Por favor intente más tarde</div>
            </div>

        </div>
    </div>


</div>
