.inscriptionContainer {
  height:100%;
  width:100%;
  position:absolute;
  overflow:hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin:0px;
  background-color: #eee;
}

.inscription {
}

.item .ng-invalid {

  -webkit-box-shadow: 0 0 3px 2px #d43f3a !important;
   -moz-box-shadow: 0 0 3px 2px #d43f3a !important;
        box-shadow: 0 0 3px 2px #d43f3a !important;
}


/*.item .ng-valid {
  background-image: url("\f00d");
  content: "\f00d";
}*/

.item .invalidError {
  color:#d43f3a;
  font-size: 13px;
}

.inscription .header {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  margin: 20px;
  width: 82%;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

/****************************************************************/
/********************* DATOS BASICOS ****************************
******* Contenedor de los datos basicos de la persona************/

.inscription .dataBasic {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px 2px 0px 2px;
  -webkit-border-radius:2px 2px 0px 2px;
  -moz-border-radius:2px 2px 0px 2px;
  padding: 20px;
  width: 79%;
  margin: 20px 20px 0px 20px;
}

.inscription .item {
  margin-bottom: 10px;
  margin-right: 50px;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
}

.inscription .item .photo {
    display: flex;
    display: -webkit-flex; /* Safari */
    display: -moz-flex; /* mozilla */
    flex-direction:column;
    -webkit-flex-direction:column; /* Safari */
    -moz-flex-direction:column; /* mozilla */
    align-items: center;
    justify-content:center;
    width: 290px;
    height: 140px;
    float: left;
    border: 0;
    background: #eee;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
    color:rgba(0,0,0,.2);
    cursor:pointer;

}

.inscription .item input {
    width: 200px;
    height: 20px;
    padding: 10px 20px;
    float: left;
    font:  18px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 0;
    background: #eee;
    border-radius: 0 3px 3px 0px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

.inscription .item input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

.inscription .item input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.inscription .item input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.inscription .item input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.inscription .selectGrey {
  color: red;
}

.inscription .item select {
    width: 240px;
    height: 40px;
    padding: 10px 20px;
    float: left;
    font:  18px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 0;
    background: #eee;
    border-radius: 0 3px 3px 0px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;

}

.inscription .item button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 50px;
    font: bold 15px/40px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #0066A6;
    border-radius: 3px 0 0 3px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.inscription .item button:hover{
    background: #0066A6;
}

.inscription .item button:active,
.inscription .item button:focus{
    background: #0066A6;
    outline: 0;
}

.inscription .item button:before { /* FLECHITA */
    content: '';
    position: absolute;
    border-width: 8px 0 8px 8px;
    border-style: solid;
    border-color: transparent #0066A6 transparent;
    top: 12px;
    right: -6px;
}

.inscription .item button:hover:before{
    border-right-color: #0066A6;
}

.inscription .item button:focus:before,
.searchRegulation .item button:active:before{
        border-right-color: #0066A6;
}

/* quitar espacio extra del botón para Mozilla Firefox */
.inscription .item button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*INSCRIBIRSE A LA BOLSA DE TRABAJO*/

.inscription .item2 {
  background-color: #275276;
  color: white;
  border-radius: 5px;
  width: 290px;
  height: 90px;
}

.inscription .item2:hover {
  background-color:#3885c5;
  cursor: pointer;
}

.inscription .item2 select {
    width: 240px;
    height: 40px;
    padding: 10px 20px;
    float: left;
    font:  18px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 0;
    background: #eee;
    border-radius: 0 3px 3px 0px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;

}

.inscription .item2 button {
    overflow: visible;
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 90px;
    width: 50px;
    font: bold 15px/40px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #0066A6;
    border-radius: 3px 0 0 3px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.inscription .item2 button:hover{
    background: #0066A6;
}

.inscription .item2 button:active,
.inscription .item2 button:focus{
    background: #0066A6;
    outline: 0;
}

.inscription .item2 button:before { /* FLECHITA */
    content: '';
    position: absolute;
    border-width: 8px 0 8px 8px;
    border-style: solid;
    border-color: transparent #0066A6 transparent;
    top: 33px;
    right: -6px;
}

.inscription .item2 button:hover:before{
    border-right-color: #0066A6;
}

.inscription .item2 button:focus:before,
.searchRegulation .item2 button:active:before{
        border-right-color: #0066A6;
}

/* quitar espacio extra del botón para Mozilla Firefox */
.inscription .item2 button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.inscription .textInscribirme {
  font-size:20px;
}

.inscription .textBtnBolsaDeTrabajo {
  padding: 20px 20px 20px 70px;
}


/****************************************************************/
/***************** INSCRIPCIONES REALIZADAS *********************
*****************************************************************/

.inscription .inscriptionList {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  flex-wrap: wrap;
}

.inscription .itemInscription {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: center;
  box-shadow: 0 0  2px rgba(0,0,0,.5) inset;
  border-radius: 3px;
  margin-top: 10px;
  margin-right: 20px;
}

.inscription .iconMaletin {
  background-color: #275276;
  color:white;
  padding: 11px 18px 11px 18px;
  border-radius: 3px 0px 0 3px;
  height: 49px;

}

.inscription .iconFlecha {
  color: #275276;
  background-color: #0066A6;
  padding: 7px 0px 7px 0px;
  font-size: 20px;
  height: 56px;
}

.inscription .fa-caret-right {
  margin-top: 15px;

}

.inscription .fa-briefcase {
  margin-top: 15px;

}

.inscription .fa-trash-o {
  margin-left: 5px;

}

.inscription .fa-file-pdf-o {
  margin-left: 5px;
}

.inscription .icoTrash {
  background-color: #275276;
  padding: 1px 8px 1px 4px;
  border-radius: 2px;
  cursor: pointer;
  height: 100%;
  width: 20px;

}

.inscription .icoDownload {
  background-color: #275276;
  padding: 1px 8px 3px 4px;
  border-radius: 2px;
  cursor: pointer;
  height: 100%;
  width: 20px;
}

.inscription .textItemInscription {
  width: 260px;
  background-color: #0066A6;
  border-radius: 0px 3px 3px 0px;
  font-size: 18px;
  color:white;
  height: 70px;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  padding-left: 10px;
  justify-content: space-around;
}

.inscription .textItemInscriptionCarrera {
  font-size: 12px;
}

.inscription .iconsInscription {

display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;

}

.inscription .contentInscription {
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 20px;
  width: 79%;
  margin: 0px 0px 0px 20px;
}

.inscription .textInscribirme {
  font-size:20px;
}

.inscription .myInscriptions {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  color: grey;
  margin-right: 20px;
  width: 100%;
}


/****************************************************************/
/********************* RegistrationForm *************************
********************* FORMULARIO DE REGISTRO ********************/

.inscription .registrationForm {
  display: none;
}

.inscription.registro .registrationForm {
  display: flex;
  width: 100%;
  height: 100%;
  top:0px;
  left: 0px;

  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content:center;
  align-items: center;
}

.inscription .contentForm {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 20px;
  width: 450px;
  height: 300px;


}

.inscription .headerForm {
  width: 100%;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  align-items: center;
}

/**** BOTON SALIR DEL FORMULARIO ****/
.fa-times-circle {
  color:#e43e46;
  cursor: pointer;
}

.inscription .content {
  margin-top: 10px;
  background-color: #eee;
  height: 100%;
  width: 95%;
  border-radius: 5px;
  padding: 10px;
}


/***** ESTILOS DE LOS IMPUT DEL FORMULARIO DE REGESTRO *****/

.inscription .subTittlesForm {
  color:#0066A6;
  margin-top: 10px;
  margin-bottom: 10px;
}
.inscription .item .carrera {
    width: 320px;
    height: 40px;
    float: left;
    border: 0;
    background: white;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

.inscription .item .CantMatAprov {
    width: 40px;
    height: 20px;
    float: left;
    border: 0;
    background: white;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}


/******** pantalla idioma **********/

.inscription .contentItemsLanguajes {
  display: flex;
  flex-direction: row;
  align-items:  center;
}

.inscription .itemLanguajes {
  height: initial;
}

.inscription .btnAddLanguaje {
  background-color: #ec9122;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.inscription .languajes {
  overflow-y: auto;
  height: 150px;
}

.inscription .item .languaje {
    width: 170px;
    height: 40px;
    float: left;
    border: 0;
    background: white;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}


.inscription .lenguajeLevel {
  width: 150px !important;
  margin-left: 5px;
  font-size: 14px !important;
  background-color: white !important;

}

.inscription .deleteLenguaje {
  background-color: #e43e46;
  color:white;
  cursor: pointer;
  width: 15px;
  padding: 5px;
  margin-left: 10px;
  border-radius: 2px;

}

/***** estrellas de los idiomas *****/

.inscription .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 15px;
  margin: 10px;

}
.inscription .rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.inscription .rating span.star:hover {
  cursor: pointer;
}
.inscription .rating span.star:before {
  content: "\f006 ";
  padding-right: 5px;
  color: grey;
}
.inscription .rating span.star:hover:before,
.inscription .rating span.star:hover ~ span.star:before {
  content: "\f005";
  color: #ec9122;
}

/*ESTILO DEL INPUT FILE (CARGA DE CV)*/

.inscription .p6 .item {
  z-index: 999;
}

.inscription .contentUploadPDF {
  cursor: pointer;

  width: 200px;
}

.inscription .textBtnPDF{
	text-align: center;
	color:black;
  cursor: pointer;
}

.inscription .uploadPDF {
	position:relative;
  border: 1px solid #bec3c6;
  padding:8px 10px 8px 10px;
	/*width:180px;*/
	background-color: white;
  border-radius: 0px 5px 5px 0px;
	-webkit-border-radius:5px;
  -webkit-box-shadow: 0 0  2px rgba(0,0,0,.5) inset
  -moz-box-shadow: 0 0  2px rgba(0,0,0,.5) inset
  cursor: pointer;

}

.inscription .btnInputFile {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:100%;
	opacity: 0;
  cursor: pointer;
}


/******* pantalla de finalización  ********/

.inscription .p7 {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items: center;
  -webkit-align-items: center; /* Safari */
  -moz-align-items: center; /* mozilla */
}



/******** footer del fomulario ********/

.inscription .footerForm {
  width: 95%;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.inscription .btnBack {
  background-color: #0066A6;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inscription .btnNext {
  background-color: #0066A6;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inscription .btnSave {
  background-color: #0066A6;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inscription .pagination {
  color: grey;
}

.btnChange {
  position: relative;
  z-index: 999;
}





.p1, .p2, .p3, .p4, .p6, .p7 {
  margin-left: 30px;
}

.p5 {
  margin-left: 15px
}



/****** MOSTRAR U OCULTAR PANTALLAS DEL FORMULARIO ******/

.inscription .content.pantalla1 .p2,
.inscription .content.pantalla1 .p3,
.inscription .content.pantalla1 .p4,
.inscription .content.pantalla1 .p5,
.inscription .content.pantalla1 .p6,
.inscription .content.pantalla1 .p7 {
  display: none;
}

.inscription .content.pantalla2 .p1,
.inscription .content.pantalla2 .p3,
.inscription .content.pantalla2 .p4,
.inscription .content.pantalla2 .p5,
.inscription .content.pantalla2 .p6,
.inscription .content.pantalla2 .p7 {
  display: none;
}

.inscription .content.pantalla3 .p1,
.inscription .content.pantalla3 .p2,
.inscription .content.pantalla3 .p4,
.inscription .content.pantalla3 .p5,
.inscription .content.pantalla3 .p6,
.inscription .content.pantalla3 .p7 {
  display: none;
}

.inscription .content.pantalla4 .p1,
.inscription .content.pantalla4 .p2,
.inscription .content.pantalla4 .p3,
.inscription .content.pantalla4 .p5,
.inscription .content.pantalla4 .p6,
.inscription .content.pantalla4 .p7 {
  display: none;
}

.inscription .content.pantalla5 .p1,
.inscription .content.pantalla5 .p2,
.inscription .content.pantalla5 .p3,
.inscription .content.pantalla5 .p4,
.inscription .content.pantalla5 .p6,
.inscription .content.pantalla5 .p7 {
  display: none;
}

.inscription .content.pantalla6 .p1,
.inscription .content.pantalla6 .p2,
.inscription .content.pantalla6 .p3,
.inscription .content.pantalla6 .p4,
.inscription .content.pantalla6 .p5,
.inscription .content.pantalla6 .p7 {
  display: none;
}

.inscription .content.pantalla7 .p1,
.inscription .content.pantalla7 .p2,
.inscription .content.pantalla7 .p3,
.inscription .content.pantalla7 .p4,
.inscription .content.pantalla7 .p5,
.inscription .content.pantalla7 .p6 {
  display: none;
}

.inscription .footerForm.pantalla1 .btnSave,
.inscription .footerForm.pantalla2 .btnSave,
.inscription .footerForm.pantalla3 .btnSave,
.inscription .footerForm.pantalla4 .btnSave,
.inscription .footerForm.pantalla5 .btnSave,
.inscription .footerForm.pantalla6 .btnSave {
  display: none;
}

.inscription .footerForm.pantalla1 .btnBack {
  display: none;
}

.inscription .footerForm.pantalla7 .btnBack {
  display: none;
}

.inscription .footerForm.pantalla7 .btnNext{
  display: none;
}
