.inscriptionContainer {
  height:100%;
  width:100%;
  position:absolute;
  overflow:hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin:0px;
  background-color: #eee;


}
.inscription {


}

.inscription .header {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  margin: 20px;
  width: 82%;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

/****************************************************************/
/********************* DATOS BASICOS ****************************
******* Contenedor de los datos basicos de la persona************/

.inscription .dataBasic {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px 2px 0px 2px;
  -webkit-border-radius:2px 2px 0px 2px;
  -moz-border-radius:2px 2px 0px 2px;
  padding: 20px;
  width: 79%;
  margin: 20px 20px 0px 20px;
}

.inscription .item {
  margin-bottom: 10px;
  margin-right: 50px;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
}

.inscription .item .photo {
    display: flex;
    display: -webkit-flex; /* Safari */
    display: -moz-flex; /* mozilla */
    flex-direction:column;
    -webkit-flex-direction:column; /* Safari */
    -moz-flex-direction:column; /* mozilla */
    align-items: center;
    justify-content:center;
    width: 290px;
    height: 140px;
    float: left;
    border: 0;
    background: #eee;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
    color:rgba(0,0,0,.2);
    cursor:pointer;

}

.inscription .item input {
    width: 200px;
    height: 20px;
    padding: 10px 20px;
    float: left;
    font:  18px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 0;
    background: #eee;
    border-radius: 0 3px 3px 0px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

.inscription .item input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

.inscription .item input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.inscription .item input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.inscription .item input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.inscription .selectGrey {
  color: red;
}

.inscription .item select {
    width: 240px;
    height: 40px;
    padding: 10px 20px;
    float: left;
    font:  18px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 0;
    background: #eee;
    border-radius: 0 3px 3px 0px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;

}

.inscription .item button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 50px;
    font: bold 15px/40px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #0066A6;
    border-radius: 3px 0 0 3px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.inscription .item button:hover{
    background: #0066A6;
}

.inscription .item button:active,
.inscription .item button:focus{
    background: #0066A6;
    outline: 0;
}

.inscription .item button:before { /* FLECHITA */
    content: '';
    position: absolute;
    border-width: 8px 0 8px 8px;
    border-style: solid;
    border-color: transparent #0066A6 transparent;
    top: 12px;
    right: -6px;
}

.inscription .item button:hover:before{
    border-right-color: #0066A6;
}

.inscription .item button:focus:before,
.searchRegulation .item button:active:before{
        border-right-color: #0066A6;
}

/* quitar espacio extra del botón para Mozilla Firefox */
.inscription .item button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/****************************************************************/
/********************* bannerInscription ************************
*****************************************************************/

.inscription .contentInscription {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 20px;
  width: 79%;
  margin: 0px 0px 0px 20px;
}

.inscription .contentInscription {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
}

.inscription .contentLeft {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  width: 80%;
  justify-content: flex-start;

}

.inscription .contentRight {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  width: 20%;
  justify-content: flex-end;
}

.inscription .btnInscription {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  background-color: #128c78;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 3px solid #5c5f69;
}

.inscription .btnInscription:hover {
  background-color: #1EB49C;

}

.inscription .btnSave {
  background-color: #0066A6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 3px solid #5c5f69;
}

.inscription .btnSave:hover {
  background-color: #228BCD;


}

.inscription .contentInscription .item {
  color: white;
  border-radius: 3px;

}

.inscription .contentInscription .item:hover {
  background-color: grey;
}

/*colores de los botones*/
.inscription .contentInscription .col1 {
  background-color: #275276;
  cursor: pointer;
  margin-right: 32px;
}
.inscription .contentInscription .col1:hover {
  background-color: #3885C5;

}

.inscription .contentInscription .col2 {
  background-color: #128c78;
  margin-right: 5px;
}

.inscription .contentInscription .col2:hover {
  background-color: #128c78;
}

.inscription .contentInscription .col3 {
  background-color: #275276;
}

.inscription .contentInscription .col3:hover {
  background-color: #3885C5;
  cursor: pointer;
}

.inscription .contentInscription .btnTrash {
  background-color: #e43e46;
  color: white;
  border-radius: 2px;
  padding: 2px;
  margin-bottom: 2px;

}

.inscription .contentInscription .btnDownload {
  background-color: #275276;
  color: white;
  border-radius: 2px;
  padding: 2px;
}





.inscription .contentInscription .item button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    cursor: pointer;
    height: 68px;
    width: 50px;
    font: bold 15px/40px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    background: #0066A6;
    border-radius: 3px 0 0 3px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    margin-right: 5px;

}

.inscription .contentInscription .item button:hover{
    background: #0066A6;
}

.inscription .contentInscription .item button:active,
.inscription .contentInscription .item button:focus{
    background: #0066A6;
    outline: 0;
}

.inscription .contentInscription .item button:before { /* FLECHITA */
    content: '';
    position: absolute;
    border-width: 8px 0 8px 8px;
    border-style: solid;
    border-color: transparent #0066A6 transparent;
    top: 26px;
    right: -6px;
}

.inscription .contentInscription .item button:hover:before{
    border-right-color: #0066A6;
}

.inscription .contentInscription .item button:focus:before,
.searchRegulation .contentInscription .item button:active:before{
        border-right-color: #0066A6;
}

/* quitar espacio extra del botón para Mozilla Firefox */
.inscription .contentInscription .item button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


.inscription .textBtn {
  padding: 10px;
}

.inscription .contentInscription .textInscribirme {
  font-size:20px;
}

.inscription .myInscriptions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.9em;
  color: grey;
  margin-right: 20px;
}

/****************************************************************/
/********************* RegistrationForm ************************
*****************************************************************/

.inscription .registrationForm {
  display: none;
}

.inscription.registro .registrationForm {
  display: flex;
  width: 100%;
  height: 100%;
  top:0px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content:center;
  align-items: center;
}

.inscription .contentForm {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 20px;
  width: 450px;
  height: 300px;
  margin:  auto;
}

.inscription .headerForm {
  width: 100%;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  align-items: center;
}

.fa-times-circle {
  color:#e43e46;
}

.inscription .content {
  margin-top: 10px;
  background-color: #eee;
  height: 100%;
  width: 95%;
  border-radius: 5px;
  padding: 10px;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7 {
  margin-left: 30px;
}

/****** MOSTRAR U OCULTAR PANTALLAS DEL FORMULARIO ******/

.inscription .content.pantalla1 .p2,
.inscription .content.pantalla1 .p3,
.inscription .content.pantalla1 .p4,
.inscription .content.pantalla1 .p5,
.inscription .content.pantalla1 .p6,
.inscription .content.pantalla1 .p7 {
  display: none;
}

.inscription .content.pantalla2 .p1,
.inscription .content.pantalla2 .p3,
.inscription .content.pantalla2 .p4,
.inscription .content.pantalla2 .p5,
.inscription .content.pantalla2 .p6,
.inscription .content.pantalla2 .p7 {
  display: none;
}

.inscription .content.pantalla3 .p1,
.inscription .content.pantalla3 .p2,
.inscription .content.pantalla3 .p4,
.inscription .content.pantalla3 .p5,
.inscription .content.pantalla3 .p6,
.inscription .content.pantalla3 .p7 {
  display: none;
}

.inscription .content.pantalla4 .p1,
.inscription .content.pantalla4 .p2,
.inscription .content.pantalla4 .p3,
.inscription .content.pantalla4 .p5,
.inscription .content.pantalla4 .p6,
.inscription .content.pantalla4 .p7 {
  display: none;
}

.inscription .content.pantalla5 .p1,
.inscription .content.pantalla5 .p2,
.inscription .content.pantalla5 .p3,
.inscription .content.pantalla5 .p4,
.inscription .content.pantalla5 .p6,
.inscription .content.pantalla5 .p7 {
  display: none;
}

.inscription .content.pantalla6 .p1,
.inscription .content.pantalla6 .p2,
.inscription .content.pantalla6 .p3,
.inscription .content.pantalla6 .p4,
.inscription .content.pantalla6 .p5,
.inscription .content.pantalla6 .p7 {
  display: none;
}

.inscription .content.pantalla7 .p1,
.inscription .content.pantalla7 .p2,
.inscription .content.pantalla7 .p3,
.inscription .content.pantalla7 .p4,
.inscription .content.pantalla7 .p5,
.inscription .content.pantalla7 .p6 {
  display: none;
}


/***** estrellas de los idiomas *****/

.inscription .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 15px;
  margin: 10px;

}
.inscription .rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.inscription .rating span.star:hover {
  cursor: pointer;
}
.inscription .rating span.star:before {
  content: "\f006 ";
  padding-right: 5px;
  color: grey;
}
.inscription .rating span.star:hover:before,
.inscription .rating span.star:hover ~ span.star:before {
  content: "\f005";
  color: #ec9122;
}

/***** ESTILOS DE LOS IMPUT DEL FORMULARIO DE REGESTRO *****/

.inscription .subTittlesForm {
  color:#0066A6;
  margin-top: 10px;
  margin-bottom: 10px;
}
.inscription .item .carrera {
    width: 320px;
    height: 40px;
    float: left;
    border: 0;
    background: white;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

.inscription .item .CantMatAprov {
    width: 40px;
    height: 20px;
    float: left;
    border: 0;
    background: white;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

.inscription .item .languaje {
    width: 200px;
    height: 40px;
    float: left;
    border: 0;
    background: white;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

/******** pantalla idioma **********/

.inscription .btnAddLanguaje {
  background-color: #ec9122;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.inscription .languajes {
  overflow-y: auto;
  height: 100px;
}


/******** footer del fomulario ********/

.inscription .footerForm {
  width: 95%;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.inscription .btnFooter {
  background-color: #0066A6;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.inscription .pagination {
  color: grey;
}

.btnChange {
  position: relative;
  z-index: 999;
}
