<div class="inscriptionContainer">

    <div class="inscription" ng-class='getInscriptionClazz()'>

        <!-- ************************************
        ********* DATOS BASICOS ************
        ************************************* -->
        <form class="contentDataBasic" name='dataBasic' novalidate>
            <!-- <div class="header">
               <img src="http://163.10.56.60/systems/laboralInsertion/img/logoInsercion.jpg">
            </div> -->
            <div class="dataBasic">
                <div class"col">
                    <div class="item">
                      <div class="photo" placeholder="Foto"><i class="fa fa-camera-retro fa-4x"></i>Subir Foto</div>

                    </div>

                    <div class="item">
                        <div>
                          <button><i class="fa fa-user"></i></button>
                        </div>
                        <div>
                          <input type="text" placeholder="Nombres" name='name' ng-model='model.user.name' ng-pattern='/^[a-zA-Z ]*$/' ng-blur='updateUserData()'></input>
                          <span ng-if='dataBasic.name.$invalid'>error</span>
                        </div>
                    </div>

                    <div class="item">
                      <div>
                        <button><i class="fa fa-user"></i></button>
                      </div>
                      <div>
                        <input type="text" placeholder="Apellidos" name='lastname' ng-model='model.user.lastname' ng-blur='updateUserData()'></input>
                      </div>
                    </div>

                    <div class="item">
                      <div>
                        <button><i class="fa fa-credit-card"></i></button>
                      </div>
                      <div>
                        <input type="text" placeholder="DNI" name='dni' ng-model='model.user.dni'  ng-blur='updateUserData()'></input>
                      </div>
                    </div>

                </div>
                <div class"col">

                    <div class="item">
                      <div>
                        <button><i class="fa fa-graduation-cap"></i></button>
                      </div>
                      <div>
                        <input type="text" placeholder="Legajo" name='student_number' ng-model='model.user.student_number' ng-blur='updateUserData()'></input>
                      </div>
                    </div>

                    <div class="item">
                      <div>
                        <button><i class="fa fa-calendar-o"></i></button>
                      </div>
                      <div>
                        <input type="date" placeholder="Nacimiento ( 01/01/1990 )" name='birthdate' ng-model='model.user.birthdate' ng-blur='updateUserData()'></input>
                      </div>
                    </div>

                    <div class="item">
                      <div>
                        <button><i class="fa fa-venus-mars"></i></button>
                      </div>
                      <div>
                        <select ng-model='model.user.genre' name='genre' ng-blur='updateUserData()'>
                          <option class="selectGrey" disabled selected style='display:none;'>Género</option>
                          <option>Masculino</option>
                          <option>Femenino</option>
                          <!-- <option>Otro</option> -->
                        </select>
                      </input>
                      </div>
                    </div>

                    <div class="item">
                      <div>
                        <button><i class="fa fa-map-marker"></i></button>
                      </div>
                      <div>
                        <input type="text" placeholder="Ciudad de residencia actual" ng-model='model.user.residence_city' ng-blur='updateUserData()'></input>
                      </div>
                    </div>

                    <div class="item">
                      <div>
                        <button><i class="fa fa-home"></i></button>
                      </div>
                      <div>
                        <input type="text" placeholder="Domicilio" ng-model='model.user.address' ng-blur='updateUserData()'></input>
                      </div>
                    </div>

                    <div class="item">
                      <div>
                        <button><i class="fa fa-map-marker"></i></button>
                      </div>
                      <div>
                        <input type="text" placeholder="Ciudad de procedencia" ng-model='model.user.birth_city' ng-blur='updateUserData()'></input>
                      </div>
                    </div>

                </div>
                <div class"col">

                    <div class="item">
                      <div>
                        <button><i class="fa fa-globe"></i></button>
                      </div>
                      <div>
                        <input type="text" placeholder="País" ng-model='model.user.country' ng-blur='updateUserData()'></input>
                      </div>
                    </div>

                    <div class="item">
                      <div>
                        <button><i class="fa fa-mobile"></i></button>
                      </div>
                      <div>
                        <input type="text" placeholder="Cel. (+5492215011111)" ng-model='model.user.movil' ng-blur='updateUserData()'></input>
                      </div>
                    </div>

                    <div class="item">
                      <div>
                        <button><i class="fa fa-phone"></i></button>
                      </div>
                      <div>
                        <input type="text" placeholder="Fijo (+5492214231111)" ng-model='model.user.telephone' ng-blur='updateUserData()'></input>
                      </div>
                    </div>

                    <div class="item">
                      <div>
                        <button><i class="fa fa-envelope"></i></button>
                      </div>
                      <div>
                        <input type="email" placeholder="nombre@dominio.com" ng-model='model.user.email' ng-blur='updateUserData()'></input>
                      </div>
                    </div>

                    <div ng-if='model.showInscription' class="item2" ng-click='startInscription()'>
                      <div>
                        <button><i class="fa fa-briefcase fa-2x"></i></button>
                      </div>
                      <div class="textBtnBolsaDeTrabajo">
                        <div>
                            <span> Bolsa de Trabajo</span><br>
                            <span class="textInscribirme"> <b>INSCRIBIRME</b> </span>
                        </div>
                      </div>
                    </div>

                </div>
            </form>
        </div>
        <!-- *********************************************
        ************ INSCRIPCIONES REALIZADAS ************
        ********************************************** -->
        <div class="contentInscription">
            <div class="myInscriptions">
                <div>
                    <i class="fa fa-chevron-circle-down"></i> Mis Inscripciones
                </div>

                <div class="inscriptionList">

                    <div ng-repeat="i in model.inscriptionsData">
                      <div class="itemInscription">
                          <div class="iconMaletin">
                            <i class="fa fa-briefcase"></i>
                          </div>
                          <div class="iconFlecha">
                            <i class="fa fa-caret-right"></i>
                          </div>
                          <div class="textItemInscription">
                              <div>
                                <span>Inscripto en <b>{{getType(i)}}</b></span></br>
                                <span class="textItemInscriptionCarrera">como <b>{{getDegree(i)}}</b></span>
                              </div>
                              <div class="iconsInscription">
                                <span class="icoTrash" title="Eliminar Inscripción" ng-click='removeInscription(i)'><i class="fa fa-trash-o"></i></span>
                                <span class="icoDownload" title="Descargar Inscripción" ng-click='downloadInscription(i)'><i class="fa fa-file-pdf-o"></i></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>


        <!-- ************************************
        ******* FPRMULARIO DE REGISTRO **********
        ************************************* -->
        <div class="registrationForm">
            <div class="contentForm">
                <div class="headerForm">
                    <div>
                        <h4>Formulario | OFERTA LABORAL</h4>
                    </div>
                    <div ng-click='endInscription()'>
                      <i class="fa fa-times-circle fa-2x" title="Cancelar"></i>
                    </div>
                </div>

                <!-- *** PANTALLAS INTERNAS DEL FORMULARIO VAN DE 1 A 7 *** -->
                <div class="content" ng-class='getRegistrationClazz()'>

                    <div class="p1">
                        <div class="subTittlesForm">
                          <b>Seleccione Carrera</b>
                        </div>

                        <div class="item">
                          <div>
                            <button><i class="fa fa-graduation-cap"></i></button>
                          </div>
                          <div>
                            <select class="carrera" ng-model='model.offer.degree'>
                              <option class="selectGrey" disabled selected style='display:none;'>Seleccionar...</option>
                              <option ng-repeat='o in degrees'>{{o}}</option>
                              <!--
                              <option>Contador Público</option>
                              <option>Licenciatura en Administración</option>
                              <option>Licenciatura en Turismo</option>
                              <option>Licenciatura en Economía</option>
                              <option>Tecnicatura en Cooperativas</option>
                            -->
                            </select>

                          </div>
                        </div>

                    </div>

                    <div class="p2">

                        <span class="subTittlesForm">
                          <b>Materias aprobadas con final (incluyendo seminario)</b>
                        </span>
                        <div class="item">
                            <button><i class="fa fa-book"></i></button>
                            <input class="CantMatAprov" type="number" ng-model='model.offer.approved'></input>
                        </div>

                        <span class="subTittlesForm">
                          <b>Promedio sin aplazos</b>
                        </span>
                        <div class="item">
                            <button><i class="fa fa-book"></i></button>
                            <input class="CantMatAprov" type="number" ng-model='model.offer.average1'></input>
                        </div>

                        <span class="subTittlesForm">
                          <b>Promedio con aplazos</b>
                        </span>
                        <div class="item">
                            <button><i class="fa fa-book"></i></button>
                            <input class="CantMatAprov" type="number" ng-model='model.offer.average2'></input>
                        </div>

                    </div>

                    <div class="p3">
                        <div class="subTittlesForm">
                          <b>Seleccione el tipo de Oferta Laboral</b>
                        </div>

                        <div class="item">
                          <div>
                            <button><i class="fa fa-briefcase"></i></button>
                          </div>
                          <div>
                            <select class="carrera" ng-model='model.offer.workType'>
                              <option class="selectGrey" disabled selected style='display:none;'>Seleccionar...</option>
                              <option ng-repeat='o in workTypes'>{{o}}</option>
                              <!--
                              <option>Pasantía</option>
                              <option>Full-Time</option>
                              <option>Programa estudiantes avanzados y jovenes profesionales</option>
                              -->
                            </select>
                          </div>
                        </div>

                    </div>

                    <div class="p4">
                        <div class="subTittlesForm">
                          <b>¿Está dispuesto a viajar?</b>
                        </div>

                        <div class="item">
                          <div>
                            <button><i class="fa fa-plane"></i></button>
                          </div>
                          <div>
                            <select class="carrera" ng-model='model.offer.travel'>
                              <option class="selectGrey" disabled selected style='display:none;'>Seleccionar...</option>
                              <option ng-repeat='o in travel'>{{o}}</option>
                              <!--
                              <option>Si</option>
                              <option>No</option>
                              -->
                            </select>
                          </div>
                        </div>
<!--
                        <div class="subTittlesForm">
                          <b>¿ está dispuesto a residir en el interior / exterior ?</b>
                        </div>

                        <div class="item">
                          <div>
                            <button><i class="fa fa-globe"></i></button>
                          </div>
                          <div>
                            <select class="carrera">
                              <option class="selectGrey" disabled selected style='display:none;'>Seleccionar...</option>
                              <option>Si</option>
                              <option>No</option>
                            </select>
                          </div>
                        </div> -->

                    </div>

                    <div class="p5">
                        <div class="subTittlesForm">
                          <b>Idioma</b>
                          <button class="btnAddLanguaje" ng-click='addLanguage()'><i class="fa fa-language"></i> AGREGAR IDIOMA</button>

                        </div>

                        <div class="languajes">
                            <div class="item itemLanguajes" ng-repeat='i in model.languages'>
                              <div>
                                <button><i class="fa fa-language"></i></button>

                              </div>
                              <div class="contentItemsLanguajes">
                                <select class="languaje" ng-model='i.name'>
                                  <option class="selectGrey" disabled selected style='display:none;'>Seleccionar...</option>
                                  <option ng-repeat='o in languages'>{{o}}</option>
                                  <!--
                                  <option>Inglés</option>
                                  <option>Portugués</option>
                                  <option>Otro</option>
                                  -->
                                </select>

                                <select class="lenguajeLevel">
                                  <option>Básico</option>
                                  <option>Intermedio</option>
                                  <option>Excelente</option>

                                </select>

                                 <span> <i class="fa fa-trash deleteLenguaje"></i> </span>


                                <!-- esto no puede ser asi. tiene que si o si ser algun tipo de input, select, etc. -->
                                <!-- <span class="rating">
                                    <span class="star" title="Avanzado"></span>
                                    <span class="star" title="Intermedio"></span>
                                    <span class="star" title="Básico"></span>
                                </span> -->
                                <!-- ---------------- -->
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="p6">

                        <div class="subTittlesForm">
                          <b>Cargar CV</b>
                        </div>
                        <div class="item">
                            <button><i class="fa fa-book"></i></button>
                            <div class="contentUploadPDF">
                                <div>
                                    <div class="uploadPDF">
                                       <p class="textBtnPDF"><i class="fa fa-arrow-circle-up"></i> Subir CV</p>
                                       <input type="file" class="btnInputFile" id="" on-read-file-binary-string="addFile(fileName,fileContent)">
                                    </div>
                                </div>
                           </div>
                        </div>

                    </div>

                    <div class="p7">
                        <div class="subTittlesForm">
                          <i class="fa fa-check-square-o fa-4x"></i>
                        </div>
                        <div class="subTittlesForm">
                          <b>Solicitud finalizada con éxito!</b>
                        </div>
                    </div>


                </div>
                <div class="footerForm" ng-class='getRegistrationClazz()'>
                    <div class="pagination">

                    </div>
                    <div>
                      <button class="btnBack" ng-click='changePreviousRegistration()'><i class="fa fa-arrow-circle-o-left"></i> Anterior </button>
                      <button class="btnNext" ng-click='changeRegistration()'>Siguiente <i class="fa fa-arrow-circle-o-right"></i></button>
                      <button class="btnSave" ng-click='uploadInscription()'><i class="fa fa-floppy-o"></i> GUARDAR </button>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
