*{
margin: 0px;
padding: 0px;
  }*
.createNorma {
  max-width:1200px;
  min-width: 1000px;
  height:100%;
  background-color:#eeeeee;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.solicitudes {
  padding:20px;
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  margin:20px;
}

.normas i {
  margin-bottom:5px;
}

.solicitudes .normas {
  color:#5c5f69;
}
.normas {
  margin-top: 20px;
}


.boton {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items:center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-top:1px solid #ECECEC;
  border-left:1px solid #ECECEC;
  border-right:1px solid #ECECEC;
  cursor:pointer;
  font-size:0.8em;
  padding:20px;
  margin-right:20px;
}


.boton.cO {
  background-color:#eeeeee;
  border-bottom:3px solid #ec9122;
}

.boton.cR {
  background-color:#eeeeee;
  border-bottom:3px solid #e43e46;
}

.boton.cD {
  background-color:#eeeeee;
  border-bottom:3px solid #128c78;
}

.boton.cO:hover {
  color:white;
  background-color:#ec9122;
  border-bottom:3px solid #ec9122;
}

.boton.cR:hover {
  color:white;
  background-color:#e43e46;
  border-bottom:3px solid #e43e46;
}

.boton.cD:hover {
  color:white;
  background-color:#128c78;
  border-bottom:3px solid #128c78;
}

.nuevasSolicitudes {

  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  margin:20px;
}
.nuevaNorma {
  padding:20px;

}
.nuevaOrdenza {
  background-color:#ec9122;
  color:white;
  padding:5px;
  margin-left:10px;
  margin-right:10px;

}

.inputText1 {
  font-size: 1.2em;
  background-color: white;
  padding: 3px;
  width: 100%;
  border:1px solid #b3b5bc;

}
.inputText2 {

  height: 80px;
  font-size: 1.2em;
  background-color: white;
  padding: 3px;
  width: 100%;
  border:1px solid #b3b5bc;

}


.divText1 {
  width: 3em;
}
.divText2 {
  font-size: 0.8em;
}
.separador {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
}

.datos1 {
  margin-top: 25px;
  background-color: #d5dbdf;
  padding: 10px;
  border-bottom:3px solid #b3b5bc;

}

.datos2 {
  margin-top: 20px;
  background-color: #d5dbdf;
  padding: 10px;
  border-bottom:3px solid #b3b5bc;

}
.contIzq {
  width: 50%;
  margin-right: 20px;

}

.contDer {
  width: 50%;
}

.title {
  margin: 10px;
  margin-bottom: 10px;
}
.tam {
  width: 100%;
}
p {
  margin: 0px;

}
.custom-input-file {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.custom-input-file .input-file {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;
}

.titleCO {
  margin-left: 20px;
  font-size: 1.2em;
}

.enviarOrdenanza {
  background-color:#5c5f69;
  color:white;
  padding: 20px;
  width: 100%;
  border-bottom:3px solid #ec9122;

  cursor: pointer;


}
.enviarOrdenanza:hover {
  background-color:#ec9122;
  color:white;
  padding: 20px;
  width: 100%;
  cursor: pointer;


}

.crearNorma {
  padding:20px;
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  margin:20px;
}
.datos3 {
  color: white;

  background-color: #ec9122;
  padding: 100px;
  border-bottom:3px solid #b3b5bc;

}

.titleOC {
  margin-left: 20px;
  font-size: 1.7em;
}
