*{
margin: 0px;
padding: 0px;
  }*
body {
  width:100%;
  height:100%;
  background-color:#eeeeee;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.solicitudes {
  padding:20px;
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  margin:20px;
}

.normas i {
  margin-bottom:5px;
}

.solicitudes .normas {
  color:#5c5f69;
}
.normas {
  margin-top: 20px;
}


.boton {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items:center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-top:1px solid #ECECEC;
  border-left:1px solid #ECECEC;
  border-right:1px solid #ECECEC;
  cursor:pointer;
  font-size:0.8em;
  padding:20px;
  margin-right:20px;
}


.boton.cO {
  background-color:#eeeeee;
  border-bottom:3px solid #ec9122;
}

.boton.cR {
  background-color:#eeeeee;
  border-bottom:3px solid #e43e46;
}

.boton.cD {
  background-color:#eeeeee;
  border-bottom:3px solid #128c78;
}

.boton.cO:hover {
  color:white;
  background-color:#ec9122;
  border-bottom:3px solid #ec9122;
}

.boton.cR:hover {
  color:white;
  background-color:#e43e46;
  border-bottom:3px solid #e43e46;
}

.boton.cD:hover {
  color:white;
  background-color:#128c78;
  border-bottom:3px solid #128c78;
}

.nuevasSolicitudes {
  padding:20px;
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  margin:20px;
}
.nuevaNorma {
  padding:20px;

}
.nuevaOrdenza {
  background-color:#ec9122;
  color:white;
  padding:5px;
  margin-left:10px;
  margin-right:10px;

}

.inputText1 {
  font-size: 1.2em;
  background-color: white;
  padding: 3px;
  width: 100%;
  border:1px solid #b3b5bc;

}
.inputText2 {

  height: 200px;
  font-size: 1.2em;
  background-color: white;
  padding: 3px;
  width: 100%;
  border:1px solid #b3b5bc;

}


.divText1 {
  width: 3em;
}
.divText2 {
  font-size: 0.8em;
}
.separador {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
}

.datos1 {
  margin-top: 25px;
  background-color: #d5dbdf;
  padding: 10px;
  border-bottom:3px solid #b3b5bc;

}

.datos2 {
  margin-top: 20px;
  background-color: #d5dbdf;
  padding: 10px;
  border-bottom:3px solid #b3b5bc;

}

.title {
  margin: 10px;
  margin-bottom: 10px;
}
.tam {
  width: 50%;
}
p {
  margin: 0px;

}
