* {
  margin:0;
  padding:0;
}

.principal {
  display: flex;
  align-items: center;
  justify-content: center;

  border: solid red 2px;
  background: url(/views/img/fondo3.jpg) no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Calibri;
  font-size: 14px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
