
.principal {
  display: flex;

<!--
  background: url(/views/img/fondo3.jpg) no-repeat fixed center;

  font-family: Calibri;
  font-size: 14px;
  -->
}

.container-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


.flex-container {
  display: flex;
}



.hidden {
  display: none;
  z-index: -1;
}

.visible {
  display: block;
  z-index: 999;
}
