    <form novalidate  role="form" ng-submit="submit()" > 
        Inicio<input type="date" ng-model="fields.start"/>
        <br>
        Fin<input type="date" ng-model="fields.end"/>
        <br>
        Resolución<input type="text" ng-model="fields.resolution"/>
        <br>
        Expediente<input type="text" ng-model="fields.record"/>
        <br>
        Usuario<input type="text" ng-model="fields.userSearch" ng-change="findUser()"/>{{fields.userSelected}}
        <br>
        Lugar<input type="text" ng-model="fields.placeSearch" ng-change="findPlace()"/>{{fields.placeSelected}}
    </form>

