<div>
  <div ng-if='members.length > 0'>
    <ul ng-repeat='user in members'>
      <li ng-click='select(user.id)' ng-class="{true:'selected',false:''}[isSelected(user.id)]">
        <div>dni : {{user.dni}}</div>
        <div>nombre : {{user.name}}</div>
        <div>apellido : {{user.lastname}}</div>
        <div>dni : {{user.dni}}</div>
      </li>
    </ul>
    <button ng-click='remove()'>eliminar</button>
  </div>
  <div>
    <button ng-click='showAdd()'>agregar</button>
    <div ng-if='adding == true' class='addPanel'>
      <ul ng-repeat='u in usersToAdd'>
        <li ng-click='selectToAdd(u.id)' ng-class="{true:'selected',false:''}[isSelectedToAdd(u.id)]">
          <div>dni : {{u.dni}}</div>
          <div>nombre : {{u.name}}</div>
          <div>apellido : {{u.lastname}}</div>
        </li>
      </ul>
      <button ng-click='addToGroup()'>agregar al grupo</button>
      <button ng-click='cancelAddToGroup()'>cancelar</button>
    </div>
  </div>
</div>
