<div class="changePassword">
	<div class="tittle">
		<label><i class="fa fa-lock"></i> | Configurar nueva contraseña</label>
	</div>
	<!-- <label id="username">{{user.username}}</label> -->

	<div><label>Nueva Contraseña</label></div>
	<div><input class="password" type="password" ng-model="user.newPassword" required></div>
	<div><label>Repita Contraseña</label></div>
	<div><input class="passwordRepeat" type="password" ng-model="user.newPasswordRepeat" required></div>
	<div><button class="changePasswordAction" ng-click="changePassword()"><i class="fa fa-floppy-o"></i> Guardar contraseña</button></div>
</div>
