
.login-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:grey;
	background-image: url('/views/img/fondo1.jpg');
}

.login-container.hidden {
	display: none;
}


.login {
	background-clip: padding-box;
	background-color: rgba(255, 255, 255, 1);
	border:10px solid;
	border-color: rgba(255, 255, 255, 0.3);
	border-radius: 0.3em;
	margin: 0.5em auto;
	margin-top:100px;
	max-width: 275px;
	padding: 20px;
	-webkit-background-clip: padding-box;
}

.login label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;

}

.login .text {
	font: 15px arial, sans-serif, bold;

}

.login .margin_div_login{
	margin-top:5px;
}

.login .name {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	border-radius: 0.2em;
	border:1px solid;
	border-color: #E7DDE9;
	width: 268px;
	height:30px;
	background-color:#F2F2F2;
	color: #000;
	margin-top:5px;
	background-image: url("/views/img/imguser.png");
	background-repeat: no-repeat;
	background-position: right center;
	font-size: 18px;
	padding-left:5px
}

.login .password {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	border-radius: 0.2em;
	border:1px solid;
	border-color: #E7DDE9;
	width: 268px;
	height:30px;
	background-color:#F2F2F2;
	color: #000;
	margin-top:5px;
	background-image: url("/views/img/imglocked.png");
	background-repeat: no-repeat;
	background-position: right center;
	font-size: 18px;
	padding-left:5px

}


.login .loginAction {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	border-radius: 0.2em;
	height:30px;
	background-color: #0066A6;
	color: #FFF;
	border:0px;
	width: 275px;
	height:30px;
	margin-top:20px;
	font-size: 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;

}

.login .loginAction:hover{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	border-radius: 0.2em;
	height:30px;
	background-color: #0066A6;
	color: #FFF;
	border:0px;
	width: 275px;
	height:30px;
	margin-top:20px;
	box-shadow: 0px 0px 8px #0066A6;
	font-size: 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.login .option {
	margin-top:20px;
	font-size:12px, bold;
	color: #0066A6;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;

}

.login .links {
	color: #0066A6;
	text-decoration:none;
}

.login .links:hover {
	text-decoration:none;
	text-decoration: underline;
}
