/****************** Estilos comunes ******************************/
/****************************************************************/

*{
  margin: 0px;
  padding: 0px;
}

.searchRegulationContainer h1 {
  font-size: 1em;
  margin-bottom: 1em;
}


.inputSearchContent {
  padding: 10px;
  margin-bottom: 20px;
  /*background-color: #5c5f69;*/
  width: 100%;


}

.iconSearch {
  color:white;
  padding: 3px;
}
.inputSearch {

  margin-left: 20px;
  width: 400px;
  padding: 5px;
  font-size: 1.2em;
  border:none;
}

.searchRegulationContainer {
  height:100%;
  width:100%;
  position:absolute;
  overflow:hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btnSearch {
  margin-left: 10px;
  padding: 7px;
  background-color: #0066A6;
  color:white;
  border: none;
  border-radius: 2px;
  border:solid 1px grey;
  cursor: pointer;
}

.btnVer {
  margin-left: 0px;
  padding: 7px;
  background-color: #0066A6;
  color:white;
  border: none;
  border-radius: 2px;
  border:solid 1px grey;
  cursor: pointer;
}

.btnEditar {
  margin-left: 0px;
  padding: 7px;
  background-color: #e43e46;
  color:white;
  border: none;
  border-radius: 2px;
  border:solid 1px grey;
  cursor: pointer;
}

.contentSearchRegulation {
  padding: 20px;
}

.contentSearch {
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 20px;
  width: 82%;
  margin-bottom: 20px;
}



.filters {
  background-color: #eeeeee;
  padding: 5px;
}

.iconFilters {

}




.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eeeeee;


}
.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #5c5f69;
  margin-bottom: 1%;

}
.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 1%;

}
.row3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eeeeee;


}
.row4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  margin-bottom: 1%;

}

.col {

  flex: 1 1 8%;
  margin: 0 0 0 0;
  padding: 0.5em ;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.col2 {
  display: flex;
  flex: 1 1 8%;
  margin: 10 0 0 0;
  color: white;

  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;

}

.col3 {
  display: flex;
  flex: 1 1 8%;
  margin: 0 0 0 0;
  color: white;
  background-color: #e43e46;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;

}
.col4 {
  display: flex;
  flex: 1 1 8%;
  margin: 0 0 0 0;

  color: white;
  background-color: #ec9122;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;

}
.col5 {
  display: flex;
  flex: 1 1 8%;
  margin: 0 0 0 0;

  color: white;
  background-color: #128c78;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.col1 {
  flex: 1 1 8%;
  margin: 0 0 0 0;
  padding: 0.5em;
  box-sizing: border-box;
  color: white;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
}

.col-span-1 {
  flex-basis: 8.3333%;
}
.col-span-2 {
  flex-basis: 10px;
}
.results {
  overflow-y: scroll;
  height: 360px;
}




.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

/* Form wrapper styling */
.form-wrapper {
    width: 450px;
    padding: 15px;
    margin: 10px auto 10px auto;
    background: #5c5f69;
    background: rgba(0,0,0);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #0066A6;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #0066A6;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #0066A6;
    outline: 0;
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #0066A6 transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #0066A6;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #0066A6;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}
