/*******************************************************
********* CONTENEDOR PRINCIPAL DE LA PAGINA ************
********************************************************/

.searchRegulationContainer {
  height:100%;
  width:100%;
  position:absolute;
  overflow:hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.searchRegulation {
  padding: 20px;
}

/*******************************************************
****************** CLASES COMUNES **********************
********************************************************/

.searchRegulation h1 {
  font-size: 1em;
  margin-bottom: 1em;
}


.searchRegulation .inputSearchContent {
  /*padding: 10px;*/
  margin-bottom: 20px;
  /*background-color: #5c5f69;*/
  width: 100%;
}

.searchRegulation .contentSearch {
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 20px;
  width: 82%;
  margin-bottom: 20px;
}


/*******************************************************
********* CONTENEDOR DE BUSQUEDA Y FILTROS *************
********************************************************/

/* INICIO FORMULARIO DE BUSQUEDA */
.searchRegulation .form-wrapper {
    width: 450px;
    /*padding: 15px;*/
    margin: 5px auto 5px auto;
    background: #5c5f69;
    /*background: rgba(0,0,0);*/
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

.searchRegulation .form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

.searchRegulation .form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

.searchRegulation .form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.searchRegulation .form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.searchRegulation .form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* BOTON DE BUSQUEDA */
.searchRegulation .form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #0066A6;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.searchRegulation .form-wrapper button:hover{
    background: #0066A6;
}

.searchRegulation .form-wrapper button:active,
.searchRegulation .form-wrapper button:focus{
    background: #0066A6;
    outline: 0;
}

.searchRegulation .form-wrapper button:before { /* FLECHITA IZQUIERDA*/
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #0066A6 transparent;
    top: 12px;
    left: -6px;
}

.searchRegulation .form-wrapper button:hover:before{
    border-right-color: #0066A6;
}

.searchRegulation .form-wrapper button:focus:before,
.searchRegulation .form-wrapper button:active:before{
        border-right-color: #0066A6;
}

/* quitar espacio extra del botón para Mozilla Firefox */
.searchRegulation .form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/* FIN FORMULARIO DE BUSQUEDA */


/******************** FILTROS **************************/

.searchRegulation .filters {
  background-color: #eeeeee;
  padding: 10px 5px 5px 5px;
  border-top: 3px solid #b3b5bc;
}

.searchRegulation .iconFilters {
  color:#b3b5bc;
}

.searchRegulation .inputFilters {
  font-size: 0.9em;
  background-color: white;
  padding: 3px;
  width: 100%;
  border: none;
  /*border:1px solid #b3b5bc;*/
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px #5c5f69;
  -moz-box-shadow: 1px 1px 1px #5c5f69;
}

.searchRegulation .titleInputFilters {
  font-size: 0.8em;
}

.searchRegulation .tam1 {
  width: 80px;
}
.searchRegulation .tam2 {
  width: 110px;
}
.searchRegulation .tam3 {
  width: 150px;
}



/*******************************************************
********* CONTENEDOR RESULTADOS DE BUSQUEDA ************
********************************************************/

/************ FORMATO DE FILAS Y COLUMNAS **************/

.searchRegulation .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eeeeee;
}

.searchRegulation .row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #b3b5bc;
  margin-bottom: 1%;
}

.searchRegulation .row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

.searchRegulation .row3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eeeeee;
}

.searchRegulation .normative {
  height:auto;
}

.searchRegulation .row4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  margin-bottom: 1%;
}

.searchRegulation .col {
  flex: 1 1 8%;
  margin: 0 0 0 0;
  padding: 0.5em ;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.searchRegulation .col2 {
  display: flex;
  flex: 1 1 8%;
  margin: 10 0 0 0;
  color: white;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.searchRegulation .col3 {
  display: flex;
  flex: 1 1 8%;
  margin: 0 0 0 0;
  color: white;
  background-color: #e43e46;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.searchRegulation .col4 {
  display: flex;
  flex: 1 1 8%;
  margin: 0 0 0 0;
  color: white;
  background-color: #ec9122;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.searchRegulation .col5 {
  display: flex;
  flex: 1 1 8%;
  margin: 0 0 0 0;
  color: white;
  background-color: #128c78;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.searchRegulation .col1 {
  flex: 1 1 8%;
  margin: 0 0 0 0;
  padding: 0.5em;
  box-sizing: border-box;
  color: white;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
}

.searchRegulation .col-span-1 {
  flex-basis: 8.3333%;
}

.searchRegulation .col-span-2 {
  flex-basis: 10px;
}

.searchRegulation .results {
  overflow-y: scroll;
  height: 300px;
}

.searchRegulation .cf:before, .cf:after{
    content:"";
    display:table;
}

.searchRegulation .cf:after{
    clear:both;
}

.searchRegulation .cf{
    zoom:1;
}

/********* BOTONES RESULTADOS DE BUSQUEDA *******/

.searchRegulation .btnVer {
  margin-left: 0px;
  padding: 7px;
  background-color: #0066A6;
  color:white;
  border: none;
  border-radius: 2px;
  border:solid 1px grey;
  cursor: pointer;
}

.searchRegulation .btnEditar {
  margin-left: 0px;
  padding: 7px;
  background-color: #e43e46;
  color:white;
  border: none;
  border-radius: 2px;
  border:solid 1px grey;
  cursor: pointer;
}
