<div class="messages">
  <div class="subContentMessages">

      <div class="messageDeleteSchedule">
          <div class="textMessage">¿ Está seguro que desea eliminar el horario ?</div>

          <div class="contentActionsMessages">
              <div class="btnSave" ng-click="vm.remove()"> BORRAR </div>
              <div class="btnCancel" ng-click="vm.cancelRemove()"> CANCELAR </div>
          </div>
      </div>

      <div class="messageSave">
          <div><i class=" icoCheck fa fa-check fa-3x"></i> guardado correcto!</div>
      </div>

      <div class="messageLoading">
          <div><i class="icoPreload fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
          <div> Cargando...</div>
          <div class="textLoading"> por favor espere</div>
      </div>

      <div class="messageError">
          <div><i class=" icoError fa fa-exclamation-circle fa-3x"></i></div>
          <div> Se ha producido un error</div>
          <div class="textLoading">{{vm.view.error}}</div>
      </div>

  </div>

</div>
