
.messages {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  width: 30%;
  height: 30%;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  animation-name: tamano;
  animation-duration: .5s;
}

@keyframes tamano {
    0% {width: 30%; height: 30%}
    50% {width: 35%; height: 35%}
    100 {width: 30%; height: 30%}
}

.messages .contentActionsMessages {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: flex-end;
  -webkit-align-items:flex-end; /* Safari */
  -moz-align-items:flex-end; /* mozilla */
  margin-top: 20px;

}

.messages .btnSave {
  background-color: #804080;
  color: white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin-right: 20px;
}

.messages .btnSave:hover {
  background-color: #6d316d;
  cursor: pointer;
}

.messages .btnCancel {
  background-color: #e5e5e5;
  color: #5C5F69;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
  text-align: center;
  border: 1px solid #c9cbd3;
}

.messages .btnCancel:hover {
  color: white;
  background-color: #5C5F69;
  cursor: pointer;
}


.messages .messageDeleOffice,
.messages .messageSave {
  animation-name: opacidad;
  animation-duration: .7s;
}

@keyframes opacidad {
  0% {opacity: 0}
  50% {opacity: 0}
  100 {opacity: 1}

}

.messages .icoCheck {
  color: #804080;
}

.messages .messageLoading {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  animation-name: opacidad;
  animation-duration: .7s;
  color: #5C5F69;
}

.messages .icoPreload {
  margin-bottom: 10px;
}

.messages .textLoading {
  font-size: 11px;
}

.messages .textMessage {
  text-align: center;
}

.messages .messageError {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  animation-name: opacidad;
  animation-duration: .7s;
  color: #5C5F69;
}

.messages .icoError  {
  color:#E43E46;
}
