
.chat {
  position: absolute;
  width: 260px;
  left: -260px;
  top: 0;
  bottom: 0;
}



.chat-hide {
  transform: translate3d(0,0,0);
  transition: all 1s ease;
}

.chat-my-message {
  transform: translate3d(260px,0,0);
  transition: all 1s ease;
}

.chat-show {
  transform: translate3d(260px,0,0);
  transition: all 1s ease;
}


/* area donde se pasa el mouse por arriba y dispara el cambio de estilo para mostrar el chat */
.chat-shower {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
  background-color: red;
}
