<div class='chat-shower' ng-mouseover='showChat()'>
</div>
<div class='chat' ng-class="{true:'chat-show',false:'chat-hide'}[isChatVisible()]">
  <div class='chat-translator' ng-class="{true:'maximized',false:'minimized'}[isMaximized()]">
    <div class='chat-header'>
      <button class='close' ng-click='closeChat()'>X</button>
      <button class='minimize' ng-click='minimizeChat()'>_</button>
      <button class='maximize' ng-click='maximizeChat()'>[]</button>
    </div>
    <div class='chat-messages' ng-class="{true:'chat-maximize',false:'chat-minimize'}[isMaximized()]">
      <div>
        <li ng-repeat='message in messages'>
          <ul>{{message.text}}</ul>
        </li>
      </div>
      <div>
        <input type='text' ng-model='new_message.text'/>
        <button type='button' ng-click='sendMessage()'>Enviar</button>
      </div>
    </div>
  </div>
</div>
