.profile {
  width: 100%;
  height: 100%;
  /*background-color: white;*/
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
}

/* -------- PANTALLA PROFILE -------------*/

.profile .myProfile {
  width: calc(33% - 40px);
  height: calc(100% - 40px);
  /*background-color: red;*/
  padding: 20px;
  animation-name: movimiento;
   animation-duration: .5s;
}


@keyframes movimiento {
    0% {opacity: 0}
    100% {opacity: 1}
}

.profile .contentProfile {
    width: 100%;
    padding: 10px;
    background: #ffffff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.profile .photo {
  width: 50%;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}


/*----------- MEDIA QUERIS -------------*/

@media (max-width: 719px) {
  .profile .myProfile {
    width: 100% !important;
    height: calc(100% - 90px);
  }
