.profile {
  width: 100%;
  height: 100%;
  /*background-color: white;*/
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
}

/* -------- PANTALLA PROFILE -------------*/

.profile .myProfile {
  width: calc(33% - 40px);
  height: calc(100% - 40px);
  /*background-color: red;*/
  padding: 20px;
  animation-name: movimiento;
   animation-duration: .5s;
   overflow-y: auto;
}


@keyframes movimiento {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* -------- PANTALLA EDITPROFILE -------------*/

.profile .editProfile {
  display: none;
  width: calc(33% - 40px);
  height: calc(100% - 40px);
  /*background-color: red;*/
  padding: 20px;
  animation-name: movimiento;
   animation-duration: .5s;
   overflow-y: auto;
}

.profile .contentEditProfile {
    width: 100%;
    padding: 10px;
    background: #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    display: -webkit-flex; /* Safari */
    display: -moz-flex; /* mozilla */
    flex-direction:column;
    -webkit-flex-direction:column; /* Safari */
    -moz-flex-direction:column; /* mozilla */

}



/* ------- EDITAR CONTRASEÑA ------------*/



.profile .title {
  color: #28292D;
  background-color: #D1D1D1;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.profile .contentForm {
  color:#5C5F69;
  font-size: 12px;
}

.profile .inputPass {
  margin: 3px 0 10px 0;
  padding: 5px 10px 5px 10px;
  width: calc(100% - 22px);
  border: 1px solid #c9cbd3;
  font-size:20px;
  color: #3A3C44;
}

.profile .textSubtitle {
  color: #0066A6;
  margin-bottom: 5px;
}

.profile .textMail {
  color: #3a3c44;
  font-size: 12px;
  background-color: #EEEEEE;
  padding: 5px;
  margin-bottom: 5px;
}

.profile .contentItemMail {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: space-around;
}

 /*------------ PANTALLA CORREOS ------------*/




/*----------- MEDIA QUERIS -------------*/

@media (max-width: 719px) {
  .profile .searchUser,
  .profile .myProfile,
  .profile .editProfile {
    width: 100% !important;
    height: calc(100% - 90px);
}


  .profile.pantallaPerfilDeUsuario .editProfile {
    display: none;
  }

  .profile.pantallaEdicionUsuario .myProfile {
    display: none;
  }

}


@media (min-width:1800px) {
  .profile {
    zoom: 1.3;
  }
}



/*-----  MENEJO DE PANTALLAS -------*/

.profile.pantallaEdicionUsuario.editarMail .editPass,
.profile.pantallaEdicionUsuario.editarMail .editProfileAdvanced {
  display: none;
}

.profile.pantallaEdicionUsuario.editarContrasena .editMail,
.profile.pantallaEdicionUsuario.editarContrasena .editProfileAdvanced {
  display: none;
}

.profile.pantallaEdicionUsuario.editarPerfilAvanzado .editPass,
.profile.pantallaEdicionUsuario.editarPerfilAvanzado .editMail {
  display: none;
}

.profile.pantallaEdicionUsuario.editarMail .editProfile,
.profile.pantallaEdicionUsuario.editarContrasena .editProfile,
.profile.pantallaEdicionUsuario.editarPerfilAvanzado .editProfile {
  display: block;
}
