.contenido1 {
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}


.contenido2 {
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.contenido3 {
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
}

.clickButton {
  transform: translate3d(0,-100%,0);
  -moz-transform: translate3d(0,-100%,0);
}
.clickButton2 {
  transform: translate3d(0,-100%,0);
  -moz-transform: translate3d(0,-100%,0);
}

.clickButton3 {
  transform: translate3d(0,-200%,0);
  -moz-transform: translate3d(0,200%,0);
}
