		
<div ng-controller="GridExpedienteCtrl">
  <div ng-include="'main/html/search.html'"></div>
  <div ng-include="'main/html/pagination.html'"></div>  
  <div class="table-responsive" style="height:350px">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
</div>
        <th><input type="checkbox"></th>
        <th>numero&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('numero')"></span></th>
        <th>fecha origen&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('fecha_origen')"></span></th>
        <th>fecha entrada&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('fecha_entrada')"></span></th>
        <th>archivo numero&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('archivo_numero')"></span></th>
        <th>archivo anio&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('archivo_anio')"></span></th>
        <th>antecedente&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('antecedente')"></span></th>
        <th>extracto&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('extracto')"></span></th>
        <th>resolucion iniciador&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('resolucion_iniciador')"></span></th>
        <th>iniciador: nombres&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('ini_nombres')"></span></th>
        <th>iniciador: apellidos&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('ini_apellidos')"></span></th>
        <th>lugar iniciador: descripcion&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('li_descripcion')"></span></th>
        <th>tema: descripcion&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('tem_descripcion')"></span></th>
        <th>ultimo destino: fecha entrada&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('ud_fecha_entrada')"></span></th>
        <th>ultimo destino: fecha salida&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('ud_fecha_salida')"></span></th>
        <th>ultimo destino: lugar: descripcion&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('ud_lug_descripcion')"></span></th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="fields in grid.data">
        <td><input type="checkbox" ng-checked="isSelected(fields.id)" ng-click="toggleSelection(fields.id)"></td>
        <td>{{fields.numero}}</td>
        <td>{{fields.fecha_origen}}</td>
        <td>{{fields.fecha_entrada}}</td>
        <td>{{fields.archivo_numero}}</td>
        <td>{{fields.archivo_anio}}</td>
        <td>{{fields.antecedente}}</td>
        <td>{{fields.extracto}}</td>
        <td>{{fields.resolucion_iniciador}}</td>
        <td><a href="#/gridPersona?ic=1&0if=id&0in=persona&0it=PERSONA&0iv={{fields.ini_id}}">{{fields.ini_nombres}}</a></td>
        <td><a href="#/gridPersona?ic=1&0if=id&0in=persona&0it=PERSONA&0iv={{fields.ini_id}}">{{fields.ini_apellidos}}</a></td>
        <td><a href="#/gridLugar?ic=1&0if=id&0in=lugar&0it=LUGAR&0iv={{fields.li_id}}">{{fields.li_descripcion}}</a></td>
        <td><a href="#/gridTema?ic=1&0if=id&0in=tema&0it=TEMA&0iv={{fields.tem_id}}">{{fields.tem_descripcion}}</a></td>
        <td><a href="#/gridDestino?ic=1&0if=id&0in=destino&0it=DESTINO&0iv={{fields.ud_id}}">{{fields.ud_fecha_entrada}}</a></td>
        <td><a href="#/gridDestino?ic=1&0if=id&0in=destino&0it=DESTINO&0iv={{fields.ud_id}}">{{fields.ud_fecha_salida}}</a></td>
        <td><a href="#/gridLugar?ic=1&0if=id&0in=lugar&0it=LUGAR&0iv={{fields.ud_lug_id}}">{{fields.ud_lug_descripcion}}</a></td>
        <td>
          <a href="<?=PATH_HTTP?>index.php?go=htmlFormAdmin&t=expediente&id={{fields.id}}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
		  <a href="?go=delete&t=expediente&pk={{fields.id}}" target="_blank"><span class="glyphicon glyphicon-remove"></span></a>&nbsp;&nbsp;
          <a href="<?=PATH_HTTP?>index.php?go=htmlFormAdmin&t=destino&expediente={{fields.id}}"><span class="glyphicon glyphicon-plus"></span>DEST</a>&nbsp;&nbsp;
		  <a href="#/gridDestino?ic=1&0if=expediente&0in=expediente&0it=expediente&0iv={{fields.id}}"><span class="glyphicon glyphicon-eye-open"></span>DEST</a>&nbsp;&nbsp;
          <a href="<?=PATH_HTTP?>index.php?go=htmlFormAdmin&t=expediente&agregado={{fields.id}}"><span class="glyphicon glyphicon-plus"></span>EXPE</a>&nbsp;&nbsp;
		  <a href="#/gridExpediente?ic=1&0if=agregado&0in=agregado&0it=expediente&0iv={{fields.id}}"><span class="glyphicon glyphicon-eye-open"></span>EXPE</a>&nbsp;&nbsp;
          <a href="<?=PATH_HTTP?>index.php?go=htmlFormAdmin&t=participacion&expediente={{fields.id}}"><span class="glyphicon glyphicon-plus"></span>PART</a>&nbsp;&nbsp;
		  <a href="#/gridParticipacion?ic=1&0if=expediente&0in=expediente&0it=expediente&0iv={{fields.id}}"><span class="glyphicon glyphicon-eye-open"></span>PART</a>&nbsp;&nbsp;
        </td>

      </tr>
    </tbody>	  
  </table>
  </div>
<!-- div class="well"><b>Elementos seleccionados:</b> <button type="button" class="btn btn-sm btn-danger">Eliminar</button></div -->
</div>
