.editAccounts {
  height: 100%;
  width: 100%;
}

.editAccounts .header {
  height: 102px;
  width: 100%;
  background: #DBE2E5;
  color: #5C5F69;
  padding-left: 50px;
  font-size: 1.5em;
}

/*****************************************************
*********** INICIO PANTALLA DE BUSQUEDA **************
*****************************************************/

.editAccounts .contentSearch {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  padding: 20px;
  height: 70%;
}

.editAccounts .contentSearchAndRecents {
  border-right: 1px solid #DBE2E5;
}

.editAccounts .titleRecent {
  color: #5C5F69;
}

.editAccounts .contentBtnSearch {
  width: 250px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 20px;
}

.editAccounts .inputSearch {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 20px;
  padding: 11px;
  border: 1px solid #DBE2E5;
}

.editAccounts .contentRecentAndTrash {
  width: 250px;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.editAccounts .btnTrashRecent {
  cursor: pointer;
  background-color: #EBEBEC;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: none;
  color: #5C5F69;
}

.editAccounts .btnTrashRecent:hover {
  background-color: #E4E4E6;
}

/*CONTENEDORES DE LOS USUARIOS RECIENTES*/

.editAccounts .contentUserRecent {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  background-color: #EBEBEC;
  width: 250px;
  height: 65px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.editAccounts .contentUserRecent:hover {
  background-color: #E4E4E6;
}


.editAccounts .contentPhotoRecent {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  width: 65px;
  height: 65px;
  margin-left: 10px;
}

.editAccounts .imgUserRecent {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.editAccounts .contentDataRecent {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  font-size: 14px;
}

/*CONTENEDOR DE LOS RESULTADOS ECONTRADOS*/

.editAccounts .contentSearchResults {
  margin-left: 40px;
  height: 100%;
}

.editAccounts .contentUser {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  background-color: #EBEBEC;
  width: 290px;
  height: 75px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.editAccounts .contentUser:hover {
  background-color: #E4E4E6;
}

.editAccounts .contentPhoto {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  width: 75px;
  height: 75px;
  margin-left: 10px;
}

.editAccounts .imgUser {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.editAccounts .contentData {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

.editAccounts .searchResults {
  height: 95%;
  overflow-y: auto;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  flex-wrap: wrap;
  align-content: flex-start;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
}

/*****************************************************
************ FIN PANTALLA DE BUSQUEDA ****************
*****************************************************/

/*****************************************************
********* INICIO PANTALLA PERFIL DE USUARIO **********
*****************************************************/

.editAccounts .contentProfile {
  width: 95%;
  padding: 20px;
  background-color: #FFF;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.editAccounts .contentPhotoProfile {

}

.editAccounts .listSystems {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 10px;
}

.editAccounts .contentProfileAdvanced {
  background-color: #EEE;
  width: 100%;
  color: #5c5f69;
  padding: 20px;
}

.editAccounts .contentProfileBasic {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
}

.editAccounts .subContentProfile {
  margin-left: 20px;
}

.editAccounts .contentDataUser {
  margin-left: 10px;
  margin-right: 20px;
}

.editAccounts .contentDataInput {
  font-size: 12px;
  color: #5C5F69;
}

.editAccounts .dataProfileName,
.editAccounts .dataProfileLastName,
.editAccounts .dataProfileBasic {
  width: 200px;
  font-size: 18px;
}

.editAccounts .inputDataUser {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 16px;
  padding: 5px;
  margin: 5px 5px 5px 0px;
  border: 1px solid #DBE2E5;
}

.editAccounts .btnInputDataUser {
  width: 150px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 14px;
  padding: 6px;
  margin: 5px 5px 5px 0px;
  border: 1px solid #DBE2E5;
  background-color: #DBE2E5;
  color: #5C5F69;
}

.editAccounts .btnInputDataUser:hover {
  background-color: #eee;
  cursor: pointer;
}

.editAccounts .listTypeUser {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
}

.editAccounts .iconTypeUser {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 25px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 14px;
  padding: 4px;
  margin: 5px 5px 5px 0px;
  border: 1px solid #DBE2E5;
  background-color: #eee;
  color: #5C5F69;
}

.editAccounts .typeUsers {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  position: absolute;
  width: 148px;
  height: 1px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 14px;
  padding: 0px;
  margin: 5px 5px 5px 0px;
  border: 1px solid #DBE2E5;
  background-color: white;
  color: #5C5F69;
  top:95px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.editAccounts.verTipos .typeUsers{
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  position: absolute;
  width: 148px;
  height: 150px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 14px;
  padding: 0px;
  margin: 5px 5px 5px 0px;
  border: 1px solid #DBE2E5;
  background-color: white;
  color: #5C5F69;
  top:95px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  opacity: 1;
  cursor: pointer;
}

.editAccounts .btnBackTypes {
  width: 150px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 14px;
  padding: 6px;
  border: 1px solid #DBE2E5;
  background-color: #DBE2E5;
  color: #5C5F69;
  cursor: pointer;
}

.editAccounts .btnBackTypes:hover {
  background-color: #eee;
}

.editAccounts .inputCheckbox {
  padding: 5px;
}

.editAccounts .inputCheckbox:hover {
  background-color: #eee;
}

.editAccounts .btnSave {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border:none;
  background-color: #92AD17;
  color: white;
  padding: 10px;
  margin-top: 20px;
  width: 125px;
  cursor: pointer;
}

.editAccounts .btnSave:hover {
  background-color: #809612;
}

.editAccounts .btnBack {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border:none;
  background-color: #bebebe;
  color: white;
  padding: 10px;
  margin-top: 20px;
  width: 40px;
  cursor: pointer;
}

.editAccounts .btnBack:hover {
  background-color: #5C5F69;
}

.editAccounts hr {
  color: red;
  border:none;
  border: 1px solid #DBE2E5;
  margin-top: 20px;
  margin-bottom: 20px;
}


/******* ESTILO IMAGEN DE PERFIL *******/

.editAccounts .iconoFotoMiniatura {
  position: absolute;
  z-index: 998;
  color:white;
  margin: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px;
  border-radius: 3px;
}

.editAccounts .fileUpload {
  position: relative;
  overflow: hidden;
  background-color: #eeeeee;
  border-radius: 3px;
  width: 172px;
  height: 110px;
  margin-bottom: 10px;
  box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

.editAccounts .fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 110px;
}

.editAccounts .fileUpload2 {
  position: absolute;
  overflow: hidden;
  z-index: 999;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.editAccounts .fileUpload2 input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 50px;
}

.editAccounts  .photo {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items: center;
  justify-content:center;
  width: 172px;
  height: 110px;
  float: left;
  border: 1;
  background-color: #eee;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
  color:rgba(0,0,0,.2);
  cursor:pointer;
}

.editAccounts  .photo2 {
  position: absolute;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items: center;
  justify-content:center;
  width: 172px;
  height: 110px;
  float: left;
  border: 1;
  background-color: #eee;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
  color:rgba(0,0,0,.2);
  cursor:pointer;
}

/******* FIN ESTILO IMAGEN DE PERFIL *******/

.editAccounts .contentMails {
  border-top: 2px solid #DBE2E5;
  margin-top: 5px;
}

.editAccounts .mailList {
  max-height: 120px;
  overflow-y: auto;
  height: initial;
}

.editAccounts .btnNewMail {
  width: 140px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 14px;
  padding: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  border: 1px solid #DBE2E5;
  background-color: #DBE2E5;
  color: #5C5F69;
}

.editAccounts .btnNewMail:hover {
  background-color: #eee;
  cursor: pointer;
}

.editAccounts .contentIconMail {
  margin-right: 5px;
  border-radius: 2px 0px 0px 2px;
  -moz-border-radius: 2px 0px 0px 2px;
  -webkit-border-radius: 2px 0px 0px 2px;
  font-size: 16px;
  padding: 3px 5px 3px 5px;
  margin: 5px 0px 5px 0px;
  border: 1px solid #DBE2E5;
  background-color: #eee;
}

.editAccounts .contentMailsUser {
  width: 340px;
  border-radius: 0px 2px 2px 0px;
  -moz-border-radius: 0px 2px 2px 0px;
  -webkit-border-radius: 0px 2px 2px 0px;
  font-size: 16px;
  padding: 5px;
  margin: 5px 5px 5px 0px;
  border: 1px solid #DBE2E5;
  margin-right: 27px;
}

.editAccounts .titleMails {
  font-size: 12px;
  color: #28292D;
  margin-top: 10px;
}

.editAccounts .mail {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  color: #3A3C44;
}

.editAccounts .dataMail {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
}

.editAccounts .btnMailValidated {
  padding: 7px;
  background-color: #128C78;
  border-radius: 2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border: none;
  color: white;
}

.editAccounts .btnMailNoValidated {
  padding: 7px;
  background-color: #EC9122;
  border-radius: 2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border: none;
  color: white;
}

.editAccounts .btnDeleteMail {
  padding: 7px;
  background-color: #E43E46;
  border-radius: 2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border: none;
  color: white;
  cursor: pointer;
}

.editAccounts .btnWebMail {
  padding: 8px;
  background-color: #c9c3c3;
  border-radius: 2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border: none;
  color: #5C5F69;
  cursor: pointer;
}

.editAccounts .btnForwardMail {
  padding: 7px;
  background-color: #92AD17;
    border-radius: 2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border: none;
  color: white;
  cursor: pointer;
}

/*****************************************************
********** FIN PANTALLA PERFIL DE USUARIO ************
*****************************************************/

/*****************************************************
************* INICIO CAMBIO DE PANTALLAS *************
*****************************************************/

.editAccounts .contentEditAccounts {
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
  background-color: #F1F1F1;
  transform: translate3d(0,100%,0);
  -webkit-transform: translate3d(0,100%,0);
  /*transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;*/
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910); /* custom */
}

.editAccounts.editarUsuario .contentEditAccounts{
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 1;
  background-color: #F1F1F1;
  transform: translate3d(0px,0px,0);
  -webkit-transform: translate3d(0px,0px,0);
  /*transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;*/
  -webkit-transition-timing-function: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition-timing-function: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition-timing-function: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition-timing-function: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910); /* custom */
}

.editAccounts .contentSearchAccounts {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #F1F1F1;
  transform: translate3d(0px,0px,0);
  -webkit-transform: translate3d(0px,0px,0);
  /*transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;*/
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910); /* custom */
}

.editAccounts.editarUsuario .contentSearchAccounts {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #F1F1F1;
  transform: translate3d(0,100%,0);
  -webkit-transform: translate3d(0,100%,0);
  /*transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;*/
  -webkit-transition-timing-function: cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition-timing-function: cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition-timing-function: cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition-timing-function: cubic-bezier(0.480, 0.525, 0.340, 0.910); /* custom */
}

/*****************************************************
************** FIN CAMBIO DE PANTALLAS **************
*****************************************************/
