<div class="editAccounts {{view.style}} {{view.style2}}"> <!-- VARIABLES: editarUsuario-->

    <div class="header">
        <div>
            <i class="fa fa-user"></i> Editar Cuentas
        </div>
    </div>

<!-- *************** PANTALLA DE BUSCADA DE USUARIOS *********************** -->
    <div class="contentSearchAccounts">

        <div class="contentSearch">

          <!-- ******* CONTENEDOR DE BUSQUEDA Y USUARIOS RECIENTES ********* -->
          <div class="contentSearchAndRecents">

            <div class="titleRecent">
              <i class="fa fa-search"></i> BUSCAR
            </div>

            <div class="contentBtnSearch"> <!-- ***** INPUT DE BUSQUEDA **** -->
              <input class="inputSearch" type="text"></input>
            </div>

              <!-- **** USUARIOS RECIENTES *** -->
              <div class="titleRecent">
                  <div class="contentRecentAndTrash">
                      <div>
                        <i class="fa fa-history"></i> RECIENTES
                      </div>
                      <div>
                        <button class="btnTrashRecent"><i class="fa fa-trash-o"></i></button>
                      </div>
                  </div>
              </div>

              <!-- *** DIV CONTENEDORES DE LOS USUARIOS RECIENTES ****-->
              <div class="contentUserRecent" ng-click="view.style='editarUsuario'">
                  <div class="contentPhotoRecent">
                    <img class="imgUserRecent" src="img/pablosarmieto.jpg">
                  </div>
                  <div class="contentDataRecent">
                    <div>
                      <b>Pablo Sarmiento</b>
                    </div>
                    <div>
                      30235968
                    </div>

                  </div>
              </div>

              <div class="contentUserRecent">
                  <div class="contentPhotoRecent">
                    <img class="imgUserRecent" src="img/jen.jpg">
                  </div>
                  <div class="contentDataRecent">
                    <div>
                      <b>Jen Selter</b>
                    </div>
                    <div>
                      35456923
                    </div>

                  </div>
              </div>

              <div class="contentUserRecent">
                  <div class="contentPhotoRecent">
                    <img class="imgUserRecent" src="img/walter.jpg">
                  </div>
                  <div class="contentDataRecent">
                    <div>
                      <b>Walter Blanco</b>
                    </div>
                    <div>
                      30001823
                    </div>

                  </div>
              </div>

              <div class="contentUserRecent">
                  <div class="contentPhotoRecent">
                    <img class="imgUserRecent" src="img/pablo.jpg">
                  </div>
                  <div class="contentDataRecent">
                    <div>
                      <b>Pablo Daniel Rey</b>
                    </div>
                    <div>
                      28356952
                    </div>

                  </div>
              </div>

          </div>

          <!-- ********* CONTENEDOR DE LOS RESULTADOS ECONTRADOS *********** -->
          <div class="contentSearchResults">
              <div class="titleRecent">
                <i class="fa fa-search"></i> RESULTADOS ENCONTRADOS
              </div>

              <div class="searchResults">
                  <!-- **** DIV CONTENEDORES DE LOS USUARIOS ENCONTRADOS ****-->
                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/emanuel.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Emanuel Joaquin Pais</b>
                      </div>
                      <div>
                        31269568
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/alejandro.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Alejandro Agustin Oporto</b>
                      </div>
                      <div>
                        29496698
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/pablosarmieto.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Pablo Sarmiento</b>
                      </div>
                      <div>
                        30256957
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/jen.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Jen Selter</b>
                      </div>
                      <div>
                        35456923
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/walter.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Walter Blanco</b>
                      </div>
                      <div>
                        30001823
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/pablo.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Pablo Daniel Rey</b>
                      </div>
                      <div>
                        28356952
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/maxi.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Maximiliano Saucedo</b>
                      </div>
                      <div>
                        29356874
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/emanuel.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Emanuel Joaquin Pais</b>
                      </div>
                      <div>
                        31269568
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/alejandro.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Alejandro Agustin Oporto</b>
                      </div>
                      <div>
                        29496698
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/pablosarmieto.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Pablo Sarmiento</b>
                      </div>
                      <div>
                        30256957
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/jen.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Jen Selter</b>
                      </div>
                      <div>
                        35456923
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/walter.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Walter Blanco</b>
                      </div>
                      <div>
                        30001823
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/pablo.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Pablo Daniel Rey</b>
                      </div>
                      <div>
                        28356952
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/maxi.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Maximiliano Saucedo</b>
                      </div>
                      <div>
                        29356874
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/emanuel.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Emanuel Joaquin Pais</b>
                      </div>
                      <div>
                        31269568
                      </div>

                    </div>
                  </div>

              </div>

          </div>

        </div>

    </div>

<!-- *************** PANTALLA DE EDICION DE USUARIOS *********************** -->
    <div class="contentEditAccounts">

        <div class="contentProfile">

          <!-- *** CONTENEDOR DE PERFIL ****-->
          <div class="listSystems">

              <div class="contentProfileBasic">

                  <div class="contentPhotoProfile">

                      <div ng-if="getUserPhoto() == null" class="fileUpload">
                          <!-- <div ng-if='!model.loadingPhoto' class="fileUpload"> -->
                          <div class="photo" placeholder="Foto"><i class="fa fa-camera-retro fa-4x"></i>Subir Foto</div>
                          <input type="file" on-read-file-binary-string="addPhoto(fileName,fileContent)" class="upload" />
                      </div>

                      <div  ng-if='model.loadingPhoto'>
                          <div class="photo2" placeholder="Foto"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i>Cargando imágen...</div>
                      </div>

                      <div ng-if='model.formatPhoto'>
                          <div class="photo2" placeholder="Foto"><i class="fa fa-ban fa-4x"></i>Formato de imágen no compatible <div>(solo JPG)</div></div>
                      </div>


                      <div ng-if='getUserPhoto() != null' class="item">
                          <div ng-if='!model.loadingPhoto' class="fileUpload2" title="Cambiar Foto">
                          <input type="file" on-read-file-binary-string="addPhoto(fileName,fileContent)" class="upload" />
                      </div>

                      <div class="iconoFotoMiniatura"><i class="fa fa-camera-retro  fa-2x" title="Cambiar Foto"></i></div>
                          <img class="photo" ng-src='{{getUserPhoto()}}' alt="Pablo"/>
                      </div>

                  </div>

                  <div class="subContentProfile">
                      <div class="contentDataInput"> Nombre </div>
                      <div><input type="text" class="inputDataUser" placeholder=""></input></div>

                      <div class="contentDataInput"> Apelido </div>
                      <div><input type="text" class="inputDataUser" placeholder=""></input></div>

                  </div>

                  <div class="subContentProfile">
                      <div class="contentDataInput"> DNI </div>
                      <div><input type="text" class="inputDataUser" placeholder=""></input></div>

                      <div class="contentDataInput"> Legajo </div>
                      <div><input type="text" class="inputDataUser" placeholder=""></input></div>
                  </div>

                  <div class="subContentProfile">
                    <div class="contentDataInput"> Tipo de Usuario </div>
                    <div class="listTypeUser">
                        <div class="iconTypeUser" title="Alumno"> <b>A</b> </div>
                        <div class="iconTypeUser" title="Docente"> <b>D</b> </div>
                        <div class="iconTypeUser" title="NoDocente"> <b>ND</b> </div>
                        <div>
                          <button class="btnInputDataUser" ng-click="view.style2='verTipos'">Cambiar</button>
                          <div class="typeUsers">
                            <div>
                              <div class="inputCheckbox"><input type="checkbox"> Alumno</div>
                              <div class="inputCheckbox"><input type="checkbox"> Docente</div>
                              <div class="inputCheckbox"><input type="checkbox"> Posgrado</div>
                              <div class="inputCheckbox"><input type="checkbox"> NoDocente</div>
                            </div>
                            <div><button class="btnBackTypes" ng-click="view.style2=''"> Volver</button></div>
                          </div>
                        </div>
                    </div>



                    <div class="contentDataInput"> Acceso Sistemas </div>
                    <div><button class="btnInputDataUser">Configurar</button></div>
                  </div>

              </div>

          </div>

          <!-- *** CONTENEDOR DE MAILS ****-->
          <div class="contentMails">

              <div class="titleMails">
                <i class="fa fa-envelope-o"></i> CORREOS ELECTRÓNICOS
                <button class="btnNewMail">Agregar Correo</button>
              </div>

              <div class="mailList">

                  <div class="mail">
                      <div class="dataMail">
                          <div class="contentIconMail"><i class="fa fa-envelope-o"></i></div>
                          <div><input type="text" class="contentMailsUser" placeholder="Dirección de correo"></input></div>
                      </div>
                      <div class="actionMail">
                      <button class="btnMailValidated" title="Correo confirmado"><i class="fa fa-check"></i></button>
                      <button class="btnMailNoValidated" title="Correo sin confirmar"><i class="fa fa-exclamation-triangle"></i></button>
                      <button class="btnForwardMail" title="Reenviar confimación"><i class="fa fa-repeat"></i></button>
                      <button class="btnForwardMail" title="Enviado correo"><i class="fa fa-spinner fa-pulse"></i> Enviando correo </button>
                      <button class="btnDeleteMail" title="Eliminar correo"><i class="fa fa-trash-o"></i></button>
                      </div>
                  </div>

              </div>

          </div>


          <div class="contentBtnSave">
            <button class="btnBack" title="Volver" ng-click="view.style=''" ><i class="fa fa-chevron-left"></i> </button>
            <button class="btnSave"> GUARDAR</button>
          </div>

        </div>


    </div>

</div>
