<!DOCTIPE html>
<html lang="es">
<head>
	<title>Usuarios FCE</title>
	<meta charset="utf-8"/>
	<meta name="description"= content="Administración de Usuarios"/>
	<link rel="stylesheet" type="text/css" href="css/austyle.css" />
</head>
<body>
	<form action="">
		<div class="columna1">
			<div><label>Nombre</label><input type="text" name="nombres" placeholder=""><br></div>
			<div><label>Apellido</label><input type="text" name="apellidos"><br></div>	
			<div><label>Género:</label>
					<input type="text" list="generos">
						<datalist id="generos">
							<option value="Hombre" />
							<option value="Mujer" />
							<option value="Otro" />
						</datalist>			
			</div>
			<div><label>DNI</label><input type="text" name="dni"><br></div>
			<div><label>Nacimiento</label><input type="text" name="nacimiento"><br></div>
			<div><label>Edad</label><input type="text" name="edad"><br></div>
			<div><label>Legajo</label><input type="text" name="legajo"><br></div>
			<div><label>Teléfono</label><input type="text" name="telefono"><br></div>
			<div><label>Celular</label><input type="text" name="celular"><br></div>
			<div><label>Ciudad de Origen</label><input type="text" name="ciudado"><br></div>
			<div><label>Ciudad de Residencia</label><input type="text" name="ciudadr"><br></div>
			<div><label>País</label><input type="text" name="pais"><br></div>
			<div><label>Domicilio</label><input type="text" name="domicilio"><br></div>
			<div><br><div><label>Cargo</label><br><hr></div>
				<div class="cargo">
					<div><input type="checkbox" name="cargo" value="estudiante"><label>Estudiante</label></div>
					<div><input type="checkbox" name="cargo" value="docente"><label>Docente</label></div>
					<div><input type="checkbox" name="cargo" value="docente"><label>Graduado</label></div>
					<div><input type="checkbox" name="cargo" value="posgrado"><label>Posgrado</label></div>
					<div><input type="checkbox" name="cargo" value="nodocente"><label>NoDocente</label></div><br>
					<div><input type="checkbox" name="cargo" value="visitante"><label>Visitante</label></div>
				</div>	
			</div>	
			<div><br><div><label>Mail</label><br><hr></div>
				<div><label>FCE</label><input type="text" name="cinstitucional"><br></div>	
				<div><label>Personal</label><input type="text" name="cpersonal"><br></div>	
			</div>
		</div>
				
		<div class="columna2">
			<div><label>Carrera</label><input type="text" list="carrera">
				<datalist id="carrera">
					<option value="Contador Público" />
					<option value="Licenciado en Administración" />
					<option value="Licenciado en Turismo" />
					<option value="Licenciado en Economía" />
					<option value="Técnico en Cooperativas" />
				</datalist>		
			</div>
			<div><label>Materias</label><input type="text" name="maprobadas"><br></div>	
			<div><label>Aprobadas</label><input type="text" name="aprobadas"><br></div>
			<div><label>Promedio1</label><input type="text" name="promedio"><br></div>
			<div><label>Promedio2</label><input type="text" name="promedio2"><br></div>
			<div><label>Oferta</label><input type="text" list="oferta">
				<datalist id="oferta">
					<option value="Pasantías" />
					<option value="Part-Time" />
					<option value="Full-Time" />
					<option value="Programa de Jóvenes Profesionales" />
				</datalist>	
			</div>
			<div><label>Viajar</label><input type="text" list="viajar">
				<datalist id="viajar">
					<option value="Si" />
					<option value="No" />
				</datalist>	
			</div>
			<div><label>Residir</label><input type="text" name="residir"><br></div>
			<div><label>CV</label><input type="text" name="cv"><br></div>
			<div><label>Idioma</label><input type="text" list="idioma">
				<datalist id="idioma">
					<option value="Ingles" />
					<option value="Portugués" />
					<option value="Otro" />
				</datalist>
			</div>
			<div><label>Nivel</label><input type="text" list="nivel">
				<datalist id="nivel">
					<option value="Básico" />
					<option value="Intermedio" />
					<option value="Avanzado" />
				</datalist>
			</div>
						
			<div><button type="submit"> GUARDAR</button></div>
		</div>
	</form>
</body>