<div class="accountRequestEdit-container">
	<div class="accountRequestEdit">
			<div class="solicitud">
				<div class="tittles">&nbsp; Datos de la solicitud</div>
				<div>
					<span for="name">Nombres:</span>
					<input id="name" type="text" ng-model="accountRequest.name"/>
				</div>
				<div>
					<span for="lastname">Apellidos:</span>
					<input id="lastname" type="text" ng-model="accountRequest.lastname"/>
				</div>
				<div>
					<span for="document_number">DNI:</span>
					<input id="document_number" type="text" ng-model="accountRequest.dni"/>
				</div>
				<div>
					<input id="confirmed" type="checkbox" ng-model="accountRequest.confirmed"/>
					<span for="document_number">Correo</span>

					<input id="document_number" type="text" ng-model="accountRequest.email"/>



				</div>
			</div>

			<div class="motivoSolicitud">
				<div class="tittles">&nbsp;Motivo</div>
				<div>
					<textarea class="reason" name="description" ng-model="accountRequest.reason"></textarea>

				</div>

			</div>

			<div class="acciones">
				<button class="aprobar" ng-click="approveAccountRequest()"><i class="fa fa-check"></i> Aprobar</button>
				<button class="rechazar" ng-click="rejectAccountRequest()"><i class="fa fa-ban"></i> Rechazar</button>
				<button class="eliminar" ng-click="removeAccountRequest()"><i class="fa fa-trash-o"></i> Eliminar</button>
				<button class="reenviarMail" ng-click="resendAccountRequest()"><i class="fa fa-trash-o"></i> Reenviar eMail</button>
			</div>

			<div class="respuesta">
				<div class="tittles">&nbsp;Respuesta</div>
				<textarea class="textRespuesta" name="description" ng-model="description"></textarea>
			</div>
	</div>
</div>
