.accountRequestsLists {
	ont-family: calibri, Arial, Helvetica, sans-serif;
	font-size:14px;
}

.accountRequestsLists .selected {
	background: red;
}


.accountRequestsList {
	height: 435px;
	overflow: scroll;
}

.accountRequestsLists .content_search {
	display:flex;
	justify-content:center;
	margin-top:15px;
}

.accountRequestsLists .search {
	border-radius: 0.3em;
	padding-left:30px;
	width:146px;
	height:20px;
	font-size: 14px;
	padding-bottom:1px;
	background-image: url("/views/img/Search.png");
	background-repeat:no-repeat;
}
.accountRequestsLists .estado {
	display:flex;
	flex-direction:row;
	justify-content:center;
	font-size:14px;
	margin-top:15px;
}
