.changePassword-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:grey;
  background-image: url('/systems/pass/images/fondo1.jpg');
}

.changePassword {
  display:flex;
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;

  width:100%;


  padding:5px;

  flex-direction:column;
}
.changePassword .tittle{
  display:flex;
  align-items: center;
  background-image:linear-gradient(to right,#275276, #0066A6);
  font-size:16px;
  width:100%;
  height:30px;
  padding:5px;
  color:white;
  margin-bottom:10px;
}
.changePassword .password{
  border-radius: 0.2em;
  margin-bottom:10px;
}
.changePassword .passwordRepeat{
  border-radius: 0.2em;
}
.changePassword label{
  margin:2px;
}


.changePassword .changePasswordAction{
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  color:white;
  padding: 6px 12px;
  margin:10px;
  margin-left:0px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  background-color:#275276;
}
.changePassword .changePasswordAction:hover{
  text-align: center;
  cursor: pointer;
  color:white;
  padding: 6px 12px;
  margin:10px;
  margin-left:0px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  background-image:linear-gradient(to right,#275276, #0066A6);
}
