<div class="headerCreateAccount">
	<p ng-click="back()"><i class="fa fa-arrow-circle-left"></i> Volver</p>
</div>
<div class='createAccountRequest'>
	<form id='createForm'>
		<div class="logo">
			<img src="/systems/account/images/logo.jpg" />
		</div>
		<div class="title">
			<label>FORMULARIO DE REGISTRO</label>
		</div>
		<hr>
		<div>
			<label>Nombres</label>
			<input class="name" type="text" ng-model="request.name" required>
		</div>
		<div>
			<label>Apellidos</label>
			<input class="lastname" type="text" ng-model="request.lastname" required>
		</div>
		<div>
			<label>DNI</label>
			<input class="dni" type="text" ng-model="request.dni" required>
		</div>
		<div>
			<label>Legajo (solo alumnos)</label>
			<input class="studentNumber" type="text" ng-model="request.studentNumber">
		</div>
		<div>
			<label>Email</label>
			<input class="email" type="email" ng-model="request.email" required>
		</div>
		<div>
			<label>Contraseña</label>
			<input class="password" type="password" ng-model="request.password" required>
		</div>
		<div>
			<label>Repetir Contraseña</label>
			<input class="password" type="password" ng-model="request.password2" required>
		</div>
		<div>
			<label>Motivo de la solicitud</label>
		</div>
		<div>
			<select class='reason' ng-model='request.reason' required>
				<option selected value='Au24'>No puedo entrar a Au24 (aula virtual)</option>
				<option value='Posgrado'>Necesito acceder a los cursos de posgrado</option>
				<option value='Correo'>Quiero tener una cuenta de correo institucional</option>
				<option value='Oficina'>Trabajo en una oficina o centro de investigación dependiente a la facultad</option>
				<option value='Wifi'>Quiero acceder al wifi de la facultad</option>
				<option value='Adscriptos'>Necesito acceder al sistema de Adscriptos</option>
				<option value='Inserción'>Necesito acceder al sistema de Inserción Laboral</option>
				<option value='Tutorías'>Necesito acceder al sistema de Tutorías</option>
				<option value='Cooperativa'>Necesito acceder a los cursos de Cooperativas</option>
			</select>
		</div>
		<div>
			<button class="action" type='submit' ng-click="createRequest()">Enviar</button>
		</div>


	</form>
</div>
