<div class="headerResetPassword">
	<p ng-click="back()"><i class="fa fa-arrow-circle-left"></i> Volver</p>
</div>

<div class="resetPassword">

		<div class="logo">
			<img src="/views/img/logo.jpg" />
		</div>

		<div class="title_user">
			<label>Ingrese su usuario (DNI)</label>
		</div>
		<div>
			<input class="user" type="text" ng-model="user.username" required>
		</div>
		<div>
			<button class="reset" ng-click="resetPassword()"><i class="fa fa-lock"></i> Recuperar Contraseña</button>
		</div>


</div>
