<!DOCTYPE html>
<html lang="es">

<head>
    <title>Bienvenida!</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;
        charset=iso-8859-1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

</head>



<body style="margin: 0px; padding: 0px; width: 100%; height: 100%; background-color: white; font-family:  'Helvetica Neue', Helvetica,'Open Sans','Calibri', Arial, sans-serif;">
  <div style="width: 600px; height: 100%;  margin: 0 auto;">
      <div style="width: 100%; height: 25px; background-color: #e5e4e4;">

      </div>
      <div style="width:100%">
        <div style=" border-bottom:1px solid #E5E4E4;">
          <h2  style="margin: 10px 0px 0px 10px; font-size: 1.5em; color:#92AD17;">¡Bienvenido!</h2>
          <div style="font-size:2em; margin-left:10px;"> <b>###NAME### ###LASTNAME###</b></div>
          <div style="font-size:1.5em; margin-left:10px;"> Tu cuenta de AU24 ha sido creada! </div>
        </div>
          <br>
        <div style="width:28%; font-size:1.3em; margin:10px 0px 10px 15px; ">
          <span><b>Acceso AU24</b></span>
        </div>

        <div style="font-size:1.3em; margin:10px 0px 5px 15px;">
          Usuario<br>
          <span style="color: #92AD17; margin-bottom:20px;">###USERNAME###</span><br>
        </div>
        <div style="font-size:1.3em; margin:0px 0px 5px 15px;">
          Contraseña:<br>
          <span style="color: #92AD17;">###PASSWORD###</span><br>
        </div>
        <div style="font-size:1.3em; margin:0px 0px 20px 15px;">
          Correo electrónico: <br>
          <span style="color: #92AD17;text-decoration:none; ">###EMAIL###</span>
        </div>

        <div style="font-size:1.3em; margin:10px 0px 10px 15px;">
        <i class="fa fa-exclamation-triangle"  style="color: #92AD17;"></i> <span style="font-size:14px">Si has olvidado la clave o deseas actualizar tus datos <a style="color: #92AD17;" href="http://www.fce.econo.unlp.edu.ar" target="_blank">clic aquí</a></span>
        </div>

        <div style=" margin:30px 0px 30px 15px; font-size: 13px">
          <i class="fa fa-link" style="color: #92AD17;"></i> <b>Accesos</b> <br>
          Portal Administraccón de Cuentas: <a style="color: #92AD17; text-decoration:none;  " href="http://www.fce.econo.unlp.edu.ar" target="_blank">www.fce.econo.unlp.edu.ar</a><br>
          AU24 Campus Virtual: <a style="color: #92AD17; text-decoration:none;" href="http://www.au24.econo.unlp.edu.ar" target="_blank">www.au24.econo.unlp.edu.ar</a> | <a style="color: #92AD17;text-decoration:none;  " href="https://www.facebook.com/AU24-Campus-Virtual-189809384418067/" target="_blank">Facebook</a><br>
          Sitio Web Institucional: <a style="color: #92AD17; text-decoration:none; " href="http://www.econo.unlp.edu.ar" target="_blank">www.econo.unlp.edu.ar</a> | <a style="color: #92AD17;text-decoration:none; " href="https://www.facebook.com/fceunlp" target="_blank">Facebook</a><br>
        </div><br>

        <div style="padding: 10px; font-size:12px; border-top: 1px solid #E5E4E4">
          <p align=justify> La facultad de Ciencias Económicas te ofrece en el marco de una exelencia educativa la adquisición
              de un conjunto de saberes que te permitirá, en el futuro, iniciarte en el ejercicio de una profesión.
              Además, avanzarás en los conocimientos propios de un saber académico, de forma tal que puedas
              -si así lo eligieras - emprender la investigación, especialización y profundización de los mismos. La universidad
              posibilitará que incorpores en tu persona en forma sistemática y rigurosa, situaciones de aprendizaje ético y de
              formación ciudadana.</p>
          <p align=justify> Bienvenido nuevamente.</p>
          <p align=justify> Mg. Martín López Armengol Decano de la Facultad de Ciencias Económicas UNLP</p>
          <p align=justify> Mg. Eduardo De Giusti Secretario de Asuntos Académicos Facultad de Ciencias Económicas UNLP</p>
        </div>

        <div style="margin-bottom: 20px; text-align:center">
          <img src="http://www.ingreso.econo.unlp.edu.ar/systems/ingresantes/img/fceLogo.png">
        </div>

      </div>
      <div style="width: 100%; background-color: #e5e4e4; font-size: 10px; color: grey; text-decoration:none; padding: 1px; ">
        <p style="margin:5px 5px 5px 15px;">
        © 2015 | DITESI | Dirección de tecnologías y Sistemas Informáticos | Secretaría de Administración y Finanzas <br>Facultad de Ciencias Económicas | UNLP | Calle 6 Nº 777 - 1er Subsuelo | La Plata | Bs. As. <br> Tel: +54 (221) 423-6769/71/72 int. 123 | ditesi@econo.unlp.edu.ar
        </p>
      </div>
  </div>
</body>

</html>
