<div class="request {{view.style}} {{view.style2}} solicitudesGrupo">
<!-- VARIABLES 1: seleccionSolicitud VARIABLES 2:solicitudSeleccionada -->

    <div class="header">
        <div>
          SOLICITUDES
        </div>
    </div>

    <div class="contentRequest">

        <div class="contentLeft">

            <div class="newRequest">

              <button class="btnNewRequest" ng-click="view.style='seleccionSolicitud'">NUEVA SOLICITUD</button>

            </div>

            <div class="listRequest">
              <button class="btnBack" ng-click="view.style='';view.style2=''"><i class="arrowBack fa fa-chevron-left"></i> VOLVER</button>
              <div class="titleListRequest">Lista de solicitudes</div>
                  <div class="contentListRequest">
                      <button class="btnRequest" ng-click="view.style2='solicitudSeleccionada'"><i class="iconoRequest fa fa-ticket "></i> Ausente con aviso</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Boleta de salida</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Pre-Examen</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Art. 102</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Compensatorio</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Cumpleaños</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Vacaciones</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Pre-Examen</button>
                  </div>
            </div>

        </div>

        <div class="contentRight">

          <div class="contentMyRequest">

            <div class="contentHeaderRequest">
                <div>
                    <select  class="selectRequest">
                        <option class="title" ng-click="view.style3='solicitudesPersonales'">MIS SOLICITUDES</option>
                        <option class="title" ng-click="view.style3='solicitudesGrupales'">MI GRUPO</option>
                    </select>
                </div>

                <div class="dateOrder">
                  Inicio <input class="inputDateRequest" type="date"></input>
                  Fin <input class="inputDateRequest" type="date"></input>
                  <button class="btnOrder"><i class="fa fa-refresh"></i></button>
                </div>

                <div class="orderRequest">
                  <i class="icoOrder fa fa-sliders"></i>
                  <div class="textOrder"> Ordenar</div>
                  <div><button class="btnOrder"><i class="fa fa-ticket"></i></button></div>
                  <div><button class="btnOrder"><i class="fa fa-sort-alpha-asc"></i></button></div>
                  <div><button class="btnOrder"><b>E</b></button></div>
                </div>
            </div>

            <div class="listMyRequest">
                <div class="requestOwn">
                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <i class="ico fa fa-ticket "></i> Boleta de salida
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          19/04/2016
                        </div>
                        <div class="bar"> | </div>
                        <div class="dateRequest2">
                          14:00 - 16:00
                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Estado
                        </div>
                        <div class="icoState">
                          <div class="icoStatePendig">
                            P
                          </div>
                          <div class="textIcoState">
                            Pendiente
                          </div>
                        </div>
                    </div>
                  </div>

                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <i class="ico fa fa-ticket "></i> Ausente con aviso
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          08/01/2016
                        </div>
                        <div class="dateRequest2">


                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Estado
                        </div>
                        <div class="icoState">
                          <div class="icoStatePendig">
                            P
                          </div>
                          <div class="textIcoState">
                            Pendiente
                          </div>
                        </div>
                    </div>
                  </div>

                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <i class="ico fa fa-ticket "></i> Ausente con aviso
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          08/01/2016
                        </div>
                        <div class="dateRequest2">


                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Estado
                        </div>
                        <div class="icoState">
                          <div class="icoStateCancel">
                            C
                          </div>
                          <div class="textIcoState">
                            Cancelado
                          </div>
                        </div>
                    </div>
                  </div>

                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <i class="ico fa fa-ticket "></i> Ausente con aviso
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          08/01/2016
                        </div>
                        <div class="dateRequest2">


                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Estado
                        </div>
                        <div class="icoState">
                          <div class="icoStateApproved">
                            A
                          </div>
                          <div class="textIcoState">
                            Aprobado
                          </div>
                        </div>
                    </div>
                  </div>

                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <i class="ico fa fa-ticket "></i> Boleta de salida
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          19/04/2016
                        </div>
                        <div class="bar"> | </div>
                        <div class="dateRequest2">
                          14:00 - 16:00
                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Estado
                        </div>
                        <div class="icoState">
                          <div class="icoStateCancel">
                            C
                          </div>
                          <div class="textIcoState">
                            Cancelado
                          </div>
                        </div>
                    </div>
                  </div>
                    <!-- SOLICITUD INDIVIDUAL -->
                    <div class="itemRequest">
                      <div class="typeRequest">
                          <i class="ico fa fa-ticket "></i> Pre-exámen
                      </div>
                      <div class="infoRequest">
                          <div class="dateRequest">
                            19/04/2016
                          </div>
                          <div class="bar"> | </div>
                          <div class="dateRequest2">
                            21/04/2016
                          </div>
                      </div>
                      <div class="contentState">
                          <div class="state">
                            Estado
                          </div>
                          <div class="icoState">
                            <div class="icoStateApproved">
                              A
                            </div>
                            <div class="textIcoState">
                              Aprobado
                            </div>
                          </div>
                      </div>
                    </div>

                    <!-- SOLICITUD INDIVIDUAL -->
                    <div class="itemRequest">
                      <div class="typeRequest">
                          <i class="ico fa fa-ticket "></i> Ausente con aviso
                      </div>
                      <div class="infoRequest">
                          <div class="dateRequest">
                            08/01/2016
                          </div>
                          <div class="dateRequest2">


                          </div>
                      </div>
                      <div class="contentState">
                          <div class="state">
                            Estado
                          </div>
                          <div class="icoState">
                            <div class="icoStateApproved">
                              A
                            </div>
                            <div class="textIcoState">
                              Aprobado
                            </div>
                          </div>
                      </div>
                    </div>

                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <i class="ico fa fa-ticket "></i> Ausente con aviso
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          08/01/2016
                        </div>
                        <div class="dateRequest2">


                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Estado
                        </div>
                        <div class="icoState">
                          <div class="icoStateCancel">
                            C
                          </div>
                          <div class="textIcoState">
                            Cancelado
                          </div>
                        </div>
                    </div>
                  </div>

                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <i class="ico fa fa-ticket "></i> Ausente con aviso
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          08/01/2016
                        </div>
                        <div class="dateRequest2">


                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Estado
                        </div>
                        <div class="icoState">
                          <div class="icoStateApproved">
                            A
                          </div>
                          <div class="textIcoState">
                            Aprobado
                          </div>
                        </div>
                    </div>
                  </div>

                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <i class="ico fa fa-ticket "></i> Boleta de salida
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          19/04/2016
                        </div>
                        <div class="bar"> | </div>
                        <div class="dateRequest2">
                          14:00 - 16:00
                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Estado
                        </div>
                        <div class="icoState">
                          <div class="icoStateCancel">
                            C
                          </div>
                          <div class="textIcoState">
                            Cancelado
                          </div>
                        </div>
                    </div>
                  </div>
                    <!-- SOLICITUD INDIVIDUAL -->
                    <div class="itemRequest">
                      <div class="typeRequest">
                          <i class="ico fa fa-ticket "></i> Pre-exámen
                      </div>
                      <div class="infoRequest">
                          <div class="dateRequest">
                            19/04/2016
                          </div>
                          <div class="bar"> | </div>
                          <div class="dateRequest2">
                            21/04/2016
                          </div>
                      </div>
                      <div class="contentState">
                          <div class="state">
                            Estado
                          </div>
                          <div class="icoState">
                            <div class="icoStateApproved">
                              A
                            </div>
                            <div class="textIcoState">
                              Aprobado
                            </div>
                          </div>
                      </div>
                    </div>

                    <!-- SOLICITUD INDIVIDUAL -->
                    <div class="itemRequest">
                      <div class="typeRequest">
                          <i class="ico fa fa-ticket "></i> Ausente con aviso
                      </div>
                      <div class="infoRequest">
                          <div class="dateRequest">
                            08/01/2016
                          </div>
                          <div class="dateRequest2">


                          </div>
                      </div>
                      <div class="contentState">
                          <div class="state">
                            Estado
                          </div>
                          <div class="icoState">
                            <div class="icoStateApproved">
                              A
                            </div>
                            <div class="textIcoState">
                              Aprobado
                            </div>
                          </div>
                      </div>
                    </div>

                    <!-- SOLICITUD INDIVIDUAL -->
                    <div class="itemRequest">
                      <div class="typeRequest">
                          <i class="ico fa fa-ticket "></i> Vacaciones
                      </div>
                      <div class="infoRequest">
                          <div class="dateRequest">
                            08/01/2016
                          </div>
                          <div class="dateRequest2">
                            <span class="bar"> | </span>
                            27/01/2016
                          </div>
                      </div>
                      <div class="contentState">
                          <div class="state">
                            Estado
                          </div>
                          <div class="icoState">
                            <div class="icoStateApproved">
                              A
                            </div>
                            <div class="textIcoState">
                              Aprobado
                            </div>
                          </div>
                      </div>
                    </div>
                </div>

                <div class="requestGroup">
                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <div class="nameRequest">Walter Roberto Blanco</div>
                        <div><i class="ico fa fa-ticket "></i> Boleta de salida</div>
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          19/04/2016
                        </div>
                        <div class="bar"> | </div>
                        <div class="dateRequest2">
                          <div>14:00 - 16:00</div>
                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Acción
                        </div>
                        <div class="actionBtns">
                          <div>
                            <button class="btnApprove">Aprobar</button>
                          </div>
                          <div>
                            <button class="btnCancel">Denegar</button>
                          </div>
                        </div>
                    </div>
                  </div>

                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <div class="nameRequest">Alejandro Oporto</div>
                        <div><i class="ico fa fa-ticket "></i> Ausente con aviso</div>
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          19/04/2016
                        </div>
                        <!-- <div class="bar"> | </div>
                        <div class="dateRequest2">
                          <div>14:00 - 16:00</div>
                        </div> -->
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Acción
                        </div>
                        <div class="actionBtns">
                          <div>
                            <button class="btnApprove">Aprobar</button>
                          </div>
                          <div>
                            <button class="btnCancel">Denegar</button>
                          </div>
                        </div>
                    </div>
                  </div>

                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <div class="nameRequest">Santiago Ojeda</div>
                        <div><i class="ico fa fa-ticket "></i> Pre-exámen</div>
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          19/04/2016
                        </div>
                        <div class="bar"> | </div>
                        <div class="dateRequest2">
                          <div>14:00 - 16:00</div>
                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Acción
                        </div>
                        <div class="actionBtns">
                          <div>
                            <button class="btnApprove">Aprobar</button>
                          </div>
                          <div>
                            <button class="btnCancel">Denegar</button>
                          </div>
                        </div>
                    </div>
                  </div>

                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <div class="nameRequest">Emanuel Pais</div>
                        <div><i class="ico fa fa-ticket "></i> Vacaciones</div>
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          19/04/2016
                        </div>
                        <div class="bar"> | </div>
                        <div class="dateRequest2">
                          <div>25/04/2016</div>
                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Acción
                        </div>
                        <div class="actionBtns">
                          <div>
                            <button class="btnApprove">Aprobar</button>
                          </div>
                          <div>
                            <button class="btnCancel">Denegar</button>
                          </div>
                        </div>
                    </div>
                  </div>

                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <div class="nameRequest">Maximiliano Saucedo</div>
                        <div><i class="ico fa fa-ticket "></i> Boleta de salida</div>
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          19/04/2016
                        </div>
                        <div class="bar"> | </div>
                        <div class="dateRequest2">
                          <div>14:00 - 16:00</div>
                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Acción
                        </div>
                        <div class="actionBtns">
                          <div>
                            <button class="btnApprove">Aprobar</button>
                          </div>
                          <div>
                            <button class="btnCancel">Denegar</button>
                          </div>
                        </div>
                    </div>
                  </div>

                  <!-- SOLICITUD INDIVIDUAL -->
                  <div class="itemRequest">
                    <div class="typeRequest">
                        <div class="nameRequest">Ivan Castañeda</div>
                        <div><i class="ico fa fa-ticket "></i> Boleta de salida</div>
                    </div>
                    <div class="infoRequest">
                        <div class="dateRequest">
                          19/04/2016
                        </div>
                        <div class="bar"> | </div>
                        <div class="dateRequest2">
                          <div>14:00 - 16:00</div>
                        </div>
                    </div>
                    <div class="contentState">
                        <div class="state">
                          Acción
                        </div>
                        <div class="actionBtns">
                          <div>
                            <button class="btnApprove">Aprobar</button>
                          </div>
                          <div>
                            <button class="btnCancel">Denegar</button>
                          </div>
                        </div>
                    </div>
                  </div>

                </div>

            </div>
            <!-- fin -->
          </div>

          <div class="contentRequestSelected">
            <button class="btnBackCel" ng-click="view.style='seleccionSolicitud';view.style2=''"><i class="arrowBack fa fa-chevron-left"></i> VOLVER</button>
            <div ng-if="view.style2 == 'solicitudSeleccionada'" ng-include="'/systems/assistance/modules/request/AA/index.html'"></div>
          </div>


        </div>

    </div>

</div>
