<div class="request {{view.style}} {{view.style2}}">
<!-- VARIABLES 1: seleccionSolicitud VARIABLES 2:solicitudSeleccionada -->

    <div class="header">
        <div>
          SOLICITUDES
        </div>
    </div>

    <div class="contentRequest">

        <div class="contentLeft">

            <div class="newRequest">

              <button class="btnNewRequest" ng-click="view.style='seleccionSolicitud'">NUEVA SOLICITUD</button>

            </div>

            <div class="listRequest">
              <button class="btnBack" ng-click="view.style='';view.style2=''"><i class="arrowBack fa fa-chevron-left"></i> VOLVER</button>
              <div class="titleListRequest">Lista de solicitudes</div>
                  <div class="contentListRequest">
                      <button class="btnRequest" ng-click="view.style2='solicitudSeleccionada'"><i class="iconoRequest fa fa-ticket "></i> Ausente con aviso</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Boleta de salida</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Pre-Examen</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Art. 102</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Compensatorio</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Cumpleaños</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Vacaciones</button>
                      <button class="btnRequest"><i class="iconoRequest fa fa-ticket "></i> Pre-Examen</button>
                  </div>
            </div>

        </div>

        <div class="contentRight">

          <div class="contentMyRequest">

            <div class="contentHeaderRequest">
                <div>
                    <select  class="selectRequest">
                        <option class="title">MIS SOLICITUDES</option>
                        <option class="title">MI GRUPO</option>
                    </select>
                </div>

                <div class="dateOrder">
                  Inicio <input class="inputDateRequest" type="date"></input>
                  Fin <input class="inputDateRequest" type="date"></input>
                  <button class="btnOrder"><i class="fa fa-refresh"></i></button>
                </div>

                <div class="orderRequest">
                  <i class="icoOrder fa fa-sliders"></i>
                  <div class="textOrder"> Ordenar</div>
                  <div><button class="btnOrder"><i class="fa fa-ticket"></i></button></div>
                  <div><button class="btnOrder"><i class="fa fa-sort-alpha-asc"></i></button></div>
                  <div><button class="btnOrder"><b>E</b></button></div>
                </div>
            </div>

            <div class="listMyRequest">

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Ausente con aviso
                  </div>
                  <div class="dateRequest">
                    26/05/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStatePendig">
                          P
                        </div>
                        <div class="textIcoState">
                          Pendiente
                        </div>
                      </div>
                  </div>
                </div>

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Boleta de salida
                  </div>
                  <div class="dateRequest">
                    21/05/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStatePendig">
                          P
                        </div>
                        <div class="textIcoState">
                          pendiente
                        </div>
                      </div>
                  </div>
                </div>

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Pre-exámen
                  </div>
                  <div class="dateRequest">
                    19/04/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStateApproved">
                          A
                        </div>
                        <div class="textIcoState">
                          Aprobado
                        </div>
                      </div>
                  </div>
                </div>

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Boleta de salida
                  </div>
                  <div class="dateRequest">
                    18/04/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStateApproved">
                          A
                        </div>
                        <div class="textIcoState">
                          Aprobado
                        </div>
                      </div>
                  </div>
                </div>

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Ausente con aviso
                  </div>
                  <div class="dateRequest">
                    15/04/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStateCancel">
                          D
                        </div>
                        <div class="textIcoState">
                          Denegado
                        </div>
                      </div>
                  </div>
                </div>

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Boleta de salida
                  </div>
                  <div class="dateRequest">
                    10/04/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStateApproved">
                          A
                        </div>
                        <div class="textIcoState">
                          Aprobado
                        </div>
                      </div>
                  </div>
                </div>

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Ausente con aviso
                  </div>
                  <div class="dateRequest">
                    08/04/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStateApproved">
                          A
                        </div>
                        <div class="textIcoState">
                          Aprobado
                        </div>
                      </div>
                  </div>
                </div>

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Ausente con aviso
                  </div>
                  <div class="dateRequest">
                    25/03/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStateApproved">
                          A
                        </div>
                        <div class="textIcoState">
                          Aprobado
                        </div>
                      </div>
                  </div>
                </div>

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Ausente con aviso
                  </div>
                  <div class="dateRequest">
                    22/03/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStateCancel">
                          D
                        </div>
                        <div class="textIcoState">
                          Denegado
                        </div>
                      </div>
                  </div>
                </div>

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Boleta de salida
                  </div>
                  <div class="dateRequest">
                    15/03/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStateCancel">
                          D
                        </div>
                        <div class="textIcoState">
                          Denegado
                        </div>
                      </div>
                  </div>
                </div>

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Pre-exámen
                  </div>
                  <div class="dateRequest">
                    12/03/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStateApproved">
                          A
                        </div>
                        <div class="textIcoState">
                          Aprobado
                        </div>
                      </div>
                  </div>
                </div>

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Ausente con aviso
                  </div>
                  <div class="dateRequest">
                    08/03/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStateApproved">
                          A
                        </div>
                        <div class="textIcoState">
                          Aprobado
                        </div>
                      </div>
                  </div>
                </div>

                <!-- SOLICITUD INDIVIDUAL -->
                <div class="itemRequest">
                  <div class="typeRequest">
                      <i class="ico fa fa-ticket "></i> Boleta de salida
                  </div>
                  <div class="dateRequest">
                    05/03/2016
                  </div>
                  <div class="contentState">
                      <div class="state">
                        Estado
                      </div>
                      <div class="icoState">
                        <div class="icoStateApproved">
                          A
                        </div>
                        <div class="textIcoState">
                          Aprobado
                        </div>
                      </div>
                  </div>
                </div>

            </div>

          </div>

          <div class="contentRequestSelected">
            <button class="btnBackCel" ng-click="view.style='seleccionSolicitud';view.style2=''"><i class="arrowBack fa fa-chevron-left"></i> VOLVER</button>
            <div ng-if="view.style2 == 'solicitudSeleccionada'" ng-include="'/systems/assistance/modules/request/AA/index.html'"></div>
          </div>


        </div>

    </div>

</div>
