<div class="library {{vm.view.style}} {{vm.view.style2}}">
    <!--
    VARIABLES1: buscar, cargando
    VARIABLES2: rangoHorario, rangoFechas
    -->

    <!-- -------------- CONTENEDOR PRINCIPAL DEL SISTEMA ----------------- -->
    <div class="contentLibrary">

        <!-- ---- CONTENEDOR DE LA IZQUIERDA ----- -->
        <div class="contentMain">
            <!-- ---- Header del sistema ----- -->
            <div class="contentInfoList">
                <div class="contentStatusNew">
                      <div class="cantPerson"><div class="textCantPerson">{{vm.model.inside}} </div>Entradas</div><!-- ---- Cantidad de personas presentes en la sala ----- -->
                      <div class="cantPerson2"><div class="textCantPerson2">{{vm.model.outside}} </div> Entrada/Salida</div> <!-- ---- Cantidad de personas que entraron y salieron ----- -->
                      <!-- <div class="cantPerson3"><div class="textCantPerson3">{{vm.model.logs.length}} </div> Total de Marcaciones</div> total de accesos - -->
                      <div class="cantPerson3"><div class="textCantPerson3">{{results.length}} </div> Total de Marcaciones</div><!-- ---- total de accesos ----- -->
                </div>
            </div>
            <!-- ---- Contenedor de ordenamiento y busqueda ----- -->
            <div class="headerContentList">
                <div class="dataList">
                    <div>Ordenar </div>
                    <div class="btnOrder" title="Ordenar por Entrada / Salida"><i class="fa fa-exchange"></i></div>
                    <div class="btnOrder" title="Ordenar Horario"><i class="fa fa-clock-o"></i></div>
                    <div class="btnOrder" title="Ordenar Nombre"><i class="fa fa-sort-alpha-asc"></i></div>
                </div>
                <div class="contentFilters">
                  <div class="btnOrder" title="Restablecer valores por defecto"><i class="fa fa-home" ng-click='vm.resetSearchAndGetLogs()'></i></div>
                  <div class="btnOrder" title="Descargar Lista" ng-click='vm.download()'><i class="fa fa-download"></i></div>
                  <div class="btnSearch" ng-click="vm.view.style = 'buscar'" title="Buscar..."><i class="fa fa-search"></i></div>
                </div>
                <!-- ---- Buscador por nombre, fecha y hora ----- -->
                <div class="contentSearch">
                    <div class="subContentSearch">
                        <div class="contentItemSearch">
                          <div class="icoSeach"><i class="fa fa-search"></i></div>
                          <div><input type="search" placeholder="Buscar..." class="inputSearch" ng-model="vm.view.searchInput"></input></div>
                          <div class=textRanck>
                              <div class="contentRangDate">
                                  <div class="btnOrder2" ng-click="vm.view.style2 = 'rangoFechas'">Rango de Fechas</div>
                                  <div class="btnOrder3" ng-click="vm.view.style2 = 'rangoFechas'"><i class="fa fa-calendar-o"></i></div>

                                  <div class="contentInputDate">
                                    <div> Fecha Inicio </div>
                                    <div><input type="date"  class="inputTime " ng-model="vm.model.search.initDate"></input></div>
                                    <div> Fecha Fin </div>
                                    <div><input type="date" class="inputTime" ng-model="vm.model.search.endDate"></input></div>
                                    <div class="btnSave" ng-click="vm.searchLogs()">OK</div>
                                  </div>
                              </div>
                              <div>
                                  <div class="btnOrder2" ng-click="vm.view.style2 = 'rangoHorario'">Rango Horario</div>
                                  <div class="btnOrder3" ng-click="vm.view.style2 = 'rangoHorario'"><i class="fa fa-clock-o"></i></div>

                                  <div class="contentInputTime">
                                    <div> Hora de Inicio </div>
                                    <div><input type="time"  class="inputTime " ng-model="vm.model.search.initHour"></input></div>
                                    <div> Hora Fin </div>
                                    <div><input type="time" class="inputTime" ng-model="vm.model.search.endHour"></input></div>
                                    <div class="btnSave" ng-click="vm.searchLogs()">OK</div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div>
                          <div class="btnSearch2" ng-click="vm.view.style = ''" title="Buscar..."><i class="fa fa-check"></i></div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- ---- Listado de accesos ----- -->
            <div class="contentList">
                <!-- ---- Titulos del listado ----- -->
                <div class="titleListAccess">
                  <div class="file0" ng-click="vm.sortAccess()">A</div>
                  <div class="file1" ng-click="vm.sortAccess()">Acceso</div>
                  <div class="file2" ng-click="vm.sortDate()">Día</div>
                  <div class="file2b" ng-click="vm.sortHours()">Hora</div>
                  <div class="file3" ng-click="vm.sortName()">Nombre y Apellido</div>
                  <div class="file4" ng-click="vm.sortDni()">DNI</div>
                  <div class="file5" ng-click="vm.sortType()">Tipo</div>
                </div>
                <!-- ---- Accesos ----- -->
                <div class="listAccess">
                  <div class="itemListAccess {{i.clase}}" ng-repeat="i in vm.model.logs | filter: vm.view.searchInput as results">
                    <!-- VARIABLES: entrada, salida -->
                    <div class="file1b">
                        <i class="inOut fa fa-chevron-circle-left"></i>
                        <div class="inOut in">Entrada</div>
                        <div class="inOut out">Salida</div>
                    </div>
                    <div class="file2">{{i.date | date: 'dd/MM/yyyy'}}</div>
                    <div class="file2b">{{i.date | date: 'HH:mm:ss'}}</div>
                    <div class="file3">{{i.name}} {{i.lastname}}</div>
                    <div class="file4">{{i.dni}}</div>
                    <div class="file5">{{i.tipo}}</div>
                  </div>
                </div>
                <!-- ---- Preload para la busqueda ----- -->
                <div class="preload">
                  <div class="circle"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
                  <div><b>Cargando...</b></div>
                  <div>Por favor espere</div>
                </div>

            </div>
        </div>
        <!-- ---- CONTENEDOR DE LA DERECHA ----- -->
        <div class="contentAside">
            <div class="contentListAside">
                <!-- ---- Ultimo acceso de entrada o salida (MOSTRAR SOLO LOS ULTIMOS 7 ACCESOS) ----- -->
                <div class="itemAccess {{log.clase}}" ng-repeat="log in vm.model.todayLogs | orderBy: '-date'">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" ng-src='{{log.photoSrc}}' alt="foto de perfil">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> {{log.date | date: 'HH:mm:ss'}} </div>
                            </div>
                            <div class="textName">{{log.name}} {{log.lastname}}</div>
                            <div class="textDNI">{{log.dni}}</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
