<div class="library {{view.style}} {{view.style2}}">
    <!--
    VARIABLES1: buscar, cargando
    VARIABLES2: rangoHorario, rangoFechas
    -->

    <!-- -------------- CONTENEDOR PRINCIPAL DEL SISTEMA ----------------- -->
    <div class="contentLibrary">

        <!-- ---- CONTENEDOR DE LA IZQUIERDA ----- -->
        <div class="contentMain">
            <!-- ---- Header del sistema ----- -->
            <div class="contentInfoList">
                <div class="contentStatusNew">
                      <div class="cantPerson"><div class="textCantPerson">122 </div>Presentes</div><!-- ---- Cantidad de personas presentes en la sala ----- -->
                      <div class="cantPerson2"><div class="textCantPerson2">28 </div> Disponibilidad</div> <!-- ---- Lugares disponibles en la sala ----- -->
                      <div class="cantPerson3"><div class="textCantPerson3">568 </div> Total de accesos</div><!-- ---- total de accesos ----- -->
                </div>
            </div>
            <!-- ---- Contenedor de ordenamiento y busqueda ----- -->
            <div class="headerContentList">
                <div class="dataList">
                    <div>Ordenar </div>
                    <div class="btnOrder" title="Ordenar por Entrada / Salida"><i class="fa fa-exchange"></i></div>
                    <div class="btnOrder" title="Ordenar Horario"><i class="fa fa-clock-o"></i></div>
                    <div class="btnOrder" title="Ordenar Nombre"><i class="fa fa-sort-alpha-asc"></i></div>
                </div>
                <div class="contentFilters">
                  <div class="btnOrder" title="Restablecer valores por defecto"><i class="fa fa-home" ng-click='vm.getLogs()'></i></div>
                  <div class="btnOrder" title="Descargar Lista"><i class="fa fa-download"></i></div>
                  <div class="btnSearch" ng-click="view.style = 'buscar'" title="Buscar..."><i class="fa fa-search"></i></div>
                </div>
                <!-- ---- Buscador por nombre, fecha y hora ----- -->
                <div class="contentSearch">
                    <div class="subContentSearch">
                        <div class="contentItemSearch">
                          <div class="icoSeach"><i class="fa fa-search"></i></div>
                          <div><input type="search" placeholder="Buscar..."class="inputSearch"></input></div>
                          <div class=textRanck>
                              <div class="contentRangDate">
                                  <div class="btnOrder2" ng-click="view.style2 = 'rangoFechas'">Rango de Fechas</div>
                                  <div class="btnOrder3" ng-click="view.style2 = 'rangoFechas'"><i class="fa fa-calendar-o"></i></div>

                                  <div class="contentInputDate">
                                    <div> Fecha Inico </div>
                                    <div><input type="date"  class="inputTime "></input></div>
                                    <div> Fecha Fin </div>
                                    <div><input type="date" class="inputTime"></input></div>
                                    <div class="btnSave" ng-click="view.style2 = ''">OK</div>
                                  </div>
                              </div>
                              <div>
                                  <div class="btnOrder2" ng-click="view.style2 = 'rangoHorario'">Rango Horario</div>
                                  <div class="btnOrder3" ng-click="view.style2 = 'rangoHorario'"><i class="fa fa-clock-o"></i></div>

                                  <div class="contentInputTime">
                                    <div> Hora de Inicio </div>
                                    <div><input type="time"  class="inputTime "></input></div>
                                    <div> Hora Fin </div>
                                    <div><input type="time" class="inputTime"></input></div>
                                    <div class="btnSave" ng-click="view.style2 = ''">OK</div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div>
                          <div class="btnSearch2" ng-click="view.style = ''" title="Buscar..."><i class="fa fa-check"></i></div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- ---- Listado de accesos ----- -->
            <div class="contentList">
                <!-- ---- Titulos del listado ----- -->
                <div class="titleListAccess">
                  <div class="file0">A</div>
                  <div class="file1">Acceso</div>
                  <div class="file2">Día</div>
                  <div class="file2b">Hora</div>
                  <div class="file3">Nombre y Apellido</div>
                  <div class="file4">DNI</div>
                  <div class="file5">Tipo</div>
                </div>
                <!-- ---- Accesos ----- -->
                <div class="listAccess">
                  <div class="itemListAccess {{i.clase}}" ng-repeat="i in vm.model.logs">
                    <!-- VARIABLES: entrada, salida -->
                    <div class="file1b">
                        <i class="inOut fa fa-chevron-circle-left"></i>
                        <div class="inOut in">Entrada</div>
                        <div class="inOut out">Salida</div>
                    </div>
                    <div class="file2">{{i.dia}}</div>
                    <div class="file2b">{{i.hora}}</div>
                    <div class="file3">{{i.name}} {{i.lastname}}</div>
                    <div class="file4">{{i.dni}}</div>
                    <div class="file5">{{i.tipo}}</div>
                  </div>
                </div>
                <!-- ---- Preload para la busqueda ----- -->
                <div class="preload">
                  <div class="circle"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
                  <div><b>Cargando...</b></div>
                  <div>Por favor espere</div>
                </div>

            </div>
        </div>
        <!-- ---- CONTENEDOR DE LA DERECHA ----- -->
        <div class="contentAside">
            <div class="contentListAside">
                <!-- ---- Ultimo acceso de entrada o salida (MOSTRAR SOLO LOS ULTIMOS 7 ACCESOS) ----- -->
                <div class="itemAccess entrada">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/pablo.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:36 hs </div>
                            </div>
                            <div class="textName">Pablo Daniel Rey</div>
                            <div class="textDNI">29568325</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess salida">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/walter.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:35 hs </div>
                            </div>
                            <div class="textName">Walter Roberto Blanco</div>
                            <div class="textDNI">30001823</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess entrada">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/maxi.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:34 hs </div>
                            </div>
                            <div class="textName">Maximiliano Sausedo</div>
                            <div class="textDNI">30001823</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess entrada">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/walter.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:35 hs </div>
                            </div>
                            <div class="textName">Walter Roberto Blanco</div>
                            <div class="textDNI">30001823</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess salida">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/walter.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:35 hs </div>
                            </div>
                            <div class="textName">Walter Roberto Blanco</div>
                            <div class="textDNI">30001823</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess entrada">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/walter.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:35 hs </div>
                            </div>
                            <div class="textName">Walter Roberto Blanco</div>
                            <div class="textDNI">30001823</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess salida">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/walter.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:35 hs </div>
                            </div>
                            <div class="textName">Walter Roberto Blanco</div>
                            <div class="textDNI">30001823</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess entrada">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/pablo.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:36 hs </div>
                            </div>
                            <div class="textName">Pablo Daniel Rey</div>
                            <div class="textDNI">29568325</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess salida">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/walter.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:35 hs </div>
                            </div>
                            <div class="textName">Walter Roberto Blanco</div>
                            <div class="textDNI">30001823</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess entrada">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/maxi.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:34 hs </div>
                            </div>
                            <div class="textName">Maximiliano Sausedo</div>
                            <div class="textDNI">30001823</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess entrada">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/walter.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:35 hs </div>
                            </div>
                            <div class="textName">Walter Roberto Blanco</div>
                            <div class="textDNI">30001823</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess salida">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/walter.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:35 hs </div>
                            </div>
                            <div class="textName">Walter Roberto Blanco</div>
                            <div class="textDNI">30001823</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess entrada">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/walter.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:35 hs </div>
                            </div>
                            <div class="textName">Walter Roberto Blanco</div>
                            <div class="textDNI">30001823</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="itemAccess salida">
                    <div class="infoUserAside">
                        <div>
                          <img class="imgUserAside" src="/systems/biblioteca/img/walter.jpg">
                        </div>
                        <div>
                            <div class="textHora">
                                <div class="textIn">Entrada</div>
                                <div class="textOut">Salida</div>
                                <div><i class="icoClock fa fa-clock-o"></i> 10:35 hs </div>
                            </div>
                            <div class="textName">Walter Roberto Blanco</div>
                            <div class="textDNI">30001823</div>
                        </div>
                    </div>
                    <div class="contentArrow">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
