
<h2>Usuarios</h2>


<table class="table table-striped table-bordered table-hover">
   <thead>
     <tr>
       <th>Nombre</th>
       <th>Apellido</th>
       <th>DNI</th>
       <th>Opciones</th>
     </tr>
   </thead>
   <tbody>
     <tr ng-repeat="user in users">
       <td>{{user.name}}</td>
       <td>{{user.lastname}}</td>
       <td>{{user.dni}}</td>
       <td><button type="button" ng-click="deleteUser($index)">Eliminar</button></td>
     </tr>
   </tbody>
 </table>

<button ng-if="action == 'edit'" type="button" class="btn btn-default" ng-click="back()">Volver</button>

<button type="button" ng-click="addUser()" class="btn btn-default">Agregar</button>
