            <div>
                <div class="titleCatedra"><b>{{cathedra.description}}</b></div>
                
                <div  ng-repeat="d in data | orderBy:['position.description']" >
                  <div class="titleDocente">
                    {{d.position.description}}
                  </div>
                  
                  <div ng-repeat="de in d.designations | orderBy:['user.lastname', 'user.name']" >
                    {{de.user.lastname}}, {{de.user.name}}
                  </div>
                </div>
            </div>
