
.myTaskContainer {
  margin: 0px;
  padding: 0px;
  height:100%;
  width:100%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position:absolute;
  overflow-y: hidden;
  background-color: #eee;

}

.myTaskContainer .contentScreens {
  height:100%;
  width:100%

}

/*******************************************************
**** ESTILO PARA LOS CONTENEDORES DE LAS PANTALLAS *****
*******************************************************/

.myTaskContainer .task {
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 20px;
  width: 79%;
  margin: 20px;
}

/*******************************************************
************ SOLICITAR NUEVO PEDIDO ********************
*******************************************************/

.myTaskContainer .formNewTask { /*FORMULARIO PARA NUEVO PEDIDO*/
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  wrap: nowrap;
}

.myTaskContainer .newTask { /*TEXTAREA NUEVO PEDIDO*/
  margin-top: 10px;
  width: 800px;
  height: 40px;
  font-size: 1.4em;
  padding: 5px;
  background-color: #eee;
  border-color: #E3DFDF;
  resize: none;
}

.myTaskContainer .task .buttonTask { /*BOTON SOLICITAR PEDIDO*/
  border: none;
  padding: 17px;
  margin: 2px;
  background-color: #0066A6;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.myTaskContainer .task .buttonTask:hover {  /*BOTON SOLICITAR PEDIDO*/
  border: none;
  padding: 17px;
  margin: 2px;
  background-color: #275276;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}

/*******************************************************
************ CONTENEDOR DE MIS PEDIDOS *****************
*******************************************************/

.myTaskContainer .contentOrders { /*CONTENEDOR DE MIS PEDIDOS*/

}

.myTaskContainer .contentMyIssues {
  overflow-y: auto;
  max-height: 390px;
}


.myTaskContainer .finish {
  text-decoration:line-through;
  color:grey;
}
