*{
  margin: 0px;
  padding: 0px;
}*


body {
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
  overflow:hidden;

}

.contenedor {
  position: relative;
  height: 100%;
  background-color: green;
  color: white;
}
.contenedor:hover {
  position: relative;
  height: 100%;
  background-color: green;
  color: white;
  transform: translate3D(0, -100%,0);
  -webkit-transition: all 1s ease-in-out;


}
.contenedor2 {
  position: relative;
  height: 100%;
  background-color: blue;
  color: white;
}

.contenedor3 {
  position: relative;
  height: 100%;
  background-color: red;
  color: white;
}
