<div class="menu " id="itemMenuId">
    <div class="itemMenu"  onclick="if (document.getElementById('itemMenuId').className == 'menu close') {document.getElementById('itemMenuId').className = 'menu'} else {document.getElementById('itemMenuId').className = 'menu close'} ">
        <div class="itemTextMenu2">
          <b>MENU</b>
        </div>
        <div class="itemIcons" title="Menu">
          <i class="fa fa-bars  iconsMenu"></i>
        </div>
    </div>
    <div class="itemMenu"  ng-click="selectEditAccount()">
        <div class="itemTextMenu">
          <i class="fa fa-caret-right arrowItemsMenu"></i> Editar Cuentas
        </div>
        <div class="itemIcons" title="Edición de Usuarios">
          <i class="fa fa-user iconsMenu" ></i>
        </div>
    </div>
    <div class="itemMenu" ng-click="selectCreateAccount()">
        <div class="itemTextMenu">
          <i class="fa fa-caret-right arrowItemsMenu"></i> Crear Cuenta
        </div>
        <div class="itemIcons" title="Edición de grupos">
          <i class="fa fa-key iconsMenu" ></i>
        </div>
    </div>

</div>
