

.connection-container.visible {

}

.connection-container.hidden {
  display: none;
}

.connection {
  position: relative;
  top: 100%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  border: solid blue 1px;
}
