<div class="issues">

    <!-- ****************************************************
    ****** CONTENEDOR PRINCIPAL (Maneja los estilos) ********
    ***************************************************** -->
    <div class="contentScreens {{style}}">

        <!-- ****************************************************
        ***************** CREAR NUEVO PEDIDO ********************
        ***************************************************** -->
        <div class="order">
          <!-- <i class="fa fa-tag"></i> -->
            <h2>NUEVO PEDIDO </h2>
            <form class="formOrder">
                <div>
                  <textarea class="newOrder"  ng-model="request"></textarea>
                </div>
                <!-- <span ng-show="errors.request != null">{{errors.request}}</span> -->
                <div>
                  <button class="buttonOrder" ng-click="createNode()"><h3>SOLICITAR</h3></button>
                </div>
            </form>
        </div>

        <!-- ****************************************************
        ***************** MIS PEDIDOS (Listado) *****************
        ***************************************************** -->
        <div class="order">
            <h3>MIS PEDIDOS <i class="fa fa-tags"></i> </h3>
            <div class="contentMyIssues">
              <div data-drag-enabled="false" class="contentOrders" ui-tree>
                  <ol class="dataIsues" ui-tree-nodes ng-model="data" id="tree-root">
                      <li  class="issuesItems {{node.style}}" ng-repeat="node in data" ui-tree-node ng-include="'modules/nodes_renderer.html'"></li>
                  </ol>
              </div>
            </div>
        </div>

        <!-- *****************************************************
        ******** PANTALLA VISIBILIDAD POR OFICINAS ***************
        ********************************************************** -->
        <div class="visibilityOffices" ng-controller="VisibilityOfficesCtrl" ng-include="'/systems/issues/modules/newRequest/visibilityOffice.html'">
        </div>

        <!-- ******************************************************
        ************* PANTALLA PARA UN COMENTARIO *****************
        ******************************************************* -->
        <div class="newCommentForm">
          <div class="contentComment">
              <h3 ng-if="model.newNode.state == 'COMMENT'" class="titleNewComment"><i class="fa fa-comments"></i> CREAR COMENTARIO </h3>
              <h3 ng-if="model.newNode.state != 'COMMENT'" class="titleNewIssue"><i class="fa fa-tag"></i> CREAR SUBTAREA </h3>
              <textarea class="textComment" ng-model="requestNewNode"></textarea>
              <div class="actions">
                <button class="btnSaveComment" title="Enviar Comentario" ng-click="saveChild()">Guardar</button>
                <button class="btnCancelComment" title="Cancelar" ng-click="cancelChild()"><i class="fa fa-times"></i></button>
              </div>
          </div>
        </div>

    </div>
</div>
