<div class="orderItems" ng-class='[getIssueCssClass(this)]'  ui-tree-handle>
    <div class="orderItem">
        <div ng-show="node.state != 'COMMENT'" class="btnExpOrder">
          <div  ng-if="collapsed">
              <button class="btn cB fa fa-plus-square"  ng-click="toggleNode(this)" ></button>
          </div>
          <div ng-if="!collapsed">
              <button class="btn cB fa fa-minus-square" title="Expandir Pedido" ng-click="toggleNode(this)" ></button>
          </div>
        </div>

      <div ng-show="node.state == 'COMMENT'" class="btnExpComment">
          <div ng-if="collapsed">
              <button class="btn cO fa fa-plus-square"  ng-click="toggleItem(this)" ></button>
          </div>
          <div ng-if="!collapsed">
              <button class="btn cO fa fa-minus-square" title="Expandir Pedido" ng-click="toggleItem(this)" ></button>
          </div>
        </div>

        <div>
            <textarea class="orderText"  ng-model="node.request" ng-blur="updateIssueData(this)" ng-class="{'tree': node.expanded}"  ng-click="expandInput(this)"></textarea>

            <div ng-class="{true:'descriptionExpanded',false:'descriptionClosed'}[node.descriptionExpanded]">
              {{node.created | date:"MM/dd/yyyy hh:mm" }}
              {{node.requestor}}              
            </div>


        </div>
    </div>
    <div class="orderIcons">
        <div ng-show="node.state != 'COMMENT'" class="btnState">
            <select ng-model='node.state' ng-change="updateIssueData(this)">
              <option value='COMMENT'>comentario</option>
              <option value='PENDING'>pendiente</option>
              <option value='CLOSED' class="cR">cerrado</option>
            </select>
        </div>

        <div class="btnDataOrder">
            <button class="btn cB fa fa-caret-square-o-down" title="Datos del Pedido" ng-click="toggleNodeData(this)"></button>
        </div>

        <div>
            <button class="btn cO fa fa-comment" title="Realizar Comentario" ng-click="comment(this)"></button>
        </div>
        <div class="btnSubTarea">
            <button class="btn cG fa fa-tag" title="Crear sub-Tarea" ng-click="addNode(this)"></button>
        </div>
        <div>
            <button class="btn cR fa fa-trash" title="Eliminar Pedido" ng-click="deleteNode(this)"></button>
        </div>
    </div>
  </div>


  <ol ui-tree-nodes ng-model="node.nodes" ng-class="{'angular-ui-tree-hidden': collapsed}">
    <li  ng-repeat="node in node.nodes" ui-tree-node ng-include="'modules/newRequest/nodes_renderer.html'">
    </li>
  </ol>