
<div class="orders pantallaDetallePedido {{vm.view.style2}} {{vm.view.style3}} {{vm.view.style4}}">
<div class="contentOrderDetail">

    <div class="headerDetail">

          <div class="detail">
              <div class="contentBtnReturn">
                  <a href="#/orders" class="btnReturn"><i class=" fa fa-angle-left" aria-hidden="true"></i></a>
              </div>
              <div class="itemDate2">
                  <div class="textDaysOrders">Consulta</div>
                  <div class="textNumerOrders2">Nº {{vm.model.issue.id}}</div>
              </div>
              <div class="itemsType">
                    <div class="textType">{{vm.model.issue.fromOffice.name}}</div>
                    <div class="textType2">{{vm.model.issue.area.name}}</div>
                    <div class="textSubType">{{vm.model.issue.subject}}</div>
              </div>

              <!-- ---- Usuarios de la carga del pedido ---- -->
              <div class="contentOffice"   ng-class="{true: 'solicitadoPorEl', false: 'solicitadoPorOtro'}[!vm.model.issue.creatorId]">
                  <div>
                    <div class="textMini">Solicitado por:</div>
                    <div class="textName"><b>{{vm.model.issue.user.name}} {{vm.model.issue.user.lastname}}</b></div> <!-- Usuario que pide el pedido -->
                  </div>
                  <div class="userUpload">
                    <div class="textMini">Cargado por:</div>
                    <div class="textName">{{vm.model.issue.creator.name}}  {{vm.model.issue.creator.lastname}}</div> <!-- Usuario que cargo el pedido -->
                  </div>
              </div>

              <!-- ---- Contenedor de Acciones del pedido ---- -->
              <div class="contentActions">
                  <!-- ---- Cambiar estado del pedido ---- -->
                  <div class="itemStatus2">
                      <div class="status2 {{vm.issueStatus()}}" ng-click="vm.selectStatus()">
                          <div class="textA1">ABIERTA <i class="fa fa-caret-down"></i></div>
                          <div class="textA2" title="Abierta">A <i class="fa fa-caret-down"></i></div>
                          <div class="textEC1">EN CURSO <i class="fa fa-caret-down"></i></div>
                          <div class="textEC2" title="En Curso">eC <i class="fa fa-caret-down"></i></div>
                          <div class="textC1">CERRADA <i class="fa fa-caret-down"></i></div>
                          <div class="textC2" title="Cerrada">C <i class="fa fa-caret-down"></i></div>
                          <div class="textP1">PAUSADA <i class="fa fa-caret-down"></i></div>
                          <div class="textP2" title="Pausada">P <i class="fa fa-caret-down"></i></div>
                          <div class="textR1">RECHAZADA <i class="fa fa-caret-down"></i></div>
                          <div class="textR2" title="Rechazada">R <i class="fa fa-caret-down"></i></div>
                      </div>
                      <div class="contentSelectState">
                          <div class="subContentSelectState"  ng-click="vm.setStatus('abierta')">
                              <div class="itemsSelectState abierta2">
                                <div class="itemState">ABIERTA</div>
                              </div>
                          </div>
                          <div class="subContentSelectState"  ng-click="vm.setStatus('enProgreso')">
                              <div class="itemsSelectState enProgreso2">
                                <div class="itemState">EN CURSO</div>
                              </div>
                          </div>
                          <div class="subContentSelectState" ng-click="vm.setStatus('pausada')">
                              <div class="itemsSelectState pausada2">
                                <div class="itemState">PAUSADA</div>
                              </div>
                          </div>
                          <div class="subContentSelectState" ng-click="vm.setStatus('rechazada')">
                              <div class="itemsSelectState rechazada2">
                                <div class="itemState">RECHAZADA</div>
                              </div>
                          </div>
                          <div class="subContentSelectState" ng-click="vm.setStatus('cerrada')">
                              <div class="itemsSelectState cerrada2">
                                <div class="itemState">CERRADA</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- ---- Cambiar la prioridad del pedido ---- -->
                  <div class="itemPriority">
                      <div class="contentSelectPriority {{vm.issuePriority()}}" ng-click="vm.selectPriority()">
                          <!-- ---- VARIABLES: baja, normal, alta ---- -->
                          <div class="textPriority">Prioridad</div>
                          <div class="priorityB">BAJA <i class="fa fa-caret-down"></i></div>
                          <div class="priorityN">NORMAL <i class="fa fa-caret-down"></i></div>
                          <div class="priorityA">ALTA <i class="fa fa-caret-down"></i></div>
                      </div>

                      <div class="contentSelectPriority2">
                          <div class="subContentSelectPriority" ng-click="vm.setPriority('baja')">
                              <div class="itemsSelectState prioridadBaja">
                                <div class="itemState">BAJA</div>
                              </div>
                          </div>
                          <div class="subContentSelectPriority" ng-click="vm.setPriority('normal')">
                              <div class="itemsSelectState prioridadNormal">
                                <div class="itemState">NORMAL</div>
                              </div>
                          </div>
                          <div class="subContentSelectPriority" ng-click="vm.setPriority('alta')">
                              <div class="itemsSelectState prioridadAlta">
                                <div class="itemState">ALTA</div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="contentBtnReply">
                      <a class="btnReply" ng-href="#/ordersComment/{{vm.model.issue.id}}">RESPONDER</a>
                      <a class="btnReply2" ng-href="#/ordersComment/{{vm.model.issue.id}}" title="Responder"><i class="fa fa-comment-o fa-2x"></i></a>
                  </div>
              </div>

          </div>

    </div>

    <div class="infoOrder">
        <div class="contentUser">
            <div class="photo">
                <img class="avatar" ng-src="{{vm.model.issue.user.photoSrc}}">
            </div>
            <div class="nameUser">
              {{vm.model.issue.user.name}} </br>
              {{vm.model.issue.user.lastname}}
            </div>
        </div>
        <!-- <div class="contentArrow">
          <i class="fa fa-caret-left" aria-hidden="true"></i>
        </div> -->
        <div class="contentInfo ">
            <!-- VARIABLES: conAdjunto, sinAdjunto -->
            <div class="textDateDetailOrders">
              {{vm.model.issue.start | date:"dd/MM/yyyy h:mma"}}

            </div>
            <div>
              {{vm.model.issue.description}}
            </div>

            <div ng-repeat="file in vm.model.issue.files">
              <div class="contentAddInfo">
                <i class="fa fa-paperclip"></i> <a class="archiveAdd" ng-href="{{file.url}}">{{file.name}}</a>
              </div>
            </div>
        </div>

    </div>

    <div class="contentTotalReplys" >
    <div ng-repeat="child in vm.model.issue.children">
      <div class="reply" ng-class="{true: 'miRespuesta' , false: 'respuestaDeAutor'}[vm.model.issue.userId != child.userId]">
        <div class="contentReplys">
          <div class="subcontentReply">
            <div class="contentArrowLeft">
              <i class="fa fa-caret-left" aria-hidden="true"></i>
            </div>

            <div class="textReply ">
                <!-- VARIABLES: sinAdjunto, conAdjunto -->
                <div class="textDateDetailOrders">
                  {{child.start | date:"dd/MM/yyyy h:mma"}}

                </div>
                <div>
                      {{child.description}}
                </div>
                <div ng-repeat="file in child.files">
                  <div class="contentAddInfo">
                    <i class="fa fa-paperclip"></i> <a class="archiveAdd" ng-href="{{file.url}}">{{file.name}}</a>
                  </div>
                </div>

            </div>

            <div class="contentArrowRight">
              <i class="fa fa-caret-right" aria-hidden="true"></i>
            </div>
          </div>

          <div class="contentUser">
            <div class="photo">
                <img class="avatar" ng-src="{{child.user.photoSrc}}">
            </div>
            <div class="nameUser">
              {{child.user.name}} </br>
              {{child.user.lastname}}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>



</div>
<div ng-include="'modules/orders/messageUser.html?t=' + time"></div>
</div>
