<div class="degreeData">
  <span class="title">Carrera/s</span>
  <div ng-repeat='degree in model.degrees'>

    <div>
      <span>Carrera</span>
      <input type="text" list="carrera">
      <datalist id="carrera" ng-model='degree.name'>
        <option value="Contador Público" />
        <option value="Licenciado en Administración" />
        <option value="Licenciado en Turismo" />
        <option value="Licenciado en Economía" />
        <option value="Técnico en Cooperativas" />
      </datalist>
    </div>

      <span>Materias aprobadas con final</span>
      <input type="text" ng-model="degree.courses">
      <span>Promedio sin aplazos</span>
      <input type="text" ng-model="degree.average1">
      <span>Promedio con aplazos</span>
      <input type="text" name="degree.average2">
      <div class="title2">
        <span>Oferta Laboral</span>
      </div>
      <div class="oferta">
        <input class="check" type="checkbox" ng-model="model.insertionData.offerInternship">Pasantía</input>
        <input class="check" type="checkbox" ng-model="model.insertionData.offerFullTime">Full-Time</input>
        <input class="check" type="checkbox" ng-model="model.insertionData.offerYoungProfetionals">Programa Jóvenes Profesionales</input>
      </div>

      <button ng-click="deleteDegree($index)">eliminar</button>
  </div>
  <button ng-click="addDegree()">agregar</button>
</div>
