<div class="degreeData">
  <div ng-repeat='degree in degrees'>
    <div>
      <span>Carrera</span>
      <input type="text" list="carrera">
      <datalist id="carrera" ng-model='degree.degree'>
        <option value="Contador Público" />
        <option value="Licenciado en Administración" />
        <option value="Licenciado en Turismo" />
        <option value="Licenciado en Economía" />
        <option value="Técnico en Cooperativas" />
      </datalist>
    </div>

      <span>Materias aprobadas con final</span>
      <input type="text" ng-model="degree.courses">
      <span>Promedio sin aplazos</span>
      <input type="text" ng-model="degree.average1">
      <span>Promedio con aplazos</span>
      <input type="text" name="degree.average2">
      <span>Oferta</span>
      <div>
        <input type="checkbox" ng-model="insertionData.offerInternship">Pasantía</input>
        <input type="checkbox" ng-model="insertionData.offerFullTime">Full-Time</input>
        <input type="checkbox" ng-model="insertionData.offerYoungProfetionals">Programa Jóvenes Profesionales</input>
      </div>

      <button>eliminar</button>
  </div>
  <button>agregar</button>
</div>
