<div class="insertionData">
  <span class="title"><i class="fa fa-plane"></i>  Viajar</span>
  <span>Dispuesto a viajar</span>

  <select id="viajar" ng-model="model.insertionData.travel">
    <option value="">Seleccione... </i></option>
    <option value="Si">Si</option>
    <option value="No">No</option>
  </select>
  <span>Dispuesto a residir</span>
  <input type="text" list="reside" ng-model="model.insertionData.reside">
  <datalist id="reside">
    <option value="Si" />
    <option value="No" />
  </datalist>
  <hr>

  <span class=title>Curriculum Vitae</span>
  <input type="file" id='fileCv'>
  <button ng-click='addCv()'>Cargar</button>
  <hr>
</div>
