.profileData {
  display:flex;
  flex-direction:column;
  align-items: inherit;
  width:240px;
}

.profileData .telContent {
  display:flex;
  flex-direction:column;
}
.profileData .telephones {
  display: flex;
  flex-direction:row;

}
.profileData .area {
  width:75px;
}
.profileData .area2 {
  width:100px;
}

.profileData .telephones div{
  margin:5px;
}

.profileData input {
    width:95%;
    background-color: rgb(248, 248, 248);
    padding-left:5px;
    font-weight:bold;

}
.title {
  width:94%;
  background-color:#0066A6;
  padding:3px;
  margin-bottom:5px;
  color:white;
}
.insercion span {
  color:#0066A6;
}
