<div class="profileData">
      <span class="title">Información Básica</span>
      <span>Nombre</span>
      <input type="text" ng-model="model.userData.name">
      <span>Apellido</span>
      <input type="text" ng-model="model.userData.lastname">
      <span>Género:</span>
      <input type="text" list="genre" ng-model='model.userData.genre'>
      <datalist id="genre">
        <option value="Hombre" />
        <option value="Mujer" />
        <option value="Otro" />
      </datalist>
      <span>DNI</span>
      <input type="text" ng-model="model.userData.dni">
      <span>Nacimiento</span>
      <input type="date" ng-model="model.userData.birthdate">
      <span>Legajo</span>
      <input type="text" ng-model="model.studentData.studentNumber">
      <span>Teléfono</span>
      <input type="text" ng-model="model.userData.telephone">
      <span>Celular</span>
      <input type="text" ng-model="model.userData.telephone">
      <span>Ciudad de Origen</span>
      <input type="text" ng-model="model.insertionData.originalCity">
      <span>Ciudad de Residencia</span>
      <input type="text" ng-model="model.userData.city">
      <span>País</span>
      <input type="text" name="model.userData.country">
      <span>Domicilio</span>
      <input type="text" name="model.userData.address">
</div>
