<div class="profileData">
      <span class="title">Información Básica</span>
      <span>Nombre</span>
      <input type="text" ng-model="model.userData.name">
      <span>Apellido</span>
      <input type="text" ng-model="model.userData.lastname">
      <span>Género:</span>
      <select id="genre"  ng-model="model.userData.genre">
        <option value="Hombre">Hombre</option>
        <option value="Mujer">Mujer</option>
        <option value="Otro">Otro</option>
      </select>
      <span>DNI</span>
      <input type="text" ng-model="model.userData.dni">
      <span>Nacimiento</span>
      <input type="date" ng-model="model.userData.birthdate">
      <span>Legajo</span>
      <input type="text" ng-model="model.studentData.studentNumber">
      <span>Ciudad de Origen</span>
      <input type="text" ng-model="model.userData.city">
      <span>Ciudad de Residencia</span>
      <input type="text" ng-model="model.userData.residence_city">
      <span>País</span>
      <input type="text" ng-model="model.userData.country">
      <span>Domicilio</span>
      <input type="text" ng-model="model.userData.address">

      <div class="telContent">
        <hr><span>Teléfono Fijo</span>
    			<div class='telephones'>
          	<input class='area' type="text" ng-model="model.userData.homePhone.country" placeholder="54">
            <div>(</div>
        		<input class='area2' type="text" ng-model="model.userData.homePhone.city" placeholder="0221">
            <div>)</div>
        		<input class='tnumber' type="text" ng-model="model.userData.homePhone.number" placeholder="4231111">
          </div>
          <span>Celular</span>
          <div class='telephones'>

      			<input class="area" type="text" ng-model="model.userData.cellPhone.country" placeholder="54">
            <div>(</div>
      			<input class="area2" type="text" ng-model="model.userData.cellPhone.city" placeholder="0221">
            <div>)</div>
            <input class="area" type="text" placeholder="15">
          	<input type="text" ng-model="model.userData.cellPhone.number" placeholder="5011111">
          </div>
      </div>


</div>
