.profileData {
  display:flex;
  flex-direction:column;
  align-items: inherit;
  width:240px;



}
.profileData input {

}
.title {
  width:94%;
  background-color:#0066A6;
  padding:3px;
  margin-bottom:5px;
  color:white;
}
