<div class="tutors {{view.style}} {{view.style2}}">

    <div class="header">
        <div>
          TUTORES
        </div>
    </div>

    <div class="contentTutors">

        <div class="contentLeft">

            <div class="title">
              <i class="fa fa-search"></i> BUSCAR TUTOR
            </div>
            <div>
              <input class="inputSearch ng-pristine ng-valid ng-touched" type="text" ng-click="view.style2 = 'verResultados'" ng-model="model.search" ng-model-options="{ debounce: 1000 }" ng-change="searchStudents()">
            </div>

            <div class="title">
               LISTA DE TUTORES
            </div>

            <div class="contentSearch">

                <div class="contentUser" ng-click="view.style2=''">
                  <div class="contentPhoto">
                    <img class="imgUser" src="img/emanuel.jpg">
                  </div>
                  <div class="contentData">
                    <div>
                      <b>Emanuel Joaquin Pais</b>
                    </div>
                    <div>
                      31269568
                    </div>
                  </div>
                </div>

                <div class="contentUser">
                  <div class="contentPhoto">
                    <img class="imgUser" src="img/lucas.jpg">
                  </div>
                  <div class="contentData">
                    <div>
                      <b>Lucas Langoni</b>
                    </div>
                    <div>
                      35456923
                    </div>
                  </div>
                </div>

                <div class="contentUser">
                  <div class="contentPhoto">
                    <img class="imgUser" src="img/walter.jpg">
                  </div>
                  <div class="contentData">
                    <div>
                      <b>Walter Blanco</b>
                    </div>
                    <div>
                      30001823
                    </div>
                  </div>
                </div>

                <div class="contentUser">
                  <div class="contentPhoto">
                    <img class="imgUser" src="img/pablo.jpg">
                  </div>
                  <div class="contentData">
                    <div>
                      <b>Pablo Daniel Rey</b>
                    </div>
                    <div>
                      28356952
                    </div>
                  </div>
                </div>

                <div class="contentUser">
                  <div class="contentPhoto">
                    <img class="imgUser" src="img/alejandro.jpg">
                  </div>
                  <div class="contentData">
                    <div>
                      <b>Alejandro Agustin Oporto</b>
                    </div>
                    <div>
                      29496698
                    </div>

                  </div>
                </div>

                <div class="contentUser">
                  <div class="contentPhoto">
                    <img class="imgUser" src="img/maxi.jpg">
                  </div>
                  <div class="contentData">
                    <div>
                      <b>Maximiliano Saucedo</b>
                    </div>
                    <div>
                      29356874
                    </div>

                  </div>
                </div>




            </div>

        </div>

        <div class="contentRight">

          <div class="contentList">


              <div class="headerList">
                  <div class="title">
                    LISTADO DE TUTORÍAS
                  </div>
              </div>

              <div class="listParticipants">

                <div class="itemTutoring">
                  <div class="avatarTutors">
                      <div>Tutor</div>
                      <div><img class="imgTutor" src="img/avatarMen.jpg"></div>
                      <div><b>Walter Blanco</b></div>
                  </div>
                  <div>
                    Fecha &nbsp;<i class="fa fa-calendar-o"></i>&nbsp; <b>02/04/2016</b>
                  </div>
                  <div>
                     Alumnos &nbsp;<i class="fa fa-user"></i>&nbsp; <b>25</b>
                  </div>
                </div>

                <div class="itemTutoring">
                  <div class="avatarTutors">
                      <div>Tutor</div>
                      <div><img class="imgTutor" src="img/avatarMen.jpg"></div>
                      <div><b>Walter Blanco</b></div>
                  </div>
                  <div>
                    Fecha &nbsp;<i class="fa fa-calendar-o"></i>&nbsp; <b>08/04/2016</b>
                  </div>
                  <div>
                     Alumnos &nbsp;<i class="fa fa-user"></i>&nbsp; <b>37</b>
                  </div>
                </div>

                <div class="itemTutoring">
                  <div class="avatarTutors">
                      <div>Tutor</div>
                      <div><img class="imgTutor" src="img/avatarMen.jpg"></div>
                      <div><b>Walter Blanco</b></div>
                  </div>
                  <div>
                    Fecha &nbsp;<i class="fa fa-calendar-o"></i>&nbsp; <b>17/04/2016</b>
                  </div>
                  <div>
                     Alumnos &nbsp;<i class="fa fa-user"></i>&nbsp; <b>18</b>
                  </div>
                </div>

                <div class="itemTutoring">
                  <div class="avatarTutors">
                      <div>Tutor</div>
                      <div><img class="imgTutor" src="img/avatarMen.jpg"></div>
                      <div><b>Walter Blanco</b></div>
                  </div>
                  <div>
                    Fecha &nbsp;<i class="fa fa-calendar-o"></i>&nbsp; <b>25/04/2016</b>
                  </div>
                  <div>
                     Alumnos &nbsp;<i class="fa fa-user"></i>&nbsp; <b>16</b>
                  </div>
                </div>

                <div class="itemTutoring">
                  <div class="avatarTutors">
                      <div>Tutor</div>
                      <div><img class="imgTutor" src="img/avatarMen.jpg"></div>
                      <div><b>Walter Blanco</b></div>
                  </div>
                  <div>
                    Fecha &nbsp;<i class="fa fa-calendar-o"></i>&nbsp; <b>31/04/2016</b>
                  </div>
                  <div>
                     Alumnos &nbsp;<i class="fa fa-user"></i>&nbsp; <b>25</b>
                  </div>
                </div>

                <div class="itemTutoring">
                  <div class="avatarTutors">
                      <div>Tutor</div>
                      <div><img class="imgTutor" src="img/avatarMen.jpg"></div>
                      <div><b>Lucas Langoni</b></div>
                  </div>
                  <div>
                    Fecha &nbsp;<i class="fa fa-calendar-o"></i>&nbsp; <b>01/04/2016</b>
                  </div>
                  <div>
                     Alumnos &nbsp;<i class="fa fa-user"></i>&nbsp; <b>42</b>
                  </div>
                </div>

                <div class="itemTutoring">
                  <div class="avatarTutors">
                      <div>Tutor</div>
                      <div><img class="imgTutor" src="img/avatarMen.jpg"></div>
                      <div><b>Lucas Langoni</b></div>
                  </div>
                  <div>
                    Fecha &nbsp;<i class="fa fa-calendar-o"></i>&nbsp; <b>07/04/2016</b>
                  </div>
                  <div>
                     Alumnos &nbsp;<i class="fa fa-user"></i>&nbsp; <b>35</b>
                  </div>
                </div>


                <div class="itemTutoring">
                  <div class="avatarTutors">
                      <div>Tutor</div>
                      <div><img class="imgTutor" src="img/avatarMen.jpg"></div>
                      <div><b>Lucas Langoni</b></div>
                  </div>
                  <div>
                    Fecha &nbsp;<i class="fa fa-calendar-o"></i>&nbsp; <b>16/04/2016</b>
                  </div>
                  <div>
                     Alumnos &nbsp;<i class="fa fa-user"></i>&nbsp; <b>53</b>
                  </div>
                </div>

                <div class="itemTutoring">
                  <div class="avatarTutors">
                      <div>Tutor</div>
                      <div><img class="imgTutor" src="img/avatarMen.jpg"></div>
                      <div><b>Lucas Langoni</b></div>
                  </div>
                  <div>
                    Fecha &nbsp;<i class="fa fa-calendar-o"></i>&nbsp; <b>22/04/2016</b>
                  </div>
                  <div>
                     Alumnos &nbsp;<i class="fa fa-user"></i>&nbsp; <b>47</b>
                  </div>
                </div>

                <div class="itemTutoring">
                  <div class="avatarTutors">
                      <div>Tutor</div>
                      <div><img class="imgTutor" src="img/avatarMen.jpg"></div>
                      <div><b>Lucas Langoni</b></div>
                  </div>
                  <div>
                    Fecha &nbsp;<i class="fa fa-calendar-o"></i>&nbsp; <b>28/04/2016</b>
                  </div>
                  <div>
                     Alumnos &nbsp;<i class="fa fa-user"></i>&nbsp; <b>26</b>
                  </div>
                </div>

                <div class="itemTutoring">
                  <div class="avatarTutors">
                      <div>Tutor</div>
                      <div><img class="imgTutor" src="img/avatarMen.jpg"></div>
                      <div><b>Lucas Langoni</b></div>
                  </div>
                  <div>
                    Fecha &nbsp;<i class="fa fa-calendar-o"></i>&nbsp; <b>02/05/2016</b>
                  </div>
                  <div>
                     Alumnos &nbsp;<i class="fa fa-user"></i>&nbsp; <b>25</b>
                  </div>
                </div>




              </div>

              <div class="footerList">
                <div class="title">
                  <span class="totales">TOTALES</span>
                </div>
                <div class="title">
                  <b>TUTORÍAS</b> <span class="cantTotalTutoring">16</span>
                </div>
                <div class="title">
                  <b>ALUMNOS</b> <span class="cantTotalStudents">156</span>
                </div>
                



              </div>


          </div>

        </div>

    </div>

</div>
