<div class="tutors {{view.style}} {{view.style2}}">

    <div class="header">
        <div>
          TUTORES
        </div>
    </div>

    <div class="contentTutors">

        <div class="contentLeft">

            <div class="contentSearch">

              <div class="title">
                <i class="fa fa-search"></i> BUSCAR TUTOR
              </div>

              <div>
                <input class="inputSearch" type="text" ng-click="view.style2='verResultados'"/>
              </div>

            </div>

        </div>

        <div class="contentRight">

          <div class="contentSearchResults">
              <div class="title">
                <i class="fa fa-search"></i> RESULTADOS ENCONTRADOS
              </div>

              <div class="searchResults">
                  <!-- **** DIV CONTENEDORES DE LOS USUARIOS ENCONTRADOS ****-->
                  <div class="contentUser" ng-click="view.style2=''">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/emanuel.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Emanuel Joaquin Pais</b>
                      </div>
                      <div>
                        31269568
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/alejandro.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Alejandro Agustin Oporto</b>
                      </div>
                      <div>
                        29496698
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/pablosarmieto.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Pablo Sarmiento</b>
                      </div>
                      <div>
                        30256957
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/lucas.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Lucas Langoni</b>
                      </div>
                      <div>
                        35456923
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/walter.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Walter Blanco</b>
                      </div>
                      <div>
                        30001823
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/pablo.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Pablo Daniel Rey</b>
                      </div>
                      <div>
                        28356952
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/maxi.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Maximiliano Saucedo</b>
                      </div>
                      <div>
                        29356874
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/emanuel.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Emanuel Joaquin Pais</b>
                      </div>
                      <div>
                        31269568
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/alejandro.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Alejandro Agustin Oporto</b>
                      </div>
                      <div>
                        29496698
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/pablosarmieto.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Pablo Sarmiento</b>
                      </div>
                      <div>
                        30256957
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/lucas.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Lucas Langoni</b>
                      </div>
                      <div>
                        35456923
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/walter.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Walter Blanco</b>
                      </div>
                      <div>
                        30001823
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/pablo.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Pablo Daniel Rey</b>
                      </div>
                      <div>
                        28356952
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/maxi.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Maximiliano Saucedo</b>
                      </div>
                      <div>
                        29356874
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/emanuel.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Emanuel Joaquin Pais</b>
                      </div>
                      <div>
                        31269568
                      </div>

                    </div>
                  </div>

              </div>

          </div>


        </div>

    </div>

</div>
