

    <div class="contentSearch">
      <i class="fa fa-search"></i> BUSCAR OFICINA
    </div>

    <div>
      <input class="inputSearch" type="text" ng-model="vm.model.search">
    </div>

    <div class="titleListOffices">
      Listado de Oficinas
    </div>

    <div class="contentOffices">
        <div class="itemOffice" ng-repeat="office in vm.offices | filter: vm.model.search"> <span ng-click="vm.select(office)">{{office.name}}</span> <span ng-click="vm.remove(office)"> X </span></div>
    </div>

    <div class="btnCreateNew" ng-click="vm.create()">
      CREAR NUEVA
    </div>
