
<div class='accountRequestsLists'>

	<p><label>Buscar:</label><input type='text' ng-model="search" autofocus/></p>
	<p>
		<input type="checkbox" checked="checked" ng-model="filterconfirmed.confirmed">Confirmadas<br />
		<input type="checkbox" ng-model="filterconfirmed.unconfirmed">Sin confirmar<br />

	</p>
	<ul class='accountRequestsList'>
		<li ng-click='selectAccountRequest(request)' ng-repeat="request in requests | filter:search | filterAccountRequestByConfirmed:filterconfirmed | orderBy:['name', 'lastname']">
			<div ng-class='{true:"selected",false:""}[isSelected(request)]'>
				{{request.name}} {{request.lastname}}
			</div>
		</li>

</ul>

</div>
