<div>
	<div class="changePassword_container">
		<div class="changePassword_logo">
			<img src="views/img/logo.jpg" />
		</div>
		<div class="changePassword_titulo_formulario">
			<p>CAMBIAR CONTRASEÑA</p>
		</div>
		<hr>
		<div><label>INGRESE SU NUEVA CONTRASEÑA</label></div>
		<div><input class="changePassword_username" type="text" ng-model="user.username" read-only></div>
		<div><input class="changePassword_password" type="password" ng-model="user.newPassword" required></div>
		<div><input class="changePassword_passwordRepeat" type="password" ng-model="user.newPasswordRepeat" required></div>
		<div><button class="changePassword_boton_enviar" ng-click="changePassword()">Guardar Contraseña</button></div>
	</div>
</div>
