<div class="changePassword">
	<div class="logo">
		<img src="/views/img/logo.jpg" />
	</div>
	<div class="title">
		<label>CAMBIAR CONTRASEÑA</label>
	</div>
	<hr>
	<div><label>Usuario</label></div>
	<label id="username">{{user.username}}</label>
	<hr>
	<div><label>Nueva Contraseña</label></div>
	<div><input class="password" type="password" ng-model="user.newPassword" required></div>
	<div><label>Repita Contraseña</label></div>
	<div><input class="passwordRepeat" type="password" ng-model="user.newPasswordRepeat" required></div>
	<div><button class="changePasswordAction" ng-click="changePassword()">Guardar contraseña</button></div>
</div>
