<div class="changePassword">
	<div class="logo">
		<img src="/views/img/logo.jpg" />
	</div>
	<div class="title">
		<p>CAMBIAR CONTRASEÑA</p>
	</div>
	<hr>
	<div><label>INGRESE SU NUEVA CONTRASEÑA</label></div>
	<div><input class="username" type="text" ng-model="user.username" read-only></div>
	<div><input class="password" type="password" ng-model="user.newPassword" required></div>
	<div><input class="passwordRepeat" type="password" ng-model="user.newPasswordRepeat" required></div>
	<div><button class="changePasswordAction" ng-click="changePassword()">Guardar Contraseña</button></div>
</div>
