<div class='createAccountRequest'>
		<div class="logo">
			<img src="/views/img/logo.jpg" />
		</div>
		<div class="title">
			<label>FORMULARIO DE REGISTRO</label>
		</div>
		<hr>
		<div>
			<label>Nombres</label>
			<input class="name" type="text" ng-model="request.name" required>
		</div>
		<div>
			<label>Apellidos</label>
			<input class="lastname" type="text" ng-model="request.lastname" required>
		</div>
		<div>
			<label>DNI</label>
			<input class="dni" type="text" ng-model="request.dni" required>
		</div>
		<div>
			<label>Email</label>
			<input class="email" type="email" ng-model="request.email" required>
		</div>
		<div>
			<label>Contraseña</label>
			<input class="password" type="password" ng-model="request.password" required>
		</div>
		<div>
			<label>Repetir Contraseña</label>
			<input class="password" type="password" ng-model="request.password2" required>
		</div>
		<div>
			<label>Motivo de la solicitud</label>
		</div>
		<div>
			<textarea class="reason" ng-model="request.reason" required ></textarea>
		</div>
		<div>
			<button class="action" ng-click="createRequest()">Enviar</button>
		</div>
</div>
