.createAccountRequest-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:grey;
  background-image: url('/views/img/fondo1.jpg');

}

.createAccountRequest {
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 1);
  border:10px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.3em;
  margin: 0.5em auto;
  margin-top:20px;
  max-width: 275px;
  padding: 20px;
  -webkit-background-clip: padding-box;

}
.createAccountRequest label {
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;

}

.createAccountRequest .logo {
  margin-bottom:0px;

}

.createAccountRequest .title {
  background-color: #0066A6;
  text-align:center;
  color:#FFF;

  margin-top: 0px;
  margin-bottom: 0px;
}
.createAccountRequest hr {
  margin-top:1px;
}

.createAccountRequest .name {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0.3em;
  border:1px solid;
  border-color:#E7DDE9;
  width: 268px;
  height:25px;
  background-color: #F2F2F2;
  padding-left:5px;
  font-size: 18px;
  margin-bottom:3px;

}
.createAccountRequest .lastname {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0.3em;
  border:1px solid;
  border-color:#E7DDE9;
  width: 268px;
  height:25px;
  background-color: #F2F2F2;
  padding-left:5px;
  font-size: 18px;
  margin-bottom:3px;

}
.createAccountRequest .dni {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0.3em;
  border:1px solid;
  border-color:#E7DDE9;
  width: 268px;
  height:25px;
  background-color: #F2F2F2;
  padding-left:5px;
  font-size: 18px;
  margin-bottom:3px;
}
.createAccountRequest .email {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0.3em;
  border:1px solid;
  border-color:#E7DDE9;
  width: 268px;
  height:25px;
  background-color: #F2F2F2;
  padding-left:5px;
  font-size: 18px;
  margin-bottom:3px;
}
.createAccountRequest .password {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0.3em;
  border:1px solid;
  border-color:#E7DDE9;
  width: 268px;
  height:25px;
  background-color: #F2F2F2;
  padding-left:5px;
  font-size: 18px;
  margin-bottom:3px;
}
.createAccountRequest .reason {
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0.3em;
  border:1px solid;
  border-color:#E7DDE9;
  width: 268px;
  height:40px;
  background-color: #F2F2F2;
  padding-left:5px;
  font-size: 18px;
  resize:none;
}
.createAccountRequest .action {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0.2em;
  height:30px;
  background-color: #0066A6;
  color: #FFF;
  border:0px;
  width: 275px;
  height:30px;
  margin-top:20px;
  font-size: 15px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

.createAccountRequest .action:hover {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-radius: 0.2em;
  height:30px;
  background-color: #0066A6;
  color: #FFF;
  border:0px;
  width: 275px;
  height:30px;
  margin-top:20px;
  box-shadow: 0px 0px 8px #0066A6;
  font-size: 15px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}
