    <form novalidate  role="form" ng-submit="submit()" > 
      <fieldset ng-disabled="form.disabled">
        <legend>Agregar prorroga a {{designation.user.name}} {{designation.user.lastname}}</legend>
        
        Inicio<input type="date" ng-model="prorogation.start"/><span ng-show="errors.start">{{errors.start}}</span>
        <br>
        Fin<input type="date" ng-model="prorogation.end"/>
        <br>
        Resolución<input type="text" ng-model="prorogation.resolution"/>
        <br>
        Expediente<input type="text" ng-model="prorogation.record"/>
        <br>
        <input class="btn btn-primary" type="submit" value="Aceptar"  />{{form.message}}        
      </fieldset> 
    </form>

