<div class="rec {{view.style}}">
    <!-- **************** CONTENEDOR DEL MENU DE BUSQUEDA  *************** -->
    <div class="contentRec">
          <div class="menuRec">
              <div class="contentItem">
                <span><i class="fa fa-video-camera"></i> Camara <i class="fa fa-sort-desc"></i></span>
              </div>
              <div class="contentItem">
                  <span><i class="fa fa-calendar-o"></i> Inicio</span>
                  <input type="date">
              </div>
              <div class="contentItem">
                  <span><i class="fa fa-calendar-o"></i> Fin</span>
                  <input type="date">
              </div>
              <div class="contentItem">
                  <span><i class="fa fa-clock-o"></i> Inicio</span>
                  <input type="time">
              </div>
              <div class="contentItem">
                  <span><i class="fa fa-clock-o"></i> Fin</span>
                  <input type="time">
              </div>
              <div>
                  <button  ng-click='search()'><i class="fa fa-search"></i> BUSCAR</button>
              </div>
          </div>
    </div>
    <!-- ******************** iMAGEN DEL FONDO *************************** -->
    <div class="imgFilters">
    </div>
    <!-- ******** CONTENEDOR DE LOS RESULTADOS DE BUSQUEDA *************** -->
    <div class="contentRecordings" ng-class="{false:'hidden'}[view.displayListRecordings]">
       <div class="menuRecording">
          <div class="tam0">
              <input type="checkbox" title="Seleccionar Todas">
          </div>
          <div class="tam2">
              <span><i class="fa fa-video-camera"></i> Camara </span>
          </div>
          <div class="tam1">
              <span><i class="fa fa-calendar-o"></i> Fecha</span>
          </div>
          <div class="tam1">
              <span><i class="fa fa-clock-o"></i> Hora</span>
          </div>
          <div class="tam1">
              <span><i class="fa fa-clock-o"></i> Duración</span>
          </div>
          <div class="tam1">
              <span><i class="fa fa-file-video-o"></i> Tamaño</span>
          </div>
          <div class="tam2">
            <span><i class="fa fa-bars"></i> Acción</span>
          </div>
      </div>
      <!-- ***************** RESULTADOS DE BUSQUEDA ******************** -->
      <div class="resultsRecording">
         <div class="itemsRecording" ng-repeat="item in model.recordings">
               <div class="tam0">
                   <input type="checkbox" title="Seleccionar Camara" ng-model="item.selected" ng-change="selectRecording(item)">
               </div>
               <div class="tam2">
                   <span><i class="fa fa-video-camera"></i> {{item.displayName}}</span>
               </div>
               <div class="tam1">
                   <span><i class="fa fa-calendar-o"></i> {{item.start | date: "dd/MM/yyyy"}}</span>
               </div>
               <div class="tam1">
                   <span><i class="fa fa-clock-o"></i> {{item.start | date: "hh:ss"}}</span>
               </div>
               <div class="tam1">
                   <span><i class="fa fa-clock-o"></i> {{item.duration}}</span>
               </div>
               <div class="tam1">
                   <span><i class="fa fa-file-video-o"></i> {{item.size}}</span>
               </div>
               <div class="tam2">
                 <div class="btnsItems">
                   <div><button class="btnVer" ng-click="viewRecording(item)"><i class="fa fa-film"></i> Ver</button></div>
                   <div><button class="btnDescargar" ng-click="downloadRecording(item)"><i class="fa fa-download"></i> Descargar</button></div>
                 </div>
               </div>
         </div>
      </div>

    </div>


    <!-- *************** CONTENEDOR DE REPRODUCIÓN *********************** -->
    <div class="contentPlay">
        <div class="play">
            <div class="video">
                <div>
                    <video id='video' controls="" autoplay width="99%"></video>
                </div>
                <div class="footerPlay">
                    <div>
                        <button class="btnFooter2" ><i class="fa fa-step-backward"></i></button>
                        <button class="btnFooter2" title="Próximo Video"><i class="fa fa-step-forward"></i></button>
                        <button class="btnFooter" ng-click='slower()'><i class="fa fa-backward"></i></button>
                        <button class="btnFooter" ng-click='pause()' ng-if="!view.paused"><i class="fa fa-pause"></i></button>
                        <button class="btnFooter" ng-click='play()' ng-if="view.paused"><i class="fa fa-play"></i></button>
                        <button class="btnFooter" ng-click='faster()'><i class="fa fa-forward"></i></button>
                        <button class="btnFooter" ng-click='seekBackwards()'><i class="fa fa-fast-backward"></i></button>
                        <button class="btnFooter" ng-click='seekForward()'><i class="fa fa-fast-forward"></i></button>
                    </div>
                    <div class="videoDetalles">
                        <div>
                          <span><i class="fa fa-video-camera"></i> 5 - PB</span>
                        </div>
                        <div>
                          <span><i class="fa fa-calendar-o"></i> 25/08/2015</span>
                        </div>
                        <div>
                          <span><i class="fa fa-clock-o"></i> 18:32 pm</span>
                        </div>
                        <div>
                          <span><i class="fa fa-clock-o"></i> 01:35:21</span>
                        </div>
                        <div>
                          <span><i class="fa fa-file-video-o"></i> 50,8 Mb</span>
                        </div>
                        <div>
                          <button class="btnFooter"><i class="fa fa-download"></i> Descargar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentVideoList">
                <div class="backList">
                    <div>
                      <i class="fa fa-list"></i> Videos
                    </div>
                    <div>
                        <button class="back" ng-click="closeReproductor()"><i class="fa fa-reply"></i> VOLVER</button>
                    </div>
                </div>
                <div class="videoList">
                    <div class="videoItems" ng-repeat="item in model.listRecordings">
                        <span><i class="fa fa-film"></i> {{item.fileName}}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
