.menuRec {
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  flex-wrap: wrap;


  align-items: baseline;
  -webkit-align-items:baseline; /* Safari */
  -moz-align-items:baseline; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}


/***********************************************************
*********** CONTENEDOR RESULTADOS DE BUSQUEDA **************
***********************************************************/

.contentRecordings {
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
}

.menuRecording {
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  flex-wrap: wrap;
  align-items: baseline;
  -webkit-align-items:baseline; /* Safari */
  -moz-align-items:baseline; /* mozilla */
}

.itemsRecording {
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  flex-wrap: wrap;
  align-items: baseline;
  -webkit-align-items:baseline; /* Safari */
  -moz-align-items:baseline; /* mozilla */
}

.btnsItems {
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: baseline;
  -webkit-align-items:baseline; /* Safari */
  -moz-align-items:baseline; /* mozilla */

}
