/****************** Estilos comunes ******************************/
/****************************************************************/

.rec {
  height:100%;
  width:100%;
  position:absolute;
  overflow:hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.rec .disabled {
  display:none;
}

.rec .searchDate {
  margin-left: 10px;
  color:#0066A6;
}


.rec .imgFilters {
  background: url(../../img/filtros.png) no-repeat;
  height: 100%;
  width:50%;
  margin: 0 auto;
}

.rec a:link, a:visited, a:active{
  text-decoration: none;
  color:white;
}

.rec .contentRec {
  padding: 20px;


}

.rec .inputSearchContent {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #5c5f69;
  width: 50%;
}

.rec .inputSearch {
  margin-left: 20px;
  width: 250%;
  padding: 3px;
  font-size: 1em;
  border:none
}

.rec .menuRec {
  background-color:white;
  box-shadow: 1px 1px 5px #5c5f69;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 20px;
  width: 82%;
  margin-bottom: 20px;
}

.rec .contentItem {
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border:1px solid rgba(120, 120, 120, 0.2);
  padding:5px;
  color:#5c5f69;
  background-color:#eeeeee;
  width: 190px;
}

.rec .contentItem0 {
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border:1px solid rgba(120, 120, 120, 0.2);
  padding:6px;
  color:#5c5f69;
  background-color:#eeeeee;
  width: 110px;
}

.rec .contentItem0 {

}

.rec .contentItem input {
  border: none;
  padding: 2px;
  margin: 2px;
  color: #5c5f69;
  font-weight: bold;
  width: 115px;

}



.rec .menuRec .btnSearch {
  border: none;
  padding:9px;
  background-color: #0066A6;
  color: white;
  border-radius: 2px;
  width: 100%;
}

.rec .menuRec .btnSearch:hover {
  border: none;
  padding:9px;
  background-color: #275276;
  color: white;


}


/***********************************************************
*********** CONTENEDOR RESULTADOS DE BUSQUEDA **************
***********************************************************/

.rec .contentRecordings {
  position: absolute;
  z-index: 997;
  background-color:white;
  box-shadow: 1px 1px 5px #5c5f69;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 10px;
  margin-left: 20px;
  width: 81%;
  height: 65%;

}

/*.rec .contentRecordings.hidden {


}*/

.rec .menuRecording {
  padding: 5px;
  margin: 0 5px 0 5px;
  background-color: #eeeeee;
  color:#5c5f69;
  border-bottom: 1px solid #5c5f69;
}

.rec .resultsRecording {
  overflow-y: auto;
  height: 350px;


}

.rec .itemsRecording {
  padding: 2px 5px 2px 5px;
  margin: 0 5px 0 5px;
  height: 22px;


}

.rec .itemsRecording:nth-child(odd) {
  background: white;
}

.rec .itemsRecording:nth-child(even) {
  background: #f7f7f7;
}


.rec .tam0 {
  width: 3%;
}

.rec .tam1 {
  width: 12%;
}

.rec .tam2 {
  width: 20%;
}

.rec .fa-film, .fa-download {
  margin-bottom: 0;
}

.rec .btnVer{
  border: none;
  border-radius: 2px;
  padding: 3px 10px 3px 10px;
  background-color: #0066A6;
  color: white;
  margin-right: 10px;
}

.rec .btnVer:hover {
  background-color: #419CD6;
}

.rec .btnDescargar {
  border:none;
  border-radius: 2px;
  padding: 3px 10px 3px 10px;
  background-color: #128c78;
  color: white;
}

.rec .btnDescargar:hover {
  background-color: #3CB8A4;
}

.rec .viewSelected {

  width: 97%;
  background-color: #eee;
  padding: 11px;
  margin-left: 5px;
}

.rec .viewSelected.hidden {
  visibility:hidden;
}

/***********************************************************
*************** CONTENEDOR DE REPRODUCIÓN ******************
***********************************************************/

.rec .contentPlay {
  color: #5c5f69;
  width: 100%;
  position: absolute;
  float: right;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 998;
  top:0px;
  padding: 20px;
}

.rec .play {
  background-color:white;
  box-shadow: 1px 1px 5px #5c5f69;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 20px;
  width: 80%;
  margin-bottom: 20px;
}

.rec .video {
  width: 80%;
}

.rec .contentVideoList {
  background-color: #eeeeee;
  width: 20%;
}

.rec .backList {
  background-color: #275276;
  padding: 5px;
  width: 95%;
  color: white;
}

.rec .back {
  background-color: #0066A6;
  color:white;
  border:none;
  border-radius: 2px;
  padding: 5px;
  box-shadow: 1px 1px 2px black;
  -webkit-box-shadow: 1px 1px 2px black;
  -moz-box-shadow: 1px 1px 2px black;
}

.rec .back:hover {
  background-color: #4098D0;
}

.rec .fa-reply {
  margin-bottom: 0;
}

.rec .videoList {
  height: 470px;
  overflow-y: auto;
  padding: 5px;
}

.rec .videoItems {
  padding: 5px;
  height: auto;
}

.rec .videoItems.selected {
  background-color: #0066A6 !Important;
  cursor: pointer;
  color: white;
}

.rec .videoItems:hover {
  background-color: #0066A6 !Important;
  cursor: pointer;
  color: white;
}

.rec .videoItems:nth-child(odd) {
  background: white;
}

.rec .videoItems:nth-child(even) {
  background: #f7f7f7;
}

.rec .footerPlay {
  padding: 5px 15px 5px 5px;
}

.rec .btnFooter {
  background-color: #0066A6;
  color: white;
  padding: 5px;
  border:none;
  border-radius: 2px;
}
.rec .btnFooter2 {
  background-color: #275276;
  color: white;
  padding: 5px;
  border:none;
  border-radius: 2px;
}


.rec .videoDetalles {
  width: 70%;
}

.rec .fa-step-backward, .fa-step-forward, .fa-backward, .fa-pause, .fa-play, .fa-forward, .fa-fast-backward, .fa-fast-forward, .fa-fast-forward {
  margin-bottom: 0;
}










/*
------------------------------------------------------------------
---------------- ESTO LO TIENE QUE ACOMADAR WALLY ----------------
------------------------------------------------------------------
*/


.rec.displayFilterCamera .imgFilters {
  display:none;
}

.rec.displayFilterCamera .contentRecordings {
  display: none;
}

.rec .contentCamaras {

  color: #5c5f69;
  width: 100%;
  position: absolute;
  float: right;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 998;
  top:0px;
  padding: 20px;

}

.rec .camaras {
  background-color:white;
  box-shadow: 1px 1px 5px #5c5f69;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding:10px;
  width: 50%;
  margin:5% 15% auto;

}

.rec .subContentCamaras {
  background-color: #eee;
  padding: 20px;
}

.rec .btnBack {
  background-color:#0066A6;
  border-radius: 3px;
  padding: 5px;
  color: white;
  border:none;
  margin-top: 20px;
  cursor: pointer;
}

.rec .titleFloor {
  margin-bottom: 50px;
}


.rec .selectCam {
  cursor: pointer;
}


/*
------------------------------------------------------------------
---------------- @media queries  ----------------
------------------------------------------------------------------
*/

@media only screen and (max-width: 768px) {
    .visual{
      display: none;
    }

    .rec .tam0 {
      width: 10%;
    }

    .rec .tam1 {
      width: 35%;
      font-size: 13px;
    }

    .rec .tam2 {
      width: 25%;
      font-size: 13px;
    }

    .btnsItems {
      display: none !important ;
    }

    .rec .menuRec {
      display:flex;
      display: -webkit-flex; /* Safari */
      display: -moz-flex; /* mozilla */
      flex-direction:column !important;
      -webkit-flex-direction:column !important; /* Safari */
      -moz-flex-direction:column !important; /* mozilla */

      align-items: baseline;
      -webkit-align-items:baseline; /* Safari */
      -moz-align-items:baseline; /* mozilla */
    }

    .rec .menuRec button {
      width: 100% !important;
    }

    .rec .menuRec button:hover {


    }

    .rec .menuRec .contentItem0 {
        width: 95% !important;
        margin: 5px;
      }

    .rec .menuRec .contentItem {
      width: 95% !important;
      margin: 5px;
    }

    .rec .menuRec .contentItem2 {
      width: 98% !important;
      margin: 5px;
    }

    .rec .contentItem input {
        width: 70%;
    }

    .rec .imgFilters {
      background: url("../../img/filtros.png")  no-repeat !important;
      background-size: 90% !important;
      width:90%;

    }

}

@media only screen and (min-width: 768px) {
    .btnsItemsCel{
      display: none !important ;
    }

}
