<div class="menu " id="itemMenuId">
    <div class="itemMenu"  onclick="if (document.getElementById('itemMenuId').className == 'menu close') {document.getElementById('itemMenuId').className = 'menu'} else {document.getElementById('itemMenuId').className = 'menu close'} ">
        <div class="itemTextMenu2">
          <b>MENU</b>
        </div>
        <div class="itemIcons" title="Menu">
          <i class="fa fa-bars  iconsMenu"></i>
        </div>
    </div>
    <div class="itemMenu" ng-click="selectOrders()">
        <div class="itemTextMenu">
          <i class="fa fa-caret-right arrowItemsMenu"></i> Marcaciones
        </div>
        <div class="itemIcons" title="Marcaciones">
          <i class="fa fa-hand-pointer-o iconsMenu" ></i>
        </div>
    </div>
    <div class="itemMenu" ng-click="selectReports()">
        <div class="itemTextMenu">
          <i class="fa fa-caret-right arrowItemsMenu"></i> Reportes
        </div>
        <div class="itemIcons" title="Reportes">
          <i class="fa fa-clock-o iconsMenu" ></i>
        </div>
    </div>
    <div class="itemMenu" ng-click="selectSchedules()">
        <div class="itemTextMenu">
          <i class="fa fa-caret-right arrowItemsMenu"></i> Horarios
        </div>
        <div class="itemIcons" title="Horarios">
          <i class="fa fa-clock-o iconsMenu" ></i>
        </div>
    </div>
    <div class="itemMenu" ng-click="selectSchedules()">
        <div class="itemTextMenu">
          <i class="fa fa-caret-right arrowItemsMenu"></i> Justificaciones
        </div>
        <div class="itemIcons" title="Horarios">
          <i class="fa fa-tag iconsMenu" ></i>
        </div>
    </div>

</div>
