<div class="menu " id="itemMenuId">
    <div class="itemMenu"  onclick="if (document.getElementById('itemMenuId').className == 'menu close') {document.getElementById('itemMenuId').className = 'menu'} else {document.getElementById('itemMenuId').className = 'menu close'} ">
        <div class="itemTextMenu2">
          <b>MENU</b>
        </div>
        <div class="itemIcons" title="Menu">
          <i class="fa fa-bars  iconsMenu"></i>
        </div>
    </div>
    <div class="itemMenu" ng-click="selectHome()">
        <div class="itemTextMenu">
          <i class="fa fa-caret-right arrowItemsMenu"></i> Inicio
        </div>
        <div class="itemIcons" title="Inicio">
          <i class="fa fa-home iconsMenu" ></i>
        </div>
    </div>
    <div class="itemMenu"  ng-click="selectRequest()">
        <div class="itemTextMenu">
          <i class="fa fa-caret-right arrowItemsMenu"></i> Solicitudes
        </div>
        <div class="itemIcons" title="Solicitudes">
          <i class="fa fa-ticket iconsMenu" ></i>
        </div>
    </div>
    <div class="itemMenu"  ng-click="selectSchedule()">
        <div class="itemTextMenu">
          <i class="fa fa-caret-right arrowItemsMenu"></i> Horarios
        </div>
        <div class="itemIcons" title="Horarios">
          <i class="fa fa-clock-o iconsMenu" ></i>
        </div>
    </div>


</div>
