<div class="home {{view.style}}">

<!--  VARIABLES:
      pantallaBusqueda
      pantallaUsuarioNoExiste
      pantallaCrearUsuario
      pantallaUsuarioCreado
      pantallaInfoDeUsuario
      pantallaMailEliminado
      pantallaCargando
      pantallaError (que tenga un delay de 2seg y vuelva a formulario de carga)
-->

    <!-- BORRAR ESTO DESDE ACAAAAAAA -->
    <div class="botones">
      <div>
          <button ng-click="view.style = 'pantallaBusqueda'">1</button>
          <button ng-click="view.style = 'pantallaUsuarioNoExiste'">2</button>
          <button ng-click="view.style = 'pantallaCrearUsuario'">3</button>
          <button ng-click="view.style = 'pantallaUsuarioCreado'">4</button>
      </div>
      <div>
          <button ng-click="view.style = 'pantallaInfoDeUsuario'">1</button>
          <button ng-click="view.style = 'pantallaMailEliminado'">2</button>
      </div>
      <div>
          <button ng-click="view.style = 'pantallaCargando'">1</button>
          <button ng-click="view.style = 'pantallaError'">2</button>
      </div>
    </div>
    <!-- BORRAR HASTAA ACAAAAAAAAAAAAAAAA -->

    <div class="header">
        <div>
            Administración de cuentas FCE (sistema provisorio)
        </div>
    </div>

    <div class="contentHome">

      <div class="contentSearch">
          <div class="title">
            BUSCAR CUENTA
          </div>
          <div>
              <input class="inputSearch" type="search"></input>
              <button class="btnSearch"> <i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
      </div>

      <div class="contentUserNotExist">
          <div>
            <button class="btnBack" ng-click="view.style = 'pantallaBusqueda'"><i class="arrowBack fa fa-chevron-left"></i> VOLVER</button>
          </div>
          <div class="textUserNotExist">
            NO EXISTE LA CUENTA!
          </div>
          <div class="textNumberDNI">
            30001823
          </div>
          <div>
            <button class="btnCreate" ng-click="view.style = 'pantallaCrearUsuario'"> CREAR CUENTA </i></button>
          </div>
      </div>

      <div class="createUser">
        <div>
          <button class="btnBack" ng-click="view.style = 'pantallaBusqueda'"><i class="arrowBack fa fa-chevron-left"></i> VOLVER</button>
        </div>
          <div class="textform">Nombre</div>
          <div><input class="inputText" type="text"></input></div>
          <div class="textform">Apellido</div>
          <div><input class="inputText" type="text"></input></div>
          <div class="textform">DNI</div>
          <div><input class="inputText" type="text"></input></div>
          <div class="textform">Legajo</div>
          <div><input class="inputText" type="text"></input></div>
          <div>
            <div class="textform">Tipo</div>
            <select class="inputSelect">
              <option> Alumno</option>
              <option> Docente</option>
            </select>
          </div>
          <div>
            <button class="btnCreate" ng-click="view.style = 'pantallaUsuarioCreado'"> CREAR CUENTA </i></button>
          </div>
      </div>

      <div class="userCreated">
          <div class="textUserCreated">
              CUENTA CREADA!
          </div>
          <div class="textform">Nombre</div>
          <div class="textform2">Pablo Daniel</div>
          <div class="textform">Apellido</div>
          <div class="textform2">Rey</div>
          <div class="textform">DNI</div>
          <div class="textform2">29635957</div>
          <div class="textform">Legajo</div>
          <div class="textform2">56894/9</div>
          <div class="textform">Tipo</div>
          <div class="textform2">Docente</div>

          <div>
            <button class="btnOut" ng-click="view.style = 'pantallaBusqueda'"> SALIR </i></button>
          </div>
      </div>

      <div class="infoUser">

        <div>
          <button class="btnBack" ng-click="view.style = 'pantallaBusqueda'"><i class="arrowBack fa fa-chevron-left"></i> VOLVER</button>
        </div>

        <div class="textform">Nombre y Apellido</div>
        <div class="textform2">Pablo Daniel Rey</div>
        <div class="textform">DNI</div>
        <div class="textform2">29635957</div>
        <div class="textform">Legajo</div>
        <div class="textform2">56894/9</div>
        <div class="textform">Tipo</div>
        <div class="textform2">Docente</div>
        <div class="textform">Correo FCE</div>
        <div class="textform2">pablo@econo.unlp.edu.ar</div>
        <div class="textform">Correo Alternativo</div>
        <div class="textform2">pablodanielrey@gmail.com</div>
        <div>
          <button class="btnDeleteMail" ng-click="view.style = 'pantallaMailEliminado'"> Eliminar correo alternativo  </i></button>
        </div>

      </div>

      <div class="mailDeleted">
        <div class="textUserCreated">
            CORREO ELIMINADO!
        </div>
        <div>
          <button class="btnOut" ng-click="view.style = 'pantallaBusqueda'"> SALIR </i></button>
        </div>

      </div>

      <div class="loading">
        <div class="iconMessage"><i class="fa fa-circle-o-notch fa-spin fa-4x"></i></div>
        <div>PROCESANDO</div>
        <div>Por favor espere... </div>
      </div>

      <div class="errorData">
        <div class="titleError"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ERROR</div>
        <div>
          Verifique los datos cargados
      </div>

    </div>

</div>
