<div class="menu-container">
  <div class="item first" ng-class="{true:'selected'}[vm.selected == 'index']" ng-click="vm.index()">Inicio</div>
  <div class="item" ng-class="{true:'selected'}[vm.selected == 'modifyOffice']" ng-click="vm.modifyOffice()">Crear/Modificar oficina</div>
  <div class="item" ng-class="{true:'selected'}[vm.selected == 'usersOffices']" ng-click="vm.usersOffices()">Administrar usuarios por oficina</div>
  <div class="item" ng-class="{true:'selected'}[vm.selected == 'rolesOffices']" ng-click="vm.rolesOffices()">Administrar roles de los usuarios de la oficina</div>
</div>
