<div class="modify-office-container">

  <div class="list-offices-container">

    <div class="title">
      Seleccione oficina a modificar
    </div>

    <div class="search">
      <span class="title">Buscar</span>
      <input type="text" class="searchOffice" ng-model="vm.model.searchOffice">
    </div>

    <div class="list-offices">
      <div class="item-office" ng-class="{true:'selected'}[vm.model.selectedOffice == office]" ng-click="vm.selectOffice(office)" ng-repeat="office in vm.model.offices | filter:vm.model.searchOffice | orderBy:['name']">
        <div>{{office.name}}</div>
      </div>
    </div>

    <div class="actions">
      <button ng-click="vm.create()">Crear nueva</button>
      <button ng-click="vm.modify()" ng-class="{true:'hidden'}[vm.model.selectedOffice == null]">Modificar</button>
    </div>
  </div>

  <div class="content" ng-class="{true:'hidden'}[vm.model.action == null]">
    <div class="title">

      <div ng-class="{false:'hidden'}[vm.model.action == 'modify']">
        Modificar la oficina: {{vm.model.office.name}}
      </div>

      <div ng-class="{false:'hidden'}[vm.model.action == 'create']">
        Crear Oficina
      </div>
    </div>

    <div class="form">

      <div class="name">
        <span class="title">Nombre:</span>
        <input type="text" ng-model="vm.model.office.name"/>
      </div>

      <div class="parent">
        <span class="title">Depende de:</span>
        <select class="" ng-change="" ng-model="vm.model.office.parentObj"  ng-options="op.name group by op.parentObj.name  for op in vm.model.officesModify | orderBy:['parentObj.name','order','name']">
          <option value="">Nadie</option>
        </select>
      </div>

      <div class="telephone">
        <span class="title">Interno:</span>
        <input type="text" ng-model="vm.model.office.telephone"/>
      </div>

      <div class="email">
        <span class="title">Email:</span>
        <input type="text" ng-model="vm.model.office.email"/>
      </div>

      <div class="actions">
        <button>Cancelar</button>
        <button>Guardar</button>
      </div>
    </div>
  </div>

</div>
