<div class='insercion-container'>
  <div class='insercion'>
    <div class="tittle">
      <label><i class="fa fa-th-large"></i> | Inserción Laboral</label>
    </div>
    <div class='container' ng-controller='ProfileLaboralInsertionCtrl' ng-include="'modules/systems/insercion/profileData.html'"></div>
    <div class='container' class="center">
      <div ng-controller='LaboralInsertionDataCtrl' ng-include="'modules/systems/insercion/insertionData.html'"></div>
      <div ng-controller='LanguagesLaboralInsertionCtrl' ng-include="'modules/systems/insercion/languages.html'"></div>
    </div>
    <div class='container' ng-controller='DegreeLaboralInsertionCtrl' ng-include="'modules/systems/insercion/degreeData.html'"></div>
    <div>
      <button class="save" type="submit" ng-click="save()"> GUARDAR</button>
    </div>
  </div>
  <button ng-click='downloadDatabase()' ng-if='model.download'>Descargar Base</button>
</div>
