<div class="insertionData">
  <span class="title"><i class="fa fa-plane"></i>  Viajar</span>
  <span>Dispuesto a viajar</span>

  <select id="viajar" ng-model="model.insertionData.travel">
    <option value="">Seleccione... </i></option>
    <option value="true">Si</option>
    <option value="false">No</option>
  </select>
  <span>Dispuesto a residir</span>
  <select id="viajar" ng-model="model.insertionData.reside">
    <option value="">Seleccione... </i></option>
    <option value="true">Si</option>
    <option value="false">No</option>
  </select>
  <hr>

  <span class=title>Curriculum Vitae</span>
  <Button ng-click='downloadCV()'>Descargar CV</Button>
  <span ng-if='model.cv.loading'><i class="loading fa fa-spinner fa-spin"></i>  Cargando CV</span>
  <input id='inputcv' type="file" on-read-file-binary-string="addCv(fileName,fileContent)"/>
  <hr>
</div>
