
<form ng-style="es" >
	<fieldset>
		<legend>Datos de la solicitud</legend>
		<label for="name">Nombres:</label><input id="name" name="name" type="text" ng-model="name"/><br />
		<label for="lastname">Apellidos:</label><input id="lastname" name="lastname" type="text" ng-model="lastname"/><br />
		<label for="document_number">DNI:</label><input id="document_number" name="dni" type="text" ng-model="dni" /><br />
		<label for="reason">Motivo de la solicitud:</label><input id="reason" name="reason" type="text" ng-model="reason"/><br />
		<label for="confirmed">Confirmado:</label><input id="confirmed" name="confirmed" type="checkbox" ng-model="confirmed"/><br />
		<input name="id" type="hidden" ng-model="id"/>
	</fieldset>
	
	<fieldset>
			<legend>Procesamiento de la solicitud</legend>
			<label for="description">Descripcion:</label><br />
			<textarea id="description" name="description" ng-model="description"></textarea><br />
			<input type="button" value="Aprobar" ng-click="approveAccountRequest()"/> 
			<input type="button" value="Rechazar" ng-click="rejectAccountRequest()"/>
			<input type="button" value="Eliminar" ng-click="removeAccountRequest()"/>
	</fieldset>	
</form>
