<div>
	<div ng-repeat="request in requests">
		<div>id : {{request.id}}</div>
		<div>nombre : {{request.name}}</div>
		<div>apellido : {{request.lastname}}</div>
		<div>dni : {{request.dni}}</div>
		<div>email : {{request.email}}</div>
		<div>razón : {{request.reason}}</div>
		<div>hash : {{request.hash}}</div>
		<div>confirmado : {{request.confirmed}}</div>
		<div>
			<button ng-click="approveRequest(request.id)">Aprobar</button>
			<button ng-click="removeRequest(request.id)">Eliminar</button>
		</div>
	</div>
</div>
