
<div class="requestJustifications">
  <div class="title">
    <label><i class="fa fa-ticket"></i> | Solicitudes</label>
  </div>

  <div class="content">
    <div ng-repeat="justificationId in model.justificationsId">
      <div ng-if="justificationId === 'e0dfcef6-98bb-4624-ae6c-960657a9a741'" ng-controller="RequestJustificationAACtrl" ng-include="'/modules/systems/assistance/requestJustifications/requestJustificationAA.html'"></div>
      <div ng-if="justificationId === '48773fd7-8502-4079-8ad5-963618abe725'" ng-controller="RequestJustificationCCtrl" ng-include="'/modules/systems/assistance/requestJustifications/requestJustificationC.html'"></div>
      <div ng-if="justificationId === '4d7bf1d4-9e17-4b95-94ba-4ca81117a4fb'" ng-controller="RequestJustification102Ctrl" ng-include="'/modules/systems/assistance/requestJustifications/requestJustification102.html'"></div>
      <div ng-if="justificationId === 'b70013e3-389a-46d4-8b98-8e4ab75335d0'" ng-controller="RequestJustificationPECtrl" ng-include="'/modules/systems/assistance/requestJustifications/requestJustificationPE.html'"></div>
      <div ng-if="justificationId === '76bc064a-e8bf-4aa3-9f51-a3c4483a729a'" ng-controller="RequestJustificationLAOCtrl" ng-include="'/modules/systems/assistance/requestJustifications/requestJustificationLAO.html'"></div>
      <div ng-if="justificationId === '50998530-10dd-4d68-8b4a-a4b7a87f3972'" ng-controller="RequestJustification638Ctrl" ng-include="'/modules/systems/assistance/requestJustifications/requestJustification638.html'"></div>
      <div ng-if="justificationId === 'b309ea53-217d-4d63-add5-80c47eb76820'" ng-controller="RequestJustificationCUCtrl" ng-include="'/modules/systems/assistance/requestJustifications/requestJustificationCU.html'"></div>
      <div ng-if="justificationId === 'fa64fdbd-31b0-42ab-af83-818b3cbecf46'" ng-controller="RequestJustificationBSCtrl" ng-include="'/modules/systems/assistance/requestJustifications/requestJustificationBS.html'"></div>
    </div>
  </div>

  <div class="myRequests">
    <span><i class="fa fa-ticket"></i> Mis Solicitudes</span>
  </div>
  <div class="titlesFiles">
    <div class="column t1" ng-click="sortRequestedJustifications('userName')"><i  class="fa fa-ticket"></i> Usuario</div>
    <div class="column t1" ng-click="sortRequestedJustifications('justificationName')"><i  class="fa fa-ticket"></i> Solicitud</div>
    <div class="column t1" ng-click="sortRequestedJustifications('dateSort')"><i  class="fa fa-calendar"></i> Día</div>
    <div class="column t1" ng-click="sortRequestedJustifications('requestorName')"><i  class="fa fa-ticket"></i> Solicitado por</div>
    <div class="column t1" ng-click="sortRequestedJustifications('status')"><i class="fa fa-info-circle"></i> Estado</div>
  </div>
  <div class="scroll">
    <div class="myRequestInfo" ng-repeat="req in model.requestedJustificationsFiltered | orderBy:model.rjSort:model.rjReversed" >
      <div class="myRequest">
        <span>{{req.userName}}</span>
      </div>
      <div class="myRequest">
        <span>{{req.justificationName}}</span>
      </div>
      <div class="myRequestDate">
        <span><i class="fa fa-calendar"></i> {{req.date}}</span>
        <div ng-class="{true:'visible', false:'hidden'}[req.justificationId === 'cb2b4583-2f44-4db0-808c-4e36ee059efe']">
          <span><i class="fa fa-clock-o"></i> Hora de inicio {{req.start}}</span>
        </div>
        <div ng-class="{true:'visible', false:'hidden'}[req.time != null]">
          <span><i class="fa fa-clock-o"></i> {{req.time}} Horas</span>
          <div>
            <span>De {{req.start}} a {{req.end}}</span>
          </div>
        </div>
      </div>
      <div class="myRequest">
        <span>{{req.requestorName}}</span>
      </div>
      <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[req.status == 'APPROVED']">
        <span class="buttonApproved"><i class="fa fa-check-circle"></i> Aprobado</span>
      </div>
      <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[req.status == 'CANCELED']">
        <span class="buttonCancel"><i class="fa fa-times"></i>Cancelado</span>
      </div>
      <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[req.status == 'REJECTED']">
        <span class="buttonCancel"><i class="fa fa-times"></i>Rechazado</span>
      </div>
      <div class="myStateRequestApproved" ng-class="{true:'visible', false:'hidden'}[req.status == 'PENDING']">
        <span class="buttonpending"><i class="fa fa-spinner fa-spin"></i> Pendiente</span>
        <button  ng-click="cancelRequest(req)" ng-disabled="model.processingRequestedJustifications">Cancelar</Button>
      </div>
    </div>
  </div>
</div>
