body {
		background: url(../img/fondo1.jpg) no-repeat fixed center;
		background-size: cover;
		margin:0;
		padding:0;
		font-family: Calibri;
		font-size: 14px;
		
}
#sistemas{
	color:#FFF;
	background-color:#0C5896;
	text-align:center;
	
}
hr{
	background-color:#DBDBEA;
	border:0px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
	height:1px;
	margin:0px;
}
ul.form {
		background-color: rgba(255, 255, 255, 1);
		border:10px solid;
		border-color: rgba(255, 255, 255, 0.3);
		border-radius: 0.3em;	
		background-clip: padding-box;
		width:275px;
		margin:auto;
		margin-top:100px;
		padding:20px;
		-webkit-border-radius: 0.3em;
		-moz-border-radius: 0.3em;
		-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
		box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1);	
}

.form li a {
		
		width:220px;
		padding-left:20px;
		height:50px;
		line-height:50px;
		display:block;
		overflow:auto;
		position:relative;
		text-decoration:none;
		text-transform:uppercase;
		font-size:14px;
		color:#000;
		font-weight:bold;
		-webkit-transition:all 0.2s linear;
		-moz-transition:all 0.2s linear;
		-o-transition:all 0.2s linear;
		transition:all 0.2s linear;	
		
}

.form li a:hover {
		background:#0C5896;
		color:#FFF;
}

.form li a.misdatos {
	padding-left:40px;
	background-image: url(../img/misdatos1.png);
	background-repeat: no-repeat;
	background-position: 5px 10px;
		
}
.form li a.misdatos:hover {
	padding-left:55px;
	background-image: url(../img/misdatos2.png);
	background-repeat: no-repeat;
	
		
}

.form li a.usuarios {
	padding-left:40px;
	background-image: url(../img/au1.png);
	background-repeat: no-repeat;
	background-position: 5px 10px;	
}
.form li a.usuarios:hover {
	padding-left:55px;
	background-image: url(../img/au2.png);
	background-repeat: no-repeat;
	
}


		
.form li a.asistencia {
	padding-left:40px;
	background-image: url(../img/asistencia1.png);
	background-repeat: no-repeat;
	background-position: 5px 10px;		
}
.form li a.asistencia:hover {
	padding-left:55px;
	background-image: url(../img/asistencia2.png);
	background-repeat: no-repeat;
	
		
}

.form li a.salir {
	padding-left:40px;
	background-image: url(../img/salir1.png);
	background-repeat: no-repeat;
	background-position: 5px 10px;		
}	
.form li a.salir:hover {
	padding-left:55px;
	background-image: url(../img/salir2.png);
	background-repeat: no-repeat;
	
		
}






