<form>
	<div class="formulario">
		<div class="logo">
			<img src="img/logo.jpg" />
		</div>
		<div class="titulo">
			<p>FORMULARIO DE REGISTRO</p>
		</div>
		<hr>
		<div><label>Nombres</label></div> 
		<div><input class="campos" type="text" name="name" ng-model="name" required></div>
		<div><label>Apellidos</label></div> 
		<div><input class="campos" type="text" name="lastname" ng-model="lastname" required> </div>
		<div><label>DNI</label></div> 
		<div><input class="campos" type="text" name="dni" ng-model="dni" required></div>
		<div><label>Email</label></div>
		<div><input class="campos" type="text" name="mail" ng-model="mail" required></div>
		<div><label>Motivo de la solicitud</label></div>
		<div><input class="campos" type="text" name="reason" ng-model="reason" required></div>
		<div><button class="boton" ng-click="createAccount()">Enviar</button></div>
	</div>
</form>
