		<form id="contenedor" method="post">
			<div id="logo">
				<img src="img/logo.jpg" />
			</div>	

			<div>
				<div>
					<label>Usuario (DNI)</label>
					<input type="text" name="user" ng-model="user" >
				</div>
				<div>	
					<label>Contraseña</label>
					<input type="password" name="password" ng-model="password">
				</div>	
			</div>
			<div>
			<button type="submit" ng-click="authenticate()"> Entrar</button>

				<div id="contrasena">
					<span>Olvide mi contraseña</span>
					<span>|</span>
					<span><a href="#createAccount"> Crear cuenta </a></span>
					<span>|</span>
					<span>FAQ</span>
				</div>	
			</div>
		</form>	
