
.menuContainerFull {
  width:450px;
  height: 580px;
  display: flex;
  flex-direction: row;
}


.menuContainerComprimed {
  width:225px;
  height: 580px;
  display: flex;
  flex-direction: row;
}

.menu {
  list-style: none;
  width: 100%;
  height: 100%;
  color: white;

}


.menu-item {
    float:left;
    margin-left:10px;
}

.menu-item-ico{
    width:20px;
    float:left;
    margin-left:20px;
}

.menu.first {
  background-color:#275276;
  text-decoration: none;
}

.menu a{
  text-decoration: none;
}

.menu a:visited {
  color:white;
}

.menu li {
  display:flex;
  align-items:center;
  cursor:pointer;
  float:left;
  width:100%;
  height:40px;
  border-bottom: 0.5px solid;
  border-color: #275276;
  box-shadow: 1px 1px 1px #314E67;

}

.menu ul {
  list-style:none;
  padding:0px;
  margin:0px;
}

.menu.second {
  background-color: #275276;
  border-left: 3px solid;
  border-right: 3px solid;
  border-color:#0066A6;
}

.menu.hidden {
  visibility: hidden;
}

.menu.visible {
}

.menu.second.hidden {
  display:none;
}

.menu.second.visible {

}

.menu.second > .hidden {
  visibility: hidden;
  display: none;
}

.menu.second > .visible {

}

.menu .selected {
  background-color: #D9534F;
  color: white;
}

.menu li:hover.selected {
  background-color: #D9534F;
  color: white;
}

.menu li:hover {
  background-color: #0066A6;
  color: white;
}



@keyframes pepe {
  from {
    width: 0;
    transform: rotate(0deg);
  }
  to {
    width: 10%;
    transform: rotate(360deg);
  }
}
