<div class="menu first">
	<ul>
		<li ng-repeat="i in items" ng-click="selectItem(i)" ng-class="{true:'selected'}[isItemSelected(i)]">
			<div class="menu-item-ico fa {{i.img}}"></div>
			<div class="menu-item">{{i.label}}</div>
		</li>
	</ul>
</div>

<div class="menu second">

	<div ng-controller='MyDataOptionCtrl' ng-include="'/modules/menu/my-data/my-data.html'" ng-class="{true:'visible',false:'hidden'}[isVisible()]"></div>
	<div ng-controller='AccountRequestOptionCtrl' ng-include="'/modules/menu/account-requests/account-request.html'" ng-class="{true:'visible',false:'hidden'}[isVisible()]"></div>
	<div ng-controller='EditUsersOptionCtrl' ng-include="'/modules/menu/edit-users/edit-users.html'" ng-class="{true:'visible',false:'hidden'}[isVisible()]"></div>

</div>
