

.menu-container-style {
  justify-content: flex-end;
}

.menu {
  border: solid red 1px;
  background-color: white;
  width: 10%;
  z-index: 900;
}


.menu.visible {
  animation: pepe 1s;
}



@keyframes pepe {
  from {
    width: 0;
    transform: rotate(0deg);
  }
  to {
    width: 10%;
    transform: rotate(360deg);
  }
}


.menu ul {
  list-style: none;
}
