<div class="menu first">
  <ul>
      <li ng-repeat='i in items' ng-click="itemClicked($index); i.function()" ng-class="{ 'selectedItem': $index == selectedItemIndex }">
        <div class="menu-item-ico"><i class="fa {{i.img}}"></i></div>
        <div class='menu-item'>{{i.label}}</div>
      </li>
  </ul>
</div>

<div class='menu second' ng-class="{true:'visible',false:'hidden'}[isSecondVisible()]">
  <ul>
    <li ng-repeat='i in secondItems'>
      <div class="menu-item-ico"><i class="fa {{i.img}}"></i></div>
      <a href={{i.url}} ng-click=i.function() class='menu-item'>{{i.label}}</a>
    </li>
  </ul>
</div>
