
.menu body, ul, li, h1, h2, span {
  margin: 0;
  padding: 0;
}

.menu ul {
  list-style: none;
}

.menu {
  width: 100px;
  display: inline;
}

.display-menu {
  display: inline;
}

.hide-menu {
  display: none;
}


.student {

}

.admin {

}
