    <div  ng-class="{true:'subcontentDisplay', false:'subcontent'}[isSelectedJustification()]" >

      <!-- TITULO DE LA SECCION -->
      <div class="titulo" ng-click="selectJustification()">
        <p class="titulo"><i class="fa fa-ticket"></i>{{rjModel.name}}</p>
      </div>

      <!-- CONTENIDO DE LA SECCION -->
      <div class="info">
        <div>
          <div class="margin" >
            <p class="parrafos">Seleccione el día</p>
            <input class="date" type="date" ng-model="rjModel.date" ng-change="defineData()" >
          </div>
        </div>

        <div ng-class="{true:'visible', false:'hidden'}[isDataDefined()]">
          <p class="parrafos">Solicitar {{rjModel.name}} para el día</p>
          <p class="parrafos2"><i class="fa fa-calendar-o"></i> {{rjModel.dateFormated}}</p>
          <input class="button2 blue2" type="button" value="Confirmar" ng-click="save()" ng-disabled="rjModel.processingRequest">
        </div>
      </div>
        
    </div>
