<div class="resetPassword {{view.style}} {{view.style2}}">
<!-- VARIABLES 1: screenDni, screenCode, screenNewPass, screenFin, screenAltaDeUsuario
     VARIABLES 2: ocultarError, error-->

<!-- ============== PANTALLA INGRESO DEL DNI ==================== -->

      <div class="dni">
        <div>
          <div class="titleHandwritten"> <b>¿ Olvidaste tu contraseña ?</b></div>
          <div><input class="inputs" type=text placeholder="Ingrese número de documento"></input></div>
          <div class="contentsError">
              <div class="arrow">
                <i class="fa fa-sort-asc fa-2x"></i>
              </div>
              <div class="contentTextError">
                <i class="fa fa-frown-o"></i> Oops! <span class="textError"> El usuario no existe</span>
              </div>
          </div>
          <div><button class="btnNext">Siguiente</button></div>
        </div>
      </div>

<!-- ============== PANTALLA INGRESO DEL CÓDIGO ================= -->

      <div class="code">
          <div class="contentText">
                <div>Le hemos enviado un código de seguridad a su correo personal </div>
                <div class="textMail">walter@creativehands.com.ar </div>
                <div class="textImportant">IMPORTANTE: Verifique el correo no deseado (span) </div>
          </div>
          <div class="titleHandwritten"> <b>Código</b></div>
          <div><input class="inputs" type=text placeholder="Ingrese el código"></input></div>
          <div class="contentError">
            <div class="contentsError">
                <div class="arrow">
                  <i class="fa fa-sort-asc fa-2x"></i>
                </div>
                <div class="contentTextError">
                  <i class="fa fa-frown-o"></i> Oops! <span class="textError"> El código no es correcto</span>
                </div>
            </div>
          </div>
          <div><button class="btnNext">Siguiente</button></div>

      </div>

<!-- ============== PANTALLA NUEVA CONTRASEÑA =================== -->

      <div class="pass">
        <div class="subContent">
          <div class="titleHandwritten"> <b>Nueva contraseña</b></div>
          <div><input class="inputs" type=password placeholder="Ingrese nueva contraseña"></input></div>
          <div><input class="inputs" type=password placeholder="Repita nueva contraseña"></input></div>
          <div class="contentError">
            <div class="contentsError">
                <div class="arrow">
                  <i class="fa fa-sort-asc fa-2x"></i>
                </div>
                <div class="contentTextError">
                  <i class="fa fa-frown-o"></i> Oops! <span class="textError"> Las contraseñas no coinciden</span>
                </div>
            </div>
          </div>
          <div><button class="btnNext">Siguiente</button></div>
        </div>
      </div>

<!-- ============== PANTALLA FIN DEL PROCESO ==================== -->

      <div class="fin">
        <div class="subContent">
          <div class="titleHandwritten"> <b>Contraseña modificada con éxito</b></div>
        </div>
        <div class="contentText">
              <div>Ahora podrá acceder a todos los sistemas informáticos de la Facultad de Ciencias Económicas de la UNLP. </div>
              <div class="textMail">"Recuerde utilizar su número de documento como nombre de usuario" </div>
        </div>
      </div>

<!-- ============== PANTALLA ALTA DE USUARIO ==================== -->

      <div class="createAccount">
        <div class="subContent">
          <div class="titleHandwritten2"> <b>¡hola!</b> <span class="textName">Pablo Daniel Rey</div>
          <div class="contentText">
                <div class="textInfo"><b>Aún no has dado de alta tu cuenta de la FCE</b></div>
                <div> <a href="http://www.ingreso.econo.unlp.edu.ar"><button class="btnNext">Crear mi cuenta ahora </button> </a></div>
                <div class="textInfo2">"Una vez que hayas creado tu cuenta podrás acceder a los sistemas informáticos de la Facultad de Ciencias Económicas de la UNLP, <b>utilizando tu número de documento como nombre de usuario</b>" </div>
          </div>
        </div>
      </div>

<!-- ************************************************************************
******************* NAVEGACION DE ESTILOS (BORRAR) **************************
************************************************************************* -->

    <div class="navegacion">
      <button ng-click="view.style='screenDni';view.style2='ocultarError'">1</button>
      <button ng-click="view.style2='error'">b</button>
      <button ng-click="view.style='screenAltaDeUsuario'">c</button>
      <button ng-click="view.style='screenCode';view.style2='ocultarError'">2</button>
      <button ng-click="view.style2='error'">b</button>
      <button ng-click="view.style='screenNewPass';view.style2='ocultarError'">3</button>
      <button ng-click="view.style2='error'">b</button>
      <button ng-click="view.style='screenFin';view.style2='ocultarError'">4</button>
    </div>

</div>
