.resetPassword {
  height: 100%;
  width: 100%;
}

.resetPassword .contentScreen {
  width: 100%;
  height: 100%;
}

/********************************************************
************** TRANSICIONES DE PANTALLAS ****************
*********************************************************/

.resetPassword .dni {
  position: absolute;
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 100%;
  height: 80%;
  opacity: 0;
  transform: translate3d(100%,0,0);
  -webkit-transform: translate3d(100%,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.resetPassword.screenDni .dni {
  opacity: 1;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.resetPassword.screenCode .dni {
  opacity: 0;
  transform: translate3d(-100%,0,0);
  -webkit-transform: translate3d(-100%,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.resetPassword .code {
  position: absolute;
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  top: 60px;
  opacity: 0;
  width: 100%;
  height: 80%;
  transform: translate3d(100%,0,0);
  -webkit-transform: translate3d(100%,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.resetPassword.screenCode .code {
  opacity: 1;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.resetPassword.screenNewPass .code {
  opacity: 0;
  transform: translate3d(-100%,0,0);
  -webkit-transform: translate3d(-100%,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.resetPassword .pass {
  position: absolute;
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  top: 60px;
  opacity: 0;
  width: 100%;
  height: 80%;
  transform: translate3d(100%,0,0);
  -webkit-transform: translate3d(100%,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.resetPassword.screenNewPass .pass {
  opacity: 1;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.resetPassword.screenFin .pass {
  opacity: 0;
  transform: translate3d(-100%,0,0);
  -webkit-transform: translate3d(-100%,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.resetPassword .fin {
  position: absolute;
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: column;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  top: 60px;
  opacity: 0;
  width: 100%;
  height: 80%;
  transform: translate3d(100%,0,0);
  -webkit-transform: translate3d(100%,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.resetPassword.screenFin .fin {
  opacity: 1;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}









.resetPassword .title {
    color: #5C5F69;
}

.resetPassword .titleHandwritten{
  font-family: 'Mouse Memoirs', sans-serif;
    color:#5C5F69;
    font-size: 33px;
    letter-spacing:0.5px;
    margin-bottom: 15px;
}


.resetPassword .inputDni {
  width: 250px;
  height: 23px;
  border: 1px solid #DBE2E5;
  background-color: white;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
}

.resetPassword .btnNext {
  padding: 14px;
  width: 272px;
  font-size: 14px;
  background-color: #0066A6;
  color: white;
  border: 1px solid #EEEEEE;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.resetPassword .btnNext:hover {
  background-color: #075382;
  cursor: pointer;
}

.resetPassword .contentCode {
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;

}

.resetPassword .contentText {
  width: 70%;
  text-align: center;
}

.resetPassword .textMail {
  color: #075382;
  font-size: 18px;
  font-style: italic;
  margin-top: 10px;
}

.resetPassword .textImportant {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.resetPassword .contentError {
  width: 272px;
  display:flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

.resetPassword.screenDni.ocultarError .contentUserNonExistent,
.resetPassword.screenCode.ocultarError .contentUserNonExistent,
.resetPassword.screenNewPass.ocultarError .contentUserNonExistent,
.resetPassword.screenFin.ocultarError .contentUserNonExistent {
  display: none;
}

.resetPassword.screenDni.error .contentUserNonExistent,
.resetPassword.screenCode.error .contentUserNonExistent,
.resetPassword.screenNewPass.error .contentUserNonExistent {
  position: absolute;
  margin-top: 2px;
  width: 272px;
  background-color: #F1F1F1;
}

.resetPassword .arrow {
  color: #E43E46;
  background-color: #F1F1F1;
  height: 10px;
  margin-left: 20px;
}

.resetPassword .textUserNonExistent {
  background-color: #E43E46;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 10px;
  color:white;
}

.resetPassword .textUserNonExistent2 {
  font-size: 13px;
}

::-webkit-input-placeholder { color: #5c5f69; font-size: 14px;}
:-moz-placeholder { color: #5c5f69; opacity:  1; font-size: 14px;}
::-moz-placeholder { color: #5c5f69; opacity:  1; font-size: 14px;}
:-ms-input-placeholder { color: #5c5f69; font-size: 14px;}
:placeholder-shown { color: #5c5f69;  font-size: 14px;}
.resetPassword .inputDni::-webkit-input-placeholder { color:#5c5f69; padding-top: 4px;}
.resetPassword .inputDni::-moz-input-placeholder { color:#5c5f69; padding-top: 4px;}



/********* navegacion *********/

.resetPassword .navegacion {
  position: absolute;
  transform: translate3d(150px,15px,0);
  -webkit-transform: translate3d(150px,15px,0);
  top:0px;
}
