		
<div ng-controller="GridPersonaCtrl">
  <div ng-include="'main/html/search.html'"></div>
  <div ng-include="'main/html/pagination.html'"></div>  
  <div class="table-responsive" style="height:350px">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
</div>
        <th><input type="checkbox"></th>
        <th>nombres&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('nombres')"></span></th>
        <th>apellidos&nbsp;&nbsp;<span class="glyphicon glyphicon-sort pointer" ng-click="toggleOrderBy('apellidos')"></span></th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="fields in grid.data">
        <td><input type="checkbox" ng-checked="isSelected(fields.id)" ng-click="toggleSelection(fields.id)"></td>
        <td>{{fields.nombres}}</td>
        <td>{{fields.apellidos}}</td>
        <td>          
		  <a href="#/gridExpediente?ic=1&0if=iniciador&0in=iniciador&0it=persona&0iv={{fields.id}}"><span class="glyphicon glyphicon-eye-open"></span>EXPE</a>&nbsp;&nbsp;
		  <a href="#/gridNota?ic=1&0if=persona&0in=persona&0it=persona&0iv={{fields.id}}"><span class="glyphicon glyphicon-eye-open"></span>NOTA</a>&nbsp;&nbsp;
		  <a href="#/gridParticipacion?ic=1&0if=persona&0in=persona&0it=persona&0iv={{fields.id}}"><span class="glyphicon glyphicon-eye-open"></span>PART</a>&nbsp;&nbsp;
        </td>

      </tr>
    </tbody>	  
  </table>
  </div>
<!-- div class="well"><b>Elementos seleccionados:</b> <button type="button" class="btn btn-sm btn-danger">Eliminar</button></div -->
</div>
