<div class="mails {{vm.view.style}}">
<!--variable: newMail -->
    <div class="header">
        <div>
            <i class="fa fa-envelope"></i> Correos
        </div>
    </div>

    <div class="contentMails">
        <div>
          CORREO ELECTRÓNICO INSTITUCIONAL
        </div>
        <div class="mailInstitutional" ng-repeat="mail in vm.model.laboralMails">
          <div>
              <i class="fa fa-envelope-o"></i> {{mail.email}}
          </div>
          <div>
              <button class="btnWebMail" title="Webmail" ng-click="vm.openWebmail()"><i class="fa fa-sign-in"></i></button>
          </div>
        </div>

        <hr>

        <div>
          CORREO ELECTRÓNICO PERSONAL
        </div>

        <div class="mailPersonal {{mail.style}}" ng-repeat="mail in vm.model.alternativeMails">
          <div>
              <i class="fa fa-envelope-o"></i> {{mail.email}}
          </div>
          <div>
            <button class="btnMailNoValidated" title="Correo sin confirmar"><i class="fa fa-exclamation-triangle"></i> Correo sin confirmar</button>
            <button class="btnForwardMail" title="Reenviar confimación" ng-click="vm.resendEmailValidation(mail)"><i class="fa fa-repeat"></i> Reenviar confimación</button>
            <button class="btnSendMail" title="Enviado correo"><i class="fa fa-spinner fa-pulse"></i> Enviando correo </button>
            <button class="btnMailValidated" title="Correo confirmado"><i class="fa fa-check"></i> Correo confirmado</button>
            <button class="btnDeleteMail" title="Eliminar correo" ng-click="vm.removeMail(mail)"><i class="fa fa-trash-o"></i></button>
          </div>
        </div>

        <hr>

        <div class="contentNewMail">
          <div>
            <button class="btnNewMail" ng-click="vm.addMail()">NUEVO CORREO</button>
          </div>
          <div>
            <input class="inputMail" type="mail" ng-model="vm.model.email"> </input>
          </div>
          <div>
            <button class="btnOkMail" ng-click="vm.saveMail()">OK</button>
          </div>
        </div>
    </div>

</div>
