<!-- <div class='createRegulationContainer' ng-controller='createRegulation'>  -->
<div class="createRegulation {{getStyleName()}}">

  <div class='createRegulationContainer'>
      <div class='contentScreens'>

          <div class='screenOne'>
                <div class="container">
                    <div class="content">
                        <div><h1>CREAR NUEVA</h1></div>
                        <div class="regulations">
                            <div class="btc3x c2" ng-click = "createOrdinance()">
                                <div><i class="fa fa-file-text fa-3x"></i></div>
                                <div>ORDENANZA</div>
                            </div>

                            <div class="btc3x c3" ng-click = "createResolution()">
                                <div><i class="fa fa-file-text fa-3x"></i></div>
                                <div>RESOLUCIÓN</div>
                            </div>
                            <div class="btc3x c4" ng-click = "createRegulation()">
                                <div><i class="fa fa-file-text fa-3x"></i></div>
                                <div>DISPOSICIÓN</div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>

          <div class='screenTwo '>
              <div class="container">
                  <div class="content">
                      <div class="contentNewRegulation">
                          <div class="newRegulation">
                            <div><b>NUEVA</b></div>
                            <div class="titleNewRegulation">{{getRegulationName()}}</div>
                          </div>

                          <div class="saveCancel">
                              <div>
                                <button class="sendRegulation" ng-click = "save()"><i class="fa fa-floppy-o"></i> <b>GUARDAR</b></button>
                              </div>
                              <div>
                                <button class="cancelRegulation" ng-click = "selectRegulation(0)"><i class="fa fa-reply"></i> CANCELAR</button>
                              </div>
                          </div>
                      </div>
                      <div class="dataOne">
                           <div class="contentdataImput tam1">
                              <div>
                                  <input class="inputRegulationOne" type="date" ng-model="model.normative.created">
                              </div>
                              <div>
                                  <span class="titleInputRegulation">Fecha</span>
                              </div>
                          </div>
                          <div class="contentdataImput tam2">
                              <div>
                                  <input class="inputRegulationOne" type="number" min="0" ng-model="model.normative.file_number">
                              </div>
                              <div>
                                  <span class="titleInputRegulation"> Número</span>
                              </div>
                          </div>
                          <div class="contentdataImput tam3">
                              <div>
                                  <input class="inputRegulationOne" type="text" ng-model="model.normative.normative_number_full"  placeholder="ej: 900-11111/15">
                              </div>
                              <div>
                                  <span class="titleInputRegulation"> Expediente</span>
                              </div>
                          </div>

                          <div class="contentdataImput">
                              <div>
                                  <select class="inputRegulationOne" ng-model='model.normative.issuer' ng-options='item.name for item in model.issuers'>
                                  </select>
                              </div>
                              <div>
                                  <span class="titleInputRegulation">Emisor</span>
                              </div>
                          </div>
                          <div class="ContentVisivilidad contentdataImput">
                              <div>
                                  <select class="inputRegulationOne" ng-model='model.normative.visibility' ng-options='item.name for item in model.visibilities' ng-change='changeVisibility()'>
                                  </select>
                              </div>
                              <div>
                                  <span class="titleInputRegulation">Visibilidad</span>
                              </div>
                          </div>
                          <div class="ContentEstado contentdataImput">
                              <div>
                                  <select class="inputRegulationOne" ng-model='model.normative.status' ng-options='item.name for item in model.status'>
                                  </select>
                              </div>
                              <div>
                                  <span class="titleInputRegulation">Estado</span>
                              </div>
                          </div>
                          <div class="contentAprobado contentdataImput tam1" ng-class="{false:'hidden'}[viewDateStatus()]">
                          <!-- <div class="contentAprobado tam1" ng-if="viewDateStatus()"> -->
                             <div>
                                 <input class="inputRegulationOne" type="date">
                             </div>
                             <div>
                                 <span class="titleInputRegulation">Aprobado el</span>
                             </div>
                         </div>


                      </div>
                      <div class="dataTwo">
                        <div class="contentLeft">

                            <div class="contentImputDataOne">

                                <!----------------- cargar PDF ---------------->

                                <div class="contentUploadPDF">
                                    <div>
                                        <div class="uploadPDF">
                                  			   <p class="textBtnPDF"><i class="fa fa-arrow-circle-up"></i> Subir PDF</p>
                                  			   <input type="file" class="btnInputFile" ng-model="model.normative.file">
                                  		  </div>
                                  	</div>
                                    <div>
                                        <span class="titleInputRegulation">Normativa en pdf</span>
                                    </div>
                                </div>

                                <div class="contentdataImput">
                                  <div class="uploadPDF2">
                                    <div><i class="fa fa-file-pdf-o iconPDF"></i> Ord25151/14.pdf</div>
                                    <!-- <div><i class="fa fa-file-pdf-o"></i> no se cargo el archivo...</div> -->
                                  </div>
                                </div>

                                <!----------------- cargar Relacion de Norma ---------------->

                                <div class="contentUploadPDF">
                                    <div>
                                        <div class="uploadPDF">
                                           <p class="textBtnPDF"><i class="fa fa-search-plus"></i> Burcar Norma</p>
                                           <div class="btnInputFile" ng-click="loadFindRelatedView()"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="titleInputRegulation">Relación de Norma</span>
                                    </div>
                                </div>

                                <div class="contentdataImput">
                                  <div class="uploadPDF2">
                                    <div ng-repeat="r in model.normative.relateds as results">
                                      <i class="fa fa-file-text-o iconPDF"></i> {{r.normative_number_full}}
                                      <select class="selectRelacionDeNoma" ng-model='r.type' ng-options="type for type in model.typeRelateds">
                                      </select>
                                    </div>
                                    <div ng-if="results.length == 0"><i class="fa fa-file-text-o"></i> sin relación...</div>
                                  </div>
                                </div>




                            </div>

                            <div class="contentImputData">
                                <div class="titleImputData">
                                  Extracto
                                </div>
                                <div class="tamInputRegulationOne">
                                  <textarea class="inputRegulationTwo" no></textarea>

                                </div>
                            </div>
                        </div>

                      </div>
                  </div>
              </div>
          </div>

          <div class='screenThree'>
              <div class="container">
                  <div class="content">
                      <div class="dataThree">
                          <div><i class="fa fa-check-circle fa-5x"></i></div>
                          <div class="titleCreatedRegulation"> {{getRegulationName()}} CREADA CON ÉXITO !</div>
                          <button class="btnRegulationFinished " ng-click = "selectRegulation(0)"><h2>FINALIZAR</h2></button>
                      </div>
                  </div>
              </div>
          </div>

      </div>

      <!-- *******************************************************************
      ***************** PANTALLA RELACION DE NORMA ***************************
      ******************************************************************** -->
       <div class="relacionDeNorma" ng-controller="RelatedsCtrl" ng-include="'/systems/digesto/modules/createRegulation/relateds.html'">

       </div>
      <!-- *******************************************************************
      ***************** PANTALLA PRIVADA DE GRUPOS ***************************
      ******************************************************************** -->


      <div class="privadaDeGrupos" ng-controller="PrivateGroupCtrl" ng-include="'/systems/digesto/modules/createRegulation/privateGroup.html'">
      </div>

  </div>
</div>
