<div class="container">
    <div class="content">
       <div class="contentOffices">
        <div class="contentInt">
           <div>
             <input class="inputSearchOffices" ng-model="model.search.allOffice" type="search" placeholder="Buscar..."> <span class="textSearchOffices"> <i class="fa fa-arrow-circle-left"></i> Buscar Oficina</span> </input>
           </div>
           <div class="listOffices">
             <div class="itmesOffices" ng-repeat="office in model.filteredOffices | orderBy: 'name' | filter: model.search.allOffice as results" ng-click="addOffice(office)">
                 <div>
                   {{office.name}}
                 </div>
                 <div>
                    <i class="fa fa-arrow-circle-right"></i>
                 </div>
             </div>
             <div ng-if="results.length == 0">
               <strong>No se encontró la oficina...</strong>
             </div>

           </div>
        </div>

        <div class="contentInt">
           <div>
             <i class="fa fa-cogs"></i> otorgar acceso a
           </div>

           <div class="titlesPermission">
               <div>
                 Oficina
               </div>
               <div>
                 Borrar
               </div>
           </div>

           <div class="officesPermission"  ng-repeat="office in model.normative.offices | orderBy: 'name'">>
             <div>
               {{office.name}}
             </div>
             <div ng-click="removeOffice(office)">
               <i class="fa fa-trash"></i>
             </div>
           </div>
        </div>


        <div>
          <button class="btnVolver" ng-click="back()">VOLVER <i class="fa fa-share"></i> </button>
        </div>
       </div>
    </div>
</div>
