
.pantalla {

}

.pantalla .translatable {

}

.pantalla .menu {

}

.pantalla .m-nueva-disposicion {

}

.pantalla .m-nueva-resolucion {

}

.pantalla .m-nueva-ordenanza {

}

.patanlla .nueva-ordenanza {

}


.patanlla .nueva-resolucion {

}

.patanlla  .texto {

}

.patanlla .estado {

}

.patanlla .relacionados {

}



.pantalla .nueva-disposicion .texto {

}




/*
  pantalla del menu
*/


.pantalla.item0 .translatable {
  translate: 0px;
}

/*
  patalla de nueva ordenanza
*/

.pantalla.item1 .translatable {
  translate: -100%;
}


/*
 pantalla de nueva resolucion
*/

.patanlla.item2 .translatable {
  translate: -100%;
}

.pantalla.item2 .nueva-ordenanza {
  display: none;
}

.pantalla.item2,.item3 .relacionados {
  display: none;
}






.pantalla.c-nueva-ordenanza-con .relacionados {
  displat: si;
}

.pantalla.c-nueva-ordenanza-sin .relacioados {
  display: none;
}

.pnatalla.c-nueva-ordenanza-boton-apretado .buscarRelacionados {

}

.pnatalla.c-nueva-ordenanza-sin-bonton-apretado .buscarRelacionados {

}











.pantalla.c-nueva-ordenanza-con-relacionados .relacionados {
  diplsay: si;
}

.pantalla.c-nueva-ordenanza-sin-relacionadso .relacionados {
  display:none;
}






/*
  pantalla finalizar
*/

.pantalla.item3 .translatable {
  translate: 100%;
}

.pantalla.item3 .nueva-norma,.nueva-disposicion,.nueva-resolucion {
  display:none;
}
