<div class="contentSearchRegulation">
   <div class="contentSearch">

       <div class=search>
          <div class="inputSearchContent">
             <form class="form-wrapper cf">
                 <input type="text" placeholder="Buscar norma..." required ng-model="model.searchText">
                 <button type="submit" ng-click="find()">Buscar</button>
             </form>
             <div>
               <button class="btnVolver" ng-click="back()">VOLVER <i class="fa fa-share"></i> </button>
             </div>
          </div>
      </div>

       <div class="filters">

           <div class="iconFilters">
               <i class="fa fa-sliders fa-2x"></i>
           </div>

           <div class="itemsFilters">
               <div>
                   <select class="inputFilters">
                     <option>Ordenanza</option>
                     <option>Resolución</option>
                     <option>Dispocición</option>
                   </select>
               </div>
               <div>
                 <span class="titleInputFilters"> Norma </span>
               </div>
           </div>

           <div class="itemsFilters">
               <div>
                 <select class="inputFilters">
                   <option>2015</option>
                   <option>2014</option>
                   <option>2013</option>
                   <option>2012</option>
                   <option>2011</option>
                   <option>2010</option>
                 </select>
               </div>
               <div>
                 <span class="titleInputFilters"> Año </span>
               </div>
           </div>

           <div class="itemsFilters tam1">
               <div>
                 <input class="inputFilters" type="text"></input>
               </div>
               <div>
                 <span class="titleInputFilters"> Nº Norma </span>
               </div>
           </div>

           <div class="itemsFilters tam2">
               <div>
                   <input class="inputFilters" type="text"></input>
               </div>
               <div>
                 <span class="titleInputFilters"> Nº Expediente </span>
               </div>
           </div>

           <div class="itemsFilters">
           <div>
               <select class="inputFilters">
                 <option>Decano</option>
                 <option>Vicedecano</option>
               </select>
           </div>
           <div>
             <span class="titleInputFilters"> Emisor </span>
           </div>
           </div>

           <div class="itemsFilters">
               <div>
                   <select class="inputFilters">
                     <option>Aprobada</option>
                     <option>Pendiente</option>
                   </select>
               </div>
               <div>
                 <span class="titleInputFilters"> Estado </span>
               </div>
           </div>

           <div class="itemsFilters">
               <div>
                   <select class="inputFilters">
                     <option>Público</option>
                     <option>Privado</option>
                   </select>
               </div>
               <div>
                 <span class="titleInputFilters"> Visibilidad </span>
               </div>
           </div>


     </div>
   </div>
   <div class="contentSearch2">
     <div>
         <h1>RESULTADOS DE BUSQUEDA</h1>
     </div>
     <div class="row1">
         <div class="col1 col-span-1">TIPO</div>
         <div class="col1 col-span-1">NÚMERO</div>
         <div class="col1 col-span-1">EXPEDIENTE</div>
         <div class="col1 col-span-1">EMISOR</div>
         <div class="col1 col-span-1">ACCION</div>
     </div>

     <div class="results">

           <div ng-repeat="normative in model.normatives">
               <div class="row3">
                   <div class="col3 col-span-1"><i class="fa fa-file-text"></i>&nbsp; {{normative.type}}</div>
                   <div class="col col-span-1">{{normative.file_number}}</div>
                   <div class="col col-span-1">{{normative.normative_number_full}}</div>
                   <div class="col col-span-1">{{normative.issuer.name}}</div>
                   <div class="col6 col-span-1"><button class="btnSeleccionar" ng-click="selectRelated(normative)"><i class="fa fa-hand-o-left"></i>&nbsp; SELECCIONAR</button></div>
               </div>
               <div class="row4">
                   <div class="col col-span-2">{{normative.extract}}</div>
               </div>
           </div>
     </div>
   </div>
</div>
