/*******************************************************
********* CONTENEDOR PRINCIPAL DE LA PAGINA ************
********************************************************/

.createRegulation {

}

.createRegulation .createRegulationContainer {
  height:100%;
  width:100%;
  position:absolute;
  overflow:hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*******************************************************
************** CONTENEDOR DE NAVEGACION ****************
********************************************************/

.createRegulation .contentScreens {
  height:100%;
  width:100%;
  background-color: yellow;
}

/*******************************************************
********* CONTENEDORES COMUNES EN LA PAGINA ************
********************************************************/

.createRegulation  .container {
  padding: 20px;
}

.createRegulation .content {
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 20px;
  width: 82%;
}

.createRegulation .regulations {
  color:#5c5f69;
  margin-top: 20px;
}

/***** ESTILOS COMUNES *****/

.createRegulation h1 {
  font-size: 1em;
  margin-bottom: 1em;
}

.createRegulation button{
  cursor: pointer;
}

/*******************************************************
** QUE MOSTRAR U OCULTAR SEGUN DONDE UNO SE ENCUENTRA **
********************************************************/

/*.createRegulation .ContentEstado, .contentAprobado, .ContentVisivilidad {
  margin: 10px auto;
}*/

/**** SI ESTAS EN ORDENZA SE OCULTAN LOS SIGUIENTES ****/

.createRegulation.screenOrdenanza  .ContentEstado{
  display: none;
}

.createRegulation.screenOrdenanza  .ContentVisivilidad{
  display: none;
}

.createRegulation.screenOrdenanza  .contentAprobado{
  display: none;
}

.createRegulation .contentAprobado.hidden {
  visibility: hidden;
  /*display:none;*/
}

.createRegulation .contentAprobado {
  visibility: visible;
}


/*** SI ESTAS EN DISPOSICION SE OCULTAN LOS SIGUIENTES ***/

.createRegulation.screenDisposicion  .ContentEstado{
  display: none;
}

.createRegulation.screenDisposicion  .ContentVisivilidad{
  display: none;
}

.createRegulation.screenDisposicion  .contentAprobado{
  display: none;
}

/*******************************************************
******** SCREEN ONE (Selección de Norma) ***************
********************************************************/

.createRegulation .screenOne {
  /*top:0;*/
  height:100%;
  width:100%;
  background-color: #eeeeee;
}

.createRegulation .contentdataImput {
  /*margin: 10px auto;*/
  margin-right: 25px;
}

.createRegulation .tam1 {
  width: 120px;
}

.createRegulation .tam2 {
  width: 50px;
}

.createRegulation .tam3 {
  width: 150px;
}

/*******************************************************
*********** SCREEN TWO (Carga de Datos) ****************
********************************************************/

.createRegulation .screenTwo {
  /*top:768px;*/
  height:100%;
  width:100%;
  background-color: #eeeeee;
}


.createRegulation .titleNewRegulation {
  background-color:#ec9122;
  color:white;
  padding:5px;
  margin-left:10px;
  margin-right:10px;
}

/***** BOTENES GUARDAR Y CANCELAR ******/

.createRegulation .sendRegulation {
  background-color:#d5dbdf;
  padding:1em;
  border: none;
  margin-right: 1em;
  border-bottom: 3px solid #128c78;
}

.createRegulation .sendRegulation:hover {
  background-color:#128c78;
  color:white;
  padding:1em;
  border: none;
  margin-right: 1em;
  border-bottom: 3px solid #128c78;
}

.createRegulation .cancelRegulation {
  background-color:#d5dbdf;
  padding:1em;
  border: none;
  border-bottom: 3px solid #e43e46;
}

.createRegulation .cancelRegulation:hover {
  background-color:#e43e46;
  color:white;
  padding:1em;
  border: none;
  border-bottom: 3px solid #e43e46;
}

/**** PRIMER CONTENEDOR DE CARGA DE DATOS ****/

.createRegulation .dataOne {
  margin-top: 25px;
  background-color: #d5dbdf;
  padding: 10px;
  border-bottom:3px solid #b3b5bc;
}

.createRegulation .titleInputRegulation {
  font-size: 0.8em;
}

.createRegulation .inputCodeUniversity {
  width: 3em;
}

.createRegulation .inputExpediente {
  width: 3.6em;
}

.createRegulation .inputyearRegulation{
  width: 2.2em;
}

.createRegulation .inputCorrespondRegulation {
  width: 3em;
}

.createRegulation .tamInputRegulation {
  width: 3em;
}

.createRegulation .titleRCD {
  font-size: 0.8em;
}

.createRegulation .inputRegulationOne {
  font-size: 0.9em;
  background-color: white;
  padding: 3px;
  width: 100%;
  border: none;
  /*border:1px solid #b3b5bc;*/
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px #5c5f69;
  -moz-box-shadow: 1px 1px 1px #5c5f69;
}

/**** SEGUNDO CONTENEDOR DE CARGA DE DATOS ****/

.createRegulation .dataTwo {
  margin-top: 20px;
  background-color: #d5dbdf;
  padding: 10px;
  border-bottom:3px solid #b3b5bc;
}

.createRegulation .contentLeft {
  width: 100%;
  margin-right: 20px;
}

.createRegulation .tamInputRegulationOne {
  width: 100%;

}

.createRegulation .inputFile {

  background-color: white;
  padding: 0.4%;
  border:1px solid #b3b5bc;
  width: 100%;
  -webkit-box-shadow: 1px 1px 1px #5c5f69;
  -moz-box-shadow: 1px 1px 1px #5c5f69;

}

.createRegulation .inputRelation {
  margin-top: 2%;
  background-color: white;
  padding: 0.4%;
  border:1px solid #b3b5bc;
  width: 50%;
  font-size: 1.2em;
}

.createRegulation .contentImputData {
  margin-top: 15px;
}

.createRegulation .selectRelacionDeNoma {
  background-color: #eeeeee;
  margin-left: 10px;
  padding: 1px;
  -webkit-box-shadow: 1px 1px 1px #5c5f69;
  -moz-box-shadow: 1px 1px 1px #5c5f69;
  border: none;

}

.createRegulation .inputRegulationTwo {

  font-size: 1.2em;
  background-color: white;
  padding: 3px;
  width: 100%;
  border:1px solid #b3b5bc;
  height: 50px;
  resize: none;
}

.createRegulation .btnRegulationFinished:hover {
  background-color: #b3b5bc;
  margin-top: 5%;
  padding: 1%;
  color:white;
  border-radius: 2px;
  border: none;
  border-bottom:3px solid #b3b5bc;

}


.createRegulation .contentUploadPDF {
  cursor: pointer;
}

.createRegulation .textBtnPDF{
	text-align: center;
	color:black;
  cursor: pointer;
}

.createRegulation .uploadPDF {
	position:relative;
  border: 1px solid #bec3c6;
  padding:3px 10px 3px 10px;
	/*width:180px;*/
	background-color: #bec3c6;
  border-radius: 3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
  -webkit-box-shadow: 1px 1px 1px #5c5f69;
  -moz-box-shadow: 1px 1px 1px #5c5f69;
  cursor: pointer;
}

.createRegulation .uploadPDF2 {
	position:relative;
  border: 1px solid #b1b9bf;
	padding:3px 10px 3px 10px;
	/*width:180px;*/
	background-color: white;
  border-radius: 0 3px 3px 0;
	-webkit-border-radius:0 3px 3px 0;
  -webkit-box-shadow: 1px 1px 1px #5c5f69;
  -moz-box-shadow: 1px 1px 1px #5c5f69;
  margin-right: 50px;
}

.createRegulation .btnInputFile {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:100%;
	opacity: 0;
  cursor: pointer;
}

.iconPDF {
  background-color: white;
  color:#e43e46;
}

/*******************************************************
************* SCREEN THREE (Finalizar) *****************
********************************************************/

.createRegulation .screenThree {
  /*top:20em;*/
  height:100%;
  width:100%;
  background-color: #eeeeee;
}

.createRegulation .btnRegulationFinished {
  background-color: white;
  margin-top: 5%;
  padding: 1%;
  color:#5c5f69;
  border-radius: 2px;
  border: none;
  border-bottom:3px solid #b3b5bc;

}

/*******************************************************
***** COLORES DE TITULOS Y FONDO SEGUN PANTALLA ********
********************************************************/

/**** EN ORDENANZA ****/

.createRegulation.screenOrdenanza .titleNewRegulation  {
  background-color:#ec9122;
  color:white;
  padding:5px;
  margin-left:10px;
  margin-right:10px;
}

.createRegulation.screenOrdenanzaFinal .dataThree  {
  color: white;
  height: 100%;
  background-color: #ec9122;
  padding: 100px;
  border-bottom:3px solid #b3b5bc;

}

/**** EN RESOLUCIÓN ****/

.createRegulation.screenResolucion .titleNewRegulation  {
  background-color:#e43e46;
  color:white;
  padding:5px;
  margin-left:10px;
  margin-right:10px;
}

.createRegulation.screenResolucionFinal .dataThree  {
  color: white;
  height: 100%;
  background-color: #e43e46;
  padding: 100px;
  border-bottom:3px solid #b3b5bc;
}

/**** EN DISPOCICIÓN ****/

.createRegulation.screenDisposicion .titleNewRegulation  {
  background-color:#128c78;
  color:white;
  padding:5px;
  margin-left:10px;
  margin-right:10px;
}

.createRegulation.screenDisposicionFinal .dataThree  {
  color: white;
  height: 100%;
  background-color: #128c78;
  padding: 100px;
  border-bottom:3px solid #b3b5bc;
}

/*******************************************************
************* PANTALLA PRIVADA DE GRUPOS ***************
********************************************************/

.createRegulation.screenPrivadaDeGrupos .privadaDeGrupos{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);;
  position: absolute;
  top: 0px;
}

.createRegulation .contentOffices {
  width: 70%;
  margin: 0 auto;
}

.createRegulation .contentInt {
  background-color: #eeeeee;
  padding: 10px;
  border-top: 3px solid #5c5f69;
}

.createRegulation .btnVolver {
  margin-top: 6px;
  border: none;
  padding: 10px;
  background-color: #5c5f69;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  border-bottom: 3px solid #c9262b;
}

.createRegulation .btnVolver:hover {
  margin-top: 6px;
  background-color: #c9262b;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  border-bottom: 3px solid #c9262b;
}

.createRegulation .inputSearchOffices {
  padding: 2px;
  font-size: 1.1em;
  margin-bottom: 15px;
}

.createRegulation .listOffices {
}

.createRegulation .itmesOffices {
  background-color: white;
  padding: 5px;
  margin-bottom: 3px;
  cursor: pointer;
}

.createRegulation .itmesOffices:hover {
  background-color: #0066A6;
  color:white;
  padding: 5px;
}

.createRegulation .titlesPermission {
  font-size: 0.8em;
  color:#5c5f69;
  margin-bottom: 5px;
}

.createRegulation .officesPermission {
  background-color: white;
  padding: 5px;
  margin-bottom: 3px;
  cursor: pointer;
}

.createRegulation .officesPermission:hover {
  background-color: #0066A6;
  color:white;
  padding: 5px;

}

/********************************************
******** PANTALLA RELACION DE NORMA *********
********************************************/

.createRegulation.screenRelacionDeNorma .relacionDeNorma{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);;
  position: absolute;
  top: 0px;
}

.createRegulation.screenRelacionDeNormaFinal .relacionDeNorma{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);;
  position: absolute;
  top: 0px;
}


.createRegulation .searchRegulationContainer h1 {
  font-size: 1em;
  margin-bottom: 1em;
}


.createRegulation .inputSearchContent {
  padding: 10px;
  margin-bottom: 20px;
  /*background-color: #5c5f69;*/
  width: 100%;

}

.createRegulation .iconSearch {
  color:white;
  padding: 3px;
}

.createRegulation .inputSearch {
  margin-left: 20px;
  width: 400px;
  padding: 5px;
  font-size: 1.2em;
  border:none;
}

.createRegulation .searchRegulationContainer {
  height:100%;
  width:100%;
  position:absolute;
  overflow:hidden;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.createRegulation .btnSearch {
  margin-left: 10px;
  padding: 7px;
  background-color: #0066A6;
  color:white;
  border: none;
  border-radius: 2px;
  border:solid 1px grey;
  cursor: pointer;
}

.createRegulation .btnSeleccionar {
  margin-left: 0px;
  background-color: #0066A6;
  color:white;
  border: none;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.createRegulation .contentSearchRegulation {
  padding: 20px;
}

.createRegulation .contentSearch {
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 20px;
  width: 82%;
  margin-bottom: 20px;
}

.createRegulation .contentSearch2 {
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  padding: 20px;
  width: 82%;
  margin-bottom: 20px;
}

.createRegulation.screenRelacionDeNorma .contentSearch2 {
  /*display: none;*/
}

.createRegulation .filters {
  background-color: #eeeeee;
  padding: 5px;
}

.createRegulation .iconFilters {

}

.createRegulation .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eeeeee;
}

.createRegulation .row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #5c5f69;
  margin-bottom: 1%;
}

.createRegulation .row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

.createRegulation .row3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eeeeee;
}

.createRegulation .row4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  margin-bottom: 1%;
}

.createRegulation .col {
  flex: 1 1 8%;
  margin: 0 0 0 0;
  padding: 0.5em ;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.createRegulation .col2 {
  display: flex;
  flex: 1 1 8%;
  margin: 10 0 0 0;
  color: white;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;

}

.createRegulation .col3 {
  display: flex;
  flex: 1 1 8%;
  margin: 0 0 0 0;
  color: white;
  background-color: #e43e46;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.createRegulation .col4 {
  display: flex;
  flex: 1 1 8%;
  margin: 0 0 0 0;
  color: white;
  background-color: #ec9122;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.createRegulation .col5 {
  display: flex;
  flex: 1 1 8%;
  margin: 0 0 0 0;
  color: white;
  background-color: #128c78;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.createRegulation .col6 {
  display: flex;
  flex: 1 1 8%;
  margin: 0 0 0 0;
  background-color: #0066A6;
  box-sizing: border-box;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
  align-items: center;
  justify-content: center;
}

.createRegulation .col1 {
  flex: 1 1 8%;
  margin: 0 0 0 0;
  padding: 0.5em;
  box-sizing: border-box;
  color: white;
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,0.1);
}

.createRegulation .col-span-1 {
  flex-basis: 8.3333%;
}

.createRegulation .col-span-2 {
  flex-basis: 10px;
}

.createRegulation .results {
  overflow-y: scroll;
  height: 360px;
}

.createRegulation .cf:before, .cf:after{
  content:"";
  display:table;
}

.createRegulation .cf:after{
  clear:both;
}

.createRegulation .cf{
  zoom:1;
}


/* INICIO FORMULARIO DE BUSQUEDA */
.createRegulation .form-wrapper {
    width: 450px;
    /*padding: 15px;*/
    margin: 5px auto 5px auto;
    background: #5c5f69;
    /*background: rgba(0,0,0);*/
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

.createRegulation .form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

.createRegulation .form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
}

.createRegulation .form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.createRegulation .form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.createRegulation .form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* BOTON DE BUSQUEDA */
.createRegulation .form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #0066A6;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.createRegulation .form-wrapper button:hover{
    background: #0066A6;
}

.createRegulation .form-wrapper button:active,
.createRegulation .form-wrapper button:focus{
    background: #0066A6;
    outline: 0;
}

.createRegulation .form-wrapper button:before { /* FLECHITA IZQUIERDA*/
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #0066A6 transparent;
    top: 12px;
    left: -6px;
}

.createRegulation .form-wrapper button:hover:before{
    border-right-color: #0066A6;
}

.createRegulation .form-wrapper button:focus:before,
.searchRegulation .form-wrapper button:active:before{
        border-right-color: #0066A6;
}

/* quitar espacio extra del botón para Mozilla Firefox */
.createRegulation .form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/* FIN FORMULARIO DE BUSQUEDA */
