
<div class="contentFilters">


  <div class="subContentFilters">
      <div class="contentFiltersLeft">

          <div class="titleFilters">
              <b> <i class="fa fa-sliders"></i> FILTROS DISPONIBLES </b>
          </div>
          <hr>

          <!-- Inscripción -->
          <div class="itemsFilters">
            <div class="subItemsFilters">
                <div class="textInscription"><i class="fa fa-calendar-o"></i> Inscripción</div>
                <div>
                  <form>
                    <input class="inputFilters2" type="date">
                  </form>
                </div>
                <div>
                  <form>
                    <input class="inputFilters2" type="date">
                  </form>
                </div>
                <!-- <select class="inputFilters" ng-model="model.selectFilterDate" ng-options="option.name for option in view.filtersDate | orderBy: ['name']: true">
                    <option value="">Seleccionar</option>
                </select> -->
            </div>
            <div>
                <button class="btnItems" ng-click="addDateFilter()"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

          <!-- Carrera -->
          <div class="itemsFilters">
            <div class="subItemsFilters">
                <div class="textItemFilters"><i class="fa fa-graduation-cap"></i> Carrera</div>
                <select class="inputFilters" ng-model="model.selectFilterDegree" ng-options="option.name for option in view.filtersDegrees | orderBy: ['name']: true">
                        <option value="">Seleccionar</option>
                </select>
            </div>
            <div>
                <button class="btnItems" ng-click="addDegreeFilter()"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

          <!-- Oferta Laboral -->
          <div class="itemsFilters">
            <div class="subItemsFilters">
                <div class="textItemFilters"><i class="fa fa-suitcase"></i> Oferta laboral</div>
                <select class="inputFilters" ng-model="model.selectFilterLaboral" ng-options="option.name for option in view.filtersLaboral | orderBy: ['name']: true">
                    <option value="">Seleccionar</option>
                </select>
            </div>
            <div>
                <button class="btnItems" ng-click="addLaboralFilter()"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

          <!-- Género -->
          <div class="itemsFilters">
            <div class="subItemsFilters">
              <div class="textItemFilters"> <i class="fa fa-venus-mars"></i> Sexo </div>
              <select class="inputFilters" ng-model="model.selectFilterGenre" ng-options="option.name for option in view.filtersGenre | orderBy: ['name']: true">
                  <option value="">Seleccionar,</option>
              </select>
            </div>
            <div>
                <button class="btnItems" ng-click="addGenreFilter()"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

          <!-- Edad -->
          <div class="itemsFilters">
              <div class="subItemsFilters">
                  <div class="textItemFilters"><i class="fa fa-calendar-o"></i> Edad</div>
                  <input class="inputCant" type="text" placeholder="20" ></input> -
                  <input class="inputCant" type="text" placeholder="30" ></input>
              </div>
              <div>
                  <button class="btnItems" ng-click="addCountCathedra()" ng-disabled="!view.enabledFilterCountCathedra"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
              </div>
          </div>


          <!-- Ciudad de Residencia -->
          <div class="itemsFilters">
            <div class="subItemsFilters">
                <div class="textItemFilters">
                  <i class="fa fa-building-o"></i> Ciudad de Residencia
                </div>
                <select class="inputFilters" name='residence_city' ng-model="model.selectFilterResidence" ng-options="option.name for option in view.filtersResidence | orderBy: ['name']: false">
                  <option class="selectGrey" disabled selected style='display:none;' value="">Seleccionar</option>
                </select>
            </div>
            <div>
                  <button class="btnItems" ng-click="addResidenceFilter()"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>


          <!-- Ciudad de origen -->
          <div class="itemsFilters">
            <div class="subItemsFilters">
                <div class="textItemFilters">
                  <i class="fa fa-building-o"></i> Ciudad de Origen
                </div>
                <select class="inputFilters" name='residence_city' ng-model="model.selectFilterOrigin" ng-options="option.name for option in view.filtersOrigin | orderBy: ['name']: false">
                  <option class="selectGrey" disabled selected style='display:none;' value="">Seleccionar</option>
                </select>
            </div>
            <div>
                  <button class="btnItems" ng-click="addOriginFilter()"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

          <!-- Viajar -->
          <div class="itemsFilters">
            <div class="subItemsFilters">
                <div class="textItemFilters"><i class="fa fa-plane"></i> Viajar</div>
                <select class="inputFilters" ng-model="model.selectFilterTravel" ng-options="option.name for option in view.filtersTravel | orderBy: ['name']: false">
                    <option value="">Seleccionar</option>
                </select>
            </div>
            <div>
                <button class="btnItems" ng-click="addTravelFilter()"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

          <!-- Idioma -->
          <div class="itemsFilters">
              <div class="subItemsFilters">
                  <div class="textItemFilters"><i class="fa fa-bullhorn"></i> Idioma</div>
                  <select class="inputFilters"  ng-model="model.selectFilterLanguage" ng-options="option.name for option in view.filtersLanguage | orderBy: ['name']: false">
                    <option class="selectGrey" disabled selected style='display:none;' value="">Seleccionar</option>
                  </select>
                  <select class="inputFilters"  ng-model="model.selectFilterLanguageNivel" ng-options="option.name for option in view.filtersLanguageNivel | orderBy: ['order']">
                    <option class="selectGrey" disabled selected style='display:none;' value="">Nivel</option>
                  </select>
              </div>
              <div>
                  <button class="btnItems" ng-click="addLanguageFilter()"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
              </div>
          </div>

          <!-- Materias -->
          <div class="itemsFilters">
              <div class="subItemsFilters">
                  <div class="textItemFilters"><i class="fa fa-calculator"></i> Cantidad de Materias</div>
                  <input class="inputCant" type="text" placeholder="00" ng-model="model.beginCountCathedra"></input> -
                  <input class="inputCant" type="text" placeholder="10" ng-model="model.endCountCathedra"></input>
              </div>
              <div>
                  <button class="btnItems" ng-click="addCountCathedra()" ng-disabled="!view.enabledFilterCountCathedra"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
              </div>
          </div>

          <!-- Promedio con aplazos -->
          <div class="itemsFilters">
              <div class="subItemsFilters">
                  <div class="textItemFilters"><i class="fa fa-calculator"></i> Promedio con aplazos</div>
                  <input class="inputCant" type="text" placeholder="00" ng-model="model.beginAverageWithFails"></input> -
                  <input class="inputCant" type="text" placeholder="10" ng-model="model.endAverageWithFails"></input>
              </div>
              <div>
                  <button class="btnItems" ng-click="addAverageWithFails()" ng-disabled="!view.enabledFilterAverageWithFails"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
              </div>
          </div>

          <!-- Promedio sin apalazos -->
          <div class="itemsFilters">
              <div class="subItemsFilters">
                  <div class="textItemFilters"><i class="fa fa-calculator"></i> Promedio sin aplazos</div>
                  <input class="inputCant" type="text" placeholder="00" ng-model="model.beginAverageWithoutFails"></input> -
                  <input class="inputCant" type="text" placeholder="00" ng-model="model.endAverageWithoutFails"></input>
              </div>
              <div>
                  <button class="btnItems" ng-click="addAverageWithoutFails()" ng-disabled="!view.enabledFilterAverageWithoutFails"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
              </div>
          </div>




      </div>

      <div class="iconArrows">
        <i class="fa fa-exchange fa-2x"></i>
      </div>

      <div class="contentFiltersRight">
        <div class="titleFilters">
            <b> <i class="fa fa-sliders"></i> FILTROS ACTIVOS </b>
        </div>
        <hr>

        <div class="listFiltersAssets">

            <div class="itemsFilters" ng-repeat="filter in model.filters">
              <div class="subItemsFilters2">
                  <div class="textItemFilters">{{filter.descriptionType}}</div>
                  <div class="textItemFilters">
                    <b>{{filter.name}}</b>
                    <div ng-if="filter.nivel">
                      <b>{{filter.nivel}}</b>
                    </div>
                  </div>
              </div>
              <div ng-click="removeFilter(filter)">
                  <button class="btnItems2"> <i class="fa fa-trash"></i></button>
              </div>
            </div>


        </div>

      </div>
  </div>


  <div>
    <div>
      <button class="btnSend3" ng-click='selectInscriptions(model.filters)'> <i class="fa fa-times"></i> Cerrar</button>
    </div>
  </div>

</div>
