
<div class="contentFilters">

  <div class="subContentFilters">
      <div class="contentFiltersLeft">

          <div class="titleFilters">
              <b> <i class="fa fa-sliders"></i> FILTROS DISPONIBLES </b>
          </div>
          <hr>

          <div class="itemsFilters">
            <div class="subItemsFilters">
                <div class="textItemFilters"><i class="fa fa-calendar-o"></i> Fecha de Inscripción</div>
                <select class="inputFilters">
                    <option value="Todos">Todos</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                </select>
            </div>
            <div>
                <button class="btnItems"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

          <div class="itemsFilters">
            <div class="subItemsFilters">
                <div class="textItemFilters"><i class="fa fa-graduation-cap"></i> Carrera</div>
                <select class="inputFilters">
                    <option ng-repeat="degree in view.degrees" value="degree.value">{{degree.name}}</option>
                </select>
            </div>
            <div>
                <button class="btnItems"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

          <div class="itemsFilters">
            <div class="subItemsFilters">
                <div class="textItemFilters"><i class="fa fa-suitcase"></i> Oferta laboral</div>
                <select class="inputFilters">
                    <option value="Todos">Todos</option>
                    <option value="pasantia">Pasantía</option>
                    <option value="fulltime">Full-Time</option>
                    <option value="jp">Jovenes Profesionales</option>
                </select>
            </div>
            <div>
                <button class="btnItems"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

          <div class="itemsFilters">
            <div class="subItemsFilters">
              <div class="textItemFilters"> <i class="fa fa-venus-mars"></i> Sexo </div>
              <select class="inputFilters">
                  <option value="Todos">Todos</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                  <option value="Otros">Otros</option>
              </select>
            </div>
            <div>
                <button class="btnItems"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>



          <div class="itemsFilters">
            <div class="subItemsFilters">
                <div class="textItemFilters">
                  <i class="fa fa-building-o"></i> Ciudad de Residencia
                </div>
                <select class="inputFilters" n name='residence_city'>
                  <option class="selectGrey" disabled selected style='display:none;'>Seleccionar</option>
                  <option>Casco Urbano (LP)</option>
                  <option>City Bell (LP)</option>
                  <option>Villa Elisa (LP)</option>
                  <option>City Bell (LP)</option>
                  <option>Gonnet (LP)</option>
                  <option>Tolosa (LP)</option>
                  <option>Ringuelet (LP)</option>
                  <option>Barrio Jardin (LP)</option>
                  <option>Barrio Hipódromo (LP)</option>
                  <option>Los Hornos (LP)</option>
                  <option>Etcheverry (LP)</option>
                  <option>Lisandro Olmos (LP)</option>
                  <option>El Retiro (LP)</option>
                  <option>Abasto (LP)</option>
                  <option>Melchor Romero (LP)</option>
                  <option>Las Malvinas (LP)</option>
                  <option>La Cumbre (LP)</option>
                  <option>Las Quintas (LP)</option>
                  <option>Gambier (LP)</option>
                  <option>Parque Sicardi (LP)</option>
                  <option>Villa Montoro (LP)</option>
                  <option>Rufino de Elizalde (LP)</option>
                  <option>Villa Elvira (LP)</option>
                  <option>El Carmen (LP)</option>
                  <option>Arana (LP)</option>
                  <option>Villa Garibaldi (LP)</option>
                  <option>Casco Urbano (LP)</option>
                  <option>José Hernandez (LP)</option>
                  <option>Gorina (LP)</option>
                  <option>Arturo Segui (LP)</option>
                  <option>El Peligro</option>
                  <option>Capital Federal</option>
                  <option>Berisso</option>
                  <option>Ensenada</option>
                  <option>Chascomús</option>
                  <option>Quilmes</option>
                  <option>Magdalena</option>
                  <option>Berazategui</option>
                  <option>Avellaneda</option>
                  <option>Florencio Varela</option>
                  <option>Otro</option>

                </select>
            </div>
            <div>
                  <button class="btnItems"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>


          <div class="itemsFilters">
            <div class="subItemsFilters">
                <div class="textItemFilters">
                  <i class="fa fa-building-o"></i> Ciudad de Origen
                </div>
                <select class="inputFilters" n name='residence_city'>
                  <option class="selectGrey" disabled selected style='display:none;'>Seleccionar...</option>
                  <option>Casco Urbano (LP)</option>
                  <option>City Bell (LP)</option>
                  <option>Villa Elisa (LP)</option>
                  <option>City Bell (LP)</option>
                  <option>Gonnet (LP)</option>
                  <option>Tolosa (LP)</option>
                  <option>Ringuelet (LP)</option>
                  <option>Barrio Jardin (LP)</option>
                  <option>Barrio Hipódromo (LP)</option>
                  <option>Los Hornos (LP)</option>
                  <option>Etcheverry (LP)</option>
                  <option>Lisandro Olmos (LP)</option>
                  <option>El Retiro (LP)</option>
                  <option>Abasto (LP)</option>
                  <option>Melchor Romero (LP)</option>
                  <option>Las Malvinas (LP)</option>
                  <option>La Cumbre (LP)</option>
                  <option>Las Quintas (LP)</option>
                  <option>Gambier (LP)</option>
                  <option>Parque Sicardi (LP)</option>
                  <option>Villa Montoro (LP)</option>
                  <option>Rufino de Elizalde (LP)</option>
                  <option>Villa Elvira (LP)</option>
                  <option>El Carmen (LP)</option>
                  <option>Arana (LP)</option>
                  <option>Villa Garibaldi (LP)</option>
                  <option>Casco Urbano (LP)</option>
                  <option>José Hernandez (LP)</option>
                  <option>Gorina (LP)</option>
                  <option>Arturo Segui (LP)</option>
                  <option>El Peligro</option>
                  <option>Capital Federal</option>
                  <option>Berisso</option>
                  <option>Ensenada</option>
                  <option>Chascomús</option>
                  <option>Quilmes</option>
                  <option>Magdalena</option>
                  <option>Berazategui</option>
                  <option>Avellaneda</option>
                  <option>Florencio Varela</option>
                  <option>Otro</option>

                </select>
            </div>
            <div>
                  <button class="btnItems"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>


          <div class="itemsFilters">
            <div class="subItemsFilters">
                <div class="textItemFilters"><i class="fa fa-plane"></i> Viajar</div>
                <select class="inputFilters">
                    <option value="Todos">Todos</option>
                    <option value="S">Sí</option>
                    <option value="No">No</option>

                </select>
            </div>
            <div>
                <button class="btnItems"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

          <div class="itemsFilters">
              <div class="subItemsFilters">
                  <div class="textItemFilters"><i class="fa fa-bullhorn"></i> Idioma</div>
                  <select class="inputFilters">
                      <option value="ingles">Ingles</option>
                      <option value="portugues">Portugues</option>
                  </select>
                  <select class="inputFilters">
                      <option value="basico">Basico</option>
                      <option value="intermedio">Intermedio</option>
                      <option value="avanzado">Avanzado</option>
                  </select>
              </div>
              <div>
                  <button class="btnItems"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
              </div>
          </div>


          <div class="itemsFilters">
              <div class="subItemsFilters">
                  <div class="textItemFilters"><i class="fa fa-calculator"></i> Cantidad de Materias</div>
                  <input class="inputCant" type="text" placeholder="00"></input>
              </div>
              <div>
                  <button class="btnItems"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
              </div>
          </div>

          <div class="itemsFilters">
              <div class="subItemsFilters">
                  <div class="textItemFilters"><i class="fa fa-calculator"></i> Promedio con aplazos</div>
                  <input class="inputCant" type="text" placeholder="00"></input>
              </div>
              <div>
                  <button class="btnItems"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
              </div>
          </div>

          <div class="itemsFilters">
              <div class="subItemsFilters">
                  <div class="textItemFilters"><i class="fa fa-calculator"></i> Promedio sin aplazos</div>
                  <input class="inputCant" type="text" placeholder="00"></input>
              </div>
              <div>
                  <button class="btnItems"> Agregar <i class="fa fa-arrow-circle-right"></i></button>
              </div>
          </div>




      </div>

      <div class="iconArrows">
        <i class="fa fa-exchange fa-2x"></i>
      </div>

      <div class="contentFiltersRight">
        <div class="titleFilters">
            <b> <i class="fa fa-sliders"></i> FILTROS ACTIVOS </b>
        </div>
        <hr>

        <div class="listFiltersAssets">

            <div class="itemsFilters">
              <div class="subItemsFilters2">
                  <div class="textItemFilters">Fecha de Inscripción</div>
                  <div class="textItemFilters"><b>2016</b></div>
              </div>
              <div>
                  <button class="btnItems2"> <i class="fa fa-trash"></i></button>
              </div>
            </div>

            <div class="itemsFilters">
              <div class="subItemsFilters2">
                  <div class="textItemFilters">Carrera</div>
                  <div class="textItemFilters"><b>Contador Público</b></div>
              </div>
              <div>
                  <button class="btnItems2"> <i class="fa fa-trash"></i></button>
              </div>
            </div>

            <div class="itemsFilters">
              <div class="subItemsFilters2">
                  <div class="textItemFilters">Oferta Laboral</div>
                  <div class="textItemFilters"><b>Pasantía</b></div>
              </div>
              <div>
                  <button class="btnItems2"> <i class="fa fa-trash"></i></button>
              </div>
            </div>


        </div>

      </div>
  </div>

  <div>

    <div>
      <button class="btnSend3" ng-click='selectInscriptions()'> <i class="fa fa-times"></i> Cerrar</button>
    </div>

  </div>

</div>
