.search {
  height:100%;
  width:100%;
  position:absolute;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin:0px;
  background-color: #eee;
}

/************************************************
********* INICIO PANTALLA RESULTADOS ************
************************************************/

.search .header {
  width: 82%;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.search .searchContainer{
  background-color:white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px 2px 0px 2px;
  -webkit-border-radius:2px 2px 0px 2px;
  -moz-border-radius:2px 2px 0px 2px;
  width: 79%;
  height: 79%;
  margin: 0px 20px 0px 20px;
  overflow-x: scroll;
}

.search .fileTitles {
  background-color: #5C5F69;
  color:white;
  cursor: pointer;
}

.search .Select, .dates {
  width: 25px;
  margin-left: 1px;
  padding: 2px;
}

.search .name, .city, .city2, .mail, .career {
  width: 200px;
  margin-left: 1px;
  padding: 2px;
}

.search .age,  .travel,  .cousers, .average, .average2   {
  width: 50px ;
  margin-left: 1px;
  padding: 2px;
}

.search .portugues, .english, .other, .sex, .dni, .registration {
  width: 80px ;
  margin-left: 1px;
  padding: 2px;
}

.search .program {
  width: 150px ;
  margin-left: 1px;
  padding: 2px;
}

.search .selectProgram {
  width: 150px ;
  margin-left: 1px;
  background-color: #5C5F69;
  padding: 2px;
  font-size: 14px;
  border: none;
  color: white;
}

.search .fileResults {
  color:#28292D;
  font-size: 12px;
  cursor: pointer;
}

.search .fileResults:hover {
  background-color: #77797f;
  color:white;
}

.search .searchResults {
}

.search .searchResults table:nth-child(even) { background: #EEE }
.search .searchResults table:nth-child(odd) { background: #DBE2E5}

.search .btnSend {
  margin: 20px;
  padding: 10px;
  width: 200px;
  font-size: 14px;
  background-color: #275276;
  cursor: pointer;
  border: none;
  color: white;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px 2px 0px 2px;
  -webkit-border-radius:2px 2px 0px 2px;
  -moz-border-radius:2px 2px 0px 2px;
}

.search .btnFilters {
  margin: 20px;
  padding: 10px;
  width: 100px;
  font-size: 14px;
  background-color: #DBE2E5;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px 2px 0px 2px;
  -webkit-border-radius:2px 2px 0px 2px;
  -moz-border-radius:2px 2px 0px 2px;
}

.search .btnFilters:hover {
  background-color: #275276;
  color:white;
}

.search .btnSend:hover {
  background-color: #0066A6;
  color:white;
}

.search .btnUserSelect {
  margin: 20px;
  padding: 10px;
  width: 200px;
  font-size: 14px;
  background-color: #DBE2E5;
  border: none;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px 2px 0px 2px;
  -webkit-border-radius:2px 2px 0px 2px;
  -moz-border-radius:2px 2px 0px 2px;
}


/************************************************
*********** FIN PANTALLA RESULTADOS *************
************************************************/

/************************************************
********** INICIO PANTALLA EMPRESAS *************
************************************************/

.search .business {
  position: absolute ;
  background-color: rgba(0, 0, 0, 0.9);;
  width: 100%;
  height: 100%;
  top:-100%;

}

.search.screenBussines.screenSelectBusiness .business,
.search.screenBussines.screenSendBusiness .business,
.search.screenBussines.screenSending .business,
.search.screenBussines.screenSent .business {
  position: absolute ;
  background-color: rgba(0, 0, 0, 0.9);;
  width: 100%;
  height: 100%;
  top:0 !important;
}

.search .contentBusines, .sendBusines, .sending, .sent {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translate3d(0,-100%,0);
  transition: all 0.4s ease-in-out;
}

.search.screenBussines .contentBusines, .sendBusines, .sending, .sent {
  transform: translate3d(0,0,0);
  transition: all 0.4s ease-in-out;
}

.search .businessList, .contentSendBusines, .contentSending, .contentSent {
  width: 400px;
  height: 300px;
  background: #EEE;
  border-radius: 3px;
  overflow-y: scroll;
  padding: 10px;
}

.search .infoBussines {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  margin: 10px;
  background-color: white;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
  border-radius:2px 2px 0px 2px;
  -webkit-border-radius:2px 2px 0px 2px;
  -moz-border-radius:2px 2px 0px 2px;
  cursor: pointer;
}

.search .textBussines {
  margin-left: 20px;

}

/*Cuando esta la pantalla de seleccion de empresas:
la pantalla sendBusines, sending y sent no se muentran*/
.search.screenBussines.screenSelectBusiness .sendBusines,
.search.screenBussines.screenSelectBusiness .sending,
.search.screenBussines.screenSelectBusiness .sent {
  display: none;
}


/*Cuando esta la pantalla lista para enviar a la empresa elejida,
la pantalla contentBusines, sendBusines y sent no se muentran*/
.search.screenBussines.screenSendBusiness .contentBusines,
.search.screenBussines.screenSendBusiness .sending.
.search.screenBussines.screenSendBusiness .sent {
  display: none;
}


/*Cuando esta la pantalla enviando,
la pantalla contentBusines, sendBusines y sent no se muentran*/
.search.screenBussines.screenSending .contentBusines,
.search.screenBussines.screenSending .sendBusines,
.search.screenBussines.screenSending .sent {
  display: none;
}

/*Cuando esta la pantalla enviado,
la pantalla contentBusines, sendBusines y sending no se muentran*/
.search.screenBussines.screenSent .contentBusines,
.search.screenBussines.screenSent .sendBusines,
.search.screenBussines.screenSent .sending {
  display: none;
}





/************************************************
************ FIN PANTALLA EMPRESAS **************
************************************************/
