<table style="width:100%">
	<tr>
		<th>NOMBRES</th>
		<th>APELLIDOS</th>
		<th>DNI</th>    
		<th>EMAIL</th> 
		<th>OPCIONES</th> 
	</tr>
	<tr ng-repeat="account in accounts" ng-click="selectAccount(account.id)" id="{{'account'+account.id}}">
		<td>{{account.name}}</td>
		<td>{{account.lastname}}</td> 
		<td>{{account.dni}}</td>
		<td>{{account.email}}</td>
		<td>
			<button ng-click="approveAccount(account.id)">Aprobar</button>
		</td>
	</tr>
</table>
<button ng-click="approveSelectedAccounts()">Aprobar seleccionados</button>
