.login {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 400px;
  background-color: black;
}

.login .principal {
  display: none;
}




/***************************** HEADER ********************************/

.login .header {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  height: 60px;
  background-color: #28292D;
  color:white;
  z-index: 999;
}

.login .logo {
  margin-left: 10px;
}

.login .header button {
  background: none;
  border:none;
  color: white;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.login .notification {
  background-color: #EC9122 !important;
  position: absolute;
  font-size: 12px !important;
  border-radius: 10px;
  z-index: 999;
  right: 70px;

}

.login .notification2 {
  background-color: #E43E46 !important;
  position: absolute;
  font-size: 12px !important;
  border-radius: 10px;
  z-index: 999;
  right: 15px;

}

/********************* CONTENEDOR *******************************/

.login .main {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  height: 100%;
  width: 100%;
  /*background-color: #EEEEEE;*/
  /*background-image: url('/views/img/fondo1.jpg');*/
  resize: none;
}

.login .video {
  position: absolute;
  width: 1920px;
  height: 1080px;
  z-index: -999;
  resize: none;
}



.login .contentLogin {
  border: 10px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.3em;
  z-index: 999;
  width: 280px;
}

.login .user {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  background-color: white;
  height: 300px;
  border: 1px solid #EEEEEE;
}

.login .contentAvatars {
  position: relative;

}

.login .contentAvatar {
  position: relative;  top: 0px;
}

.login .contentAvatarUser {
  position: absolute;  top: 0px;
}

.login.screenUser .contentAvatarUser {
  opacity:  0 !important;
}

.login.screenPassword .contentAvatarUser {
  opacity:  1 !important;
  -webkit-transition-duration:0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: .0.3s;
}

.login .avatar {
  width: 100px;
  height: 100px;
  background-color: #EEEEEE;
  border-radius: 100px;
  border: 1px solid #d3cdcd;
}

.login .textUser {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  color:#28292D;
  width: 100%;
}

.login .contentPassword {
  width: 80%;
}

.login .inputPassword, .inputUser {
  padding: 5px;
  width: 210px;
  font-size: 16px;

  border: 1px solid #d3cdcd;
  background-color: #EEEEEE;
}

.login .textPasswordError {
  color: #E43E46;
  font-size: 12px;
}

.login .btnPassword, .btnNext {
  padding: 8px;
  width: 224px;
  font-size: 14px;
  background-color: #0066A6;
  color: white;
  border: 1px solid #EEEEEE;
  cursor: pointer;
  margin-top: 5px;
}

.login .btnPassword:hover, .btnNext:hover {
  background-color: #075382;
}

.login .textNoPuedoAcceder {
  font-size: 12px;
  color: #0066A6;
  cursor: pointer;
}


/********************* FOOTER **********************************/

.login .footer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  height: 20px;
  background-color: #28292D;
  color: #DBE2E5;
  font-size: 10px;
  padding-left: 5px;
  z-index: 999;
}


/*********************** VISTAS *****************************/

.login.screenUser .contentTextUserName,
.login.screenUser .contentInputPassword,
.login.screenUser .contentBtnPassword {
    display: none;
}
.login.screenUser .textPasswordError {
  display: none;
}

.login.screenPassword .contentTextUser,
.login.screenPassword .contentInputUser,
.login.screenPassword .contentBtnNext {
    display: none;
}
.login.screenPassword .textPasswordError {
  display: none;
}

.login.screenPasswordError .textPasswordError {

}
/******************** MEDIA QUERIS ***************************/

@media (max-width: 720px){
  .login .footer {
      display: none;
  }

  .login .video {
    display: none;
  }

}

@media (max-height: 500px){
  .login .footer {
      display: none;
  }
  .login .video {
    display: none;
  }
}

/*****************************************************************
*****************  NOTIFICACIONES ********************************
*****************************************************************/



/*********** SERVER ******************/

.login.verServerConectado .access {
  display: none;
}

.login .serverDesconectado {
  position: absolute;
  width: 300px;
  height: 0px;
  background-color: none;
  z-index: 999;
  top: 35px;
  right: 10px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.login.verServerDesconectado .serverDesconectado {
  height: 120px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.login .textReconectando {
  font-size: 12px;
}


.login .arrowServer {
  color: #E43E46;
  height: 12px;
  margin-left: 270px;
}

.login .headerServer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  background-color: #E43E46;
  height: 60px;
  border-radius: 5px 5px 0px 0px;
  color: white;
  font-size: 20px;
}

.login .contentServer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  background-color: #EEEEEE;
  height: 100%;
  font-size: 20px;
  color: #3A3C44;
  box-shadow: 1px 1px 5px #5c5f69;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;
}
