<!-- <div class="login {{view.classScreen}}  {{view.classConnection}} usuarioNoExiste"> -->
  <!-- VARIABLES 1: screenUser, screenPassword -VARIABLES 2:  verServerDesconectado, verServerConectado - VARIABLES 3: ocultarError-->
<div class="login {{view.classScreen}}  {{view.classConnection}} {{view.classError}}">
   <!-- Variables 1: screenUser, screenPassword -Variables 2:  verServerDesconectado, verServerConectado-->


  <div class="contentHeader" ng-include="'modules/header/header.html'"></div>

    <video loop muted autoplay class="video" >
            <source class="video2" src="img/video.mp4" type="video/mp4" width="100%" height="100%">
    </video>

    <div class="main">

        <div class="contentLogin">
            <div class="user">
                <div class="contentAvatarAndNAme">
                    <div class="contentAvatars">
                        <div class="contentAvatar">
                          <img class="avatar" src="modules/img/imgUser.jpg" >
                        </div>
                        <div class="contentAvatarUser">
                          <img class="avatar" ng-src='{{getUserPhoto()}}' alt="foto de perfil"/>
                        </div>
                    </div>
                    <div class="contentTextUser">
                        <div class="textUser">
                            Usuario
                        </div>
                    </div>
                    <div class="contentTextUserName">
                        <div class="textUser">
                            {{model.user.name}} {{model.user.lastname}}
                        </div>
                    </div>

                </div>

                <div class="contentPassword">
                    <form name="formUser" ng-submit="sendUsername()">

                      <div class="contentInputUser">
                        <input ng-model="model.username" class="inputUser" type="text" placeholder="Número de documento" autofocus moo-focus-expression="view.focus == 'inputUser'"></imput>
                      </div>

                      <div class="contentUserNonExistent">
                          <div class="arrow">
                            <i class="fa fa-sort-asc fa-2x"></i>
                          </div>
                          <div class="textUserNonExistent">
                            <i class="fa fa-frown-o"></i> Oops! <span class="textUserNonExistent2"> El usuario no existe</span>
                          </div>
                      </div>

                      <div class="contentBtnNext">
                        <input class="btnNext" type="submit" name="button" value="Siguiente"/>
                      </div>
                    </form>

                    <form name="formPassword" ng-submit="sendPassword()">

                      <div class="contentInputPassword">
                        <input ng-model="model.password" class="inputPassword"  type="password" placeholder="Contraseña" autofocus moo-focus-expression="view.focus == 'inputPassword'"></imput>
                      </div>

                      <div class="contentErrorPassword">
                          <div class="arrow">
                            <i class="fa fa-sort-asc fa-2x"></i>
                          </div>
                          <div class="textUserNonExistent">
                            <i class="fa fa-frown-o"></i> Oops! <span class="textUserNonExistent2"> Contraseña incorrecta</span>
                          </div>
                      </div>

                      <div class="contentBtnPassword">
                        <input class="btnPassword" type="submit" name="button" value="Acceder"/>
                      </div>

                    </form>

                </div>
                <div class="textNoPuedoAcceder">
                    <a class="textNoPuedoAcceder" href='modules/resetPassword/'>No puedo Ingresar</a>
                </div>
            </div>
        </div>

        <div class="logoFce">
          <img src="img/fce_logo.png" >
        </div>

    </div>

    <div class="serverDesconectado">
      <div class="arrowServer">
        <i class="fa fa-sort-asc fa-2x"></i>
      </div>
      <div class="headerServer">
        <i class="fa fa-server"></i> &nbsp; Estado del servidor
      </div>
      <div class="contentServer">
        <div><i class="fa fa-cog fa-spin fa-2x"></i></div>
        <div>Servidor desconectado</div>
        <div class="textReconectando">Reconectando, por favor espere...</div>
      </div>
    </div>

    <div class="contentFooter" ng-include="'modules/footer/footer.html'"></div>


</div>
