.header {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #28292D;
  color:white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header .logo {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
}

.header .imgLogo {
  margin-left: 10px;
}

.header .access {
  width: 100%;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
}

.header .myAccess {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-around;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.header .textUser {
  font-size: 12px;
  margin-right: 5px;
}

.header .arrawPerfil {
  color:#5C5F69;
}


.header button {
  background: none;
  border:none;
  color: white;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}

.header button:hover {
  text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF1177,
               0 0 35px #FF1177,
               0 0 40px #FF1177,
               0 0 50px #FF1177,
               0 0 75px #FF1177;
}



.header .myProfile {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  cursor: pointer;
  margin-right: 10px;
}


.header .imgUserRecent {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}


.header .systemas {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  background-color: red;
  top:60px;
  left: 0;
  z-index: 999;
  display: none;
}

.header .notiCantChat {
  animation: alfa 2s infinite;
  position: absolute;
  width: 10px;
  height: 10px;
  font-size: 9px;
  background-color: #EC9122;
  border-radius: 100%;
  padding: 2px;
  top: 15px;
  margin-left: 5px;
}

@keyframes alfa {
  0% {
    box-shadow: 0 0 5px #27282C,
                 0 0 10px #27282C,
                 0 0 15px #27282C,
                 0 0 20px #27282C;
  }
  50% {
    box-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FF1177;
  }
  100% {
    box-shadow: 0 0 5px #27282C,
                 0 0 10px #27282C,
                 0 0 15px #27282C,
                 0 0 20px #27282C;
  }
}

@media (max-width: 719px){
  .header .logo {
    display: none;
  }

  .header .access {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;

  }

  .header .myProfile {
    margin-left: 10px;
  }

}
