.headerFce {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #28292D;
  color:white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.headerFce .logo {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
}

.headerFce .imgLogo {
  margin-left: 10px;
}

.headerFce .access {
  width: 100%;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
}

.headerFce .myProfile {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  margin-right: 10px;
  cursor: pointer;
}

.headerFce .imgUserRecent {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.headerFce .textUser {
  font-size: 12px;
  margin-right: 5px;
}

.headerFce .arrawPerfil {
  color:#5C5F69;
}


.headerFce .myProfileOpen {
  position: absolute;
  height: 0px;
  background-color: none;
  z-index: 999;
  top: -300px;
  opacity: 0;
  margin: 0px;
  margin-left: -150px
}

.headerFce.verPerfil .myProfileOpen {
    animation: mostrarChat .3s;
    height: 193px;
    top: 40px;
    opacity: 1;
}

.headerFce .arrowProfile {
  color: #DBE2E5;
  height: 11px;
  margin-left: 5px;
}

.headerFce .contentProfile {
  background-color: #DBE2E5;
  border-radius: 5px 5px 0 0;
  margin: 0;
  color: #28292D;
  margin-top: -3px;
  font-size: 14px;
  border: 1px solid #d2d8db;
}

.headerFce .itemProfile0 {
  padding: 5px 20px 5px 10px;
  border-radius: 5px 5px 0 0;
}

.headerFce .itemProfile {
  padding: 5px 20px 5px 10px;
}

.headerFce .itemProfile:hover {
  cursor: pointer;
  background-color: #C7D1D6;
}

.headerFce .itemProfile0:hover {
  cursor: pointer;
  background-color: #C7D1D6;
}


.headerFce .links {
  text-decoration: none;
}
.headerFce .links:link {color:#28292D;}
.headerFce .links:visited {color:#28292D;}
.headerFce .links:active {color:#28292D;}
.headerFce .links:hover {color:#28292D;}



.headerFce .myAccess {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-around;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.headerFce button {
  background: none;
  border:none;
  color: white;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}

.headerFce button:hover {
  text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FF1177,
               0 0 35px #FF1177,
               0 0 40px #FF1177,
               0 0 50px #FF1177,
               0 0 75px #FF1177;
}

.headerFce .systemas {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  background-color: red;
  top:60px;
  left: 0;
  z-index: 999;
  display: none;
}

.headerFce .notiCantMessage {
  animation: alfa 2s infinite;
  position: absolute;
  width: 10px;
  height: 10px;
  font-size: 9px;
  background-color: #E43E46;
  border-radius: 100%;
  padding: 2px;
  top: 15px;
  margin-left: 5px;
  -webkit-animation-delay: .3s; /* Chrome, Safari, Opera */
  animation-delay: .3s;

}

.headerFce .notiCantChat {
  animation: alfa 2s infinite;
  position: absolute;
  width: 10px;
  height: 10px;
  font-size: 9px;
  background-color: #E43E46;
  border-radius: 100%;
  padding: 2px;
  top: 15px;
  margin-left: 5px;
}

@keyframes alfa {
  0% {
    box-shadow: 0 0 5px #27282C,
                0 0 10px #27282C,
                0 0 15px #27282C,
                0 0 20px #27282C;
  }

  50% {
    box-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #fff,
                0 0 20px #FF1177;
  }
  100% {
    box-shadow: 0 0 5px #27282C,
                0 0 10px #27282C,
                0 0 15px #27282C,
                0 0 20px #27282C;
  }
}

.headerFce .btnChat.sinNoti .notiCantChat {
  display: none;
}

.headerFce .btnNotifications.sinNoti .notiCantMessage {
  display: none;
}

.headerFce .btnServer {
  display: none;
}

.headerFce.serverDesconectado .btnServer {
  display: block;
}

.headerFce.serverDesconectado .myProfile,
.headerFce.serverDesconectado .btnChat,
.headerFce.serverDesconectado .btnNotifications,
.headerFce.serverDesconectado .btnMySystems,
.headerFce.serverDesconectado .btnOut {
  display: none;
}

/*ESTADO DEL SERVIDOR*/

.headerFce .contentServerDisconnected{
  position: absolute;
  width: 280px;
  height: 0px;
  background-color: none;
  z-index: 999;
  right: 10px;
  top: -300px;
  opacity: 0;
}

.headerFce.serverDesconectado .contentServerDisconnected{
  animation: mostrar .3s;
  height: 200px;
  top: 40px;
  opacity: 1;
}

.headerFce .arrowServer {
  color: #E43E57;
  height: 11px;
  margin-left: 255px;
}

.headerFce .headerServer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  background-color: #E43E57;
  height: 40px;
  border-radius: 5px 5px 0px 0px;
  color: white;
  font-size: 16px;
}

.headerFce .contentServer {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  background-color: #EEEEEE;
  height: 100%;
  font-size: 20px;
  color: #3A3C44;
  box-shadow: 1px 1px 5px #5c5f69;
  -webkit-box-shadow: 1px 1px 5px #5c5f69;
  -moz-box-shadow: 5px 5px 5px #5c5f69;

}

.headerFce .textReconectando {
  font-size: 12px;
}

/*CHAT*/

@keyframes mostrarChat {
  0% {
    height: 0px;
    top: -300px;
    opacity: 0;

  }
  1% {
    top: 40px;
    opacity: 0;
  }
  100% {
    height: 193px;
    top: 40px;
    opacity: 1;
  }

}


.headerFce .contentChat {
  position: absolute;
  width: 300px;
  height: 0px;
  background-color: none;
  z-index: 999;
  right: 20px;
  top: -300px;
  opacity: 0;
}

.headerFce.verChat .contentChat {
    animation: mostrarChat .3s;
    height: 193px;
    top: 40px;
    opacity: 1;
}

.headerFce .contentChats {
  border: 1px solid #C7D1D6;
  background-color: #E5E5E5;
  height: 100%;
  font-size: 14px;
  color: grey;
  padding: 10px;
  overflow-y: auto;
}



.headerFce .arrowChat{
  color: #EC9122;
  height: 12px;
  margin-left: 140px;
}

.headerFce .headerChat {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  background-color: #EC9122;
  height: 40px;
  color: white;
  font-size: 16px;
  border-radius: 5px 5px 0 0;
}

.headerFce .chat {
  width: 100%;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column;
  -moz-flex-direction:column;
  background-color: #FFFFFF;
  color: #28292D;
  margin-bottom: 15px;
  border-left: 3px solid #ec9122;
}

.headerFce .chat:hover {
  background-color: #f4f4f4;
}

.headerFce .infoUser {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  margin: 10px 15px 10px 15px;
}

.headerFce .textNewMessage {
  color: #ec9122;
}

.headerFce .textViewChat {
  color:#5c5f69;
}

.headerFce .btnTrash {
  background-color: #E5E5E5;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  color: #5c5f69;
}

.headerFce .btnTrash:hover {
  background-color: #5C5F69;
  color: white;
  cursor: pointer;
}

.headerFce .itemChat.chatNoLeido .textViewChat {
  display: none;
}

.headerFce .itemChat.chatLeido .textNewMessage {
  display: none;
}

.headerFce .itemChat.chatLeido .chat {
  border-left: 3px solid #C7D1D6;
}




/*NOTIFICACIONES*/

.headerFce .notificaciones {
  position: absolute;
  width: 300px;
  height: 0px;
  background-color: none;
  z-index: 999;
  right: 20px;
  top: -300px;
  opacity: 0;
}

.headerFce.verNotificaciones .notificaciones {
    animation: mostrar .3s;
    height: 200px;
    top: 40px;
    opacity: 1;
}

@keyframes mostrar {
  0% {
    height: 0px;
    top: -300px;
    opacity: 0;

  }
  1% {
    top: 40px;
    opacity: 0;
  }
  100% {
    height: 200px;
    top: 40px;
    opacity: 1;
  }

}


.headerFce .arrowNoti {
  color: #E43E46;
  height: 12px;
  margin-left: 189px;
}

.headerFce .headerNoti {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  background-color: #E43E46;
  height: 40px;
  color: white;
  font-size: 16px;
  border-radius: 5px 5px 0 0;
}

.headerFce .closeNoti {
  cursor: pointer;
  /*background-color: #bc2025;*/
  padding: 3px;
}

.headerFce .contentNoti {
  border: 1px solid #C7D1D6;
  background-color: #E5E5E5;
  height: 100%;
  font-size: 14px;
  color: grey;
  padding: 10px;
  overflow-y: auto;
}

.headerFce .noti {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  background-color: #FFFFFF;
  color: #28292D;
  margin-bottom: 15px;

}

.headerFce .notification.notiSinLeer .noti:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}




.headerFce .notification.notiSinLeer .noti {
  border-left: 3px solid  #5C5F69;
}

.headerFce .notification.notiLeida .noti {
  border-left: 3px solid  #C7D1D6;
  color: #C7D1D6;

}



.headerFce .textNoti {
  padding: 5px 10px 5px 10px;
  font-size: 12px;
  width: 300px;
}


@media (max-width: 719px){

  .headerFce .logo {
    display: none;
  }

  .headerFce.serverDesconectado .logo {
    display: block !important;
  }

  .headerFce.serverDesconectado .access {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
  }

  .headerFce .access {
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
  }

  .headerFce .myProfile {
    margin-left: 10px;
  }


  .headerFce.verPerfil .myProfileOpen {
    left: 200px;
  }


}

@media (min-width: 1800px){

}
