<div class="listEmails">
  <h3><i class=" titleSearch fa fa-envelope-o" aria-hidden="true"></i> Correo Electrónico</h3>



<table class="table table-striped table-bordered table-hover">
   <thead>
     <tr>
       <th>Email</th>
       <th>Confirmación</th>
       <th>Opciones</th>
     </tr>
   </thead>
   <tbody>
     <tr ng-repeat="email in emails">
       <td>{{email.email}}</td>
       <td>
         <input type="checkbox" class="" ng-model="email.confirmed" ng-disabled="component.disabled" ng-click="confirmEmail($index)" ng-disabled="component.disabled">
         <a ng-click="sendConfirmation(email)" class="btnEdit btn btn-primary btn-xs">Enviar Confirmación</a></td>
       </td>
       <td><button type="button" class="btn btn-sm btn-danger" ng-click="deleteEmail($index)">Eliminar</button>


     </tr>
   </tbody>
 </table>

<button type="button" ng-click="addEmail()" class="btn btn-primary">Agregar correo</button>{{component.message}}
<button type="button" class="btn btn-default" ng-click="back()">Volver</button>

<div ng-show="alerts.length > 0" ng-click="closeAllAlerts()"> Cerrar todos los mensajes</div>
<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">
  <h4><strong>{{alert.title}}</strong></h4> <p>{{alert.msg}}</p>
</div>
</div>
