body {
  overflow-x:hidden;
  overflow-y:hidden;
}

.solicitudes {
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

.botonApretado {
  transform: translate3d(0,-250px,0);
  -moz-transform: translate3d(0,-250px,0);
}

.nuevasSolicitudes {
  transform: translate3d(0,-230px,0);
  -webkit-transition: all 0.2s ease-in-out;
}


.ocultarNuevasSolicitudes {

  transform: translate3d(0,0,0);
  opacity: 0.5;
}
