<!DOCTYPE html>
<html lang="es">

<head>
    <title>Código de Activación</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html;
        charset=iso-8859-1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>



<body style="margin: 0px; padding: 0px; width: 100%; height: 100%; background-color: white; font-family: 'Calibri','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
  <div style="width: 600px; height: 100%; margin: 0 auto;">
      <div style="width: 100%; height: 25px; background-color: #e5e4e4;">

      </div>
      <div style="width:100%">

        <div style=" border-bottom:1px solid #E5E4E4;">
          <h2  style="margin: 10px 0px 0px 10px; font-size: 1.5em; color:#92AD17;">¡Hola!</h2>
          <div style="font-size:2em; margin-left:10px;"> <b>###NAME### ###LASTNAME###</b></div>
          <div style="font-size:18px; margin-left:10px;"> Aquí te enviamos el código de activación para el cambio de clave de tu cuenta </div>
        </div>

          <br>


        <div style="font-size: 1.5em; margin: 0 auto; width:100%;  text-align: center; margin-top:20px;">
          <b>CÓDIGO DE ACTIVACIÓN</b>
        </div>
        <div style="font-size: 3em; background-color:#92AD17; color:white; width:40%; padding: 5px; margin: 0 auto; text-align: center; margin-bottom:20px;">
          <b>###CODE###</b>
        </div>

        <br>

        <div style="margin-bottom: 20px; text-align:center">
          <img src="http://www.ingreso.econo.unlp.edu.ar/systems/ingresantes/img/fceLogo.png">
        </div>

      </div>
      <div style="width: 100%; background-color: #e5e4e4; font-size: 10px; color: grey; text-decoration:none; padding: 1px; ">
        <p style="margin:5px 5px 5px 15px;">
        © 2015 | DiTeSi | Dirección de tecnologías y Sistemas Informáticos | Secretaría de Administración y Finanzas <br>Facultad de Ciencias Económicas | UNLP | Calle 6 Nº 777 - 1er Subsuelo | La Plata | Bs. As. <br> Tel: +54 (221) 423-6769/71/72 int. 123 | ditesi@econo.unlp.edu.ar
        </p>
      </div>
  </div>
</body>

</html>
