
.connection {
  align-self: flex-end;
  width: 30%;
  height: 7%;
}

.connection .status {
  overflow: hidden;
  opacity: 0;
}

.connection .connected {
  background-color: back;
  color: red;
  opacity: 1;
}

.connection .disconnected {
  background-color: red;
  color: back;
  opacity: 1;
}
