.library {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.library .header {
  display: none;
  height: 102px;
  width: 100%;
  background: #DBE2E5;
  color: #5C5F69;
}

.library .contentLibrary {
  width: 100%;
  height: 100%;
  background-color: #EEEEEE;
  /*background-color: red;*/
  overflow-y: none;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
}

.library .contentMain {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  height: 97%;
  width: 100%;
  border-right: 2px solid #DBE2E5;
  /*color: white;*/
}

.library .contentInfoList {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  width: 98%;
  height: 84px;
  margin: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: white;
}


.library .contentStatusNew {

  font-size: 12px;
  margin-left: 10px;
  color: #28292D;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
}

.library .cantPerson {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  margin-right: 20px;
}
.library .cantPerson2 {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  margin-right: 20px;
}
.library .cantPerson3 {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  margin-right: 20px;
}

.library .textCantPerson {
  width: 50px;
  font-size: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: white;
  background-color: #92AD17;
  margin-right: 5px;
  text-align: center;
}

.library .textCantPerson2 {
  width: 50px;
  font-size: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: white;
  background-color: #E43E46;
  margin-right: 5px;
  text-align: center;
}

.library .textCantPerson3 {
  width: 50px;
  font-size: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: white;
  background-color: #5C5F69;
  margin-right: 5px;
  text-align: center;
}

.library .contentList {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  width: 98%;
  height: 100%;
  margin: 0px 10px 0 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: white;

}

.library .headerContentList {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  background-color: #DBE2E5;
  color: #5C5F69;
  width: 98%;
  height: 55px;
  border-radius: 3px 3px 0 0 ;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  font-size: 12px;
    margin: 0 0 10px 10px;
}

.library .dataList {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.library .contentFilters {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: center;

}

.library .btnOrder {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  font-size: 14px;
  margin-left: 10px;
  background-color: #EEEEEE;
  width: 25px;
  height: 25px;
  border-radius: 3px 3px 3px 3px ;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

.library .btnOrder:hover {
  background-color: #5C5F69;
  color: white;
  cursor: pointer;
}

.library .btnOrder2 {
  display: block;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  font-size: 13px;
  margin-left: 10px;
  background-color: #5C5F69;
  width: 150px;
  height: 25px;
  border-radius: 3px 3px 3px 3px ;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

.library .btnOrder2:hover {
  background-color: #92AD17;
  color: white;
  cursor: pointer;
}

.library .btnOrder3 {
  display: none;
}

.library .btnSearch {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 40px;
  height: 40px;
  background-color:#8b8c8e;
  color: white;
  margin-left: 15px;
  border-radius: 50px 3px 3px 50px;
  -webkit-border-radius: 50px 3px 3px 50px;
  -moz-border-radius: 50px 3px 3px 50px;
  font-size: 14px;
}

.library .btnSearch:hover {
  background-color: #3a3c44;
  cursor: pointer;
}

.library .btnSearch2 {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 40px;
  height: 40px;
  background-color:#92ad17;
  color: white;
  margin-left: 15px;
  border-radius: 50px 3px 3px 50px;
  -webkit-border-radius: 50px 3px 3px 50px;
  -moz-border-radius: 50px 3px 3px 50px;
  font-size: 14px;
}

.library .btnSearch2:hover {
  background-color: #adc922;
  color: white;
  cursor: pointer;
}

.library.buscar .contentSearch {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  background-color: #3a3c44;
  color: white;
  width: 100%;
  height: 40px;
  border-radius: 3px 3px 0 0 ;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  font-size: 12px;
  animation-name: ancho;
  animation-duration: 0.2s;
}

@keyframes ancho {
  0% {width:  0%}
  100% {width: 100%}
}

.library.buscar.rangoFechas .contentInputDate {
  display: block;
  position: absolute;
  background-color: #3A3C44;
  padding: 20px;
}

.library.buscar.rangoHorario .contentInputTime {
  display: block;
  position: absolute;
  background-color: #3A3C44;
  padding: 20px;
}

.library .contentInputDate {
  display: none;
}

.library .contentInputTime {
  display: none;
}

.library .btnSave {
  background-color: #92AD17;
  color:white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px;
  margin-top: 10px;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.library .btnSave:hover {
  background-color: #adc922;
}


.library.buscar .headerContentList {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
}

.library .contentSearch {
  display: none;
}

.library.buscar .dataList {
  display: none;
}
.library.buscar .contentFilters {
  display: none;
}

.library .subContentSearch {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  width: 100%;
  animation-name: opacidad2;
  animation-duration: 0.2s;
}

@keyframes opacidad2 {
  0% {opacity: 0}
  80% {opacity: 0 }
  100% {opacity: 1}
}

.library .contentItemSearch {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.library .icoSeach {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.library .inputSearch {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 14px;
  padding: 3px;
  width: 150px;
}

.library .textRanck {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  margin-left: 20px;
}

.library .inputTime {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px;
  margin-top:3px;
  margin-bottom: 3px;

}

.library .titleListAccess {
  width: 100%;
  background-color: #c7d1d6;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  font-size: 13px;
  color:#3a3c44;
  padding: 2px 0 2px 0;

}

.library .file1 {
  margin-left: 10px;
  width: 90px;
}
.library .file1b {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  margin-left: 10px;
  width: 90px;
}

.library .file0 {
  width: 25px;
  margin-left: 16px;
}
.library .file2 {
  width: 85px;
}
.library .file2b {
  width: 80px;
}
.library .file3 {
  width: 250px;
}
.library .file4 {
  width: 100px;
}
.library .file5 {

}

.library .listAccess {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

}

.library .itemListAccess {
  width: 100%;
  margin-top: 2px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  font-size: 13px;
  color:#28292D;
  border-bottom: 1px solid #DBE2E5;
  padding: 2px 0 2px 0;

}

.library .inOut {
  margin-left: 5px;
}

.library .itemListAccess.entrada .inOut{
  color: #92AD17;
}

.library .itemListAccess.salida .inOut{
  color: #E43E46;
}

.library .itemListAccess.entrada .out{
  display: none;
}

.library .itemListAccess.salida .in{
  display: none;
}


.library .contentAside {
  width: 30%;
  min-width: 300px;
  height: 97%;
  /*background-color: red;*/
}

.library .contentListAside {
  overflow-y: auto;
  height: 100%;
}

.library .itemAccess {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 10px;
  height: 70px;
  background-color: white;
  animation-name: opacidad;
  animation-duration: 2s;
}

@keyframes opacidad {
  0% {opacity: 0}
  100% {opacity: 100}
}

.library .itemAccess.salida .contentArrow {
    background-color: #E43E46;
}

.library .itemAccess.entrada .contentArrow {
    background-color: #92AD17;
}

.library .itemAccess.entrada .textHora {
    color: #92AD17;
}

.library .itemAccess.salida .textHora {
    color: #E43E46;
}

.library .itemAccess.salida .textIn {
    display: none;
}

.library .itemAccess.entrada .textOut {
    display: none;
}

.library .contentArrow {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 30px;
  height: 100%;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-border-radius:  0 3px 3px 0;
  -webkit-border-radius:  0 3px 3px 0;
  color: #EEEEEE;
}

.library .infoUserAside {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;

}

.library .imgUserAside {
  width: 55px;
  height: 55px;
  margin: 0 10px 0 10px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.library .textHora {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  font-size: 12px;
}

.library .textName {
  color: #28292D;
  font-size: 13px;
}

.library .textDNI {
  color: #5c5f69;
  font-size: 12px;
}

.library .icoClock {
  margin-left: 10px;
}

.library.cargando .listAccess {
  display: none;
}

.library .preload {
  display: none;
}

.library.cargando .preload {
  display: block;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.library .circle {
  color:#d6d4d4;
  margin-bottom: 10px;
}


/******************** MEDIA QUERIS ***************************/

@media (max-width: 719px){
  .library .header {
      display: none;
  }
  .library .cantPerson3 {
    display: none;
  }
  .library .contentLibrary {
    width: 99%;
  }
  .library .contentRangDate {
    display: none;
  }
  .library .file2 {
    display: none;
  }
  .library .file4 {
    display: none;
  }
  .library .file5 {
    display: none;
  }
  .library .in {
    display: none;
  }
  .library .out {
    display: none;
  }
  .library .file1 {
    display: none;
  }
  .library .file1b {
    width: 30px;
  }

  .library {
    overflow-y: hidden;
  }
  .library .contentInfoList {
    height: 50px;
  }
  .library .headerContentList {
    height: 40px;
  }
  .library.buscar.rangoHorario .contentInputTime {
    display: block;
    position: absolute;
    background-color: #3A3C44;
    padding: 20px;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
  }



}

@media (max-width: 950px){
  .library .contentAside {
      display: none;
  }
  .library .contentMain {
    border-right: 0;
  }
  .library .btnOrder3 {
    display: block
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    font-size: 13px;
    margin-left: 10px;
    background-color: #5C5F69;
    width: 50px;
    height: 25px;
    border-radius: 3px 3px 3px 3px ;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
  }

  .library .btnOrder3:hover {
    background-color: #92AD17;
    color: white;
    cursor: pointer;
  }

  .library .btnOrder2 {
    display: none;
  }


}

@media (max-height: 719px){
  .library .header {
      display: none;
  }


}


@media (min-width: 720px){
  .library .file0 {
    display: none;
  }
}

@media (max-width: 1280px){

}
