

.sistema.celular .MenuContent {
  display:none;
}

.sistema.celular .MenuCel {
}

.sistema.celular .main {
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
}


.sistema.full .MenuContent {

}
.sistema.full .MenuCel {
  display:none;
}
