<div class="send {{view.style}}">

  <div class="contentSend">

      <div class="titleSend">
          Envios realizados
      </div>

      <div class="headerSend">
          <div class="date">
            Fecha
          </div>
          <div class="bussines">
            Empresa
          </div>
          <div class="jobs">
            Referencia
          </div>
          <div class="students">
            Postulantes
          </div>
      </div>

      <div class="mainSend">

        <div class="itemSend">
            <div class="itemMin">
                <div class="date">
                  25/01/2016
                </div>
                <div class="bussines">
                    <div class="itemCompany">
                    <div class="contentPhotoRecent">
                      <img class="imgCompanyRecent" src="/systems/laboralInsertion/img/empresa.jpg">
                    </div>
                    <div class="contentDataRecent">
                        <div>
                          <b>Seguros Rivadavia</b>
                        </div>
                        <div>
                          Suc. La Plata
                        </div>
                    </div>
                    </div>
                </div>
                <div class="jobs">
                  Administrativo
                </div>
                <div class="students">
                  15 postulantes
                </div>
                <div class="actions">
                  <button class="btnMax" ng-click="view.style = 'expandirEnvio'"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                  <button class="btnMin" ng-click="view.style = 'minimizarEnvio'"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="itemMax">
                <div class="itemsStudent">
                    <div class="cambiar">
                        Blanco Walter
                    </div>
                    <div class="cambiar">
                        Lic. en economía
                    </div>
                    <div class="cambiar">
                        lllwalterlll@gmail.com
                    </div>
                    <div class="cambiar">
                        221150532505
                    </div>
                </div>
                <div class="itemsStudent">
                    <div class="cambiar">
                        Blanco Walter
                    </div>
                    <div class="cambiar">
                        Lic. en economía
                    </div>
                    <div class="cambiar">
                        lllwalterlll@gmail.com
                    </div>
                    <div class="cambiar">
                        221150532505
                    </div>
                </div>

            </div>
        </div>

      </div>

  </div>

</div>
