<div class="contentOffices">
  <h3 class="titleNewComment"><i class="fa fa-eye"></i> Asignar pedido a: </h3>
  <div class="selectOffice">
    <div data-drag-enabled="false" ui-tree class="contentTreeOffices">
      <ol ui-tree-nodes ng-model="model.offices" id="tree-root">
	<li class="nodeOffice" ng-repeat="office in model.offices" ui-tree-node ng-include="'modules/manageIssues/nodes_assigned_renderer.html'"></li>
      </ol>
    </div>
  </div>

  
  <div class="actions">

    <button class="btnSaveComment" title="Guardar"  ng-click="saveAssigned()" > Guardar</button>
    <button class="btnCancelComment" title="Cancelar" ng-click="cancelAssigned()" ><i class="fa fa-times"></i></button>
  </div>  
</div>
