.createTutoring {
  height: 100%;
  width: 100%;
}

.createTutoring .header {
  height: 102px;
  width: 100%;
  background: #DBE2E5;
  color: #5C5F69;
  padding-left: 50px;
  font-size: 1.5em;
}

/******************************************************
****** INICIO PANTALLA DE CREAR TUTOTRIA **************
*******************************************************/

.createTutoring .contentTutoring {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  background-color: #F1F1F1;
  height: 70%;
  padding: 20px;
}

/******************* CONTENEDOR DE LA IZQUIERDA ***********************/

.createTutoring .contentLeft {
  /*background-color: grey;*/
  width: 380px;
  height: 100%;
  border-right: 1px solid #DBE2E5;
}

/********* INICIO TRANSICIONES DEL CONTENEDOR DE LA IZQUIERDA **********/

.createTutoring .contentNewTutoring {
  height: 100%;
  /*background-color: green;*/
  opacity: 1;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.createTutoring.nuevaTutoria .contentNewTutoring {
  opacity: 0;
  transform: translate3d(0,100%,0);
  -webkit-transform: translate3d(0,100%,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.createTutoring .contentSearch {
  height: 100%;
  /*background-color: blue;*/
  opacity: 0;
  transform: translate3d(0,100%,0);
  -webkit-transform: translate3d(0,100%,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.createTutoring.nuevaTutoria .contentSearch {
  opacity: 1;
  transform: translate3d(0,-100%,0);
  -webkit-transform: translate3d(0,-100%,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

/********* FIN TRANSICIONES DEL CONTENEDOR DE LA IZQUIERDA **********/


/*********** CONTENEDOR NUEVA TUTORIA *************/

.createTutoring .title {
  color: #5C5F69;
}

.createTutoring .inputDate {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid #DBE2E5;
  width: 87%;
  margin: 10px 0 15px 0;
}

.createTutoring .btnCreate {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border:none;
  background-color: #92AD17;
  color: white;
  padding: 10px;
  width: 125px;
  cursor: pointer;
}

.createTutoring .btnCreate:hover {
  background-color: #809612;
}

.createTutoring .btnDelete {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border:none;
  background-color: #e43e46;
  color: white;
  padding: 10px;
  width: 125px;
  cursor: pointer;
}

.createTutoring .btnDelete:hover {
  background-color: #e43e46;
}

/*********** CONTENEDOR BUSCADOR IZQUIERDO *************/

.createTutoring .inputSearch {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 20px;
  padding: 11px;
  border: 1px solid #DBE2E5;
  margin: 10px 0 15px 0;
}

.createTutoring .contentRecentAndTrash {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  width: 250px;
  color: #5C5F69;
  margin-bottom: 5px;
}

.createTutoring .copyRecent, .btnTrashRecent {
  cursor: pointer;
background-color: #EBEBEC;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border: none;
color: #5C5F69;
}

.createTutoring .copyRecent:hover, .btnTrashRecent:hover {
  background-color: #E4E4E6;
}

/******** CONTENEDOR USUARIOS RECIENTES ***********/

.createTutoring .contentRecent {
  height: 74%;
  overflow-y: auto;
  margin-right: 5px;
  padding-right: 5px;
}

.createTutoring .contentUserRecent {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  background-color: #EBEBEC;
  width: 250px;
  height: 65px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.createTutoring .contentUserRecent:hover {
  background-color: #E4E4E6;
}

.createTutoring .contentPhotoRecent {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  width: 65px;
  height: 65px;
  margin-left: 10px;
}

.createTutoring .imgUserRecent {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.createTutoring .contentDataRecent {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  font-size: 13px;
}


/******************* CONTENEDOR DE LA DERECHA ***********************/

.createTutoring .contentRight {
  /*background-color: white;*/
  margin-left: 30px;
  width: 100%;
  height: 100%;
}

/*************** PANTALLA LISTA DE PRESENTES EN LA TUTORÍA **********/

.createTutoring .headerList {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
}

.createTutoring .dataHeader {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
}

.createTutoring .imgTutor {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-left: 10px;
}

.createTutoring .btnCancel {
  cursor: pointer;
background-color: #DBE2E5;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border: none;
color: #5C5F69;
padding: 10px;
}

.createTutoring .btnCancel:hover {
  background-color: #E4E4E6;
}

.createTutoring .listParticipants {
  width: 100%;
  height: 88%;
  padding: 20px;
  margin-top: 20px;
  background-color: #FFF;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-x:auto;
}

.createTutoring .itemUserList {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  border-bottom: 1px solid #DBE2E5;
}

.createTutoring .itemUser {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  /*background-color: #EBEBEC;*/
  width: 300px;
  height: 65px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-right: 10px;
  /*cursor: pointer;*/

}

.createTutoring .selectSituacion {
  background-color: white;
  font-size: 15px;
  padding: 5px;
  border: 1px solid #DBE2E5;
  border: none;
}



/******************* PANTALLA RESULTADOS DE BUSQUEDA *******************/

.createTutoring .searchResults {
  height: 95%;
  overflow-y: auto;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  flex-wrap: wrap;
  align-content: flex-start;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  /*background-color: red;*/
}

.createTutoring.verResultados.cargandoBusqueda .searchPreload {
  height: 95%;
  width: 100%;
  padding-top: 20px;
  background-color: #F1F1F1;
  position: absolute;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  color: #6d6f75;
}

.createTutoring .searchPreload {
  height: 95%;
  width: 100%;
  padding-top: 20px;
  background-color: #F1F1F1;
  position: absolute;
  transform: translate3d(0,500%,0);
  -webkit-transform: translate3d(0,500%,0);
}

.createTutoring .contentUser {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  background-color: #EBEBEC;
  width: 290px;
  height: 75px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.createTutoring .contentUser:hover {
  background-color: #E4E4E6;
}

.createTutoring .contentPhoto {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  width: 75px;
  height: 75px;
  margin-left: 10px;
}

.createTutoring .imgUser {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.createTutoring .contentData {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

/********* INICIO TRANSICIONES DEL CONTENEDOR DE LA DERECHA *********/

.createTutoring .contentList {
  height: 100%;
  /*background-color: pink;*/
  opacity: 1;
  transform: translate3d(0,110%,0);
  -webkit-transform: translate3d(0,110%,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.createTutoring.nuevaTutoria .contentList {
  opacity: 1;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.createTutoring.verResultados .contentList {
  opacity: 0;
  transform: translate3d(0,100%,0);
  -webkit-transform: translate3d(0,100%,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.createTutoring .contentSearchResults {
  height: 100%;
  /*background-color: yellow;*/
  opacity: 0;
  transform: translate3d(0,100%,0);
  -webkit-transform: translate3d(0,100%,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.createTutoring.verResultados .contentSearchResults {
  opacity: 1;
  transform: translate3d(0,-100%,0);
  -webkit-transform: translate3d(0,-100%,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}




/********* FIN TRANSICIONES DEL CONTENEDOR DE LA DERECHA **********/




/********* CONTENEDOR PRELOAD *************/

.createTutoring .contentHome {
  background-color: #F1F1F1;
  width:100%;
  height:102%;
  color:white;
  opacity: 1;
  transform: translate3d(0,-197%,0);
  -webkit-transform: translate3d(0,-197%,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);

}

.createTutoring.nuevaTutoria .contentHome {
  height: 100%;
  /*background-color: yellow;*/
  opacity: 0;
  transform: translate3d(0,100%,0);
  -webkit-transform: translate3d(0,100%,0);
  -webkit-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 500ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.createTutoring .titleMyTutoring {
  color: #5C5F69;
  font-size: 16px;
  margin-top: 20px;
  padding-top: 5px;
  width: 250px;
}

.createTutoring .contentMyRecentTutoring {
  height: 64%;
  overflow-y: auto;
  margin-right: 5px;
  padding-right: 5px;
}

.createTutoring .contentItemTutoringRecent {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  background-color: #EBEBEC;
  width: 240px;
  height: 65px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.createTutoring .contentItemTutoringRecent:hover {
  background-color: #E4E4E6;
}

.createTutoring .contentIconTutoring {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  width: 65px;
  height: 65px;
  margin-left: 10px;
}

.createTutoring .IconTutoring {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #dcdce2;
  color: #5C5F69;
}

.createTutoring .contentDataTutoringRecent {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  font-size: 13px;
}

.createTutoring .iconIrTutoring {
  margin-right: 20px;
  margin-left: 50px;
  color: #DCDCE2;
}


/******************************************************
*********** INICIO PANTALLA DE MENSAJES ***************
*******************************************************/

.createTutoring .messages {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  position: absolute;
  background-color:rgba(219, 226, 229,0);
  width: 100%;
  height: 100%;
  top:0px;
  transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -webkit-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  transform: translate3d(0,100%,0);
  -webkit-transform: translate3d(0,100%,0);
}

.createTutoring.mensajes .messages {
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  background-color:rgba(219, 226, 229,0.9);
  transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -webkit-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;

}


.createTutoring .contentMessage {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 300px;
  height: 150px;
  padding: 5px;
  background-color: #FFF;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translate3d(0,500%,0);
  -webkit-transform: translate3d(0,500%,0);
  -webkit-transition: all 200ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 200ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 200ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 200ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}

.createTutoring.mensajes .contentMessage {
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all 200ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
     -moz-transition: all 200ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
       -o-transition: all 200ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
          transition: all 200ms cubic-bezier(0.480, 0.525, 0.340, 0.910);
}




.createTutoring .preload {
  /*display: none;*/
  color: #5C5F69;
}

.createTutoring .guarded {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #92AD17;
  color: white;
}

.createTutoring .cancel {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e43e46;
  color: white;
}

.createTutoring .btns {
  margin-top: 20px;
}

.createTutoring .btnSi {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: none;
  background-color: white;
  /*color: white;*/
  padding: 10px;
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.createTutoring .btnSi:hover {
  background-color: #dddddd;
}

.createTutoring .btnNo {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: none;
  background-color: white;
  /*color: white;*/
  padding: 10px;
  width: 100px;
  cursor: pointer;
}

.createTutoring .btnNo:hover {
  background-color: #dddddd;
}

/************ MANEJO DE MENSAJES ******************/

.createTutoring.mensajes.msjCargando .guarded,
.createTutoring.mensajes.msjCargando .cancel {
  display: none !important;
}

.createTutoring.mensajes.msjGuardada .preload,
.createTutoring.mensajes.msjGuardada .cancel {
  display: none !important;
}

.createTutoring.mensajes.msjCancelada .guarded,
.createTutoring.mensajes.msjCancelada .preload {
  display: none !important;
}

/******************************************************
************* FIN PANTALLA DE MENSAJES ****************
*******************************************************/
