<div class="createTutoring {{view.style}} {{view.style2}} {{view.style3}} {{view.style4}}">
  <!-- VARIABLES1: nuevaTutoria
       VARIABLES2: verResultados
       VARIABLES3: mensajes
       VARIABLES4: msjCargando, msjGuardada, msjCancelada
  -->

    <div class="header">
        <div>
          Tutorías
        </div>
    </div>

    <div class="contentTutoring">

      <div class="contentLeft">

          <div class="contentNewTutoring">
              <div class="title">
                 NUEVA TUTORÍA
              </div>
              <div>
                <input class="inputDate" type="date" value="2026-01-13"/>
              </div>
              <div>
                <button class="btnCreate" type="button" ng-click="view.style='nuevaTutoria'">CREAR </button>
              </div>
              <div class="titleMyTutoring">
                 MIS TUTORÍAS
              </div>

              <div class="contentMyRecentTutoring">

                  <div class="contentItemTutoringRecent" ng-click="view.style='nuevaTutoria'">
                      <div class="contentIconTutoring">
                        <div class="IconTutoring">
                          <i class="fa fa-tumblr fa-2x"></i>
                        </div>
                      </div>
                      <div class="contentDataTutoringRecent">
                        <div>
                          Miércoles
                        </div>
                        <div>
                          <b>26/03/2016</b>
                        </div>
                      </div>
                      <div class="iconIrTutoring">
                        <i class="fa fa-sign-in fa-2x"></i>
                      </div>
                  </div>

                  <div class="contentItemTutoringRecent" ng-click="view.style='nuevaTutoria'">
                      <div class="contentIconTutoring">
                        <div class="IconTutoring">
                          <i class="fa fa-tumblr fa-2x"></i>
                        </div>
                      </div>
                      <div class="contentDataTutoringRecent">
                        <div>
                          Jueves
                        </div>
                        <div>
                          <b>19/03/2016</b>
                        </div>
                      </div>
                      <div class="iconIrTutoring">
                        <i class="fa fa-sign-in fa-2x"></i>
                      </div>
                  </div>

                  <div class="contentItemTutoringRecent" ng-click="view.style='nuevaTutoria'">
                      <div class="contentIconTutoring">
                        <div class="IconTutoring">
                          <i class="fa fa-tumblr fa-2x"></i>
                        </div>
                      </div>
                      <div class="contentDataTutoringRecent">
                        <div>
                          Martes
                        </div>
                        <div>
                          <b>16/03/2016</b>
                        </div>
                      </div>
                      <div class="iconIrTutoring">
                        <i class="fa fa-sign-in fa-2x"></i>
                      </div>
                  </div>

                  <div class="contentItemTutoringRecent" ng-click="view.style='nuevaTutoria'">
                      <div class="contentIconTutoring">
                        <div class="IconTutoring">
                          <i class="fa fa-tumblr fa-2x"></i>
                        </div>
                      </div>
                      <div class="contentDataTutoringRecent">
                        <div>
                          Miércoles
                        </div>
                        <div>
                          <b>11/03/2016</b>
                        </div>
                      </div>
                      <div class="iconIrTutoring">
                        <i class="fa fa-sign-in fa-2x"></i>
                      </div>
                  </div>


              </div>


          </div>

          <div class="contentSearch">
            <div class="title">
              <i class="fa fa-search"></i> BUSCAR
            </div>
            <div>
              <input class="inputSearch" type="text" ng-click="view.style2='verResultados'"/>
            </div>
            <div class="contentRecentAndTrash">
                <div>
                  <i class="fa fa-history"></i> RECIENTES
                </div>
                <div>
                  <button class="copyRecent"><i class="fa fa-clone" title="Importar Recientes"></i></button>
                  <button class="btnTrashRecent"><i class="fa fa-trash-o" title="Borar Recientes"></i></button>
                </div>
            </div>
            <div class="contentRecent">

              <div class="contentUserRecent">
                  <div class="contentPhotoRecent">
                    <img class="imgUserRecent" src="img/pablosarmieto.jpg">
                  </div>
                  <div class="contentDataRecent">
                    <div>
                      <b>Pablo Sarmiento</b>
                    </div>
                    <div>
                      30235968
                    </div>

                  </div>
              </div>

              <div class="contentUserRecent">
                  <div class="contentPhotoRecent">
                    <img class="imgUserRecent" src="img/lucas.jpg">
                  </div>
                  <div class="contentDataRecent">
                    <div>
                      <b>Lucas Langoni</b>
                    </div>
                    <div>
                      35456923
                    </div>
                  </div>
              </div>

              <div class="contentUserRecent">
                  <div class="contentPhotoRecent">
                    <img class="imgUserRecent" src="img/walter.jpg">
                  </div>
                  <div class="contentDataRecent">
                    <div>
                      <b>Walter Blanco</b>
                    </div>
                    <div>
                      30001823
                    </div>

                  </div>
              </div>

              <div class="contentUserRecent">
                  <div class="contentPhotoRecent">
                    <img class="imgUserRecent" src="img/pablo.jpg">
                  </div>
                  <div class="contentDataRecent">
                    <div>
                      <b>Pablo Daniel Rey</b>
                    </div>
                    <div>
                      28356952
                    </div>

                  </div>
              </div>





            </div>

          </div>

      </div>

      <div class="contentRight">

          <!-- **** LISTADO DE USUARIOS PRENSENTES EN LA TUTORIA ***** -->
          <div class="contentList">
              <div class="headerList">
                  <div class="dataHeader">
                      <div>Tutoría &nbsp;<i class="fa fa-calendar-o"></i> <b>26/03/2016 </b></div>
                      <div>&nbsp; | Tutor</div>
                      <div><img class="imgTutor" src="img/lucas.jpg"></div>
                      <div><b>Lucas Langoni</b></div>
                  </div>
                  <div>
                    <button class="btnCreate" ng-click="view.style3='mensajes'; view.style4='msjGuardada'">GUARDAR</button>
                    <button class="btnCancel" ng-click="view.style3='mensajes'; view.style4='msjCancelada' "><i class="fa fa-times"></i></button>
                  </div>
              </div>

              <div class="listParticipants">

                  <div class="itemUserList">
                      <div class="itemUser">
                          <div class="contentPhotoRecent">
                            <img class="imgUserRecent" src="img/pablosarmieto.jpg">
                          </div>
                          <div class="contentDataRecent">
                            <div>
                              <b>Pablo Sarmiento</b>
                            </div>
                            <div>
                              30235968
                            </div>

                          </div>
                      </div>
                      <div>
                          <select class="selectSituacion">
                              <option>Situación académica</option>
                              <option>Situación económica</option>
                              <option>Situación personal</option>
                          </select>
                      </div>
                      <div>
                        <button class="btnCancel"><i class="fa fa-trash-o" title="Borar"></i></button>
                      </div>
                  </div>

                  <div class="itemUserList">
                      <div class="itemUser">
                          <div class="contentPhotoRecent">
                            <img class="imgUserRecent" src="img/pablo.jpg">
                          </div>
                          <div class="contentDataRecent">
                            <div>
                              <b>Pablo Daniel Rey</b>
                            </div>
                            <div>
                              28368952
                            </div>

                          </div>
                      </div>
                      <div>
                          <select class="selectSituacion">
                              <option>Situación académica</option>
                              <option>Situación económica</option>
                              <option>Situación personal</option>
                          </select>
                      </div>
                      <div>
                        <button class="btnCancel"><i class="fa fa-trash-o" title="Borar"></i></button>
                      </div>
                  </div>

                  <div class="itemUserList">
                      <div class="itemUser">
                          <div class="contentPhotoRecent">
                            <img class="imgUserRecent" src="img/walter.jpg">
                          </div>
                          <div class="contentDataRecent">
                            <div>
                              <b>Walter Blanco</b>
                            </div>
                            <div>
                              30001823
                            </div>

                          </div>
                      </div>
                      <div>
                          <select class="selectSituacion">
                              <option>Situación académica</option>
                              <option>Situación económica</option>
                              <option>Situación personal</option>
                          </select>
                      </div>
                      <div>
                        <button class="btnCancel"><i class="fa fa-trash-o" title="Borar"></i></button>
                      </div>
                  </div>



              </div>
          </div>

          <!-- ********* RESULTADOS DE BUSQUEDA ************** -->
          <div class="contentSearchResults">
              <div class="title">
                <i class="fa fa-search"></i> RESULTADOS ENCONTRADOS
              </div>

              <div class="searchResults">
                  <!-- **** DIV CONTENEDORES DE LOS USUARIOS ENCONTRADOS ****-->
                  <div class="contentUser" ng-click="view.style2=''">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/emanuel.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Emanuel Joaquin Pais</b>
                      </div>
                      <div>
                        31269568
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/alejandro.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Alejandro Agustin Oporto</b>
                      </div>
                      <div>
                        29496698
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/pablosarmieto.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Pablo Sarmiento</b>
                      </div>
                      <div>
                        30256957
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/lucas.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Lucas Langoni</b>
                      </div>
                      <div>
                        35456923
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/walter.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Walter Blanco</b>
                      </div>
                      <div>
                        30001823
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/pablo.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Pablo Daniel Rey</b>
                      </div>
                      <div>
                        28356952
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/maxi.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Maximiliano Saucedo</b>
                      </div>
                      <div>
                        29356874
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/emanuel.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Emanuel Joaquin Pais</b>
                      </div>
                      <div>
                        31269568
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/alejandro.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Alejandro Agustin Oporto</b>
                      </div>
                      <div>
                        29496698
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/pablosarmieto.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Pablo Sarmiento</b>
                      </div>
                      <div>
                        30256957
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/lucas.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Lucas Langoni</b>
                      </div>
                      <div>
                        35456923
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/walter.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Walter Blanco</b>
                      </div>
                      <div>
                        30001823
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/pablo.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Pablo Daniel Rey</b>
                      </div>
                      <div>
                        28356952
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/maxi.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Maximiliano Saucedo</b>
                      </div>
                      <div>
                        29356874
                      </div>

                    </div>
                  </div>

                  <div class="contentUser">
                    <div class="contentPhoto">
                      <img class="imgUser" src="img/emanuel.jpg">
                    </div>
                    <div class="contentData">
                      <div>
                        <b>Emanuel Joaquin Pais</b>
                      </div>
                      <div>
                        31269568
                      </div>

                    </div>
                  </div>

              </div>

          </div>

          <div class="contentcontentHome">


          </div>

      </div>

    </div>

    <div class="messages">

      <div class="contentMessage">

          <div class="preload">
            <i class="fa fa-spinner fa-pulse fa-3x"></i>
          </div>

          <div class="guarded">
            <div>Tutoría</div>
            <div>guardada con éxito! </div>
          </div>

          <div class="cancel">
            <div>¿Desea salir sin guardar?</div>
            <div class="btns">
                <button class="btnSi" ng-click="view.style=''; view.style3=''">SI</button>
                <button class="btnNo" ng-click="view.style3=''">VOLVER</button>
            </div>
          </div>

      </div>

    </div>



</div>
