<div class="contentNameOffice">
  <i class="fa fa-building-o"></i> OFICINA
</div>

<div>
  <input class="inputOfficeName" type="text" placeholder="Nombre de oficina" ng-model="vm.model.office.name">
</div>

<div class="contentOfficeType">
    <div> Tipo: </div>
    <div>
        <select class="selectOfficesType" ng-options="item as item.name for item in vm.model.officeTypes" ng-model="vm.model.office.type"></select>
    </div>
    <div> Padre: </div>
    <div>
        <select class="selectOfficesType" ng-ng-options="item as item.name for item in vm.model.officesAll" ng-model="vm.model.office.parentObj" ng-change="vm.selectParentOffice(office)">
            <option> Seleccionar </option>
        </select>
    </div>
</div>

<div class="contentOfficeMembers">
    <div> Integrantes </div>
    <div class="btnAddUsers" ng-click="vm.view.style='pantallaUsuarios'"> <i class="fa fa-user-plus" aria-hidden="true"></i> AGREGAR </div>
</div>

<div class="contentMembers">
    <!-- <div class="itemOffice" ng-repeat="user in vm.model.office.users"> {{user.name}} <span ng-click="vm.removeUser(user)">X</span> </div> -->
    <div class="itemMembers" ng-repeat="user in vm.model.office.users" ng-click="vm.select(office)">
        <div class="memberData">
            <div><img class="imgUser" ng-src="img/avatarMan.jpg" alt="foto de perfil" src="img/avatarMan.jpg"></div>
            <div>
                <div class="textName"> {{user.name}}</div>
                <div class="textDNI"> 31258691</div>
            </div>
        </div>
        <div class="btnDelete" ng-click="vm.removeUser(user)" title="Eliminar Usuario"> <i class="fa fa-trash" aria-hidden="true"></i> </div>
    </div>

</div>

<div class="contentActions">
    <div class="btnSave" ng-click="vm.saveOffice()"> GUARDAR </div>
    <div class="btnCancel" ng-click="vm.cancel()"> CANCELAR </div>
</div>
