.offices {
  width: 100%;
  height: 100%;
  /*background-color: white;*/
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
}

.offices .contentMessages {
  display:none;
}

/*----- PANTALLA BUSCAR OFICINA -----*/

.offices .listOffices {
  width: calc(33% - 40px);
  height: calc(100% - 40px);
  /*background-color: white;*/
  padding: 20px;
  animation-name: movimiento;
   animation-duration: .5s;
}

@keyframes movimiento {
    0% {opacity: 0}
    100% {opacity: 1}
}

.offices .contentSearch {
  color: #5C5F69;
  margin-bottom: 10px;
}

.offices .inputSearch {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 16px;
  border: 1px solid #c9cbd3;
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 10px;

}

.offices .titleListOffices {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  color: #5C5F69;
  margin-bottom: 10px;
}

.offices .selectOfficesType {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: white;
    color: #5C5F69;
    width: 100px;
    padding: 2px;
    font-size: 12px;
}

.offices .contentOffices {
  height: calc(100% - 180px);
  overflow-y: auto;
  margin-bottom: 20px;
  /*background-color: white;*/
}

.offices .itemOffice {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  width: 98%;
  height: 60px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  /*background-color: #EEEEEE;*/
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #c9cbd3;
  font-size: 14px;
}

.offices .itemOffice:hover {
  cursor: pointer;
  background-color: #d1d1d1;
  animation-name: colorDeFondo;
   animation-duration: 0.3s;
}

@keyframes colorDeFondo {
    0% {background-color: #EEEEEE}
    100% {background-color: #d1d1d1}
}

.offices .officesData {
  width: 100%;
}

.offices .officeType {
  width: 40px;
  background-color: #eae8e8;
  font-size: 10px;
  color: #28292D;
  padding: 1px;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  padding-left: 10px;
}

.offices .officeName {
  margin: 5px 0 0 10px;
  font-size: 12px;

}

.offices .itemOffice:hover .officeName {
  animation-name: margen;
  animation-duration: 0.5s;
}

@keyframes margen {
  0% {margin-left: 10px}
  50% {margin-left: 13px}
  100% {margin-left: 10px}
}

.offices .btnDelete {
  width: 50px;
  height: 100%;
  background-color: #e5e5e5;
  color: #5C5F69;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  border-radius: 0px 2px 2px 0;
  -moz-border-radius: 0px 2px 2px 0;
  -webkit-border-radius: 0px 2px 2px 0;
}

.offices .btnDelete:hover {
  color: white;
  background-color: #E43E46;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#c42d32, #E43E46); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#c42d32, #E43E46); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#c42d32, #E43E46); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#c42d32, #E43E46); /* Standard syntax */
  cursor: pointer;
}

.offices .btnCreateNew {
  background-color: #804080;
  color: white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
  text-align: center;
}

.offices .btnCreateNew:hover {
  background-color: #6d316d;
  cursor: pointer;
}

.offices.pantallaUsuarios .btnCreateNew,
.offices.pantallaEdicion .btnCreateNew {
  background-color: #e5e5e5;
  color: #5C5F69;
  border: 1px solid #c9cbd3;
  cursor: auto;
}

/*------- PANTALLA EDITAR OFICINA -------*/

.offices .editOffices {
  width: calc(33% - 40px);
  height: calc(100% - 40px);
  /*background-color: white;*/
  padding: 20px;
  animation-name: movimiento;
   animation-duration: .5s;
}

.offices .contentNameOffice {
  color: #5C5F69;
  margin-bottom: 10px;
}

.offices .inputOfficeName {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 16px;
  border: 1px solid #c9cbd3;
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
}

.offices .contentOfficeType {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  color: #5C5F69;
  margin-bottom: 10px;
}

.offices .contentOfficeMembers {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  color: #5C5F69;
  margin-bottom: 10px;
  padding-top: 5px;
  border-top: 1px solid #c9cbd3;
}

.offices .btnAddUsers {
  background-color: #E5E5E5;
  color: #5C5F69;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px 10px 3px 10px;
  text-align: center;
  font-size: 13px;
  border: 1px solid #c9cbd3;

}

.offices .btnAddUsers:hover {
  background-color: #804080;
  color: white;
  cursor: pointer;
}

.offices .contentMembers {
  height: calc(100% - 222px);
  overflow-y: auto;
  margin-bottom: 20px;
  /*background-color: white;*/
}

.offices .itemMembers {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  width: 98%;
  height: 55px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  /*background-color: #EEEEEE;*/
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid #c9cbd3;
  font-size: 14px;
}

.offices .memberData {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
}

.offices .imgUser{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-left: 10px;
  margin-top: 3px;
}

.offices .textName {
  margin: 0 0 0 10px;
  font-size: 12px;
}

.offices .textDNI {
  margin-left: 10px;
  font-size: 10px;
}

.offices .contentActions {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.offices .btnSave {
  background-color: #804080;
  color: white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin-right: 20px;
}

.offices .btnSave:hover {
  background-color: #6d316d;
  cursor: pointer;
}

.offices .btnCancel {
  background-color: #e5e5e5;
  color: #5C5F69;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
  text-align: center;
  border: 1px solid #c9cbd3;
}

.offices .btnCancel:hover {
  color: white;
  background-color: #5C5F69;
  cursor: pointer;
}


/*------- PANTALLA BUSCAR USUARIO -------*/

.offices .searchUsers {
  width: calc(33% - 40px);
  height: calc(100% - 40px);
  /*background-color: white;*/
  padding: 20px;
  animation-name: movimiento;
   animation-duration: .5s;
}

.offices .titleListUsers {
  color: #5C5F69;
  margin-bottom: 10px;
}

.offices .btnAddUser {
  width: 50px;
  height: 100%;
  background-color: #e5e5e5;
  color: #5C5F69;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  border-radius: 2px 0px 0px 2px;
  -moz-border-radius:  2px 0px 0px 2px;
  -webkit-border-radius:  2px 0px 0px 2px;
}

.offices .btnAddUser:hover {
  color: white;
  background-color: #804080;
  cursor: pointer;
}

.offices .contentUserList {
  height: calc(100% - 115px);
  overflow-y: auto;
  margin-bottom: 20px;
}

.offices .btnBack {
  display: none;
}

/*---------- PANTALLA MENSAJES ----------*/

.offices.mensajes.mensajeEliminarOficina .messageSave,
.offices.mensajes.mensajeEliminarOficina .messageLoading {
  display: none;
}

.offices.mensajes.mensajeGuardado .messageDeleOffice,
.offices.mensajes.mensajeGuardado .messageLoading {
  display: none;
}

.offices.mensajes.mensajeCargando .messageSave,
.offices.mensajes.mensajeCargando .messageDeleOffice {
  display: none;
}



.offices.mensajes .contentMessages {
  position: absolute;
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  width: 100%;
  height: 100%;
  background-color: #EEEEEE;
}


.offices .subContentMessages {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  width: 30%;
  height: 30%;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  animation-name: tamano;
  animation-duration: .5s;
}

@keyframes tamano {
    0% {width: 30%; height: 30%}
    50% {width: 35%; height: 35%}
    100 {width: 30%; height: 30%}
}

.offices .contentActionsMessages {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:row;
  -webkit-flex-direction:row; /* Safari */
  -moz-flex-direction:row; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  margin-top: 20px;

}

.offices .messageDeleOffice,
.offices .messageSave {
  animation-name: opacidad;
  animation-duration: .7s;
}

@keyframes opacidad {
  0% {opacity: 0}
  50% {opacity: 0}
  100 {opacity: 1}

}

.offices .icoCheck {
  color: #804080;
}

.offices .messageLoading {
  display: flex;
  display: -webkit-flex; /* Safari */
  display: -moz-flex; /* mozilla */
  flex-direction:column;;
  -webkit-flex-direction:column; /* Safari */
  -moz-flex-direction:column; /* mozilla */
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items:center; /* Safari */
  -moz-align-items:center; /* mozilla */
  animation-name: opacidad;
  animation-duration: .7s;
  color: #5C5F69;
}

.offices .icoPreload {
  margin-bottom: 10px;
}

.offices .textLoading {
  font-size: 11px;
}


/*----------- MEDIA QUERIS -------------*/

@media (max-width: 719px) {
  .offices .listOffices {
    width: 100% !important;
    height: calc(100% - 90px);
  }
  .offices .editOffices {
    width: 100% !important;
    height: calc(100% - 90px);
  }
  .offices .searchUsers {
    width: 100% !important;
    height: calc(100% - 90px);
  }

  .offices.pantallaEdicion .listOffices {
    display: none;
  }

  .offices.pantallaUsuarios .listOffices {
    display: none;
  }

  .offices.pantallaUsuarios .editOffices {
    display: none;
  }

  .offices .btnBack {
    display: block;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px;
    text-align: center;
    background-color: #e5e5e5;
    color: #5C5F69;
    border: 1px solid #c9cbd3;
    cursor: auto;
  }

  .offices .contentUserList {
    height: calc(100% - 180px);
    overflow-y: auto;
    margin-bottom: 20px;
    /*background-color: white;*/
  }

}

@media (min-width:1800px) {
  .offices {
    zoom: 1.3;
  }
}


/*-----------MANEJO DE PANTALLAS -------------*/

.offices.pantallaPrincipal .editOffices,
.offices.pantallaPrincipal .searchUsers {
  display: none;
}

.offices.pantallaEdicion .searchUsers {
  display: none;
}

.offices.pantallaUsuarios .searchUsers {

}
